[2020-05-19 02:33] #1013 closed

[2020-05-19 03:19] mfix22 commented on #943
@dy I am a little confused by what you mean here. Can you say more? 🙂

[2020-05-19 03:34] dy commented on #943
@mfix22 just check out generated svg source: view-source:https://raw.githubusercontent.com/spectjs/spect/5a3694d567b6b8628fbf880710a4bb9c7d622755/timer.svg?sanitize=true
it has too many redundant styles

[2020-05-19 04:27] jeengbe commented on #1013
Why does it then work by specifying it in the file?

[2020-05-19 07:26] manishsundriyal commented on #1004
If that is the case, then I think we should use a simple _(not a fan of fancy stuff_) spinner.
Something like these https://getbootstrap.com/docs/4.4/components/spinners/
_(I know that we are not using bootstrap, it's just for spinner visuals)_

[2020-05-19 07:47] jlengrand commented on #1011
See comment in MR

[2020-05-19 07:47] #1011 closed

[2020-05-19 14:42] MelSumner opened #1014 "Way to indicate invalid code"
I love using carbon when I need to include code samples in my slides. I'm often talking about incorrect code, though, and how to fix it- so I'd love a way to indicate that a line of code should be marked incorrect.

By adding a toggle that applied something similar to the following CSS, to a line of code, it could perhaps visually imitate other IDEs:

[code]

Here's an image:
![carbon (10)](https:

[2020-05-20 03:24] mfix22 commented on #1004
Yes! I like those 👍 Gotta find one that is both simple, but has a touch of uniqueness, and ideally fits within the current Carbon aesthetic.

[2020-05-20 04:07] mfix22 commented on #1014
This is a fantastic idea! I was so excited about it tonight, I implemented the initial version (here https://github.com/carbon-app/carbon/pull/1015)

Once released, if you select some text, and click the _"U"_ twice, the text will get underlined as errant, as shown here:
![Kapture 2020-05-19 at 21 04 31](https://user-images.githubusercontent.com/8397708/82403779-859e7800-9a14-11ea-8933-5af09a06d4c

[2020-05-20 04:08] mfix22 commented on #1014
@all-contributors add @MelSumner for ideas

[2020-05-20 07:36] dbalabka commented on #28
Problem still here. Cursor isn’t visible

[2020-05-20 07:43] dbalabka commented on #28
It is strange because everything works using the same CodeMirror editor on following demo page:
https://codemirror.net/

[2020-05-20 07:55] dbalabka commented on #28
It was incorrect. Carbon works on iOS safari, but cursor isn’t visible on iOS Chrome.

[2020-05-20 09:59] XinwenCheng opened #1017 "1 px border problem"
![carbon](https://user-images.githubusercontent.com/795334/82432858-36635080-9ac3-11ea-9598-c4d5b8909896.png)

Zoom in this screenshot, and you can see there's 1 px border around this picture, my window setting is following without paddings, so I think this border is an issue, please help to check, thanks in advance!

![image](https://user-images.githubusercontent.com/795334/82433080-83dfbd80-9ac3

[2020-05-20 14:04] MelSumner commented on #1014
Oh this is amazing, thank you so much!! 💯

[2020-05-20 17:51] OsandaMalith opened #1018 "Ay11-Dark Theme Embed Issue"
When I try to embed the following using the Ay11-Dark theme I get a blank theme.
https://carbon.now.sh/?bg=rgba(171%2C%20184%2C%20195%2C%201)&t=a11y-dark&wt=none&l=auto&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false

![image](https://user-images.githubusercontent.com/4497190/82479938-f607d080-9aca-11ea-89c7-d60143a80f

[2020-05-21 01:38] mfix22 commented on #1017
That is actually intentional @XinwenCheng. See the explanation here: https://github.com/carbon-app/carbon/blob/master/components/Carbon.js#L356

If you have other suggestions for how to handle this, please submit a PR.

[2020-05-21 01:48] XinwenCheng commented on #1017
Hi @mfix22, could you set _save for Twitter_ as an option?

[2020-05-21 02:12] #1018 closed

[2020-05-21 04:24] albseb511 commented on #1004
@mfix22

I made a PR thinking of a how atoms and electrons work

https://github.com/carbon-app/carbon/pull/1020

[2020-05-21 10:50] CraigFe opened #1021 "Feature request: ANSI escape code support"
I maintain various command-line tools that produce coloured output with ANSI escape codes. Every time I change the output format, I manually update various terminal screenshots on the project READMEs. I've been looking into using `carbon` to automate this process (and produce much nicer screenshots!).

This may be considered outside the scope for `carbon`, but it'd be really great to be able to ge

[2020-05-22 04:52] mfix22 commented on #1004
@albseb511 thanks for sharing! Note to contributors: I want to finalize on a design within this thread before opening another PR.

This only goes for this issue, since it mostly requires new designs. PRs totally welcome otherwise!  I just don't want people to do too much extra work.

[2020-05-22 05:12] mfix22 commented on #1021
I'm open to supporting it!

[2020-05-22 05:14] albseb511 commented on #1004
Makes sense

[2020-05-22 05:16] mfix22 commented on #1017
It should only be including the 1px border when clicking the Tweet button. Is that not currently happening?

[2020-05-22 05:20] XinwenCheng commented on #1017
@mfix22 , I didn't use Twitter function, I just use PNG to export.

![image](https://user-images.githubusercontent.com/795334/82633918-089b1a80-9c2f-11ea-8391-80c89240efdf.png)

[2020-05-22 05:23] mfix22 commented on #1017
I am not sure I see the 1px border you are noticing, and I can't recreate the issue locally. I just created this image right now off `master`:
![carbon (4)](https://user-images.githubusercontent.com/8397708/82634023-9c2e0600-9bb1-11ea-8ff3-06b47c806cbd.png)

Are you noticing the border issue here too?

[2020-05-22 05:33] XinwenCheng commented on #1017
Hi @mfix22, thanks for your response!

Please check,
![image](https://user-images.githubusercontent.com/795334/82634618-bf4bca80-9c30-11ea-9742-9d2312b5d0b9.png)

I exported the default image, and zoom it in to 1000%, please check the top of this image. I set both vertical and horizontal padding to minimum.
![carbon](https://user-images.githubusercontent.com/795334/82634524-76941180-9c30-11ea-8877

[2020-05-22 19:53] mfix22 commented on #1017
@XinwenCheng which browser and Operating system are you using?

[2020-05-22 23:05] XinwenCheng commented on #1017
OSX ```10.14.6```
Firefox ```76.0.1 (64-bit)```
GIMP ```2.8.22```

[2020-05-24 19:10] mfix22 commented on #1017
@XinwenCheng just deployed a version of Carbon that removes the transparent row, which may have been throwing off the width/height calculation.

Can you give it a try and see if that fixed your issue?

[2020-05-25 21:46] mfix22 commented on #1017
Closing this as fixed. @XinwenCheng if you are still facing this issue, let me know and I will reopen.

[2020-05-26 01:10] XinwenCheng commented on #1017
![image](https://user-images.githubusercontent.com/795334/82850871-911c0280-9f30-11ea-88b9-98497fa111fb.png)

Hi @mfix22 , thanks for your improvement, but as you can see, left (and also right) still has translucent border.

[2020-05-26 01:36] mfix22 commented on #1017
I just created 3 Carbon images on `master` w/ various settings, and I can't seem to recreate the 1px left and right borders
![carbon(3)](https://user-images.githubusercontent.com/8397708/82852021-7a38ca00-9eb6-11ea-932f-b3f467bf080e.png)
![carbon(2)](https://user-images.githubusercontent.com/8397708/82852023-7b69f700-9eb6-11ea-9ce2-0c2c916665d7.png)
![carbon(1)](https://user-images.githubuserconte

[2020-05-26 03:01] XinwenCheng commented on #1017
@mfix22 , I just create this image on [https://carbon.now.sh/](https://carbon.now.sh/) with following setings.

![image](https://user-images.githubusercontent.com/795334/82856305-35597580-9f40-11ea-8d65-042feb46ca16.png)

![image](https://user-images.githubusercontent.com/795334/82856317-3e4a4700-9f40-11ea-8023-ff4edf7bd2f3.png)

![image](https://user-images.githubusercontent.com/795334/82856330-4

[2020-05-27 05:23] mfix22 commented on #1017
I was thinking more like a Carbon link, like this: https://carbon.now.sh/?bg=rgba(171%2C184%2C195%2C0)&t=seti&wt=sharp&l=auto&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=true&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false

Using these^ settings, I created this image, which does not the border problem.
![carbon](https://user-images.githubusercontent.com/8397708/8298089

[2020-05-27 05:34] XinwenCheng commented on #1017
@mfix22 , no, it doesn't have this border any more. What should I do for the next step, bookmark this url?

[2020-05-29 03:54] cyberboysumanjay commented on #210
I was learning Pyppeteer so thought of writing an API using Python and Flask.
Check out [Carbon-API](https://github.com/cyberboysumanjay/Carbon-API)

[2020-06-03 01:54] mfix22 commented on #1017
@XinwenCheng no need to bookmark it — I didn't do anything special 🙂

All I did was remove the padding, and adjust the window theme.

[2020-06-03 01:54] #1017 closed

[2020-06-09 07:50] GraphicOwls opened #1025 "Snippet Embed Feature Requests (iframe)"
It would really nice if we had settings options to turn off line wrapping for iframe embeds as well as auto height to be the height of the content (code), instead of a fixed width.

This would be nice for blogs articles & write ups etc.

[2020-06-09 10:33] dannyleesmith opened #1026 "Support for HCL"
**Describe the bug**
Feature request to have HCL supported as a language option for things like Terraform snippets

**To Reproduce**
N/A

**Expected behavior**
Highlighting for HCL examples such as:

[code]

**Screenshots**
N/A

**Info (please complete the following information):**
N/A

[2020-06-11 19:22] ankitshaw opened #1027 "Spelling mistake in the ReadMe"
**Describe the bug**
There is a small spelling mistake in the readme file.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to readme.md
2. Navigate to https://github.com/carbon-app/carbon#create-a-saved-snippet
3. See error in point 2 its written : Edit as you normally woud — your snippet will get saved automatically

**Expected behavior**
It should be would and not woud.
Expected "Edit

[2020-06-11 19:23] ankitshaw commented on #1027
I would like to fix this!

[2020-06-11 19:58] b3u opened #1028 "Dollar sign for lines in bash"
### Expected Behavior
Include option to display dollar sign ($) before lines, when language is bash.
Ideally, this would be the same color as the line numbers.

### Actual Behavior
No option available

<details>
  <summary>Browser: </summary>

Chrome 83
</details>

[2020-06-14 14:36] geekypandey opened #1029 "Automatic conversion of comparison operator."
**Describe the bug**
Automatic conversion of *>=* to *&ge;*

**To Reproduce**
Steps to reproduce the behavior:

1. Go [here](https://carbon.now.sh)
2. Type >=
3. See error

**Expected behavior**
The  >= should not be converted to &ge;

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Info (please complete the following information):**

- OS [e.g. macOS, Linux, Window

[2020-06-14 16:10] manishsundriyal commented on #1029
Actually this depends on the font that you use.
In my opinion, it should only be dependent on the font style.
Try this in font: "Fira Code"

<img width="881" alt="Screenshot 2020-06-14 at 9 37 18 PM" src="https://user-images.githubusercontent.com/24211507/84598279-41718c80-ae87-11ea-8607-ae373eb03378.png">

[2020-06-14 19:17] #1027 closed

[2020-06-14 19:17] mfix22 commented on #1027
@ankitshaw thank you for posting this! In the future, if you see issues such as this, feel free to just open a PR to fix it directly 🙂

[2020-06-14 19:20] mfix22 commented on #1026
@dannyleesmith do you know if there is a CodeMirror mode for Terraform/HCL?

[2020-06-14 19:23] mfix22 commented on #1028
@b3u thank you for submitting this issue. I know if may currently be toilsome to add, but it is possible to add the appropriate `$` to the snippet. My worry is that if we were to add this, then others would not want it, requiring a setting.

We do not want to add language specific settings, especially for things that are physically possible with the current tool.

Marking this feature as won't fix

[2020-06-14 19:24] dannyleesmith commented on #1026
@mfix22 wasn't aware of the term but I think if it was it would appear at this link and it does not: https://codemirror.net/mode/

[2020-06-14 19:26] mfix22 commented on #1029
@geekypandey this is actually intentional. It is also the reason "Hack" is our default font, as it does not use "[ligatures](https://en.wikipedia.org/wiki/Orthographic_ligature)".

If you would like to use a different font style, you can actually upload your own here:

<img width="973" alt="Screenshot 2020-06-14 12 24 49" src="https://user-images.githubusercontent.com/8397708/84602151-14e35380-ae3

[2020-06-14 19:26] #1029 closed

[2020-06-14 19:38] mfix22 commented on #1025
@GraphicOwls have you tried disabled "Auto-adjust width" in the Settings? You can just the `?wa=` query param to adjust this setting in your iFrame URL

[2020-06-14 19:40] mfix22 commented on #1025
As for the width of your iFrame, I believe that is controlled in user-land. You can set the width of the iFrame yourself like:
[code]

 Can you say more what you mean?

[2020-06-14 21:18] mfix22 commented on #880
@all-contributors add @mearns for ideas

[2020-06-14 21:21] mfix22 commented on #880
@all-contributors add @mearns for ideas

[2020-06-14 21:22] #880 closed

[2020-06-15 05:21] geekypandey commented on #1029
oh okay. That is understandable. Thank you.

[2020-06-15 13:13] b3u commented on #1028
@mfix22 I understand your desire for simplicity. My only concern is that the dollar sign should not change the syntax highlighting. (Ideally, it might be a different color altogether [to indicate that it isn't a main part of the text])

See the image below, in which the syntax highlighting changes based on the presence of the dollar sign. (**Language**: Bash; **Theme**: Seti)
![code snippet](https

[2020-06-15 13:24] b3u opened #1033 "Window title area extends over boxy-style controls"
**Describe the bug**
When using the boxy window controls, the image title text-area extends over the controls. This is hard to read, and doesn't look nice.

**To Reproduce**
Steps to reproduce the behavior:
1. In settings, change the window controls type to the last option (boxy).
2. Click towards the top of the window in the image.
3. Type, and watch the text run into the window controls.

**Expe

[2020-06-16 03:25] mfix22 commented on #1028
Oh! I see what you mean. @b3u this is actually mostly out of our control, as it is determined by the CodeMirror mode itself (https://codemirror.net/mode/shell/)

On top of that, `$ ` isn't actually valid Bash, and not everyone uses `$ ` as their prompt, so I don't think CodeMirror would want to change this either.

All that said, as a work around you can customize the individual pieces of text to

[2020-06-16 03:28] mfix22 commented on #1033
@b3u would widening the container a bit  work for you?
![carbon (1)](https://user-images.githubusercontent.com/8397708/84728661-91fbef00-af46-11ea-8d39-eb5d0e1ad2fa.png)

You can do this by dragging the right edge of the Carbon container.

[2020-06-16 14:34] b3u commented on #1033
I think that's a great temporary fix. By the way, the carbon container never lets go of my cursor. I have a gif of it. I'll open a new issue.

I was playing around with the styles. Adding a max-width to the input should eliminate the issue completely. If 54px is the set size of the window controls svg, then the input should have a max-width of `calc(100% - 54px)`.

[code]

[2020-06-16 14:43] b3u opened #1034 "Editor doesn't let go of cursor when resizing width"
**Describe the bug**
When resizing the code container, it's impossible to set a specific width.

**To Reproduce**

0. Go to https://carbon.now.sh
1. Click on right edge of code container.
2. Move cursor to one side
3. Although code container resizes, there's no way to set it at a particular width.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots

[2020-06-16 17:38] dotMorten opened #1035 "Allow me to provide a custom window title"
When using the Windows-style layout, it looks like there's an extra line-feed above the code.

That got me thinking that it would actually be a really nice/useful feature to be able to "title" the code by providing a custom window title.

### Expected Behavior
Example:
![image](https://user-images.githubusercontent.com/1378165/84808113-138e6400-afbd-11ea-94be-83d9ac65afd6.png)

### Actual Behavior

[2020-06-17 02:15] mfix22 commented on #1034
@b3u I have a feeling this is just because your pointer went offscreen. If you drag the window normally, staying within the window, does that work for you?

[2020-06-17 02:16] mfix22 commented on #1033
@b3u feel free to open a PR with this change. If it's simple, and doesn't break existing styles, I'll probably merge it 🙂

[2020-06-17 02:18] mfix22 commented on #1035
You can add a window title by clicking at the top-center of the window, like so:
![Kapture 2020-06-16 at 19 18 02](https://user-images.githubusercontent.com/8397708/84847502-29744700-b006-11ea-8991-9836fac9a10a.gif)

[2020-06-17 02:18] #1035 closed

[2020-06-17 02:24] dotMorten commented on #1035
Oh totally missed that! I clicked in the left side!

[2020-06-17 02:34] mfix22 commented on #1035
No worries! We don't talk about the feature much, because it isn't _core_ to Carbon, but it is there.

[2020-06-17 02:45] #1034 closed

[2020-06-17 02:45] mfix22 commented on #1034
I believe 6e1b115 will have fixed any issues you noticed.

[2020-06-17 16:17] b3u commented on #1033
@mfix22 I noticed that the contributing guidelines is doesn't show the complete command for adding a contribution. It says `yarn contrib:add <your GitHub username>` instead of `yarn contrib:add <your GitHub username> <contribution>`. Would you like me to open a new issue?

[2020-06-18 03:26] mfix22 commented on #1033
I added it 👍

No need to open a new issue for a change as small as that one, you can just open a PR for consideration instead.

[2020-06-19 02:14] mfix22 commented on #1033
@faraz16iqbal there have already been 2 PRs submitted for it, but they have not yet merged, so the issue is still open.

[2020-06-19 02:22] #1033 closed

[2020-06-19 02:43] mfix22 commented on #1014
Gonna close this as complete! Feel free to open a new issue if enhancements are desired.

[2020-06-19 02:43] #1014 closed

[2020-06-19 02:44] mfix22 commented on #1025
@GraphicOwls going to close mark this to be closed, but feel free to chime in if I haven't answered your question.

[2020-06-19 02:48] #1004 closed

[2020-06-19 02:51] mfix22 commented on #1026
Please reopen this if anyones finds an HCL/Terraform mode for CodeMirror

[2020-06-19 02:51] #1026 closed

[2020-06-19 02:55] #337 closed

[2020-06-19 03:57] GraphicOwls commented on #1025
I was talking about height and you're talking about width. It didn't answer my question.

[2020-06-19 04:03] GraphicOwls commented on #1025
Here is a video to make it easier and quicker:
http://cloud.graphicowls.com/hFjZ2TV

[2020-06-19 04:04] GraphicOwls commented on #1025
I am not sure what you mean here either..

[2020-06-20 21:34] mfix22 commented on #1025
@GraphicOwls I just had a chance to watch the screen recording. Are you asking that the Copy iFrame button set the height according to the height of the container? If so, I'd be happy to accept a PR to do that — right now these values are hard coded (https://github.com/carbon-app/carbon/blob/main/components/CopyMenu.js#L14).

The reason it is hard coded as `473px` right now is to make it obvious t

[2020-06-21 04:12] GraphicOwls commented on #1025
@mfix22 Yes that's exactly right! Would be awesome if it could set the height according to the height of the container at the time of copy. Thanks a lot! :)

[2020-06-21 04:27] GraphicOwls commented on #1025
@mfix22 By the way Im still a noob with Javascript. Not too comfortable on doing that yet lol.

[2020-06-21 19:23] #1028 closed

[2020-06-22 00:13] mfix22 commented on #1025
No worries! Thanks for clarifying, @GraphicOwls. I opened a PR already that does exactly what you are describing (#1041), but wanted to be 100% before merging. 🙂

[2020-06-22 00:14] #1025 closed

[2020-06-22 13:08] guthlStarkware commented on #358
Hi, thanks a lot for the amazing job here.
Any integration to rst format? It would help a lot for documentations.
Thanks

[2020-06-22 15:18] domluther opened #1042 "Copying to clipboard"
Is there anyway to make it so you can export it as some equivalent of RTF so I can paste the code in with the colour coding? At the moment I use SublimeHighlight in Sublime Text to do this as it has a 'copy to clipboard as RTF'. If that were possible on Carbon it would be great.

[2020-06-23 04:10] mfix22 commented on #358
@guthlStarkware could you open a new issue? I'm not sure what rst format is.

[2020-06-23 04:11] #989 closed

[2020-06-23 06:04] guthlStarkware commented on #358
Will do. rst is RestructedText used in Sphinx: https://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html
I guess my request could be simplified to outputting an HTML file containing all the snippet+CSS+JS. I'll open an issue

[2020-06-24 01:45] mfix22 commented on #358
@guthlStarkware no need. We can track this under #1042 (which is very similar)

[2020-06-27 18:00] prtmshk opened #1044 "IBM Plex Mono font is missing"
**Describe the bug**
Code renders in the browser default monospace font when IBM Plex Mono is selected.

**To Reproduce**
Paste code.
⚙️ ➔ Editor ➔ Font ➔ IBM Plex Mono

**Expected behavior**
The code font should change to IBM Plex Mono.

**Screenshots**
<img width="1440" alt="Screenshot 2020-06-27 at 23 24 02" src="https://user-images.githubusercontent.com/29314504/85928833-b7d1ae00-b8cd-11ea-871

[2020-06-27 23:19] mfix22 commented on #1044
Looks like this might be a bug in the Safari.

[2020-06-28 06:17] prtmshk commented on #1044
This issue isn’t occurring in other browsers? I don’t have any others so I can’t check.

[2020-06-30 02:36] mfix22 commented on #1044
@prtmshk yup! On Chrome and Firefox, this is working fine 👍

[2020-06-30 22:43] cyberpirate92 opened #1046 "Some lines in exported image are missing syntax highlighting"
**Describe the bug**
When trying to create an image for a javascript code snippet, some lines are missing syntax highlighting.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://carbon.now.sh/ooidaopSOldcdPg1HR5s
2. Click on Export button
3. Open the downloaded image and you can see that lines 3,5,11 and 13 don't have syntax highlighting although it's valid code.

**Expected beha

[2020-06-30 23:01] cyberpirate92 commented on #1046
**Console log:**
[code]

[2020-07-02 05:39] amirmeimari opened #1047 "HTML Theme is not working properly"
HTML formatting is not working.

![image](https://user-images.githubusercontent.com/34706947/86320258-b72d7480-bc4b-11ea-90f8-1b8a8c73925e.png)

### Expected Behavior
Just wanted to add an HTML and CSS element together in a screenshot.

PS: It would be awesome if I could show the result of my HTML and CSS combination somewhere in the screenshot.

### Info

OS: Windows 10

Browser: Google chrome v

[2020-07-03 02:15] mfix22 commented on #1047
@amirmeimari please post a link to a Carbon snippet, or at least the code of your example so I can recreate the issue.

[2020-07-03 02:22] mfix22 commented on #1046
@cyberpirate92 I'm going to look into this tomorrow. I assume this is just an encoding race-condition from the `%c`

[2020-07-03 19:15] mfix22 commented on #1046
@cyberpirate92 yup, this was just what I expected (previous issues have depicted the same issue). We have to encode the string in order for `dom-to-image` to create the dataUrl correctly, but that encoding temporarily breaks the syntax highlighting.

These are the lines that do the temporary encoding: https://github.com/carbon-app/carbon/blob/main/components/Editor.js#L136-L142

I am not sure what

[2020-07-04 05:05] amirmeimari commented on #1047
@mfix22 sure

https://carbon.now.sh/?bg=rgba(55%2C140%2C206%2C1)&t=night-owl&wt=none&l=htmlmixed&ds=true&dsyoff=38px&dsblur=82px&wc=true&wa=true&pv=56px&ph=74px&ln=false&fl=1&fm=dm&fs=18px&lh=150%25&si=false&es=2x&wm=false&code=%253C!--%2520Adjacent%2520sibling%2520combinator%2520--%253E%250A%250A%253Cstyle%253E%250A%2520%2520li%253Afirst-of-type%2520%252B%2520li%2520%257B%250A%2520%2520%2520%2520

[2020-07-05 17:25] cyberpirate92 commented on #210
Trying to create something similar with [`code2img`](https://github.com/cyberpirate92/code2img), although I must say Carbonara looks a lot better than my hackish version.

[2020-07-05 20:58] #1047 closed

[2020-07-07 21:35] ThinkDigitalSoftware opened #1050 "If we add a name to a snippet, it should be the suggestion filename when downloading"
### Expected Behavior
that the downloaded file name is the same as the snippet name

### Info

Please complete the following information:

OS [e.g. macOS, Linux, Windows, iOS]: macOS

Browser [e.g. Chrome, Safari, Firefox]: Chrome

[2020-07-08 01:41] mfix22 commented on #1050
This is a great idea! I would be happy to accept a PR that implements this, otherwise I will try to get to this during my next dev cycle 👍

[2020-07-08 01:54] #1050 closed

[2020-07-13 22:06] GraphicOwls commented on #1025
Any updates to this?

[2020-07-15 01:43] mfix22 commented on #1025
It's done!

[2020-07-29 16:54] mrCodeslinger opened #1058 "GitHub login is failing"
### Expected Behavior

If applicable, add screenshots to help explain your problem, or include Carbon links that recreate
your issue.
I can't log in to my account any more and i have a lot of code snippets there.
### Info

Please complete the following information:

OS [e.g. macOS, Linux, Windows, iOS]:
macOS

Browser [e.g. Chrome, Safari, Firefox]:
Chrome

[2020-07-29 20:58] Joshmatjjen opened #1059 "Sign Up with GitHub Not Working"
### Expected Behavior

If applicable, add screenshots to help explain your problem, or include Carbon links that recreate
your issue.

### Info

Please complete the following information:

OS [e.g. macOS, Linux, Windows, iOS]:

Browser [e.g. Chrome, Safari, Firefox]:

[2020-07-30 01:58] mfix22 commented on #1059
@Joshmatjjen could you give me more information on the issue you are seeing? Which browser/operating system were you using? Can you provide a screenshot or screen recording of the issue you are noticing?

[2020-07-30 02:29] mfix22 commented on #1059
Actually, just realized this is a duplicate of #1058. Will close this one and continue the thread there.

[2020-07-30 02:29] #1059 closed

[2020-07-30 02:33] mfix22 commented on #1058
@mrCodeslinger were you by chance using Incognito mode? This is a known issue with Firebase login (https://github.com/firebase/firebase-js-sdk/issues/3004) that we can't currently fix at the moment.

There is a workaround, however, which is outlined in this comment: https://github.com/firebase/firebase-js-sdk/issues/3004#issuecomment-647007598

![image](https://user-images.githubusercontent.com/83

[2020-07-30 02:36] mfix22 commented on #1058
There is also a known intermittent Firebase error, which is found here: https://github.com/firebase/firebase-js-sdk/issues/1926

(You don't need to worry about that, just posting for posterity)

[2020-08-01 03:14] qw-in opened #1062 "Snippet saved overlaps user menu"
**Describe the bug**
Snippet saved notification displays over the user menu

**To Reproduce**
Steps to reproduce the behavior:

1. Be logged in
2. Save a snippet
3. Click username to trigger dropdown

**Expected behavior**

User menu is still accessible

**Screenshots**
![snippet-saved](https://user-images.githubusercontent.com/19194187/89092885-715aed80-d36a-11ea-93ce-01b753580c50.png)

**Info (p

[2020-08-01 07:16] DevT0ny opened #1063 "Add custom theme sharing(import) option"
I have created custom theme but I don't see any sharing or importing option.
As web developer, I saw your app uses local storage for storing theme but I don't want to tell anyone to execute this code in console to get  theme or something like that.
So I believe its easy to implement but before implementing the import feature please make sure it is not vulnerable to the XSS attack since local stora

[2020-08-04 09:52] unililium opened #1064 "Syntax highlight for format strings disappears when exporting to PNG"
**Description**
Lines containing a format string with width specification (e.g. "%2d") makes the syntax highlight for that entire line to disappear when exporting to PNG. It is caused by the expansion in the URL of said characters.
Exporting to SVG works fine.

**Screenshots**
When exported to PNG:
![carbon](https://user-images.githubusercontent.com/3117172/89279977-4f9e8680-d648-11ea-9561-196da6a

[2020-08-04 16:24] delick opened #1065 "title"
How can I specify the title of a code snippet?

For now, is there a setting to put title of a snippet next to window controls?

### Expected Behavior

Display the title of a snippet next to window controls (shown in the picture below):
![image](https://user-images.githubusercontent.com/20290394/89319166-55c94d00-d6b2-11ea-9468-5ac64572fc2d.png)

### Info

Please complete the following information:

[2020-08-04 16:36] #1065 closed

[2020-08-07 10:20] sniafas opened #1067 "Math symbols are missing in medium.com format"
Math symbols are missing in Medium.com format in Python language

![On Medium](https://user-images.githubusercontent.com/4542013/89635973-837be500-d8b0-11ea-99d8-e64b82adf1a9.png)

### Expected Behavior

![On Carbon](https://user-images.githubusercontent.com/4542013/89636013-9b536900-d8b0-11ea-979d-b5e83fd670cd.png)

### Info

Please complete the following information:

OS [e.g. macOS, Linux, Wind

[2020-08-10 01:34] javlaks opened #1068 "Include Recursive font"
Is it possible to include the new font Recursive? This new font is great and open source. It has many feaures and I think is a great font. I'm using it in my local environment with Visual Studio Code and it looks amazing.

![image](https://user-images.githubusercontent.com/513351/89746514-a4defb80-da7f-11ea-90b0-2671c1ae3b54.png)

You can find it here -> [Recursive Repository](https://github.com/a

[2020-08-10 20:04] Luttik commented on #496
I'd love this as a feature. especially for post-processing in figma.

[2020-08-10 21:56] qw-in commented on #1064
Spent a few minutes looking into this out of curiosity and here is what I have found:

1. This is caused by the following snippet of code
    https://github.com/carbon-app/carbon/blob/7adb50753e090d3873049c261f95191c6fb979f2/components/Editor.js#L134-L143
1. This code calls `encodeURIComponent` on `%10`
1. This means the `innerText` is set to `"    printf("%2510d\n", 12345); char s[1]="";"`
1. The

[2020-08-11 05:13] #1064 closed

[2020-08-11 05:17] mfix22 commented on #1068
Hey @javlaks  thank you for proposing this new Font. Since Carbon implemented custom fonts, we are actually no longer implementing new fonts, except for in extenuating circumstances.

You can use your own custom font in the Font settings here:
<img width="967" alt="Screen Shot 2020-08-10 at 10 05 06 PM" src="https://user-images.githubusercontent.com/8397708/89859322-96fbaa00-db55-11ea-9e9b-d97973d

[2020-08-11 05:17] #1068 closed

[2020-08-11 05:19] mfix22 commented on #1067
@sniafas could you please include the actual code snippet that you were using? That will make it a lot easier for me to investigate the issue.

[2020-08-11 05:21] mfix22 commented on #1046
Closed by #1069

[2020-08-11 05:21] #1046 closed

[2020-08-11 05:23] mfix22 commented on #1062
@qw-in do you have any suggestions for where we should render the toast message instead? If we render if right below the closed menu, and the user opens the menu, what should happen to the toast? Should it shift down? Should the login menu cover the notification? 🙂

[2020-08-11 05:24] mfix22 commented on #1058
Closing as solved w/ recent Firebase upgrade — will reopen if we notice the same, or similar issue.

[2020-08-11 05:24] #1058 closed

[2020-08-11 05:25] mfix22 commented on #1063
@Ajith-stark sorry about the late response — I realized I looked into this issue locally and never got back to you here.

I will follow up soon with a fix or other suggestions 👍

[2020-08-11 05:28] mfix22 opened #1071 "Update issue templates to always include code snippet, Carbon URL, and screenshots"
Issues should always include:
* A link to a Carbon snippet that recreates the issue
* The static text of the code/config that recreates the issues (when applicable)
* Screenshots when applicable (almost always applicable with a product like Carbon 🙂 )

Our bug issue template does a good job at specifying requirements, but our basic issue template does not.

[2020-08-11 11:46] sniafas commented on #1067
Yes, sure, the next two lines
[code]

[2020-08-11 22:30] pheuter opened #1072 "No F# support?"
## https://dotnet.microsoft.com/languages/fsharp

![image](https://user-images.githubusercontent.com/92698/89955273-a71c9380-dc00-11ea-89b9-995c989d37fb.png)

[2020-08-12 01:56] mfix22 commented on #1072
https://carbon.now.sh/?l=ocaml

<img width="943" alt="Screen Shot 2020-08-11 at 6 56 24 PM" src="https://user-images.githubusercontent.com/8397708/89966606-6888d800-dc04-11ea-9bc5-ef11d3208bce.png">

[2020-08-12 01:57] #1072 closed

[2020-08-12 02:40] #1067 closed

[2020-08-12 04:30] seagalputra commented on #1044
Hi,
It seems IBM plex mono not loaded correctly from fonts.gstatic.com.

When I try opened up in Chrome browser. All the fonts were loaded correctly.

<img width="234" alt="Screen Shot 2020-08-12 at 11 22 45" src="https://user-images.githubusercontent.com/15377132/89975005-d24dc400-dc8e-11ea-82f8-b468ea91aa09.png">

But, when I opened the site in Safari. The IBM plex mono font is missing.

<img wi

[2020-08-12 07:27] prtmshk commented on #1044
Is the missing quotes here the issue?
https://github.com/carbon-app/carbon/blob/e1bdefcbb397a9887e80ea316e6e90b802af6e78/components/style/Font.js#L82

[2020-08-12 08:58] seagalputra commented on #1044
@prtmshk I've tried to add the quotes, change `@font-face` with `@import` from Google Fonts and it still won't loaded. I think it's the safari issue.

I'm using Safari Version 13.1.2 (15609.3.5.1.3) with macOs Catalina 10.15.6

[2020-08-13 01:52] mfix22 commented on #1044
@seagalputra that's what I thought too. If you do have time to investigate more, that would be much appreciated. Maybe it is just that we need to configure the `@font-face` differently for Safari vs. Chrome.

Closing out this issue would be huge! Get us down to 20 issues! 💪

[2020-08-13 03:14] seagalputra commented on #1044
@mfix22 yes, when i tried to import IBM Plex mono fonts manually with `.ttf` font and surprisingly it works in Safari (and Google Chrome too).

<img width="800" alt="Screen Shot 2020-08-13 at 10 07 04" src="https://user-images.githubusercontent.com/15377132/90089879-c1638800-dd4c-11ea-84eb-410c3e6f6af8.png">

I think there's problem with font rendering in `.woff` and `.woff2` format. This is how I

[2020-08-13 04:39] mfix22 opened #1078 "Clean up Font.js definitions"
* Remove `font-style: normal`s
* Remove `unicode-range`s (unless they are needed)
* Remove `font-weight`s (unless they are needed)

[2020-08-13 05:03] #1044 closed

[2020-08-14 02:44] qw-in opened #1082 "PNG Export character encoding"
Wanted to follow up on what I have been looking into. This is a follow up of the discussion in #1069

I started out out trying to write some tests for the export in cypress but ran into a couple of issues:
1. Without modifying the app code, I could not figure out how pause execution of the code where the bug is present. After modifying the encoding and generating an image, the encoding changes are

[2020-08-14 03:58] qw-in commented on #1082
This (https://github.com/tsayen/dom-to-image/pull/346) one line change seems to completely fix the issue and should remove the need to have special encoding handling for PNGs from carbon completely. The change did not break and of the `dom-to-image` tests

[2020-08-14 04:32] mfix22 commented on #1082
@qw-in I thought about the integration testing more after I mindlessly said it would be great to include some, and you are totally right — it is basically impossible to test this functionality with Cypress. Please don't worry about testing this portion, and sorry for all the work you have put into it so far!

Amazing work with tsayen/dom-to-image#346, although I am not convinced a new version will

[2020-08-14 19:06] qw-in commented on #1062
@mfix22 I think as a user of the UI my first instinct is similar to yours - shift down. However, I think having the toast disappear completely while the dropdown is open would be completely valid too

I will admit the lazy developer part of my brain was eyeing up the bottom right corner too for a while :sweat_smile:

[2020-08-14 20:02] qw-in commented on #1082
@mfix22 Yeah I don't expect it to get merged but figured I would open it for reference. Although the `dom-to-image-more` pr did get merged (https://github.com/1904labs/dom-to-image-more/pull/23) :tada:

I think at least short term a local version makes perfect sense! I was wondering about forking and releasing a scoped npm package (`@carbon/dom-to-image` has a nice ring :smile:) but lib and patch-

[2020-08-15 16:48] mfix22 commented on #1082
Rad, congrats 🎉

I prefer a local copy of regular `dom-to-image` for now 👍 Really appreciate your help here.

[2020-08-15 17:52] #1078 closed

[2020-08-15 17:56] mfix22 commented on #1062
I am right there with you 🤣

I do like how Vercel does it https://vercel.com/design/toast…I'm going to definitely consider moving it to the bottom right.

[2020-08-15 23:56] #1071 closed

[2020-08-16 19:39] qw-in commented on #1082
I saw the branch you made, looks perfect! I've got a busy couple days but I'll take a crack at it later this week. Want to take a second shot at some sort of automated regression testing. Have a couple ideas I'd like to try out

[2020-08-16 22:55] mfix22 commented on #1082
Very cool. Closing this issue with #1083, but please open a new one if you have other ideas to discuss.

Might be cool for Carbon to publish our `dom-to-image` w/ the fix you made, and maybe we can even incorporate the improvements made in https://www.npmjs.com/package/retina-dom-to-image

[2020-08-16 23:00] #1082 closed

[2020-08-18 19:09] austinwilcox commented on #753
Any updates on this?

[2020-08-24 23:39] kevinrodriguez-io opened #1087 "Embeds Suddenly Stopped Working"
**Describe the bug**
I created some snippets to embed in a medium blogpost a couple of days ago, now, my readers report a lot of 404's.

**To Reproduce**
Create snippet
Copy generated link
Embed
(?)

(Taken from the README.md):

- Login using the "Sign in/Sign up" button
- Edit as you normally would — your snippet will get saved automatically
- Copy the URL from your browser window and share away!

[2020-08-25 03:35] mfix22 commented on #1087
This issue should be resolved now. Sorry for the inconvenience.

[2020-08-30 15:59] JaKXz opened #1088 "Option to disable font ligatures"
Hi! Big fan of carbon for showing off snippets to friends and keeping some for myself :)

**Is your feature request related to a problem? Please describe.**
This was sort of reported in #1029, but I understand it's a feature of the different fonts. However, I love using Fira Code in my local editor but I have the option to support ligatures turned off.

**Describe the solution you'd like**
I want

[2020-08-31 00:36] mfix22 commented on #1088
Hey @JaKXz thanks the kind words, and for posting this issue.

Since Carbon implemented custom fonts, we are actually no longer implementing new fonts, except for in extenuating circumstances.

You can use your own custom font (Fira without ligatures) in the Font settings here:
<img width="967" alt="Screen Shot 2020-08-10 at 10 05 06 PM" src="https://user-images.githubusercontent.com/8397708/89859

[2020-08-31 00:36] #1088 closed

[2020-08-31 00:51] #1087 closed

[2020-08-31 22:48] itstommi opened #1089 "Option to make it look like a vim editor"

[2020-09-01 03:47] mfix22 commented on #1089
Hey @itstommi — which features in particular? Do you mean the cursor? Or also the bottom text? Can you share a screenshot so I am certain of which features you are interested in?

[2020-09-01 07:25] Aslemammad commented on #1089
I think we can implement the vim editor there. I can check if I can make PR for this?

[2020-09-01 14:15] Aslemammad opened #1090 "Anonymous functions"
In dev mode React returns: "Anonymous arrow functions cause Fast Refresh to not preserve local component state", It's a not so potential warning but I want to send PR to Make all anonymous functions to Named arrow functions. Can I take its PR?

[2020-09-01 14:17] Aslemammad commented on #1090
I can make the code better in other places of the source if you like.

[2020-09-01 16:28] kevinrodriguez-io commented on #1087
@mfix22 Thanks!

[2020-09-01 22:48] itstommi commented on #1089
Nvm sorry I just wanted to be able to have the tildes but I realized I could just manually type them out and change the colors 🤦‍♂️

[2020-09-01 22:48] #1089 closed

[2020-09-02 06:16] Aslemammad commented on #1089
But I think the vim option is a good thing.

[2020-09-02 08:02] itstommi commented on #1089
I mean if you want to, go for it

[2020-09-02 08:11] Aslemammad commented on #1089
I'm working on vim, emacs, and sublime keymaps, Thanks for the permission.

[2020-09-02 15:39] Aslemammad commented on #1089
#1091

[2020-09-02 15:42] Aslemammad opened #1092 "Keymaps"
**Is your feature request related to a problem? Please describe.**
Adding support for Vim, Emacs, Sublime (ordinary) keymaps to Carbon.

**Pull Request.**
#1091

[2020-09-05 05:45] Lateralus138 opened #1093 "AutoHotkey"
I know people hate it, but is there any possibility of adding **AutoHotkey** to the list?

Probably not, but I have to try :D

[2020-09-07 04:12] Aslemammad commented on #1093
I think I love it, but what you mean exactly, give us some examples.

[2020-09-07 22:34] mfix22 commented on #1093
I am not sure what AutoHotkey is — can you tell me more? In particular, what are you trying to solve?

[2020-09-07 22:49] mfix22 commented on #1090
@Aslemammad please do! But please make the limited amount of changes required to fix the error message.

[2020-09-07 22:51] #447 closed

[2020-09-07 22:54] mfix22 commented on #1042
Hi @domluther, we have gotten this request in the past, and after looking into it, we decided it wouldn't work well within Carbon's system. That said, maybe others have ideas for how to include this feature.

[2020-09-08 03:18] Lateralus138 commented on #1093
Nevermind; I was looking through the list of code the Carbon app supports and I didn't see AHK listed, but it seems to work on the 'Auto' setting so there's there was no need for me to post this. Sorry for wasting your time.

For those who asked what AutoHotkey is it is a powerful Windows high level scripting language used for all sorts of things, but specifically used for automation with the adde

[2020-09-08 03:18] #1093 closed

[2020-09-08 03:56] ldhan0715 opened #1094 "Carbon and CodeSnap?"
Hi, I was just wandering GitHub, and I found out a similar application (actually extension) with Carbon.
It's name is [CodeSnap](https://github.com/kufii/CodeSnap), and it is almost same as Carbon! The style, OS X style window controls, and etc. Although idea can overlap, but how can the design and features can be so similar?

I don't mean to make such trouble but just wondering...

[2020-09-08 09:07] Aslemammad commented on #1090
OOh, Yes, Thanks for your permission.

[2020-09-08 09:15] Aslemammad commented on #1092
If people were interested in this feature, we'll work on it more, please see this website and tell us your opinion. https://carbon-1nyaaf788.vercel.app/

[2020-09-09 13:04] Snuggle opened #1095 "Carbon SVG Export has Broken Backgrounds"
**Describe the bug**
The SVG export should look somewhat similar to the PNG exported version. Instead it has a white background, which isn't expected, and is almost unreadable.

<img width="807" alt="image" src="https://user-images.githubusercontent.com/26250962/92601431-b3018100-f2a4-11ea-82c4-11a072f5e050.png">

Instead, it looks like this:

<img width="937" alt="image" src="https://user-images.

[2020-09-10 10:45] katonaaron opened #1096 "Add XML support"
**Is your feature request related to a problem? Please describe.**
XML is missing from the language selection.

**Describe the solution you'd like**
Support the coloring of XML code.

**Describe alternatives you've considered**

**Additional context**

[2020-09-12 00:46] mfix22 commented on #1096
Hi @katonaaron
Please use the HTML/XML modehttps://carbon.now.sh/?l=htmlmixed

[2020-09-12 00:46] #1096 closed

[2020-09-12 02:21] #1095 closed

[2020-09-12 02:23] mfix22 commented on #1092
Like I mentioned in #1091, we do not want to support multiple keymaps. Potentially, we might be interested in supporting a VIM mode, but this can probably be handled by a browser/operating system instead of Carbon.

[2020-09-12 02:23] #1092 closed

[2020-09-12 02:25] mfix22 commented on #1094
I have never seen CodeSnap before! Might have been inspired by Carbon, I am not sure. Very neat though 🙂

[2020-09-12 02:25] #1094 closed

[2020-09-12 02:26] mfix22 commented on #1090
@Aslemammad feel free to work on fixing this, but no need to keep this issue open, as it is not actually a _bug_ in Carbon.

[2020-09-12 02:26] #1090 closed

[2020-09-13 16:44] yashbhutwala opened #1098 "Ability to specify random background image with vscode plugin"
I love this app and I love the VSCode plugin for it.  However, I would like the generated image to automatically select a random background image.  Is is possible to add that feature?

[2020-09-13 22:24] mfix22 commented on #1098
Hey @yashbhutwala, thanks for the kind words! 🖤

There are lots of other tools to generate a random color, which can then be passed in to Carbon like so: https://carbon.now.sh/?bg=rebeccapurple. VSCode can generate this color for you.

Hope that helps!

[2020-09-13 22:24] #1098 closed

[2020-09-13 22:29] mfix22 commented on #1098
Another option would be to use Unsplash backgrounds, which are indeed random 🙂

[2020-09-14 13:45] Snuggle commented on #1095
Hello! I believe this may have introduced a new issue, the title bar isn't on top of the background like it should be.

**Carbon Preview**
![image](https://user-images.githubusercontent.com/26250962/93093544-b75cde00-f698-11ea-89fb-5826477deec5.png)

**Exported SVG**
![image](https://user-images.githubusercontent.com/26250962/93093513-af04a300-f698-11ea-852f-e243af9c54f3.png)

**Attached Broken SV

[2020-09-14 13:46] Snuggle opened #1099 "SVG titlebar is not in correct place!"
I believe this issue may have been introduced by issue  #1095.

The MacOS style buttons are not a part of the window and are just floating off into space.

**Carbon Preview**
![image](https://user-images.githubusercontent.com/26250962/93093544-b75cde00-f698-11ea-89fb-5826477deec5.png)

**Exported SVG**
![image](https://user-images.githubusercontent.com/26250962/93093513-af04a300-f698-11ea-852f-e24

[2020-09-16 08:27] maneeshsandra opened #1100 "I want this feature in my website"
i have a website for a collection of programs and all i want is i want to show my code on my website in carbon view is that possible to include carbon in my website and display data from my database in this template

[2020-09-16 14:29] yashbhutwala commented on #1098
@mfix22 how can I get vscode plugin to automatically select a random Unsplash background for me?  I don't think that's possible right now, and would be a nice to have.

[2020-09-17 01:11] mfix22 commented on #1098
https://marketplace.visualstudio.com/items?itemName=jrebocho.vscode-random

https://coolors.co/

🙂

[2020-09-17 01:13] mfix22 commented on #1100
Yup! You can use Carbon embeds to render a carbon snippet on your website.

carbon.now.sh/embed

<img width="982" alt="Screen Shot 2020-09-16 at 8 12 43 PM" src="https://user-images.githubusercontent.com/8397708/93407953-43613800-f848-11ea-8aa6-ff2eecc38bc2.png">

[2020-09-17 01:13] #1100 closed

[2020-09-17 01:14] mfix22 commented on #1099
@Snuggle can you please post a link to the Carbon snippet that recreates the issue, as it states in the Issue Template? 🙂

[2020-09-17 01:16] mfix22 commented on #1099
Also, could you include which operating system and browser you are using?

[2020-09-17 01:42] mfix22 commented on #1099
@qw-in do you know if the % in the `<foreignObject x="0" y="0" width="100%" height="100%">` should be replaced as well? Could that be causing this issue?

(really appreciate your help with this in advance)

[2020-09-17 01:57] #1062 closed

[2020-09-27 20:42] asm0dey opened #1104 "Support for image highlighting"
**Describe the solution you'd like**
Some libraries, for example highlightjs and prismjs allow to highlight lines. I would like to have similar option. Possibly in export or in editor settings.

**Additional context**
Sometimes I use code in presentation. But explaining code without code highlighting is hardly possible.

[2020-09-28 14:15] Spielboerg opened #1105 "Edit custom theme"
As the title says, it would be great to be able to edit ~or delete~ the custom themes.

I saw that the custom themes are stored in local storage and I could change it there as a workaround. However, I'm using the Carbonize app (https://www.dangercove.com/carbonize/) in which I don't have access to the local storage.

Edit:
I found the delete option: the theme must not be selected, and then there i

[2020-09-28 22:17] MillennialDIYer opened #1106 "Suggestion - Export formatted code for applications such as Word"
Hi there,

Just found the site and found it interesting. The aesthetics are great. That said, images of codes aren't something I find myself needing all that often. Rather, formatted code (especially language-specific color-coding and numbered list formatting) is something I use all the time. Especially for pasting into Word documents.

Currently, for that purpose I use [PlanetB Syntax Highlighter

[2020-09-30 12:24] Snuggle commented on #1099
# Additional Details
Here you go, @mfix22!
## Code Snippet
[code]

## Carbon URL
https://carbon.now.sh/?bg=rgba(171%2C%20184%2C%20195%2C%201)&t=theme%3A4yomt37mq1&wt=none&l=htmlmixed&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522displayInline%2522%253E%250A%253Cspan%253EI%27m%2520mad

[2020-09-30 12:24] Snuggle commented on #1099
The issue does still not seem to have been fixed, either!

[2020-10-01 20:15] ashwoodall opened #1108 "Add styling option for code mirror's "builtin" tag"
**Is your feature request related to a problem? Please describe.**

The following are available color modifiers for styling images:

  "highlights": {
    "background": "#fafafa",
    "text": "#383a42",
    "variable": "#e06c75",
    "variable2": "#0184bc",
    "variable3": "#0184bc",
    "attribute": "#d19a66",
    "definition": "#4078f2",
    "keyword": "#a626a4",
    "operator": "#0184bc",

[2020-10-03 17:42] #1108 closed

[2020-10-03 17:47] mfix22 commented on #1099
Hi @Snuggle,
I just followed that link, downloaded it as an SVG, and got this as a resulting image:

<img width="1280" alt="Screen Shot 2020-10-03 at 10 46 00 AM" src="https://user-images.githubusercontent.com/8397708/94998296-b5828e00-0565-11eb-8a1c-f3cb98127d58.png">

Would you be able to provide more detailed steps to reproduce the issue you are noticing?

[2020-10-03 17:49] mfix22 commented on #1106
@MillennialDIYer  Thanks for the kind words! 🖤

We have an open issue to export Carbon snippets as RTF (https://github.com/carbon-app/carbon/issues/1042), which would be renderable in word, so going to close this to track over there.

That said, I would suggest just using a Carbon PNG, and dropping that in your Word document. I have seen other authors write entire books this way 🙂

Cheers!

[2020-10-03 17:49] #1106 closed

[2020-10-03 17:54] mfix22 commented on #1105
@Spielboerg totally! This is actually an existing issue that I am definitely eager to investigate (https://github.com/carbon-app/carbon/issues/1063)

You are totally that the "X" probably could be bigger for this feature. I will look into fixing that immediately.

Regarding Carbonize, we don't consider that app a supported part of the Carbon ecosystem. If you are interesting in using Carbon as a D

[2020-10-03 17:58] MillennialDIYer commented on #1106
Thanks for the response, @mfix22!

The RTF snippets sounds good, looking forward to test that out once it's done. Regarding PNG, that on the other hand wouldn't be of any use in my typical use scenario, as copying and pasting the code for later reference or reuse is the utility.

Anyway, have a good one.

[2020-10-03 17:58] mfix22 commented on #1104
Hi @asm0dey this is currently supported! If you turn on "Line numbers" in the Settings menu (or by visiting https://carbon.now.sh/) you can highlight lines by clicking. You can also Shift-Click to select a group of lines

![carbon (2)](https://user-images.githubusercontent.com/8397708/94998541-4ad25200-0567-11eb-96b1-404f579f073d.png)

[2020-10-03 17:58] #1104 closed

[2020-10-03 17:59] mfix22 commented on #1106
You too @MillennialDIYer !

[2020-10-03 18:30] Snuggle commented on #1099
@mfix22 Hmm. Interesting, perhaps it's being caused by the theme?

I'll try to investigate when I can!

[2020-10-03 18:37] asm0dey commented on #1104
Thanks, that works (but quite not obvious that they can disable line numbering afterwards)!

[2020-10-03 19:31] mfix22 commented on #1063
Great suggestion by @Spielboerg  in #1105

[2020-10-03 19:31] #1105 closed

[2020-10-03 19:32] mfix22 commented on #1104
Yup! That's a great point. If you have suggestions for adding a better way to toggle line highlights, I am all ears 👂

[2020-10-03 19:34] asm0dey commented on #1104
I believe there is a way: one additional field in editor settings, which describes lines should be highlighted. For example in syntax 1-3,5,7. Where comma separates groups and groups are ranges or single lines.

[2020-10-03 19:41] mfix22 commented on #1104
@asm0dey I'd be happy to accept a PR that implements that.

[2020-10-03 19:43] mfix22 commented on #1099
Thanks @Snuggle! No rush, really appreciate your help here 🙂

[2020-10-03 19:47] asm0dey commented on #1104
Currently, I have no any idea on how to implement it, but I believe it's worth creating issue :)

[2020-10-03 19:49] mfix22 commented on #920
@dzikoysk I appreciate your suggestion; however, this feature is too complex for Carbon's use case.
We want it to be dead simple for folks to use, and not have to think too much about the specifics.

If others suggest this in the future, I will definitely reconsider. Thanks!

[2020-10-03 19:49] #920 closed

[2020-10-03 19:51] mfix22 commented on #1104
Thanks @asm0dey ! I'll consider looking into it.

[2020-10-03 20:35] dzikoysk commented on #920
:<

[2020-10-04 03:14] theoctober19th opened #1115 "# character replaced by %23 when exporting PNG"
**Describe the bug**
The `#` character in the code is changed to `%23` while exporting PNG.

**To Reproduce**
Write any code that has # in the syntax. Export the code to a PNG. The `#` character appears as `%23`.

**Expected behavior**
`#` character should be seen as `#` character in the exported PNG.

**Screenshots**
<img width="959" alt="Screen Shot 2020-10-04 at 08 58 02" src="https://user-imag

[2020-10-04 22:42] #1115 closed

[2020-10-04 22:42] mfix22 commented on #1115
@theoctober19th sorry about the inconvenience!

[2020-10-09 09:38] Snuggle commented on #1099
Hmm. After further testing, I can only reproduce this again using a Chromium based browser such as Vivaldi or MS Edge, it doesn't seem to happen with Firefox anymore. (Though I am almost certain I had this issue there?)

### Here's exactly what I had did to reproduce:
1) Open Microsoft Edge or Vivaldi in a private tab (I'm assuming any Chromium-based browser has this issue)
2) Only using the defau

[2020-10-09 09:53] Snuggle commented on #1099
[Please open SVG with Chromium.zip](https://github.com/carbon-app/carbon/files/5354027/Please.open.SVG.with.Chromium.zip)

[2020-10-19 22:00] B1Z0N opened #1118 "Add Prolog syntax highlighting"
I think the header tells pretty much everything you need to know about the problem. Currently don't have much time to contribute. So if noone is going to do this in a while, then i'll try.

[2020-10-23 02:40] JulianWebb opened #1119 "Rounded Edges on Image Background"
**Is your feature request related to a problem? Please describe.**
Having sharp edges on the image contrasts against the rounded edges of the "IDE"

**Describe the solution you'd like**
An option to give rounded edges to the image along the background would be nice.

**Describe alternatives you've considered**
I know I can use an image editor such as GIMP to add rounded edges myself, but it would

[2020-10-24 20:07] shaonkabir8 opened #1120 "📝 Emoji Support 🚀"
Hi 👋
Hopefully many of us need to use `emoji` while creating beautiful `carbon` image. And It doesn't need to be explained why we use `emoji` 😎

**Features we can add:**

- [ ]  Add `Emoji`  List `Tab` besides our `Menu`.

Thanks ❤️
\- Shaon Kabir

[2020-10-26 18:56] phantom-bneises opened #1121 "Operators are hard to see in "Base 16 (Light)" theme"
https://github.com/carbon-app/carbon/blob/dd9b43fcaef82ec2860dfcb6a378a126b9275a21/lib/constants.js#L124

Light colored operators (#fff) are hard to see on the light background (#f5f5f5) for the Base 16 (Light) theme.

[2020-10-27 01:33] #1121 closed

[2020-10-27 01:39] mfix22 commented on #1119
Hi @JulianWebb, this is something we want to avoid adding to Carbon, since it can be easily adjusted in other software.

If other folks write in suggesting the same, we will reconsider.

Just to help you out a bit though, try entering this in your browser's console:
[code]
🙂

[2020-10-27 01:39] #1119 closed

[2020-10-27 01:46] mfix22 commented on #1099
@Snuggle this seems like it might be a Browser specific issue, one that Carbon doesn't have much say in it getting fixed 😅

If you want, you could open an issue in a browser issue queue, but I'm not sure how they would prioritize this either (since it is an issue _between_ browsers)

All this said, please don't take offense to me closing this issue. I really appreciate you digging into all this, b

[2020-10-27 01:46] #1099 closed

[2020-10-28 02:03] mfix22 commented on #1120
@shaonkabir8 emojis should work by default in Carbon! Are the currently not working for you?

Here is an example:
![carbon (15)](https://user-images.githubusercontent.com/8397708/97381805-195b5680-1887-11eb-8f26-521cadbc87cd.png)

[2020-10-28 02:12] shaonkabir8 commented on #1120
Sorry for misunderstanding. you don't get my point actually.

I'll explain it in details soon.
thanks

[2020-10-28 02:27] mfix22 commented on #1120
Do you mean you would like an Emoji menu? If that is the case, Carbon doesn't need to support it, since Emoji is built into most operating system keyboards. 🙂

On mac, you can open this menu up by clicking <kbd>Control+Command+Space</kbd>

If your operating system doesn't support this, you can always use a site like this: https://emojipedia.org

[2020-10-28 02:30] shaonkabir8 commented on #1120
Thanks a lot.  You save my day.🙏
I just wanna explain it. 🖐

Take my love mate. 😘

[2020-10-28 02:30] #1120 closed

[2020-10-28 12:45] prospero78 opened #1125 "Nice!"
Im like yours project))
Its must have!))

[2020-10-29 00:51] mfix22 commented on #1120
🖤 💛

[2020-10-29 00:51] mfix22 commented on #1125
Thanks friend! 🙏

[2020-10-29 00:51] #1125 closed

[2020-11-02 11:30] khoin opened #1128 "Update to support Optional chaining (?.) for Javascript"
Hi there,

ECMA-262 includes optional chaining which breaks the highlight syntax of the lines following its usage:

![image](https://user-images.githubusercontent.com/4620399/97863201-76a63c00-1cbb-11eb-86a4-08275a10f051.png)

See: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Optional_chaining

[2020-11-02 16:51] alessandro-calo commented on #597
Hi @mfix22, quick follow-up on this issue:
I don't see `Dracula` anymore, only `Dracula Pro`. But `Dracula Pro` is different from IntelliJ's `Darcula`:

![carbon](https://user-images.githubusercontent.com/55374095/97895027-87929400-1d33-11eb-8a43-f24b507e1087.png)
![Screen Shot 2020-11-02 at 17 46 33](https://user-images.githubusercontent.com/55374095/97895033-895c5780-1d33-11eb-80be-51f6d8596230.

[2020-11-03 04:24] ShynnSup opened #1129 "Specify Width and Height dimensions in pixels."
Hello, it would be really great if you could add the feature to specify dimensions in pixels. I want to make a 1080 x 1080 PNG picture but I can't with the current features. Thank you!

[2020-11-07 04:09] mfix22 commented on #1128
Would you do me a favor and file this with CodeMirror? This should be handled by their parser.

[2020-11-07 21:58] Mcat12 commented on #775
I'm running into this issue even after the fix.
Browser: Firefox 82.0.2
Platform: Fedora 32

[2020-11-08 01:46] mfix22 commented on #775
@Mcat12 which theme? I am not seeing this issue.

[2020-11-08 02:03] Mcat12 commented on #775
VS Code with Rust and JetBrains Mono. Here's an example:
https://carbon.now.sh/?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=none&l=rust&ds=true&dsyoff=20px&dsblur=68px&wc=false&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=JetBrains+Mono&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=fn%2520main%28%29%2520%257B%250A%2520%2520%2520%2520println%21%28%2522Hello%252C%2520world%21%2522%29%253B%250A%257D

[2020-11-10 00:55] khoin commented on #1128
@mfix22 Code Mirror maintainer says it's been fixed several releases ago.

[2020-11-10 01:34] #1118 closed

[2020-11-12 05:23] mfix22 commented on #1128
Cool — should be working now: https://carbon.now.sh/?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=monokai&wt=none&l=javascript&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=window%253F.test

[2020-11-12 05:23] #1128 closed

[2020-11-14 20:53] #775 closed

[2020-11-16 07:22] Swordword commented on #358
I want to  Integrate to Remark.js, but use `embed` it will create iframe for every code block. so, is there a better way to accomplish it ?

[2020-11-17 03:05] mfix22 commented on #358
Something like this: https://github.com/carbon-app/gatsby-remark-embed-carbon @Swordword

Also please open a new issue if you want to discuss this any further. Thanks!

[2020-11-21 23:31] mfix22 opened #1133 "Investigate reducing timeout in local dom-to-image call"

[2020-11-22 01:58] #1133 closed

[2020-11-22 21:16] mfix22 commented on #687
@jakebolam we are running into this issue again: https://github.com/carbon-app/carbon/pull/1131#issuecomment-731848121

The comment says "5 files", but I'm assuming that is just a bug and that we are running into the new limit.

[2020-11-23 19:52] jamiehaywood opened #1135 "Icon in MacOS dock has square edges"
**Describe the bug**
The desktop icon doesn't seem to be used when saved as a PWA.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to carbon.now.sh using Chrome
2. Add PWA
3. Icon in dock has square edges

**Expected behavior**
Expected the icon to have rounded edges. It had square edges.

**Screenshots**
Expected:
![image](https://github.com/carbon-app/carbon/raw/main/public/static/bran

[2020-11-25 20:59] waseefakhtar commented on #743
Has this been solved? I noticed that the downloaded PNG looks fine, but when uploaded somewhere, the overlay lines appear. Odd though that it hasn't appeared here:

![runScopeFunction](https://user-images.githubusercontent.com/4093820/100280563-31a7b980-2f8a-11eb-9135-b48aebf98ca9.png)

When I uploaded the same image to Twitter, the lines appeared:

https://twitter.com/waseefakhtar/status/13317005

[2020-11-26 00:22] mfix22 commented on #743
@waseefakhtar which operating system/browser are you using? When I click on that Twitter link, it looks fine to me:
<img width="799" alt="Screen Shot 2020-11-25 at 4 21 00 PM" src="https://user-images.githubusercontent.com/8397708/100294005-5d02b800-2f3a-11eb-8a8b-e359c5f5ac55.png">

[2020-11-26 00:42] #1135 closed

[2020-11-26 07:28] waseefakhtar commented on #743
I was using Chrome 87.0.4280.67 (Official Build) (x86_64) on macOS Big Sur. When I downloaded it back from Twitter, it exported with the white lines:

![Untitled](https://user-images.githubusercontent.com/4093820/100320143-955dd100-2fe2-11eb-95be-2d0890a71887.jpg)
<img width="1198" alt="Screen Shot 2020-11-26 at 12 27 15 PM" src="https://user-images.githubusercontent.com/4093820/100320274-c6d69c80

[2020-11-29 09:56] Pradhvan opened #1138 "Theme not being loaded in code snippets when embeding URL is used."
**Describe the bug**
While embedding the snippet in medium or in my personal blog, the theme is not being loaded. [Link](https://pradhvan.medium.com/carbon-2dfc5f821ddd) to the medium post for reference.

This is how it is showing. The first snippet has Dracula Pro and the second snippet has VS Code theme.

![image](https://user-images.githubusercontent.com/13925830/100538405-9b0f1d00-3255-11eb-91

[2020-12-02 01:25] #1138 closed

[2020-12-15 07:28] Olvi73 commented on #743
Hey I met this bug when i export this code, it's a part of the php code.
Chrome  87.0.4280.88 + Windows 10
export option: `2x` `png`
[code]

## editor
![image](https://user-images.githubusercontent.com/46037012/102183745-491ef600-3ee9-11eb-9e1a-91f10d3b1ada.png)

## export png
![image](https://user-images.githubusercontent.com/46037012/102183794-62c03d80-3ee9-11eb-913c-62a4f45aa1b0.png)

[2020-12-15 11:01] dst27 opened #1143 "[Request] Keyboard Shortcuts - Extend and customize"
**Is your feature request related to a problem? Please describe.**
I frequently use Carbon to paste code snippets and copy the image to my Clipboard to paste into documents. With the current shortcuts, it's not only not possible to copy the Carbon generated image to clipboard, but even the existing shortcuts do not work well on Windows platform where Winkey + E is an OS default shortcut to open th

[2020-12-15 11:24] dst27 opened #1144 "[Request] Add size options similar to Export to Copy to Clipboard"
**Is your feature request related to a problem? Please describe.**
I primarily use carbon to generate code snippet images for text documents, so I prefer Copy to Clipboard to Exporting the image. While Copy to Clipboard works well, it's missing the 2X and 4X size options available with the Export option.

**Describe the solution you'd like**
I would like Carbon to honor the size preferences set in

[2020-12-16 20:00] KartikChugh opened #1145 "Broken image on sponsors section"

[2020-12-18 09:32] made-indrayana opened #1147 "[Request] Be able to set a certain aspect ratio to the picture"
**Is your feature request related to a problem? Please describe.**
This is a feature request because I think this is very useful for people wanting to post code snippets as a part of their social media content.

**Describe the solution you'd like**
An aspect ratio chooser with some presets (e.g. Square, 16:9) or manual input

[2020-12-18 09:40] WhyNotHugo opened #1148 "Issuing with copy to clipboard in FireFox"
I'd love to be able to copy the image to clipboard.

Right now, the "copy to clipboard" option only allows copying an embed code -- which is generally now very useful (e.g.: I can't paste this in 99% of the places).

Would it be possible for "copy to clipboard" to actually copy the image?

I think the app is great in _generataing_ images, but being unable to _copy_ it just seems like a huge miss.

[2020-12-18 18:14] AryanBeezadhur commented on #1148
What do you mean?

You can definitely copy an image to the clipboard:

![image](https://user-images.githubusercontent.com/34424160/102646941-d3bb5b80-415c-11eb-8f75-48650596a13e.png)

### Result:

![image](https://user-images.githubusercontent.com/34424160/102646962-dae26980-415c-11eb-97a7-a750e50deca5.png)

[2020-12-18 19:04] WhyNotHugo commented on #1148
That option is not visible for me o.O

![image](https://user-images.githubusercontent.com/730811/102651010-a9b96780-4163-11eb-840b-6b9dcdf988a4.png)

Are we looking at the same website? https://carbon.now.sh/

[2020-12-18 23:40] #1145 closed

[2020-12-18 23:45] mfix22 commented on #1148
@WhyNotHugo which browser and operating system are you using? It only is available if your Browser supports copying an image to the clipboard.

[2020-12-18 23:49] mfix22 commented on #1147
Hey @made-indrayana, this is a feature we still support, though it is mostly hidden at this point. You can download your image as a square one by setting `?si=true`, like so: https://carbon.now.sh/?si=true

If you want to adjust the aspect ratio further, try dragging the edge of the editor window.

Hope that helps!

![carbon (2)](https://user-images.githubusercontent.com/8397708/102673340-99e05a00

[2020-12-18 23:49] #1147 closed

[2020-12-18 23:51] mfix22 commented on #1143
@dst27 this should be easy to do! Which shortcuts would you like to be available? Can you share which actions you do repeatedly, and what shortcuts you would like to trigger them?

Feel free to submit your own PR for this, too. Otherwise I will try and get to it when I find some time.

[2020-12-18 23:55] mfix22 commented on #1144
@dst27 if you pick 2x or 4x in the export window, those settings will be honors when clicking "Copy image"

For what it is worth, 2x is the default, so if you want to use that, it will work out of the box.

Hope that helps!

[2020-12-18 23:55] #1144 closed

[2020-12-19 05:39] dst27 commented on #1143
Thank you for your considerate response!
I use Copy to Clipboard and Download as SVG options the most apart from Download as PNG.
I think `ctrl + alt + c` and `ctrl + alt + s` shortcuts for these might be a good fit, though it would be extra sweet if we could customize them in the config menu!

[2020-12-19 18:02] AryanBeezadhur commented on #1148
@WhyNotHugo yes I am using the same site

Try clearing the cache and doing a hard reload by right-clicking the reload button when DevTools are open:

![image](https://user-images.githubusercontent.com/34424160/102696180-52c79700-4224-11eb-9bec-9bc9f0d78a92.png)

[2020-12-22 10:37] ThatAnonymousG opened #1149 "Nice loophole with Dracula Pro theme"
**Describe the bug**
When you write the code in some other theme and change the theme to Dracula Pro the text will remain unchanged which essentially allows you to use a paid theme for free because I can even export using this bug.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [https://carbon.now.sh](https://carbon.now.sh)
2. Write your code.
3. Use the Dracula Pro theme and try to

[2020-12-22 18:40] mfix22 commented on #1149
It's not a paid theme — you can use it on Carbon for free 🙂 The "Purchase" button is if you want to buy the theme for your own editor, locally.

[2020-12-22 18:40] #1149 closed

[2020-12-22 18:41] mfix22 commented on #1148
@WhyNotHugo which browser are you using?
![image](https://user-images.githubusercontent.com/8397708/102922029-386b0480-4442-11eb-98ec-d82322ecf3e2.png)

[2020-12-26 01:00] InnovativeInventor commented on #1021
@mfix22 @CraigFe Integrating something like this: https://github.com/rburns/ansi-to-html seems like the way to go.

[2020-12-26 13:29] WhyNotHugo commented on #1148
Right clicking has something completely different on Firefox. I did clear cache and reload though, with no change.

I'm on Firefox 84.0.1.

Here's the output of the debug console:

![image](https://user-images.githubusercontent.com/730811/103152272-6623b680-477e-11eb-9b19-59df45f3fedd.png)

[2020-12-26 17:30] AryanBeezadhur commented on #1148
As @mfix22 [pointed out](https://github.com/carbon-app/carbon/issues/1148#issuecomment-748375675):

---

It seems like copying images to the clipboard is not yet supported in Firefox.

[2020-12-28 11:02] WhyNotHugo commented on #1148
I've never had issues copying image to clipboard on Firefox.

Source: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Interact_with_the_clipboard

This version was release 19th April 2017.

[2020-12-28 19:53] AryanBeezadhur opened #1150 "Importing React not required"
In Next.js, importing `React` from `'react'` is not required as it assumes all files containing JSX will run React anyway.

According to [this answer on Stack Overflow](https://stackoverflow.com/a/63090441/12860895), **the line `import React from 'react'` is not required in any files which do not reference the `React` keyword** (in Next.js).

<details>
<summary>Code examples</summary>

`import Rea

[2020-12-29 13:56] Mr-Flamingo opened #1151 "Edit Padding"
![Screenshot_20201229-155344](https://user-images.githubusercontent.com/47935976/103288851-8194f880-49ee-11eb-94e2-d22a3a50fb77.jpg)

 I think it will be better if there is lsss padding around the coding area

[2021-01-01 23:56] george1410 opened #1152 "Broken link to tweet in Readme"
**Describe the change**
In the readme, the text `screenshots` in "You know all of those code screenshots you see on Twitter?" links to a tweet that no longer exists. Proposed solution is to combine multiple words as links to a single tweet as is the case for `those code` currently.

[2021-01-03 14:11] fisforfaheem opened #1154 "when we take a photo of long code it comed up very weird on word soucm,net please fix it and let us make it smaller etc"
![image](https://user-images.githubusercontent.com/35878088/103480690-7f200d80-4df7-11eb-89dd-751e54364775.png)
![image](https://user-images.githubusercontent.com/35878088/103480694-88a97580-4df7-11eb-8ac9-63c60b927d8c.png)

[2021-01-05 10:16] haschdl commented on #1147
hello @mfix22 and @made-indrayana I wasn't able to get it to work with `si=true` - do I append that after I pasted my code and make the other adjustments?
https://carbon.now.sh/?si=true => browsing from this link does not load the editor as a 1:1 aspect ratio, so I'm under the impression this is no longer working

[2021-01-05 11:20] made-indrayana commented on #1147
This is working when you export the image but yes, the editor doesn't really _show_ you what it looks like.

[2021-01-08 18:35] ReddyKilowatt opened #1156 "Why do you need access to the email addresses in my githib account in order to download carbon.sh?"

[2021-01-09 17:09] GDokmetas opened #1157 "Carbon does not generate medium link"
I am using carbon but it does not generate medium link and only does "https://carbon.now.sh/" URL.

[2021-01-13 03:19] #1152 closed

[2021-01-13 03:21] mfix22 commented on #1156
Responded in email thread, by copying here for posterity:

[2021-01-13 03:21] #1156 closed

[2021-01-13 03:22] mfix22 commented on #1154
Not sure what you mean by this question. Please clarify, and I will reopen.

[2021-01-13 03:22] #1154 closed

[2021-01-13 03:24] mfix22 commented on #1157
If you update any setting, or the code, and then click "Copy Medium.com", it will work

<img width="951" alt="Screen Shot 2021-01-12 at 7 23 27 PM" src="https://user-images.githubusercontent.com/8397708/104402689-b71c0480-550b-11eb-94a6-46114afdf278.png">

[2021-01-13 03:24] #1157 closed

[2021-01-13 03:24] mfix22 commented on #1151
You can adjust the padding in the settings:

<img width="1013" alt="Screen Shot 2021-01-12 at 7 24 30 PM" src="https://user-images.githubusercontent.com/8397708/104402747-d5820000-550b-11eb-98d1-3dbe353b481f.png">

[2021-01-13 03:24] #1151 closed

[2021-01-13 03:26] mfix22 commented on #1150
Thanks for the suggestion, but I will leave it as is, since everything is working 🙂

[2021-01-13 03:26] #1150 closed

[2021-01-13 03:33] mfix22 commented on #1143
I did not know this! Thanks for bringing this to my attention. What does command do on Windows currently?

[2021-01-13 03:37] mfix22 commented on #1143
@dst27 what would you want the shortcut for "Export as PNG" to be? I was trying to avoid <kbd>P</kbd> because of its association with "Print"

[2021-01-13 03:38] ReddyKilowatt commented on #1156
Why do you need to use firebase? No other github projects that I've
downloaded do this

On Tue, Jan 12, 2021 at 7:21 PM Michael Fix <notifications@github.com>
wrote:

[2021-01-13 03:47] mfix22 commented on #1156
You don't need to have an account to use Carbon. You only need to create a log in if you want to save snippets for later.

Carbon only support GitHub authentication at the moment.

[2021-01-13 03:53] mfix22 commented on #1148
Ahh, I see. FireFox has a custom API for copying image data:
https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/clipboard/setImageData

[code]

If anyone wants to add implement this, that would be much appreciated! Otherwise I will try and get to this soon.

[2021-01-13 08:55] WhyNotHugo commented on #1148
Oops. Actually, that particular API is for extensions, not websites. :sweat:

However, the [clipboard api page](https://developer.mozilla.org/en-US/docs/Web/API/Clipboard_API) does link to this article which explains how to copy images: https://web.dev/async-clipboard/

[2021-01-14 13:52] dst27 commented on #1143
@mfix22 I think `ctrl + alt + s` would be nice for exporting as PNG.
Thanks for working on this!

[2021-01-15 23:44] mfix22 commented on #1143
I'm going to try it with `preventDefault` and see if that works. If we run into issues, I'll reopen this.

[2021-01-15 23:44] #1143 closed

[2021-01-16 21:26] mfix22 commented on #1148
https://web.dev/async-clipboard/#write()

[2021-01-16 21:26] mfix22 commented on #1148
Going to close this as unfixable, but please reopen if FireFox eventually supports copying an image to the clipboard from the browser.

[2021-01-16 21:26] #1148 closed

[2021-01-20 10:12] Ajith-stark opened #1162 "SVG export fails to open in system image viewer"
**Describe the bug**
Exporting code into SVG is not working as expected. It exports data (xml data) but fails to render image all I can see is alpha channel (transparent background).
Opening it in editor shows some boilderplate code thats it no code that represents my input text.
I am not sure why it exactly happening but seems "foreignObject" is problem.

**To Reproduce**
Steps to reproduce the b

[2021-01-20 16:54] 11rchitwood opened #1163 "Tweet button not working on Safari"
**Describe the bug**
When I click the "Tweet" button on Safari, nothing happens.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://carbon.now.sh on Safari Version 14.0.2 (16610.3.7.1.9)
2. Click on "Tweet" using the default code
3. Nothing happens

**Expected behavior**
Expected tweet dialog to open.

**Info (please complete the following information):**

- OS: macOS
- Browser:

[2021-01-20 16:59] 11rchitwood opened #1164 "Autofill language from gist file extension"
When I append a gist id to the url, it would nice if the gists file extension was used to autofill the language from the gists file extension.

[2021-01-21 02:50] mfix22 commented on #1164
Hey @11rchitwood that is how the current application works, for all supported languages.

Is there a specific gist that wasn't working for you? Please post it here so I can test out the behavior.

[2021-01-21 02:54] mfix22 commented on #1163
@11rchitwood Safari unfortunately has made an update to block pop ups like this by default. If you click the button in the location bar to allow popups, it will be resolved for you.

[2021-01-21 02:57] #1163 closed

[2021-01-21 03:05] mfix22 commented on #1162
Can you share a Carbon link that reproduces this issue?

I expect this to be a duplicate of #943

[2021-01-21 13:07] Ajith-stark commented on #1162
Hey turns out my system image viewer (GNOME image viewer /Eye of GNOME) on Ubuntu fails to load image,
I tried opening different SVG file & it renders image as expected.
Also opening SVG file in inkscape shows only white background (I wanted to export it as pdf ).
code link ; https://carbon.now.sh/?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=blackboard&wt=none&l=text%2Fx-csrc&ds=true&dsyoff=20px&dsblur=

[2021-01-22 17:38] 11rchitwood commented on #1163
Thanks for the tip!

[2021-01-22 17:39] 11rchitwood commented on #1164
https://gist.github.com/11rchitwood/009026aedfa31e2fe72a3eb711a498e3

Here it is. Expected R language, but it was left blanks on macOS 11, Safari 14.

[2021-01-22 17:40] 11rchitwood commented on #1164
Might also be nice to populate alt text or tweet text from the gist text? Just a thought.

[2021-01-23 13:57] JekoTronik opened #1165 "Colorized Scheme code"
**Is your feature request related to a problem? Please describe.**
I like to code in Guile Scheme programming language. Actually, the best option to share code snippets with Carbon app is to select Lisp. It is enough for simple code snippets.

I would be so glad to see my Scheme code colorized like when I use highlightjs.

[2021-01-24 01:30] mfix22 commented on #1164
Since that file is named `.R`, GitHub treats it as the "Rebol" language (http://www.rebol.com/)

This is how Carbon currently works. The Twitter Alt text is automatically populated with the code, no matter where it is imported from.

[2021-01-24 01:30] #1164 closed

[2021-01-24 01:32] mfix22 commented on #1165
Hey @JekoTronik, feel free to use the "Lisp" theme for Scheme code. You can find that option in the Language dropdown.

Example: https://carbon.now.sh/?l=commonlisp

[2021-01-24 01:32] #1165 closed

[2021-01-24 01:33] mfix22 commented on #1162
Makes sense! This is indeed a duplicate of #943. Certain applications don't know how to render a foreignObject correctly, and it can lead to visual glitches like this. At the moment, we don't know a way around this problem.

We are tracking this issue over in #943, so I'm going to close this.

[2021-01-24 01:33] #1162 closed

[2021-01-26 09:52] andymcdgeo opened #1167 "Auto Converting of Symbol >="
**Describe the bug**
When creating snippets in Python that use '>=', it is automatically converted to a > with the underline in line with the symbol as seen in the screenshot below. To work around this, I have to introduce a space between the > and = signs, which is incorrect syntax in Python.

![image](https://user-images.githubusercontent.com/36664410/105828692-5684d100-5fbb-11eb-9018-4432ca9066

[2021-02-05 03:23] mfix22 opened #1169 "Replace axios with redaxios"
https://github.com/developit/redaxios

[2021-02-05 03:33] mfix22 commented on #1167
@andymcdgeo this just a part of the Font you are using. The symbol is called a ligature (if you were curious), and is very much intentional.

If you don't want this behavior, you can change the font in the settings.

[2021-02-05 03:33] #1167 closed

[2021-02-05 03:36] mfix22 commented on #908
Closing since our team isn't going to create this — happy to add it to our README is someone creates this!

[2021-02-05 03:36] #908 closed

[2021-02-07 00:45] #688 closed

[2021-02-12 23:46] DeepSpace2 commented on #325
So, I took another stab at it today. The culprits are multiple `user-select` (with `auto` and `none` values) properties in inline CSS of several `<svg>` tags in the generated document. Will you be interested in a PR that remove these?

[2021-02-17 02:08] mfix22 commented on #325
@DeepSpace2 yup! As long as nothing else breaks 👍

[2021-02-17 02:15] #1169 closed

[2021-02-17 03:06] mfix22 opened #1171 "Fix Cypress tests on `main`"

[2021-02-23 03:20] #1171 closed

[2021-02-23 03:27] mfix22 opened #1176 "Fix CI"
CI `build` is failing for weird reasons

[2021-02-23 03:34] #1176 closed

[2021-02-24 00:45] vtmx opened #1177 "Font IBM Plex Mono is in italic"
<img src="https://i.imgur.com/gQO3Hto.png">

[2021-02-26 00:35] daniel347x opened #1178 "Catastrophic automatic save problem completely prevents auto-saving snippet changes"
**Describe the bug**

Creating a new snippet and pasting code saves automatically and successfully (the first time). Any and all changes made thereafter never save, but spit errors into the developer console. This is true both on Chrome and Firefox. Screenshot of error is provided.

**To Reproduce**

1. Load the website
2. Paste some code
3. Watch the "Saved" toast appear
4. Edit the code
5. The s

[2021-02-27 23:36] questionlp commented on #1177
It looks like the `@font-face` referenced in `components/style/Font.js` needs to be replaced with something like the following:

[code]

[2021-03-01 04:24] mfix22 commented on #1178
Huge apologies @daniel347x — there was some strange regression when we replaced `axios` with `redaxios` 😞

It should be fixed now. Again, super sorry about this.

[2021-03-01 07:13] adghayes commented on #1177
In #324, IBM Plex Mono was added intentionally as italic. In #394, @mfix22 suggested using IBM Plex Mono when an italic font is needed. It's possible people are using the font as their only built-in italic option.

@mfix22 seems like there are a few ways of addressing, if we settle on which is best I can make a PR:
1. Rename existing `@font-face` to `IBM Plex Mono Italic` in UI. Would remove the f

[2021-03-01 09:49] YazeedAlKhalaf opened #1179 "Add languages support for website "carbon.now.sh""
**Is your feature request related to a problem? Please describe.**
Some people like to use their native language on websites so I suggest adding support for languages on the site.

I would like to do the Arabic translation since I am a native speaker if this suggestion is accepted.

Translators:

- [ ] Arabic translation: [Yazeed AlKhalaf](https://github.com/YazeedAlKhalaf)

If you want to do a la

[2021-03-01 13:34] Odyssey346 opened #1180 "Add the Breeze Dark/Light theme"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
I would like to see a Breeze Dark/Light option for Carbon.

**Describe alternatives you've considered**
None.

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-03-01 16:33] questionlp commented on #1177
Without knowing the history of the decision and using IBM Plex Mono as my default font in my IDE and terminals, it's a bit odd that it was the only font that was italicized and I found this issue. My vote would be for option 2.

[2021-03-02 00:26] vtmx opened #1181 "What version of Fira Code in Carbon?"
The current version of carbon is the same as the current version of FiraCode?
I checked the recent FiraCode docs, and saw the number zero current is a slash not a dot.

<img src="https://raw.githubusercontent.com/tonsky/FiraCode/master/extras/stylistic_sets.png">
<img src="https://i.imgur.com/Hq0QH53.png">

[2021-03-03 02:58] zhqu1148980644 opened #1182 "The exported svg file can not be open in svg edit appilications"
**Describe the bug**
The exported svg file can not be correctly opened in svg edit applications like `Inkscape`.

**To Reproduce**
1. export any python code to svg file.
2. open in Inkscape(macos verions)
3. Only blank shown in the application.

**Expected behavior**

show the svg correctly

**Screenshots**
![image](https://user-images.githubusercontent.com/29366130/109745591-15618b80-7c0f-11eb-86

[2021-03-04 12:50] Edudjr opened #1183 "Auto-adjust width is apparently broken"
**Describe the bug**
Once you disable **auto-adjust width**, It never goes back again. If you try to enable again, it seems like it's worked, however if you update the page, auto-adjust is turned off again.

**To Reproduce**
Steps to reproduce the behavior:

1. Login with github
2. Create code snippet
3. Disable auto-adjust width
4. Enable auto-adjust width again
5. Reload page or open link in ano

[2021-03-04 20:37] adghayes commented on #1177
I had a chance to discuss offline with @mfix22. We decided it makes best sense to switch from italic to regular rather than have italic or have both fonts. People can still create italic screenshots by selecting the text and clicking the _I_ button. It doesn't look quite the same because the browser approximates italics rather than having italic-specific glyphs. We _could_ add italic glyphs by add

[2021-03-04 21:54] adghayes commented on #1181
It looks like the current version is 1.204, which is from 2016. Also the CDN for the font is deprecated. Made a quick PR to update to the latest version.

[2021-03-04 21:56] adghayes commented on #1182
Duplicate of #496

[2021-03-04 23:07] adghayes commented on #1183
it looks like this is not confined to the auto-adjust setting, I've replicated it with the Drop Shadow setting as well. It appears that any time a setting is changed back to a default setting, it is omitted from the snippet update request (firebase?). Line of code here:

https://github.com/carbon-app/carbon/blob/decf263b79af24f6763972987cf2373567ad376e/lib/api.js#L138

Fixing it seems like it woul

[2021-03-05 04:07] liesauer opened #1187 "few bugs about color"
1. have a preset transparent color would be great, we don't need to change `A` value to `0` everytime.
2. color value can not selete all, so if i have a specify hex code or rgba value, i need to delete every single alphabet and then type the value i need.
![image](https://user-images.githubusercontent.com/8676741/110065371-ee8b8c80-7da9-11eb-86a7-985b4330cd9c.png)
3. after changing everything to `

[2021-03-05 17:13] ognjenjevremovic commented on #1021
Hey @mfix22  👋

I wanted to contribute to the project (as a long time user of the app) and saw this issue open and labeled as a good first issue.
Since I didn't make any PR to `carbon` previously, I would probably need some guidance on how to start with this one.
Can you confirm that issue is still open (with no work being done) and is up for grabs? 🙂

If so, can you please provide more info on wh

[2021-03-06 04:52] cod3g3nki opened #1189 "Sign up attempt with 2FA results in firebase error message."
**Describe the bug**

**Sign up** for [Carbon](https://carbon.now.sh/), using a GitHub account and **Google authenticator** as the 2FA option, fails with an error message.

**To Reproduce**

Try to sign up with a two factor authentication method.

1. Go to 'https://carbon.now.sh/'
2. Click on 'Sign in/up', enter password & OTP (Google auth code)
3. See error: "Unable to process request due to miss

[2021-03-07 00:40] #1181 closed

[2021-03-07 00:41] #1177 closed

[2021-03-07 01:20] mfix22 commented on #1189
Hey @cod3g3nki were you trying to log in via an incognito window? Right now there is a Firebase bug preventing login in Incognito browsers.

[2021-03-07 01:21] mfix22 commented on #1189
(Could be a duplicate of https://github.com/carbon-app/carbon/issues/1058)

[2021-03-07 01:21] mfix22 commented on #1182
^ @adghayes is right here. We will track this issue over at #496. If you have suggestions for replacing the `foreignObject` implementation, please let us know.

[2021-03-07 01:21] #1182 closed

[2021-03-07 01:22] #1180 closed

[2021-03-07 01:23] mfix22 commented on #1179
Hey @YazeedAlKhalaf,
While that would be super cool, the core maintainer team does not have the bandwidth to support a feature like this long term. If we grow the contributor team, and have a straightforward solution for making translations, I would be open to reconsider.

Sorry if this is a disappointment for you.

[2021-03-07 01:23] #1179 closed

[2021-03-07 01:25] mfix22 commented on #1183
Great call @Edudjr! Thanks for submitting this; this is indeed a bug. Let's remove this `omitBy` implementation, and I will make those adjustments on the DB side instead.

cc @adghayes

[2021-03-07 01:46] mfix22 commented on #1187
You can just click the far left of the transparency slider 🙂

It actually is selectable, but the styles were broken making it seem like it isn't. I will fix this in a PR quick.

Good call 👍 This looks like an issue with `react-color` (https://github.com/casesandberg/react-color/issues/750, https://github.com/casesandberg/react-color/issues/523) — looks like there might be a work around. Will take

[2021-03-07 02:10] #1187 closed

[2021-03-07 04:28] cod3g3nki commented on #1189
No, I'm not using incognito mode. Now that you mentioned, I just tried to sign up again with different settings for cookies. Nothing changed.

![Screenshot_20210307-091728__01.jpg](https://user-images.githubusercontent.com/6880680/110228948-3388fd80-7f27-11eb-9df6-cebf0643f7c1.jpg)

![Screenshot_20210307-091617__01.jpg](https://user-images.githubusercontent.com/6880680/110228955-3b48a200-7f27-11eb

[2021-03-08 12:05] FrancescoSaverioZuppichini commented on #496
same here

[2021-03-09 03:25] #1183 closed

[2021-03-23 16:30] darahak opened #1198 "Cannot select text in exported SVG"
**Describe the bug**

I cannot select the text in the SVG exported by Carbon.

**To Reproduce**

1. Write some code in the editor
2. Click on the `Export` dropdown button
3. Select `Download SVG`
4. Open exported SVG in a browser
5. Try to use text selection

**Expected behavior**

I expected to be able to use text selection in the exported SVG. It was one of the advantages compared to exporting t

[2021-04-03 23:29] mfix22 commented on #1198
This is expected behavior! Sorry if that is not what you want to hear 😞

[2021-04-03 23:29] #1198 closed

[2021-04-07 01:11] mfix22 opened #1204 "Testing"

[2021-04-07 01:11] #1204 closed

[2021-04-08 06:41] danBamikiya opened #1205 "Closing Brackets Completion"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated that I have to close my brackets (I'm used to VSCode bracket completion).

**Describe the solution you'd like**
I'll like a closing bracket auto completion

I'll like to contribute that feature.

[2021-04-11 13:12] faisalsayed10 commented on #533
Hi,
I created a slackbot which enables you to use carbon in slack!
here's the source: https://github.com/faisalsayed10/carbon-slack/
you can self-host it by adding your own slackbot credentials!

[2021-04-13 11:46] samermurad commented on #549
Just in case someone comes here with the same frustration, I managed to get it working, always, by doing the following:

- It's important to not be logged in into carbon with github, so make sure you logout first
- Write the code that you intend to post (split it to a couple of snippets if it's too long, medium won't convert it otherwise)
-  Click on the clipboard icon and select "Plain URL", this

[2021-04-13 12:19] alessandro-calo opened #1206 "Typescript: function return type causes errors in syntax highlighting"
**Describe the bug**
In Typescript, adding the return type of a function causes some syntax highlighting errors in the following lines

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://carbon.now.sh
2. Paste the following TS code:
[code]

3. See the error. Notice that it's not simply about the string: the second `console.log` is highlighted differently as well (i.e. in Monokai,

[2021-04-16 05:45] cod3g3nki commented on #1189
After further testing, I've found that this bug appears only in Google Chrome and its variants. An attempt to achieve the same via Firefox browser ended up in a successful sign up & subsequent sign in.

[2021-04-16 05:45] #1189 closed

[2021-04-18 14:09] haru0017 commented on #1206
Hi,
The above error is true, but I  think it's a non-issue. This is because when you write a function, you probably write something like the following.
[code]
If you want to write a method instead of a function, you can write the class as shown below to get proper syntax highlighting.
[code]
Using highlight.js in carbon, but highlight.js does syntax highlighting correctly in your code. I couldn't

[2021-04-23 19:23] mfix22 opened #1209 "Why are there ads on Carbon?"
It’s a good question! We have long avoided advertising on Carbon, looking out for many alternative monetization options.

However, some of these options have encouraged us to block releasing new features unless they were behind a paywall, which is ultimately not that great for our users. Having a continuous revenue stream enables us to explore more costly improvements for Carbon.

So, we are tryin

[2021-04-23 19:25] mfix22 commented on #1206
Unfortunately, if this is an issue, it is due to an upstream issue with this Codemirror theme. I would suggest following up there if this is a pressing concern.

[2021-04-23 19:25] #1206 closed

[2021-04-23 19:29] mfix22 commented on #549
@samermurad I'm a little confused what this snippet does^.

If you click the "Copy Medium.com" you will get the correct URL that does _not_ contain `/embed` right? You only need to do this if you are using the "Plain URL" which, like you mentioned, doesn't work in Medium since they expect a specific encoding.

[2021-04-23 19:30] mfix22 commented on #533
Neat! @faisalsayed10 Feel free to submit a PR to add this bot to the "Community" section of our README

[2021-04-23 19:31] mfix22 commented on #533
While I'm here, just for clarity: if you paste a _saved_ Carbon snippet in Slack, the Carbon image will automatically unfurl inline with a link back to your snippet. Just in case people come here in the future looking for this Slack feature.

[2021-04-23 19:32] mfix22 commented on #1205
@danBamikiya I think this is a great idea!

[2021-04-23 19:42] danBamikiya commented on #1205
Just remembered this! I'll work on it now. From what I've observed, I'll be modifying Editor.js and util.js right?

[2021-04-23 19:49] mfix22 commented on #1205
I think i just got it working already, actually. Thanks for the great idea! Feel free to add yourself as a contributor under the "idea" category 💡

[2021-04-24 09:17] t-mangoe commented on #1129
Hi. I worked on this issue, and tried editing codes.
I added the size setting item("custom"), and made it enable to set width and height values.
How about this? If you like, please comment.
(I'm sorry for my poor English...)

![スクリーンショット 2021-04-24 14 06 10](https://user-images.githubusercontent.com/22494246/115953953-484a4080-a529-11eb-9190-a1ce6c2359f2.png)

[2021-04-24 13:59] VladimirCreator opened #1212 "Pressing “Space” does nothing"
**Describe the bug**
The problem with typing code. If you try to press “Space” then happens nothing.

**To Reproduce**
Steps to reproduce the behavior:

1. Tap anywhere in code editor
2. Press "Space"
3. See nothing happened

**Expected behavior**
There should appear a character ' '.

**Screenshots**
There are not screenshots.

**Info:**

- OS: iPadOS 14.4.2
- Browser: Safari
- Carbon URL: https:/

[2021-04-25 09:21] samermurad commented on #549
@mfilenko the JS snippet does both, the `encodeURI` fixes the encoding and the Regex replacement ensures that the /embed path is also there, pasting the outputted link in medium works, in edit mode, it will be displayed as an image, and will be selectable/scrollable when you publish.
That’s the way i got it working, “Copy Medium.com”, at least for me, pasted an image, and stayed an image after pub

[2021-04-27 20:54] alessandro-calo commented on #1206
@haru0017 you're exactly right – what I did was copy a method without including the surrounding class.
@mfix22 yes, I confirmed that the same also happens in Codemirror, so indeed no issue here with Carbon. I will follow up there. Thanks!

[2021-04-29 13:02] FabianBartl opened #1214 "How to disable the shortcut Ctrl+Shift+T to start carbon?"
The shortcut Ctrl+Shift+T is actually meant to open the last closed tab, but when I install carbon as a browser app, it seems that this shortcut is set to open carbon. How can I prevent this without having to uninstall carbon?

- OS: Windows 10
- Browser: Microsoft Edge Beta

[2021-05-04 05:16] lukehollenback opened #1215 "Syntax highlighting support for Godot's GDScript language."
I just recently tried to use Carbon to create an image of some [GDScript](https://docs.godotengine.org/en/stable/getting_started/scripting/gdscript/gdscript_basics.html) code. Unfortunately, the syntax highlighting wasn't quite right. It would be awesome to add GDScript as a supported language.

FWIW, I also tried Codye, but unfortunately found that it also does not support GDScript.

[2021-05-04 05:36] lukehollenback commented on #1215
There appears to exist a [GDScript add-on](https://github.com/highlightjs/highlightjs-gdscript) for `highlight.js`.

[2021-05-07 14:21] Cracklescreeper1 commented on #210
So, I wanted to use this to convert code to an image and send it on discord. Any api's to use with nodejs?

[2021-05-14 23:18] Lonli-Lokli commented on #358
I see in in readme that it can be integrated with markdown sites right?

Is there nay integration with dev.to? It is similar to medium and I cannot make it work even in Medium

[2021-05-20 07:54] thakreyn commented on #1212
@VladimirCreator, I guess the bug has either been fixed or there was an issue on your personal device. Because on reproducing the mentioned conditions, the 'space' worked fine and added the ' ' character.

[2021-05-20 10:27] qierkang opened #1217 "The site cannot be accessed,NO ISP MESSAGE"
**Describe the bug**
NO ISP MESSAGE
A clear and concise description of what the bug is.
![image](https://user-images.githubusercontent.com/17940151/118963155-c10db280-b998-11eb-8934-e1a77010b45f.png)
![image](https://user-images.githubusercontent.com/17940151/118963199-cc60de00-b998-11eb-95c3-fb40ab4afa36.png)
![image](https://user-images.githubusercontent.com/17940151/118962633-26ad6f00-b998-11eb

[2021-05-20 10:55] photonstorm commented on #1217
Working fine for me (from the UK) - you sure this isn't an ISP / network / firewall level issue?

[2021-05-21 09:29] qierkang commented on #1217
@photonstorm
I used other methods
I can't open it with 4G network

[2021-05-21 09:30] qierkang commented on #1217
![Uploading image.png…]()

[2021-05-21 09:56] photonstorm commented on #1217
Works fine on my iPhone (4G network), so I don't think 4G has anything to do with it.

I really think you're being blocked from accessing it for some reason. Which I doubt is anything Carbon can control directly, but I may be wrong. Perhaps their host does indeed block access? Would be very, _very_ surprised if that was true, though.

You could always download Carbon and run it locally. Then it wo

[2021-05-22 21:26] mfix22 commented on #1217
Sorry to hear you can't access Carbon from your location. We don't have any control over this access layer.

Thanks for the thoughtful response, @photonstorm. I would advise following those directions.

[2021-05-22 21:26] #1217 closed

[2021-05-22 21:28] mfix22 commented on #1212
Has anyone else been able to reproduce this? I have tested it on an iPad emulator, and it seems to function fine for me.

@VladimirCreator is this issue persisting?

[2021-05-22 21:33] mfix22 commented on #1215
@lukehollenback sorry, but we are no longer adding new language support, except for in extenuating circumstances. Hopefully custom themes will work for you.

If we hear about GDScript more, I will reconsider adding it.

[2021-05-22 21:33] #1215 closed

[2021-05-22 21:35] mfix22 commented on #1214
Hey @FabianBartl, we don't actually use/set/edit that shortcut, so I am assuming this is an issue with your operating system/browser configurations.

All shortcuts that Carbon uses can be found here: https://carbon.now.sh/about

[2021-05-22 21:35] #1214 closed

[2021-05-22 21:39] mfix22 commented on #1129
You can already set the width of the screenshot by dragging the corner of the editor. The height is set by the height of the code itself, plus the padding.

<img width="991" alt="Screen Shot 2021-05-22 at 2 38 37 PM" src="https://user-images.githubusercontent.com/8397708/119241474-6e083c80-bb0b-11eb-92a4-1d4629689561.png">

Setting the height explicitly doesn't align with this model for displaying

[2021-05-22 21:47] mfix22 commented on #210
Hey folks, Carbon has always had an API, which you can see if you generate a screenshot using Safari. It works by passing an encoded JSON blob to https://carbon.now.sh/api/image.

I really would like to open-source the API, but I just haven't had time to accurately document it.

Hopefully I'll have time to release the first class-API soon.

[2021-05-22 21:48] #1205 closed

[2021-05-23 05:00] VladimirCreator commented on #1212
@mfix22 Yes. Here is [a video](https://user-images.githubusercontent.com/49140851/119248879-8af54c00-bbad-11eb-9808-087b586b787d.MOV) that demonstrates the bug.

[2021-05-24 20:17] selahaddinh opened #1220 "alt-text support in html img"
**Is your feature request related to a problem? Please describe.**
An accessibility feature

**Describe the solution you'd like**
The given code can be written as plain text in the alt-text field

**Describe alternatives you've considered**
It is the only alternative I considered.

**Additional context**
check @katef 's Twitter for more on this... Kate is awesome.

[2021-05-26 07:58] anc95 opened #1222 "is there a React Component for carbon"
**Describe the solution you'd like**
When I write document by mdx, and I am lovely to add some pictures created by carbon. but if there will provide a React Component to create Carbon style, will bring great convenience.  Maybe it can be used as bellow
[code]

[2021-05-27 08:38] neerajcodes commented on #547
Carbon.now.sh  use dom-to-image library to generate images and svg from any div (dom) , unfortunately gif export is not possible with this library.
By @neerajcodes

[2021-05-27 08:40] neerajcodes commented on #358
Chrome extension is better integration.

[2021-05-28 13:40] t-mangoe commented on #1129
Oh, I did't know the feature. I got it.

[2021-06-03 08:38] trangcongthanh commented on #1222
I think prismjs/highlightjs will work better with MDX. And IMHO, if you embed code as an image, your mobile user will not happy.

[2021-06-10 07:43] wendydek opened #1226 "When there in an onClick in the code snippet it won't publish on Medium"
**Describe the bug**
If you add an onClick in a code snippet in Carbon and you copy the Medium url the url won't work.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://carbon.now.sh/
2. Create a javascript (react) code snippet that contains an onClick
3. Copy the medium.com link
4. Paste it in medium
5. The link won't parse

**Expected behavior**
The link should parse in medium

[2021-06-13 07:18] Tb-4-4 opened #1227 "The hex-code and the color chosen in the color field don't change to the color of a different element [Operator/Number/Variable etc] when selected. [In a custom theme]"
**Describe the bug**
I was trying to set a custom theme, and while trying to copy the hex code of the color I've set for 'Definition' to make it 'Keyword's' color as well, the color and the hex code shown didn't match the actual color the element had. That was because I had clicked on 'Background' before and all the hex codes and colors shown was that of the background-color.

[I don't know if _el

[2021-06-14 05:20] reyadussalahin commented on #1017
I'm facing the 1px border issue. Please take a look.

I'm providing you the url: https://carbon.now.sh/SEY0cEbGlDZZ2VAf5jkA

[2021-06-25 15:54] 5AbhishekSaxena opened #1228 "Social Media image dimension presets"
**Is your feature request related to a problem? Please describe.**
Add common social media image dimensions.

It is very common these days that people share code on social media platforms like Twitter, Instagram, etc, and each platform has its own post dimensions to avoid auto-cropping.

This feature would be really helpful and help the users to download the image using the defined dimensions inst

[2021-07-05 18:48] adasq commented on #210
I created some utility, which returns a blob with a image (generated by carbon.now.sh) based on github code snippet:
https://github.com/adasq/github-code-screenshot.
Live preview here:
https://github-code-screenshot.herokuapp.com/

[2021-07-07 08:45] hiulit commented on #1215
I want GDScript support too :D

[2021-07-15 13:34] samhita-alla opened #1230 "Unable to render code snippet on Medium"
**Describe the bug**
I'm unable to render one specific code snippet on medium. It works when the function name is not "coalesce"

**To Reproduce**
Steps to reproduce the behavior:

https://carbon.now.sh/?bg=rgba%28171%2C184%2C195%2C0%29&t=blackboard&wt=sharp&l=python&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=0&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=

[2021-07-23 10:40] illia-romanenko opened #1231 "https://carbon.now.sh/ - license for exported images"
Hi 👋,

first of all thanks for working on this project and providing an easy way to create beautiful code snippets!

I wanted to check what limitations (if any) for using exported images from https://carbon.now.sh/

I looked at terms:

Does this mean that exported images can't be used in commercial projects (private GitHub projects, internal documentation, etc...)? If so, are any guidelines availa

[2021-07-26 16:28] tycrek commented on #210
@mfix22  I'd be more than happy to help with this, so long as I know which file(s) needs to be documented (I assume this one? https://github.com/carbon-app/carbon/blob/main/api/image/index.js)

[2021-07-27 16:21] Williams-Ren opened #1232 "Coloring Does Not Support Regular Expression Operation?"
It seems that it does not support coloring the regular expression in any language? Here is my code in python:

[code]

And here is how it looks:

![image](https://user-images.githubusercontent.com/45218090/127190252-f1cb9a58-14f1-4c77-8618-2ef2b8bad909.png)

Here is what it supposed to look like in Pycharm theme Material NightowlL:

![image](https://user-images.githubusercontent.com/45218090/12719

[2021-07-30 18:30] FrenchMajesty opened #1233 "Settings not saving"
**Describe the bug**
The "Editor" settings that I select do not persist. If I close Carbon and re-open, the customized options are gone and I would have to re-select them again.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Settings
2. Click on Editor
3. Toggle "Line Number" to on
4. Export a random image screenshot (which has line numbers)
5. Close/Reopen Carbon
6. Line numbers not

[2021-08-01 02:05] e-dong commented on #753
This is still an issue

[2021-08-02 18:51] feverdreme opened #1234 "Making it easier to export images with custom highlighting/syntax rules"
In the development of a relatively small programming language, it often comes that syntax highlighting is at most limited to ide extensions in vs code, atom, etc.

Creating such an extension requires to use of custom syntax rules: (defining tokens, special sequences, etc). Making it easier to have carbon take in custom language rules could make exporting images much easier. The only workaround I h

[2021-08-14 20:18] zidingz opened #1238 "Trying to get in touch regarding a security issue"
Hey there!

I'd like to report a security issue but cannot find contact instructions on your repository.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to ensure security issues are responsibly disclosed,

[2021-08-14 23:21] mfix22 commented on #1238
Hey @zidingz — please email carbon.now.sh@gmail.com. Thanks.

[2021-08-14 23:41] mfix22 commented on #547
This is true, however as @JessicaSachs demonstrated above, it is possible to combine this with a GIF library to create them. I haven't had time to implement this feature, though.

[2021-08-14 23:45] mfix22 commented on #1220
Hey @selahaddinh — we actually do support automatic alt text for platforms like Twitter. If you are embedding a Carbon image yourself, it is your responsibility to include the alt text yourself. This process is outlined under carbon.now.sh/about.

[2021-08-14 23:45] #1220 closed

[2021-08-14 23:49] mfix22 commented on #1233
Hey @FrenchMajesty — i was not able to reproduce the issue using the steps you shared. This is currently working as expected. If you could share a video of the issue being reproduced, I'll look again. Thanks.

[2021-08-14 23:49] #1233 closed

[2021-08-14 23:50] mfix22 commented on #1232
Hey @Williams-Ren — the coloring for each these is up to the specific Codemirror theme authors. Please take it up with the maintainers of those packages, of push a PR with a fix for this yourself. Thanks! 🙂

[2021-08-14 23:50] #1232 closed

[2021-08-14 23:51] mfix22 commented on #210
Yes 👍

[2021-08-14 23:52] mfix22 commented on #1231
Sorry if the terms are unclear. You have full creative control with the images you generate using Carbon.

[2021-08-14 23:52] mfix22 commented on #1231
Really appreciate this thoughtful question! 🙏

[2021-08-14 23:52] #1231 closed

[2021-08-14 23:56] mfix22 commented on #1230
Wow! This is a crazy bug, @samhita-alla. This looks like it is a limitation of the Medium embed platform. Fixing this bug requires a change to Medium, so could you please send this to Medium support?

Thanks for posting.

[2021-08-14 23:56] #1230 closed

[2021-08-14 23:57] mfix22 commented on #1215
Does the Python syntax work for you?

[2021-08-14 23:59] mfix22 commented on #1226
@wendydek — please share a Carbon URL that recreates this issue, as specified in the issue template.

If you comment above with a link that recreates it, I will reopen this issue. Thanks.

[2021-08-14 23:59] #1226 closed

[2021-08-15 00:00] mfix22 commented on #1228
Hey @5AbhishekSaxena, we actually do support square images, as shown here: https://github.com/carbon-app/carbon/issues/1147#issuecomment-748376703

For other ratio, please drag the edge of the window to set the size you desire. Thanks!

[2021-08-15 00:00] #1228 closed

[2021-08-15 00:02] mfix22 commented on #1222
Hey @anc95, unfortunately no, this is not something we want to support. Carbon relies on Codemirror, which is a library you can use very similiarly to how you describe above.

Check out [react-codemirror2](https://github.com/scniro/react-codemirror2) — should be perfect for your use case 👍

[2021-08-15 00:02] #1222 closed

[2021-08-15 00:02] #1129 closed

[2021-08-15 00:13] #1227 closed

[2021-08-15 00:13] mfix22 commented on #1227
Thanks @Tb-4-4 for this excellent bug report! Just pushed up the fix, and the change should go out later today.

Cheers!

[2021-08-15 04:38] Tb-4-4 commented on #1227
No problem, thank you!

[2021-08-15 19:08] mfix22 commented on #1238
@zidingz 63e85a9c5539645acd2760e8d70da5abcf7179dd

[2021-08-16 01:33] mfix22 opened #1244 "Upgrade to Next.js 11"
Right now when upgrading to Next.js 11, there is an issue rendering the CodeMirror editor. I believe it has something to do with global CSS.

[2021-08-16 15:17] zidingz commented on #1238
Awesome, thanks!

[2021-08-16 15:17] #1238 closed

[2021-08-18 21:41] JessicaSachs commented on #547
@mfix22 if I rebased, would you be able to take it over the line?

[2021-08-20 07:10] manasp2004 opened #1246 "add gruvbox theme (light and dark)"
**Describe the solution you'd like**
I'd like someone to add gruvbox theme (both light and dark)

[2021-08-20 07:32] CandyKIng1991 opened #1247 "how to install?"
please see this blog, i think i cannot  understand the office how  to use  in IDEA?

https://www.cnblogs.com/liuyangfirst/p/15166673.html

[2021-08-20 23:56] BeckhamL opened #1248 "Remove scrollbar when using iframe"
When I use iframe, a scrollbar appears. I've tried hiding the scrollbar using CSS to no avail. Is there an option I can set that removes it?

![image](https://user-images.githubusercontent.com/17030246/130303506-ab8d58e2-7a79-428e-ae2a-585220f877ae.png)

[2021-08-21 00:49] #1248 closed

[2021-08-21 18:15] mfix22 commented on #547
@JessicaSachs unfortunately, I don't have much time for feature development at the moment 😞 If you rebased and pushed up a PR, that could be good so I can work on it steadily in the background, though.

[2021-08-21 18:16] mfix22 commented on #1247
Hi, I'm not sure what that blog post is asking you to do, sorry.

[2021-08-21 18:16] #1247 closed

[2021-08-21 18:18] #1246 closed

[2021-08-21 18:20] mfix22 commented on #697
Closing to track in #725 instead

[2021-08-21 18:20] #697 closed

[2021-08-21 18:23] mfix22 commented on #1212
@VladimirCreator — is this the issue you are noticing: https://github.com/codemirror/CodeMirror/issues/3403?

[2021-08-21 18:50] VladimirCreator commented on #1212
@mfix22 No.

[2021-08-24 06:07] CandyKIng1991 commented on #1247
There are no screenshots and articles on the official website on how to use the software.
When installing in China, programmers found that clicking can not open the image generation page.
Write articles to support this plug-in.

[2021-08-24 06:09] CandyKIng1991 commented on #1247
When you first install, you can't find where to operate the software anyway.
Neither the official website nor here of idea describes how to find the operation location when combining idea.
Personally, I think this is a good plug-in. I hope more people can use it, so I wrote a blog.

[2021-08-28 18:48] hiulit commented on #1215
@mfix22 No, it doesn't. GDScript is quite different to Python, actually

[2021-09-04 08:39] StErMi commented on #935
hi there, Solidity highlighting is still not working. I'm testing from Chome (last stable version) on macOS

[2021-09-07 04:31] jeremynguyencs commented on #1244
Tried to work on this!

[2021-09-12 04:32] thepeoplesbourgeois commented on #496
@mfix22 It looks like this might be usable, dom-to-svg: https://www.npmjs.com/package/dom-to-svg.

It looks like it … might've even been born out of frustrations … with a number of unfixed issues in this project.

[2021-09-12 21:06] mfix22 opened #1253 "Test"

[2021-09-12 21:06] #1253 closed

[2021-09-18 16:26] fabidick22 opened #1255 "Integration with Github gists"
is it possible to use GitHub gists as source code/db? I think it would be great if Carbon could get the latest version of an gist and thus keep Carbon in sync with the latest changes made to your public gist.

[2021-09-19 06:47] Soft-Bred opened #1256 "PNGs aren't exporting correctly on FireFox"
**Describe the bug**
Image export doesn't treat plank spaces well.

Edit: On FireFox, the Carbon site shows the text in correct monospace spacing, while in chrome & Brave it is shown in normal spacing and not in a monospace spacing.

Edit 2: On brave they export just fine, seems to be a firefox problem

**To Reproduce**
Steps to reproduce the behaviour:

1. Paste the following into carbon snippet:

[2021-09-23 01:28] sukima commented on #1212
Yes I can confirm. On iPad (10 inch) in landscape orientation if I type `const foo` the result is `constfoo` and the screen attempts to _scroll_ during the press of the <kbd>space</kbd> button.

I think this is a case that if the viewport feels the need to scroll that the <kbd>space</kbd> causes a scroll-down event and the editor never gets the keyboard event.

[2021-09-23 15:46] dsaltares commented on #1215
Would love to see support for GDScript.
Godot Engine is rapidly increasing in popularity. Github, for example, has `.gitignore` presets for Godot/GDScript projects.

[2021-09-24 19:33] PriyanshBordia opened #1258 "Success Message when copied to Clipboard.!"
**Is your feature request related to a problem? Please describe.**
[code]

**Describe the solution you'd like**

**Describe alternatives you've considered**
- Nothing

**Additional context**
- Other than that really enjoyed using the app. Keep the good work up.!!

[2021-09-26 22:26] oconnelltoby opened #1259 "Code is horizontally clipped when viewed in Medium as embedded content"
**Describe the bug**
Code is horizontally clipped when viewed in Medium as embedded content

**To Reproduce**
- Use https://carbon.now.sh/ to generat a code snippet
- Paste embed URL into a Medium article + hit enter
- You should be able to see clipped code with no way of horizontally scrolling

**Expected behavior**
I would expect to be able to scroll left and right to see the rest of the code

*

[2021-09-26 22:27] oconnelltoby opened #1260 "Unable to turn off line wrapping using https://carbon.now.sh/"
**Is your feature request related to a problem? Please describe.**
I am using medium to try and present code snippets related to articles I am writing and it is very hard to understand code that is excessively wrapped on mobile screens.

This is related to https://github.com/carbon-app/carbon/issues/1259

**Describe the solution you'd like**
I would like to be able to turn line-wrapping off entire

[2021-09-28 05:19] jacobmstein commented on #210
Just finished up a simple Java API I plan on releasing shortly inspired by Carbonara using Microsoft's Playwright. Should do until the official API comes out.

[2021-10-13 00:12] adityamwagh opened #1263 "Support for BASIC programming language."
**Is your feature request related to a problem? Please describe.**
My professor asked us to do the Mechatronics programming assignments in the BASIC programming language. (Don’t ask me why, I guess he’s living in the 90s lol). I want to present it well, so that’s why I need this option to beautifully portray my BASIC Code.

**Describe the solution you'd like**
An option to select the BASIC Program

[2021-10-13 03:33] mfix22 commented on #1215
Hey @dsaltares, is there a CodeMirror language mode for GDScript?

[2021-10-13 03:34] mfix22 commented on #1263
Try the VB.net language mode 🙂

[2021-10-13 03:34] #1263 closed

[2021-10-13 03:41] #1258 closed

[2021-10-13 03:45] mfix22 commented on #1260
@oconnelltoby please record the issues you are facing in #1259

[2021-10-13 03:45] #1260 closed

[2021-10-13 04:01] mfix22 opened #1264 "Update deploy script to use `vercel` instead of `now`"

[2021-10-13 04:23] #1264 closed

[2021-10-14 01:41] gkjohnson opened #1267 "Language Request: Add support for GLSL and other shader langauges"
**Is your feature request related to a problem? Please describe.**

I wanted to share a WebGL shader snippet but the Carbon page didn't seem to support GLSL or anything comparable.

**Describe the solution you'd like**

Include GLSL as a language option.

**Describe alternatives you've considered**

Taking screenshots from VSCode or using another language like C# to do highlighting which isn't per

[2021-10-15 20:15] adam-arold opened #1268 "Theme is not recognized as an option when setting query parameters."
I'm trying to call Carbon with this URL:

[code]

This should use the `Monokai` theme, but what I see is the `Seti` theme.

If I try to set it manually it works, but the GET parameter doesn't.

I tried this form Chrome, Edge and Firefox.

[2021-10-16 13:20] Knorrke commented on #1256
I'm not one of the maintainers, so will have to wait if the PR does get merged 😅 But for now you can change the font in the settings -> Editor -> Font to Fira Code. That one worked best for me
![grafik](https://user-images.githubusercontent.com/11499926/137589064-8d6c2d6f-60f3-4529-b361-1bb4ac87f5b0.png)

[2021-10-16 22:14] #1256 closed

[2021-10-16 22:17] mfix22 commented on #1268
https://carbon.now.sh/?t=monokai 👍

[2021-10-16 22:17] #1268 closed

[2021-10-18 06:23] SiddharthShyniben opened #1271 "Allow transparent backgrounds (behind editor)"
**Is your feature request related to a problem? Please describe.**
Having a transparent background will really help when integrating the photo in another bigger photo.

**Describe the solution you'd like**
Allow setting the background color to be transparent

**Describe alternatives you've considered**
Using photo editors to manually change it

**Additional context**
By background I mean the color

[2021-10-18 20:54] adam-arold opened #1272 "Width parameter is ignored when calling Carbon with query parameters."
I'm trying to call Carbon with this URL:

I'm trying to call this url: `https://carbon.now.sh/` with a `width` parameter, but it doesn't recognize it for some reason. I looked at the source code and I can see that it doesn't look at `width` at all. What's the reason for this limitation?

[2021-10-21 04:40] mfix22 opened #1274 "Fix this TODO"
https://github.com/carbon-app/carbon/blob/6fd6d99a8004f7ce258e27fa26956a526956a5cb/components/Editor.js#L140

Combine `type` and `format` to just use one param: `type`

[2021-10-21 05:55] AkshayHere commented on #1274
Hi, I would like to help with this.

[2021-10-22 20:00] Rumyra opened #1275 "Remainder and next character ignored if no spaces are set in javascript"
**Describe the bug**

I just 'carboned' this code: `let theta = (i%360)*angleSize;` and the result was `let theta = (i60)*angleSize;` the `%` was stripped as was the following character

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '…'
2. Click on '…'
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

I would expect this not to be st

[2021-10-29 20:34] Isaiah-Hamilton commented on #1271
@SiddharthShyniben Well, all you have to do is just go to the background color sector and change the Alpha value to 0. just like in the image below. Now your background color will be transparent.
<img width="1280" alt="Screen Shot 2021-10-29 at 4 29 40 PM" src="https://user-images.githubusercontent.com/70828596/139498273-8a0e7d97-38f0-4e14-ac84-8045453d773a.png">

[2021-10-31 05:19] SiddharthShyniben commented on #1271
Ok nice! thanks

[2021-10-31 05:19] #1271 closed

[2021-11-06 23:30] jnm2 opened #1276 "Cascadia Code"
There's a new open-source font that is now the default in Windows Terminal and Visual Studio: https://github.com/microsoft/cascadia-code

Would you be open to adding Cascadia Code and Cascadia Mono (the non-ligature version which I prefer) to the font list?

I'd be happy to try to figure out how to contribute the change.

[2021-11-08 02:19] mfix22 commented on #1276
@jnm2 typically aren't accepting new fonts to Carbon anymore, but this seems like a notable exceptions.

I would be willing to accept a PR that adds this font. Are there any other fonts on Carbon you think this could replace? What was the previous default for Windows?

[2021-11-08 02:33] mfix22 commented on #935
Feel free to open a PR to fix the solidity highlighting.

[2021-11-08 02:40] mfix22 commented on #1275
Hey @Rumyra,
I am a little confused by the issue 🙂 I just went to the link above, added a `%` in the spot you said it was missing, and then clicked export and got this image:
![carbon](https://user-images.githubusercontent.com/8397708/140675887-8a061d96-8539-45ce-901b-c9f985054ea1.png)

Here is a link to the source: https://carbon.now.sh/?bg=rgba%28216%2C211%2C226%2C1%29&t=one-dark&wt=bw&l=javascr

[2021-11-08 02:40] #1275 closed

[2021-11-08 03:35] #1272 closed

[2021-11-08 03:35] mfix22 commented on #1272
Thanks for the idea @adam-arold. Just added this as an option: you will be able to use the `width` param after our next release.

[2021-11-08 03:39] jnm2 commented on #1276
I don't know the answer to the first question. The previous default in both Windows consoles and Visual Studio and VS Code was Consolas. Before that, it was Courier New in Visual Studio and (I think) a raster font called Terminal in Windows consoles.

[2021-11-08 14:54] Rumyra commented on #1275
So something is stripping that `%` from Sublime to the browser - any ideas what?

[2021-11-09 17:09] adam-arold commented on #1272
This is great, thanks!

[2021-11-12 16:11] jnm2 commented on #1276
PR is up: https://github.com/carbon-app/carbon/pull/1278

[2021-11-12 19:49] joaquin-herrero opened #1281 "Support CMake language"
CMake is widely used on C++ projects.

It would be great to have Carbon supporting CMake language.

Here it is the syntax definition if it can help:
[CMake syntax](https://cmake.org/cmake/help/latest/manual/cmake-language.7.html#syntax)

Thanks

[2021-11-15 20:58] fharper opened #1282 "Background alpha channel 0 doesn't export transparent"
**Describe the bug**
When I put the alpha channel to 0 to get a transparent backround, the visible result in the browser is fine, but the exported PNG (or SVG) is showing the colour instead.

**To Reproduce**
Set alpha channel to 0 and export to PNG or SVG

**Expected behavior**
![CleanShot 2021-11-15 at 15 52 20@2x](https://user-images.githubusercontent.com/1170989/141852404-9287dc42-3ede-4362-b6

[2021-11-15 21:21] fharper commented on #1282
Stupidest issue I created: I activated the "show background" option in Preview... 🤦‍♂️

[2021-11-15 21:21] #1282 closed

[2021-11-18 03:30] oo-long opened #1283 "why not change an icon"
**Describe the change**
A clear and concise description of your proposal.

**Screenshots**
If applicable, add screenshots to help explain the issue.

**Info (please complete the following information):**

- OS [e.g. macOS, Linux, Windows, iOS]:
- Browser [e.g. Chrome, Safari, Firefox]:

<details>
  <summary>Code snippet</summary>
  <pre>

  </pre>
</details>

[2021-11-22 17:02] wurli opened #1284 "Highlight {roxygen2} comments in R code"
When writing R code it would be great to have {roxygen2} comments highlighted similarly to how it's done in RStudio. This isn't part of R's official syntax, but as most R users, and particularly package developers, now use roxygen and RStudio, I think it would make sense to include it in Carbon. Here's an example (using the theme Cobalt):

![highlighting-rstudio](https://user-images.githubusercont

[2021-11-24 00:11] mfix22 commented on #1284
Hey @wurli this change would have to be made in the Codemirror R mode package.

Please open an issue there, and consider fixing the issue upstream 🙂

[2021-11-24 00:11] #1284 closed

[2021-11-24 00:13] mfix22 commented on #1281
You can use the C++ or C modes: https://carbon.now.sh/?l=c-like

[2021-11-24 00:13] #1281 closed

[2021-11-24 00:19] #1276 closed

[2021-11-24 00:20] mfix22 commented on #1283
Not sure!

[2021-11-24 00:20] #1283 closed

[2021-11-24 00:47] #1274 closed

[2021-11-24 00:52] mfix22 commented on #1259
@oconnelltoby since you have recreated this issue, would absolutely love it if you were able to push up the fix for this.

[2021-11-30 20:41] JoshPaulie opened #1287 "Web app is unusable on mobile"
**Describe the bug**
The mobile version of Carbon is unusable in a few ways. Primarily because there is no mobile version. Scrolling horizontally is unavailable, cutting off many buttons.

**Expected behavior**
A mobile version of the app so one can quickly paste code into and export.

**Screenshots**
![image](https://user-images.githubusercontent.com/30572280/144124554-0f2635d7-8a3b-480f-9461-830

[2021-12-03 05:49] Yhozen commented on #935
Still not working

[2021-12-06 07:47] f1reflyyyylmao opened #1288 "Allow hiding window decorations"
**Is your feature request related to a problem? Please describe.**
It'd be nice if the site would provide the means to remove the window decorations. It's not hard to select and remove the html node, but I'd rather not do it every time.

**Describe the solution you'd like**
A fourth option alongside the others where I can choose "none"

[2021-12-06 13:06] rkoleci commented on #1288
Can you assign this to me ?

[2021-12-06 13:06] rkoleci commented on #1212
Can you assign this to me ?

[2021-12-06 13:07] rkoleci commented on #1021
Can you assign this to me ?

[2021-12-06 13:07] rkoleci commented on #781
Can you assign this to me ?

[2021-12-06 13:07] rkoleci commented on #743
Can you assign this to me ?

[2021-12-08 06:03] brzuchal opened #1289 "Code highlight doesn't support PHP Attributes"
**Describe the bug**
Code highlight doesn't support PHP Attributes

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [example](https://carbon.now.sh/?bg=rgba%28248%2C231%2C28%2C1%29&t=blackboard&wt=none&l=text%2Fx-php&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=true&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253C%253Fphp%250A%2523%255BFoo%25

[2021-12-10 07:14] BRO3886 opened #1291 "Text overlap issue while generating image from block (inconsistent wrapping)"
**Describe the bug**
When I copy the image to clipboard, the line-break for wrapping is different, so, while it looks fine on the website, the image comes out weird

**To Reproduce**
Steps to reproduce the behavior:
1. Copy the following code:
[code]
2. Paste on the website (Carbon)
3. Click copy to clipboard > as image

**Expected behavior**
Both the copied image and the editor output should look

[2021-12-12 21:24] #1244 closed

[2021-12-12 21:56] mfix22 opened #1294 "Upgrade Firebase to 9.*.*"
Follow this upgrade guide to upgrade Firebase to version 9: https://firebase.google.com/docs/web/modular-upgrade

[2021-12-12 22:02] mfix22 opened #1295 "Upgrade escape-goat to latest"

[2021-12-12 22:04] mfix22 opened #1297 "Upgrade ESLint to version 8"
https://eslint.org/docs/8.0.0/user-guide/migrating-to-8.0.0

[2021-12-12 22:05] mfix22 opened #1298 "Upgrade next-pwa to latest"
https://github.com/shadowwalker/next-pwa/blob/master/CHANGELOG.md

- [ ] Confirm that the Lighthouse audit still returns a perfect score for the PWA test

[2021-12-12 22:11] mfix22 commented on #1289
@brzuchal please submit this issue upstream to the Codemirror PHP mode.

[2021-12-12 22:11] #1289 closed

[2021-12-12 22:13] mfix22 commented on #1288
This can be done in the Settings menu:

<img width="971" alt="Screen Shot 2021-12-12 at 2 12 10 PM" src="https://user-images.githubusercontent.com/8397708/145731604-f0550e92-a726-48df-bf98-118aa708a7e4.png">

https://carbon.now.sh/?wc=false

[2021-12-12 22:13] #1288 closed

[2021-12-12 22:15] mfix22 commented on #1291
I'm sure this is an operating system specific issue. There are often weird issues in Linux, especially when using edge browsers

I will leave this open for other people to consider a fix, but this is not something the core team will fix ourselves.

Thanks for posting.

[2021-12-12 22:18] mfix22 opened #1299 "Upgrade highlight.js to latest"
Follow https://highlightjs.org/

[2021-12-13 19:17] github4maninder commented on #1297
Hi, I checked the package.json, should I just update the

    "eslint": "^7.32.0",                                -- to "^8.0.0"
    "eslint-plugin-import": "^2.25.3",
    "eslint-plugin-jsx-a11y": "^6.5.1",
    "eslint-plugin-react": "^7.27.1",
    "eslint-plugin-react-hooks": "^4.3.0",

should I just update this file or  anyother files or lines in package.json

[2021-12-15 03:49] github4maninder commented on #1294
I would like to work on this request. kindly assign this to me. thanks

[2021-12-15 04:35] github4maninder commented on #1294
Hi, I would love to contribute and work on this issue. Kindly assign this to me. Thanks

[2021-12-16 09:23] rizkytegar opened #1302 "delete photos uploaded on twitter"
When I entered the code in carbon.now.sh I accidentally hit the tweet button

the code is quite sensitive. how to remove code from twitter carbon_noreply ?

[2021-12-17 13:05] maifeeulasad opened #1303 "Add additional title/notes/copyright message"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Add some title as a window title maybe or copyright message or some other message at the bottom. Like:
##### Title:
![asdasd2](https://user-images.githubusercontent.com/29339330/146548723-3c71409b-9076-4d81-8721-bb0805de2113.png)
##### Copyright or additional message:
![asdasd1](https://user

[2021-12-18 19:29] github4maninder commented on #1294
Hi, update is now complete. should i do a pull request. I did see there is already a pull request for eslint. should i wait for that pull request to finish.

[2021-12-19 22:15] #1291 closed

[2021-12-28 07:49] yasarshaikh opened #1305 "Feature-Request : Create Macro for Confluence"
This is to use code natively without being worried about the IP. If a macro can be provided for #Confluence ( @atlassian )

[2021-12-29 00:52] mannyluvstacos commented on #1295
Hi @mfix22!

I opened PR #1304 and it requires some additional review from someone for a first-time contributor to the project.

Additionally, I was running into an issue with one of the integration tests related to taking a screenshot and would love your guidance when you have a moment!

If there are any additional steps I need to adhere to, I'd be more than happy to do so!

I'm looking forward t

[2022-01-06 17:22] zmoon opened #1308 "Fortran syntax highlighting"
**Describe the bug**
Carbon purports to support Fortran syntax highlighting, but it seems to not work as well as it should (given that it is using Highlight.js; https://github.com/Beliavsky/FortranTip/issues/24).

**To Reproduce**
See https://twitter.com/fortrantip/status/1477632693617799169/photo/1

**Expected behavior**
For the example above, https://github.com/highlightjs/highlight.js/issues/34

[2022-01-07 13:41] artemtech commented on #1148
according to Firefox documentation, you need to enable `dom.events.asyncClipboard.clipboardItem` config in `about:config` [1].
In my firefox, it was set false, after changing that config to `true` and refresh carbon.now.sh, copy image to clipboard menu shown

cc @WhyNotHugo  @mfix22

[1] https://developer.mozilla.org/en-US/docs/Web/API/ClipboardItem/ClipboardItem#browser_compatibility
![pict](http

[2022-01-10 09:34] dcshzj commented on #1299
Hello! I was looking to contribute to this project starting with this task but unfortunately, this task is blocked by upstream issues. I'm leaving a note here, in case anyone else is interested in working on this task.

Carbon uses dynamic imports when loading highlight.js, which works in highlight.js v10:
https://github.com/carbon-app/carbon/blob/c76585e8001e67c08100b81a02a2eee51ab32acc/lib/highl

[2022-01-10 11:52] dcshzj commented on #1308
I found that this bug arises from CodeMirror, and I have submitted an upstream PR to resolve it. I am not sure if there are additional changes to be made on carbon.

[2022-01-11 23:53] DarkArc commented on #1198
@mfix22 is there any reason this couldn't be made an option?

I was looking to share some code in an email, but I still want people to be able to copy and paste text for their reply. Granted there may be issues for plain text email users still...

[2022-01-17 07:32] hashlash commented on #210
Any update on this? @tycrek @mfix22

I've successfully tried the API with some catches (I'm not really familiar with Next.js code):

- Only for GitHub gists, can't pass the code directly yet.
- Can't pass the styling configuration yet.
- I don't understand the auth code. I tried using a POST request with empty `Origin` and `Authorization` headers.

Btw, the code has moved to [pages/api/image/[id].

[2022-01-17 07:45] marafiq opened #1312 "Support Tile and description area, where different styling and font can be applied"
**Is your feature request related to a problem? Please describe.**
Title & Description support in different styling than the code itself. So when folks click on the picture, they have the full context of the code.

**Describe the solution you'd like**
Support a Title & Description area limited to x characters; the user should set font & color.

**Describe alternatives you've considered**
Alternati

[2022-01-19 07:39] dcshzj commented on #1308
The bug seems to be fixed with https://github.com/codemirror/CodeMirror/commit/191ae470666f877d6598dce020e8bff2823a216f.

This is the output for the version that carbon is using (5.64.0):
![carbon](https://user-images.githubusercontent.com/27919917/150085183-afff87df-c3e1-46c2-9db4-3fd88ceafd5d.png)

This is the output with the commit above:
![carbon (1)](https://user-images.githubusercontent.com/

[2022-01-19 19:23] mbtools opened #1314 "Support 3rd party highlightjs packages"
**Is your feature request related to a problem? Please describe.**
The list of languages is limited to the core languages supported by hightlight.js. However, there are many 3rd party packages for other languages available (see https://github.com/highlightjs/highlight.js/blob/main/SUPPORTED_LANGUAGES.md).

**Describe the solution you'd like**
Add 3rd party packages to carbon (related https://githu

[2022-01-25 03:49] mfix22 commented on #1299
Thanks for looking into this @dcshzj!

[2022-01-25 03:58] mfix22 commented on #1303
Please use an addition image editors to add copyright information. If you want to add the Carbon copyright/watermark, you can do so in the settings men

<img width="955" alt="Screen Shot 2022-01-24 at 7 57 58 PM" src="https://user-images.githubusercontent.com/8397708/150908315-abfa2027-b005-4c3f-92c7-5c23052e1274.png">

[2022-01-25 03:58] #1303 closed

[2022-01-25 03:59] mfix22 commented on #358
Integration request for Confluence macro: https://github.com/carbon-app/carbon/issues/1305

[2022-01-25 03:59] mfix22 commented on #1305
Added this to integration requests issue. Closing this.

[2022-01-25 03:59] #1305 closed

[2022-01-25 04:00] mfix22 commented on #1295
@mannyluvstacos go ahead and take this issue. I think you just need to upgrade and fix the imports correctly. If you run into unrelated CI issues, you can ignore them.

[2022-01-25 04:03] mfix22 commented on #1314
@mbtools how would you suggest adding Highlight.js modes?

[2022-01-25 04:04] mfix22 commented on #1302
@rizkytegar please email us at carbon.now.sh@gmail.com and link the Tweet you want deleted. You can also post the link here, if you prefer.

[2022-01-25 04:04] #1302 closed

[2022-01-25 04:12] #1308 closed

[2022-01-25 04:15] #1297 closed

[2022-01-25 04:19] mfix22 commented on #1312
Hey @marafiq, not sure exactly what you mean by this idea, but it sounds like some complicated editing. For more complex editing, please export your image into editing software, like Figma, and make tweaks from there. We need to balance power with ease of use 🙂

[2022-01-25 04:19] #1312 closed

[2022-01-25 04:20] mfix22 commented on #1212
@rkoleci done!

[2022-01-25 04:25] MannyPamintuanAtCare commented on #1295
Hey there, @mfix22 !
Sounds good! I'll take this issue 👍🏽

[2022-01-25 04:33] mfix22 commented on #743
@rkoleci done! However, please feel free to submit PRs to fix any bugs without assignment. No need to claim issues before fixing PRs.

[2022-01-25 04:34] mfix22 commented on #781
Done. Please just feel free to submit PRs to fix issues without claiming them in the issues themselves.

[2022-01-25 04:36] mfix22 commented on #781
This is a duplicate of #743 (operating system specific overlay bug). Please continue the conversation on that thread. Thanks everyone for this discussion!

[2022-01-25 04:36] #781 closed

[2022-01-25 04:47] #1295 closed

[2022-01-25 04:48] mfix22 commented on #1295
@mannyluvstacos's PR already fixed this issue, @MannyPamintuanAtCare. Thanks for offering! Thanks @mannyluvstacos for submitting the fix.

[2022-01-25 04:50] mfix22 commented on #1295
@MannyPamintuanAtCare if you are interested in another issue, all of these are still available: https://github.com/carbon-app/carbon/labels/good%20first%20issue

[2022-01-25 05:13] mfix22 opened #1321 "Use Next.js recommended lint config"
See https://nextjs.org/docs/basic-features/eslint#migrating-existing-config

- [x] Ensure `yarn lint` still passes
- [x] Ensure `plugin:jsx-a11y/recommended` still works
- [x] Ensure `import` ESlint plugin still works
- [x] Ensure config is simpler with the Next.js lint

[2022-01-25 05:24] jnm2 commented on #1276
This change is now live at https://carbon.now.sh! https://github.com/carbon-app/carbon/releases/tag/4.9.0

[2022-01-25 08:52] mbtools commented on #1314
The integration is described in https://github.com/highlightjs/highlight.js/blob/main/extra/3RD_PARTY_QUICK_START.md

If I understand it right, you clone the 3rd party language repos you would like into the `extra` folder of your highlightjs. And then run the `build.js` that's included in highlightjs (Sorry, I'm not a build expert).

[2022-01-26 02:53] CheRayLiu commented on #1321
Hi @mfix22 could I get assigned to this?

[2022-01-26 03:48] CheRayLiu commented on #1294
Hi @mfix22 could I get assigned to this? Thanks!

[2022-01-26 05:14] mfix22 commented on #1314
@mbtools oh! Are you suggesting this for people that are cloning Carbon? We already have a custom modes folder, and there is a custom highlight.js loader hook that users can extend.

[2022-01-26 05:19] mfix22 commented on #1321
@CheRayLiu anyone can submit PRs to fix any issue, with no assignment necessary. I will accept the first contribution that appropriately/best solves the issue.

[2022-01-26 05:20] mfix22 commented on #1321
Looks like #1322 already starts the solution for this issue, but is not entirely complete yet.

[2022-01-26 05:21] mfix22 commented on #1294
Sure, but please don't feel the need to get assigned in order to submit PRs to fix issues. Anyone is allowed to submit a PR, even without assignment.

[2022-01-26 14:08] mbtools commented on #1314
thanks. i will give this a try when i find the time

[2022-01-26 14:08] #1314 closed

[2022-01-29 19:44] #1321 closed

[2022-01-30 16:54] alceil commented on #1298
I would like to take up this issue. Can you brief me about the issue a Lil bit and point me out to resources to get started! @mfix22

[2022-01-30 17:38] alceil commented on #1298
I have raised a pr. Please have a look @mfix22

[2022-01-31 08:20] Jnforja commented on #1287
Hi! I can help with this. Can I get the issue assigned to me?

[2022-02-02 06:20] KrishnB opened #1327 "Unable to access code snippets"
**Describe the change**
For the past couple of days, I'm unable to access code snippets on the carbon site.

Error: Application error: a client-side exception has occurred (see the browser console for more information).

**Screenshots**
![Screenshot 2022-02-02 at 11 48 53 AM](https://user-images.githubusercontent.com/17737220/152103735-edcccd1c-c3b2-4386-b04f-d7152f5e9c4f.png)

**Info (please comp

[2022-02-05 19:41] mfix22 commented on #1327
@KrishnB please post steps for reproducing this error. Which page did you see this on? If you could link to a reproduction, that would be great.

[2022-02-05 19:51] #1298 closed

[2022-02-05 19:54] mfix22 commented on #1287
@Jnforja you don't need to be assigned an issue to work on it (as it says in our [contributing guidelines](https://github.com/carbon-app/carbon/blob/main/.github/CONTRIBUTING.md)). Please go ahead and work on this 🙂

[2022-02-05 23:53] hszhai opened #1330 "Source code containing <script> tag cannot be copy/paste to medium.com"
**Describe the bug**
When the source code contains <script> tag, as used for JavaScript, after it copy/paste to medium.com, the code will not formulate the proper display.

The following image is an exmpale.
![image](https://user-images.githubusercontent.com/1051068/152662692-4d691353-bfe5-463e-9a86-0dd997e97d4d.png)

The same code, after deleting the line containing <script> will work properly.

[2022-02-06 03:22] Xiaorui-Huang commented on #775
it seems that custom themes may still have this problem,
I created my on gruvbox theme for python and the cursor is hardly visible on a black background.

![image](https://user-images.githubusercontent.com/42769475/152666368-a7b71d3f-ac89-47c5-af5d-e857bc00f51e.png)

for reference, this is the theme
<img src="https://user-images.githubusercontent.com/42769475/152666402-5dc475da-d33f-499e-843e-3810

[2022-02-06 13:47] DeveloperBlue commented on #210
Would it be possible to generate an embed to a github gist and pass theme and background color parameters to it?
e.g. `https://carbon.now.sh/<gist-id>?theme=monokai&backgroundColor=e55555` via the api?

Would be great for embedding in Medium posts

[2022-02-06 18:22] definesfineout opened #1332 "Support OpenDyslexicMono for Broader Accessibility"
I understand that requests for fonts are generally ignored, but I do believe this to be a potential exception. I'm also happy to submit a PR for this myself, and hope to confirm it may be considered before getting to work.

**Is your feature request related to a problem? Please describe.**
Readability is one of the primary goals of carbon, but has natural barriers for the 20% of the population who

[2022-02-07 03:24] Edudjr opened #1334 "Code Snippets are gone!"
**Describe the bug**
Today I checked [my Medium article](https://medium.com/geekculture/guide-to-prototype-pattern-in-swift-c6f4735d8e2b) which has many references to my Carbon snippets and they are all gone! Checking the "snippets" section on my account, I also cannot see anything.

**To Reproduce**
Steps to reproduce the behavior:

1. Login to account
2. Access Snippets

**Expected behavior**
Sn

[2022-02-07 04:09] DataSolveProblems commented on #1334
Having the same issue; code snippet is stuck on the loading page and all my embedded code snippets are gone.

PS: Still patiently waiting for the premium service to be released.

[2022-02-08 00:56] mfix22 commented on #1334
Duplicate of #1327. We have reached Firebase platform limits (with zero warning or notice) and are trying to get our access restored. We appreciate your patience and understanding.

[2022-02-08 00:56] #1334 closed

[2022-02-08 00:56] mfix22 commented on #1327
We have reached Firebase platform limits (with zero warning or notice) and are trying to get our access restored. We appreciate your patience and understanding.

[2022-02-08 02:15] mfix22 commented on #1330
Unfortunately this is a limitation of Medium embeds. Please contact Medium support if you would like this feature supported.

[2022-02-08 02:15] #1330 closed

[2022-02-08 02:17] mfix22 commented on #1332
@definesfineout I would be open to supporting Open Dyslexic Mono if it can be served from an easily accessible CDN.

[2022-02-08 02:20] mfix22 commented on #1327
I believe this issue has been resolved. Please bear with us if other complications come up.

If you notice similar issues, please open a new issue.

Thanks for your understanding!

[2022-02-08 02:20] #1327 closed

[2022-02-08 05:19] mfix22 commented on #210
This is already a supported feature. 👍  E.g. https://carbon.now.sh/embed/3208813b324d82a9ebd197e4b1c3bae8?bg=blue

[2022-02-08 06:30] DeveloperBlue commented on #210
Fantastic, is there any API documentation I can find for this and other parameters? I can't seem to get [https://carbon.now.sh/embed/3208813b324d82a9ebd197e4b1c3bae8?bg=blue&theme=nord](https://carbon.now.sh/embed/3208813b324d82a9ebd197e4b1c3bae8?bg=blue&theme=nord) working.

[2022-02-08 15:33] JoshPaulie commented on #1287
Unfortunately the mobile app (though infinitely more accessible) still doesn't scroll properly. Attached is a screenshot and bug reproduction steps!

- Navigate from mobile web browser
- Paste in code
- Open settings and set the width to anything other than automatic
- You can no longer view your code, as it is horizontally unscrollable.

[image](https://user-images.githubusercontent.com/30572280/

[2022-02-08 16:32] el-ang opened #1335 "Missing "Snippets" Action Menu"
**Describe the bug**
Missing "Snippets" Action Menu, but the page is still accesible by changing URL.

**To Reproduce**
How I got the bug:

1. So that time I was able to open snippet with the "Snippets" action menu.
2. I clicked the "Account" action menu.
3. In the "Account" page I accidently press the "Sign Out" button in the page navigation.
4. I tried to sign in again.
5. I open the action menu

[2022-02-09 01:41] mfix22 commented on #1287
@hatsu38 would you be able to take a look at this?

[2022-02-09 01:44] mfix22 commented on #1021
@ognjenjevremovic feel free to open a PR to implement this feature 👍

[2022-02-09 01:48] mfix22 commented on #1335
It's back up: https://carbon.now.sh/snippets 👍

[2022-02-09 01:48] #1335 closed

[2022-02-09 02:38] hatsu38 commented on #1287
Sure!
I have confirmed the scrolling problem.
I would like to try this weekend or next weekend.

[2022-02-09 09:02] Potherca opened #1336 "Question: Do I have to pay for embeds?"
In [my blog post on Medium](https://blog.devgenius.io/the-search-for-the-holy-grail-of-code-blocks-on-medium-502071931cac) I speak favorably of Carbon.

However, one of my readers pointed out to me that embedding Carbon snippets does not seem to work unless one has a paid account.

This seems to be reflected on the Account page:

![image](https://user-images.githubusercontent.com/195757/153160921-

[2022-02-19 23:03] mfix22 commented on #1336
Thanks for the question. That feature is now included in free tiers. Feel free to submit a PR to fix this 🙂

[2022-02-19 23:03] #1336 closed

[2022-02-26 20:33] mfix22 commented on #1332
@definesfineout any thoughts on implementing this? If you don't have the bandwidth to implement this, I will probably close out this issue as wontfix.

[2022-02-26 20:34] #725 closed

[2022-02-26 20:37] definesfineout commented on #1332
I am interested in implementing this - apologies for the delay, I just had
a major surgery Monday and am recovering.

Re: "easily accessible CDN" any guidelines or criteria there as to what
qualifies as easily accessible? Just so I can be sure I know what I'm
looking for before submitting a PR :)

Thanks!

On Sat, Feb 26, 2022 at 3:34 PM Mike Fix ***@***.***> wrote:

--
*Defines Fineout*
pronouns:

[2022-03-01 15:51] JoshPaulie commented on #1287
![image](https://user-images.githubusercontent.com/30572280/156201262-e7994af6-452e-47bb-bd9d-146918a49150.png)

Exporting on mobile heavily crops the output.

Reproduction steps
- Get sample code/text
- Open mobile browser
- Paste code
- Open settings via ⚙️
- **Uncheck the auto adjust width** setting
- Export

[2022-03-07 20:52] kolibril13 opened #1346 "Idea: Animated differences in code snippets"
**Describe the change**
My idea is to generate animations that visualize differences of two code snippets on a website similar to [carbon.now.sh](https://carbon.now.sh/).
**Videoexample**

https://user-images.githubusercontent.com/44469195/157110469-842f52ad-6ee9-43d0-969d-272c1bf01d85.mp4

This video was created with a video editor, but my intention is to create it automatically.

**Info:**
The c

[2022-03-08 01:31] el-ang commented on #1287
@mfix22 Did you use react in the source code of the web app? Because I might help styling the web app view for mobile version..

[2022-03-09 19:22] apparebit opened #1347 "Links to Terms and Privacy require Notion login"
**Describe the bug**

Links at bottom of page to "Terms" and "Privacy" end up on Notion page that asks for login.

**To Reproduce**

Click on links from private window in web browser (in case you are logged into Notion already).

**Expected behavior**

I don't have to provide credentials for *any* service to read a page's terms and privacy policy.

[2022-03-12 12:47] marles77 commented on #1178
This is still an issue. Autosave is a nightmare. Some changes are saved some not (but mostly not, regardless the "Snippet saved" snackbar). However, no errors are reported in the console.

OS: Win 10
Browser: Chrome (99.0.4844.51), Firefox (98.0)

What I would also suggest is to add a  button "Save changes" for explicit save.

[2022-03-13 01:10] #1347 closed

[2022-03-13 01:11] mfix22 commented on #1287
@hatsu38 do you have any idea how to resolve this: https://github.com/carbon-app/carbon/issues/1287#issuecomment-1055586425?

[2022-03-13 01:16] mfix22 commented on #1346
Hey @kolibril13, this is a super fantastic idea, and I think you should build it, but it is outside of Carbon's current scope, so I am going to close this issue. We do have a similar issue (#547), which I am keeping open. That issue accomplishes something similar to what you are proposing here.

Thanks for sharing 🙂

[2022-03-13 01:16] #1346 closed

[2022-03-13 07:26] hatsu38 commented on #1287
@mfix22 PR: #1349
I just created a pull request to solve it. Please check if you have time.

[2022-03-22 19:50] terrymorse58 opened #1351 "Exported image cut off - Safari Technology Preview"
**Describe the bug**

When using the Safari Technology Preview browser (Release 141 (Safari 15.4, WebKit 17614.1.3.8)), the Export command produces an image that is shifted to the left by about half the image size, leaving the left half of the image off.

**To Reproduce**

1. Open [carbon.now.sh](https://carbon.now.sh) in Safari Technology Preview browser
2. Click on 'Export'
3. See the image in D

[2022-03-23 15:16] cperezabo commented on #1351
It happens in the standard Safari 15.4 as well

[2022-03-25 04:10] r-martins opened #1355 "Add the filename to the image editor (like a tab)"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Some coding examples involves multiple files. Having the ability to specify the filename, like an editor's tab, would be very useful.
Here's an example (circled in blue).
![Cursor_and_Magento_Snippet__config_php_vs_env_php_-_mart_ricardo_gmail_com_-_Gmail](https://user-images.githubusercont

[2022-03-26 21:13] salastro opened #1356 "Add APL support"
**Is your feature request related to a problem? Please describe.**
There is no syntax highlighting for [APL](https://en.wikipedia.org/wiki/APL_(programming_language)).

**Describe the solution you'd like**
A beautiful syntax highlighting for the language (there are already a few implementations out there)

**Describe alternatives you've considered**
Using other languages does not work since there

[2022-03-28 02:58] ggdream opened #1357 "[BUG] `x` pre"
Please look this:
![carbon](https://user-images.githubusercontent.com/60403489/160318968-8a5c5bca-182f-4939-a537-b8bef829bb0c.png)
I can't remove `xxxx`

[2022-03-29 03:13] reviewher opened #1358 "`.proto` (protocol buffer) support"
highlight.js supports this with alias `protobuf`

[2022-04-02 15:48] rochacbruno opened #1359 "Add Gruvbox theme"
Please add support for one of the best coding themes

https://github.com/morhetz/gruvbox

![](https://camo.githubusercontent.com/a05028ef4dae5865098c508fc9f686b211f510198f07e6a5636734dbac618b30/687474703a2f2f692e696d6775722e636f6d2f476b496c38466e2e706e67)

[2022-04-02 19:28] mfix22 commented on #1355
You can add a title by typing in the input at the top of the editor:

<img width="939" alt="image" src="https://user-images.githubusercontent.com/8397708/161398275-3f997780-6504-4d8c-aa07-9b2c98acd9fd.png">

[2022-04-02 19:28] #1355 closed

[2022-04-02 19:31] #1358 closed

[2022-04-02 19:32] mfix22 commented on #1357
@ggdream please share a Carbon URL that reproduces this issue.

[2022-04-02 19:50] mfix22 opened #1360 "Update to react@18"
- [ ] Upgrade to `react@18`
- [ ] Take advantage of `useDeferredValue` instead of debouncing
  * https://reactjs.org/docs/hooks-reference.html#usedeferredvalue
- [ ] Use `useTransition` where we have a loading state
  * https://reactjs.org/docs/hooks-reference.html#usetransition
- [ ] Use `useId` for `id={}`
  * https://reactjs.org/docs/hooks-reference.html#useid

[2022-04-02 21:09] #1359 closed

[2022-04-03 02:30] mfix22 commented on #1351
@terrymorse58  @cperezabo I just tried it out on basic Safari, and it is working for me. Please share a link to a Carbon snippet that reproduces this bug.

[2022-04-03 02:32] mfix22 commented on #1212
@rkoleci do you have any updates here? Have you been able to reproduce the issue?

[2022-04-03 02:32] mfix22 commented on #1287
@hatsu38 sorry for the delayed response—just reviewed your PR.

[2022-04-03 09:11] ggdream commented on #1357
Please: [Example](https://carbon.now.sh/?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=material&wt=none&l=dart&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=4x&wm=false&code=void%2520main%28%29%2520async%2520%257B%250A%2520%2520%2509print%28%2522hello%2522%29%250A%257D)

[2022-04-05 12:02] pan93412 commented on #1351
I can reproduce it:

https://user-images.githubusercontent.com/28441561/161749499-e54d4190-7160-49ab-978a-fb9422a00843.mov

[2022-04-05 12:04] pan93412 commented on #1351
It works properly when outputting in 1x size. Besides, outputting in 4x made all the canvas white.

<img width="441" alt="截圖 2022-04-05 下午8 03 28" src="https://user-images.githubusercontent.com/28441561/161749680-bf5a200f-6f52-4af3-b943-76d43b147bbb.png">

[2022-04-05 19:31] #1356 closed

[2022-04-06 17:09] satvikDesktop opened #1361 "Cannot change the editor theme after applying color palette from background image"
**Describe the bug**
If you click the option of "generate color palette" after you select a background image and then change back to solid color you cannot change the theme of the editor .

**To Reproduce**
Steps to reproduce the behavior:

1. Change the background image
2. Click on "Generate Color Palette"
3. Change the theme of the text editor

**Expected behavior**
The theme of the editor shoul

[2022-04-09 17:25] tanusgit commented on #549
Still not working for me. pasted this link to medium and all it shows is the same url text, not even the image!

https://carbon.now.sh/?bg=rgba%2528171%252C+184%252C+195%252C+1%2529&t=seti&wt=none&l=text%252Fx-java&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=false&wa=true&pv=6px&ph=9px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%2525&si=false&es=2x&wm=false&code=public%252520static%252520int%252520max%2

[2022-04-10 03:22] afucher commented on #1357
I'm using Firefox, and this is not happening to me. I can't reproduce
<img width="365" alt="Captura de Tela 2022-04-10 às 00 21 41" src="https://user-images.githubusercontent.com/3756185/162600049-cadb926d-c1ac-471c-a7d8-315c1f49e470.png">

[2022-04-10 03:25] ggdream commented on #1357
That's so weird, I have this problem with every browser on my computer, Chrome, Firefox and Edge, do you have any guesses about this? @afucher

[2022-04-10 03:26] afucher opened #1363 "Cannot commit locally"
**Describe the change**
I made a fork using the instruction from CONTRIBUTING.md file. When I try to make a commit locally it runs the `pre-commit` tasks, and it fails on `npm run lint` due to some missing `.env` files.

[code]

**Screenshots**
If applicable, add screenshots to help explain the issue.

**Info (please complete the following information):**

- OS [e.g. macOS, Linux, Windows, iOS]: M

[2022-04-10 19:47] afucher opened #1364 "Add side-card to input some text information"
**Is your feature request related to a problem? Please describe.**
There is a template that people are using to share knowledge, is a short text description with the code, side by side. I created a discussion (https://github.com/carbon-app/carbon/discussions/1362).

**Describe the solution you'd like**
Be able to enable or disable a side-card, where I can edit a title, a body and possible a footer

[2022-04-10 19:50] afucher commented on #1363
I'm using the option with `--no-verify` so I can evolve in my development, but I don't know if is the best approach.

[2022-04-10 20:00] afucher commented on #1357
did you tried in incognito mode? Maybe some extension, or anything like this

[2022-04-11 17:53] roziscoding commented on #1364
This would absolutely fantastic!

[2022-04-16 22:57] chrimaho opened #1366 "Add a new button: Save"
**Is your feature request related to a problem? Please describe.**
Once I have added my code to the https://carbon.now.sh/ interface, my snippet will be saved. That's good! However, once I change some of the config (for example, change the language or change the styling), it then does not automatically save. That's bad.

**Describe the solution you'd like**
Down the bottom of the snippet, next to

[2022-04-19 13:23] lastmjs commented on #1231
Wondering the same thing, happy to have found this answer!

[2022-04-24 15:59] OnkelTem opened #1367 "How to get rid of the white border?"
When make Copy a snippet as an image or save it as PNG I get thick white border around the picture:

![carbon](https://user-images.githubusercontent.com/114060/164985124-a3df5f4d-c9bf-46cc-88f0-a0b06230f305.png)

It doesn't look good on Twitter:

![image](https://user-images.githubusercontent.com/114060/164985302-19290658-8706-46a4-bf2b-06e759207be9.png)

I ran through all the settings but haven't

[2022-04-30 12:53] OnkelTem opened #1369 "Encode snippets into URLs: One great feature for Twitter (and not only Twitter)"
Currently when you create a snippet, you can only copy the **image**, but you cannot share the code itself. So people cannot extend the code or even copy it.

Yet there is a clear and elegant way to solve this problem without implementing a snippets storage!

All you have to do, is to encode the current snippet and its display options into a GET LINK, and provide a new snippets VIEW page which is

[2022-05-07 18:44] mfix22 commented on #1363
If you run `touch .env` to create a `.env` file, it should work.

[2022-05-07 18:44] #1363 closed

[2022-05-08 07:14] tasty0tomato commented on #743
Broken on all the latest chromium based browser (Edge, Edge dev, Edge Beta, Edge Canary, Chrome, Chrome Dev, Chrome Beta, Chrome Canary), but works on the latest _Firefox Extended Support_ in Windows 10.

[2022-05-12 15:05] alirezaopmc opened #1370 "Selection is captured"
Hi this is my first time openning an issue in an open-source project. Fix me if I am wrong.

**Describe the bug**
Selected text is captured in the image copy.

**To Reproduce**
Steps to reproduce the behavior:

1. Fill the text field with some text
2. Select a part of the text
3. Copy the image and see it

You can use bellow code and select the second line.
[code]

**Expected behavior**
Maybe it's

[2022-05-13 01:53] CupidTian commented on #1357
I hava the same problem.
But I change my browser from edge to firefox,Yeah, it works! The 'x' disappear...
But I think it's really a common problem.

[2022-05-14 18:53] mfix22 commented on #1357
Can someone share steps to reproduce this issue consistently? I would love to fix.

[2022-05-14 18:53] mfix22 commented on #1370
This is intentional! If you don't wan the selection text to show up in the image, just undo the selection 🙂

[2022-05-14 18:53] #1370 closed

[2022-05-14 18:54] mfix22 commented on #1369
<img width="945" alt="Screen Shot 2022-05-14 at 11 54 03 AM" src="https://user-images.githubusercontent.com/8397708/168444811-730fb504-a5ce-4c52-9471-c3db23cbd119.png">

You can do this using this menu:

[2022-05-14 18:54] #1369 closed

[2022-05-14 18:55] mfix22 commented on #743
@tasty0tomato could you share a snippet that reproduces this issue?

[2022-05-14 18:58] mfix22 commented on #1367
@OnkelTem please share a link to a Carbon image that reproduces this issue.

[2022-05-14 19:08] mfix22 commented on #1366
Working on this feature!

[2022-05-14 19:08] mfix22 commented on #1178
I agree this is a better pattern. Working on this feature!

[2022-05-14 19:51] mfix22 commented on #1351
@hatsu38 I think this came from one of your recent PRs. Do you have time to take a quick look? Otherwise I think I will have to revert :/

[2022-05-14 20:19] mfix22 commented on #1351
@erikr @pan93412 @terrymorse58 @cperezabo this seems to be a regression in Safari somehow. Would love some help finding a bug fix here, if any of you have the time.

[2022-05-14 20:33] #1178 closed

[2022-05-14 20:33] #1366 closed

[2022-05-15 08:44] OnkelTem commented on #1369
Sorry, what do you mean in that menu?
It doesn't work for me.

[2022-05-15 09:01] OnkelTem opened #1376 "An unexpected error has occurred. Please file an issue here."
**Describe the bug**
Cannot save a snippet — an error appears:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://carbon.now.sh/LQKm5ukrOFt9VcyyXVFC
2. Click the "Save" button.

**Expected behavior**
Either new link should be generated instead or the same.

**Screenshots**
![image](https://user-images.githubusercontent.com/114060/168465140-ad68d7a4-11d1-4607-b3ed-3863076c

[2022-05-15 17:06] shikhar13012001 commented on #1361
Can I work on this issue? @satvikDesktop @mfix22

[2022-05-15 23:58] mfix22 commented on #1369
@OnkelTem sorry, I misunderstood your original message. We have 2 features that support your use case, if I understand correctly.
1. You can embed any snippet on a website using carbon.now.sh/embed. These snippets include a copy-button, which when clicked copy the code.
2. You can save the snippet to your Carbon profile. You can then share these links on Twitter, which will unfurl the image, and p

[2022-05-16 00:04] mfix22 commented on #1376
Thank you for filing this @OnkelTem—have the fix ready and is deploying right now. Sorry for the inconvenience.

[2022-05-16 00:06] mfix22 commented on #1361
@shikhar13012001 please do! 🙏

[2022-05-16 00:08] mfix22 commented on #1361
@satvikDesktop thank you for posting such a great bug reproduction video! We should be able to fix this shortly 👍

[2022-05-16 00:11] #1376 closed

[2022-05-16 00:21] mfix22 commented on #1361
Sorry @shikhar13012001, I guess I beat you to it here (#1377). In the future, you don't need permission to work on open issues! Feel free to work on anything that is open.

[2022-05-16 00:22] #1361 closed

[2022-05-16 00:24] mfix22 commented on #1361
@shikhar13012001 would love your help with #1351, if you have the time.

[2022-05-16 00:30] mfix22 commented on #1212
Closing as out-of-date. Please open a new issue if this persists.

[2022-05-16 00:30] #1212 closed

[2022-05-16 00:32] mfix22 commented on #1332
@definesfineout closing this since it is a theme/font issue. But like I mentioned above, please feel free to send a PR whenever you want.

[2022-05-16 00:32] #1332 closed

[2022-05-16 00:33] mfix22 commented on #753
Going to track this in #1259

[2022-05-16 00:33] #753 closed

[2022-05-16 00:34] mfix22 commented on #943
Going to track this issue as part of #496.

[2022-05-16 00:34] #943 closed

[2022-05-18 21:24] leiteg commented on #496
I am also having problems importing the SVG image in Inkscape, the canvas appears empty.

[2022-05-22 18:58] OnkelTem commented on #1367
Sorry for the delay.

I found out the reason. The white border is the style applied when you select the 3rd variant in the Window Controls menu:

![image](https://user-images.githubusercontent.com/114060/169711361-7510cc1a-528b-4801-a373-ee6a8ab5a502.png)

And as Twitter applies round borders on images, the original white border get croppe the way I showed above.

So it works as designed. Just avo

[2022-05-22 18:58] #1367 closed

[2022-05-22 19:03] OnkelTem opened #1379 "Copy Plain URL doesn't copy anything"
**Describe the bug**
Copying "Plain URL" doesn't work.

**To Reproduce**
Steps to reproduce the behavior:

1. Open https://carbon.now.sh/
2. Select the "Plain URL" item from the copy menu:

![image](https://user-images.githubusercontent.com/114060/169711470-bbee7075-122b-4be7-995b-ee850ca4d39c.png)

3. Open a new tab and paste the URL. It pastes just the site's root URL: https://carbon.now.sh/

**

[2022-05-26 14:22] cammarin opened #1380 "Window title not added to URL"
**Describe the bug**

When you edit the window title, the URL is not updated. So, refreshing the page or copying and pasting the URL, the title is blank.

This also impacts the copy function for iframe and plain URL.

**To Reproduce**
1. Go to https://carbon.now.sh
2. Edit window title
3. Refresh the page
4. Title is blank again

**Expected behavior**

Editing the window title should update the UR

[2022-05-26 21:12] sugatoray commented on #806
It will be nice to be able to highlight a line (instead of/in addition to changing the font color).

cc: @mfix22

[2022-06-04 22:52] OnkelTem opened #1386 "How to configuring development environment?"
Hi all!

I need help with configuring Carbon development env.
Since I didn't find any docs or gudelines for new contributors I had to search the source code to discover how to get firebase connection working. But I did it finally and now I can log in. But now the `Save` button doesn't work.
When I click it I get an error:

[code]

Any ideas what's wrong?
I run the app as: `$ npm run dev`

Thanks i

[2022-06-05 18:28] mfix22 commented on #1369
Carbon encodes the state as query params by default. We don't use base64 encoding since we want the params themselves to be legible: https://carbon.now.sh/?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=Test%21

[2022-06-05 18:30] mfix22 commented on #1386
Hey @OnkelTem, the snippet API is not currently public. Sorry about the inconvenience here.

[2022-06-05 18:30] #1386 closed

[2022-06-05 18:36] mfix22 commented on #1379
Does your browser have access to the clipboard? This works great on all browsers I have access to.

[2022-06-05 18:41] mfix22 commented on #1380
@cammarin this is actually intentional, since it is a feature we don't want to encourage strong use of: https://github.com/carbon-app/carbon/commit/3187b6777a1425f8ff63647ecea67b6f43cf2442

Could you explain more about your use case? I'll consider adding it back as a valid option.

[2022-06-05 23:10] OnkelTem commented on #1386
Then how do I develop anything?

[2022-06-05 23:12] OnkelTem commented on #1369
How do you recieve this URL?

[2022-06-05 23:14] OnkelTem commented on #1379
Of course it has. It just doesn't copy anything. I can make a video.

[2022-06-08 06:45] RookieJay commented on #1357
I have the same issue.

[example1:](https://carbon.now.sh/?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=material&wt=none&l=dart&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=4x&wm=false&code=void%2520main%28%29%2520async%2520%257B%250A%2520%2520%2509print%28%2522hello%2522%29%250A%257D)

![example1](https://user-images.github

[2022-06-12 15:01] paulrberg opened #1388 "Solidity no longer highlighted"
**Describe the bug**
I've been pasting Solidity code snippets into Carbon for a long time, and I always saw them highlighted correctly. But now that is no longer the case.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [carbon.now.sh](https://carbon.now.sh/).
2. Paste any Solidity code (see example below).
3. Click "Solidity" from the language dropdown.
4. See no highlighted code.

*

[2022-06-12 21:07] #1380 closed

[2022-06-12 22:52] mfix22 commented on #1063
This should have been fixed with dd9b43fcaef82ec2860dfcb6a378a126b9275a21. Please suggest further improvements in a new issue thread 🙂

[2022-06-12 22:52] #1063 closed

[2022-06-13 02:24] mfix22 opened #1389 "Help wanted: Codemirror sometimes temporarily shows incorrect editors"
In certain conditions, sometimes the editor is displayed incorrectly with this extra padding:
<img width="934" alt="image" src="https://user-images.githubusercontent.com/8397708/173268336-6c90511b-8a50-436c-a11c-a0e973d1b457.png">

However, it goes away when editing the code, **OR** even resizing the window. This must be a codemirror bug.

We need to find a work around.

[2022-06-13 02:55] #1388 closed

[2022-06-13 04:04] mfix22 commented on #1388
@alincode any idea why this would be? I had to temporarily inline the `codemirror-solidity` mode in order to fix this issue.

[2022-06-13 08:02] paulrberg commented on #1388
Thanks for the quick fix!

[2022-06-19 11:37] paulrberg commented on #1388
Unfortunately it looks like this still doesn't work.

<img width="920" alt="Screen Shot 2022-06-19 at 2 37 03 PM" src="https://user-images.githubusercontent.com/8782666/174478941-af55ecc5-4f78-4731-9f7c-0376d4726381.png">

[2022-06-20 18:52] asharonbaltazar commented on #1389
Hey, curious in trying to tackle this. Are you referring to this padding? It appears when selecting text and disappears when unselecting:

<img width="1035" alt="Screen Shot 2022-06-20 at 9 49 28 PM" src="https://user-images.githubusercontent.com/58940073/174662631-8671ccb1-6105-478c-90bb-9a498b0491ef.png">

If yes, then it's an `align-items: center` issue and not padding:

<img width="242" alt="S

[2022-06-20 18:54] asharonbaltazar commented on #1389
Assuming you confirm the above message, I'd like to try fixing it! I'd like to be assigned, if possible.

[2022-06-20 18:56] asharonbaltazar commented on #1389
Hello,

How can I recreate this issue? I'd like to try fixing it.

[2022-06-30 09:18] mahci commented on #549
For me also the embed links not working properly. This is the link I get when I click on copy > medium.com:

https://carbon.now.sh/?bg=rgba%2528100%252C134%252C161%252C1%2529&t=theme%253A8ke3uw77yvm&wt=none&l=text%252Fx-java&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%2525&si=false&es=2x&wm=false&code=import%252520javax.sound.sampl

[2022-07-02 18:01] bunnykek commented on #1198
Hello, I was also interested in the text selection feature. As the dev said that he has intentionally disabled it so I thought to fix it on my own.
I have made a python script. Just dump all the carbon-generated SVG files in the same folder containing this py file and run it.
A new folder named `modifiedSVG` will be created containing all the SVG with text-selection enabled ; )

[code]

[2022-07-06 02:26] 7flash opened #1394 "Feature Request: Capture pictures of all code in given repository"
**Is your feature request related to a problem? Please describe.**
When I want to checkout code in some repository.. need to open each file to read it's code..

**Describe the solution you'd like**
I would like to have all files unfolded in front of me.. next to each other on single canvas..

**Describe alternatives you've considered**
Currently I am taking screenshots of code manually and then pu

[2022-07-23 18:50] lokicalmito opened #1399 "Add an option to display the programming language in the image"
**Is your feature request related to a problem? Please describe.**
It's not really a problem, but it would be cool to just see what programming language that code was written into.

**Describe the solution you'd like**
A toggle in the settings panel or in the top bar which says "Display (programming) language" or something like that.

**Describe alternatives you've considered**
An alternative woul

[2022-08-03 06:03] noobyogi0010 commented on #1399
Hey, @lokicalmito
I would like to work on this issue if no one else has taken it up.
Thanks!

[2022-08-03 12:28] lokicalmito commented on #1399
Sure! Go ahead.

[2022-08-10 05:58] Abhinav-6 opened #1402 "Will love to retranslate the Hindi readme file."
Hindi readme file is not accurate. I want to retranslate the Hindi readme file.

[2022-08-11 18:06] RishithGandham commented on #1402
submit a pr?

[2022-08-12 13:49] realhackcraft opened #1403 "Compile and run Carbon locally"
**Question**
I want to run carbon source code on my computer locally.

**Problem**
Where is the entry point for npm and which command do I use to get next js to run?

[2022-08-21 13:07] baruchadi commented on #1351
👋 Hey there!
I have a quick patch for this issue here: https://github.com/carbon-app/carbon/pull/1405

It's my first time contributing to Carbon, so if a repo owner can take a quick look I'd appreciate it (changed 2 lines of code) 🙏

Cheers!

[2022-08-23 14:52] #1402 closed

[2022-09-04 11:59] Galaxy955 opened #1407 "The export picture is not complete."
**Describe the bug**
The bug will appear when exporting png and svg. If you choose to export 2x and 4x scale, the exported picture
 is not complete, like this:
![carbon](https://user-images.githubusercontent.com/31366757/188312086-dd816ab5-d559-49aa-899e-519cb31d6cc1.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://carbon.now.sh'
2. Click on 'Export', choose '2x' or '4x'

[2022-09-10 07:12] OkeyDev commented on #1403
You need [npm](https://nodejs.org/en/download/) and [yarn](https://classic.yarnpkg.com/lang/en/docs/install) installed

After that you must install dependices. Execute at root project folder:
`yarn install`

And start project using npm:
`npm run dev`

You'll see something like that:
[code]

[2022-09-10 07:18] OkeyDev commented on #1407
Same issue at #1351. You can find patch here: #1405

[2022-09-30 17:20] JacobBumgarner commented on #549
@tanusgit @mahci @mfix22

I was experiencing a similar issue with my code snippets. It turns out that there isn't an issue on Carbon's end, but instead on Medium's end.

When the URL is too long, Medium won't embed it.

Instead, try pasting your URL into tinyurl.com and embed it that way.

https://user-images.githubusercontent.com/70919881/193323195-ba797910-3b3c-4a59-b2e2-2f2b1d315211.mov

I pull

[2022-10-07 20:58] 27shutterclicks opened #1410 "Could not find files for / in .next/build-manifest.json"
**Describe the bug**
I followed the Contributing Guidelines to fork the repo and install yarn.

On step 4, when builing and starting the application using `yarn dev`, I get the error:

`Could not find files for / in .next/build-manifest.json`

When navigating to localhost:3000, all I see is a black blank page.

Anything I can do to fix this?

**To Reproduce**
Steps to reproduce the behavior:

1. F

[2022-10-07 21:38] 27shutterclicks commented on #1410
If I refresh the page at localhost:3000 while it is blank, I get a server error:

[code]

[2022-10-07 22:09] 27shutterclicks commented on #1410
In the terminal, I see the error may be related  to ./node_modules/codemirror/mode/tiddlywiki/tiddlywiki.css

[2022-10-08 17:18] CoenraadS opened #1411 "IFrame doesn't use title and background effects"
**Describe the bug**
When using the iframe export, not all styles are applied

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [link](https://carbon.now.sh/?bg=rgba%28227%2C235%2C69%2C0.8%29&t=seti&wt=boxy&l=text%2Fx-csharp&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=private%2520class%252

[2022-10-08 21:22] 27shutterclicks commented on #1410
I somewhat fixed this by hacking away at it in probably no logical fashion. The truth is I am total noob at Node.js, Next.js, modules, etc., and I have no understanding of how everything gets loaded, processed, or anything.

To fix this, I added a few lines to next.config.js, based on what was suggested here: https://josipmisko.com/next-js/global-css-cannot-be-imported-from-files-other-than-your-c

[2022-10-12 16:21] 27shutterclicks opened #1413 "Submitted a new Pull Request that added a Border Radius setting in Window menu"
@mfix22 I contributed new feature for adjusting the window border radius using a slider from Settings > Window: #1412

--------------------------

![carbonapp_corner_radius](https://user-images.githubusercontent.com/114191180/195396247-bd2db86f-b862-4c80-a86e-5eac05bc70a0.jpg)

--------------------------
Not sure how often you guys review pull requests, so I thought I'd mention it here with a scre

[2022-10-13 06:40] Ishad-M-I-M opened #1414 "Generate snippets with carbon.now.sh for a specific file in a GitHub gist"
**Is your feature request related to a problem? Please describe.**
In Medium, I can get a specific file in a gist as a snippet using the gist link appended with `?file=<file-name>`.
I'm requesting that kind of feature in [carbon.now.sh](carbon.now.sh)

[2022-10-13 07:09] Ishad-M-I-M commented on #1414
The feature is already there.

[2022-10-13 07:09] #1414 closed

[2022-10-15 07:10] dmoka opened #1416 "Using generated pictures for commercial uses"
**Describe the change**
Hey Carbon team! It is not an issue, but rather a question I could not find the answer to.

I would like to use your tool Carbon (accessed via https://carbon.now.sh/) to generate images and use them in a product I would like to sell. So it will be commercial use.

I would like to ask if this is allowed to do, legally. I already checked the terms but could not find any speci

[2022-10-30 21:53] Amirosagan opened #1421 "please tell me if i was make thing wrong"
![image](https://user-images.githubusercontent.com/53624184/198903294-a1ec97dd-2233-4dc7-b1a5-d9da0ad4426c.png)
what i can do now

[2022-11-05 08:13] dmoka commented on #1416
I found a [related issue](https://github.com/carbon-app/carbon/issues/1231)

It says `You have full creative control with the images you generate using Carbon`.

Does that mean I can use it for commercial purposes? If so, then we can close this issue.

Thank you!

[2022-11-07 00:42] mfix22 opened #1422 "Upgrade to Next.js@13"
https://nextjs.org/docs/upgrading#upgrading-from-12-to-13

Blocked by #1360

[2022-11-07 00:43] mfix22 commented on #1421
I'll respond over in the pull request! Thanks @Amirosagan

[2022-11-07 00:43] #1421 closed

[2022-11-07 00:51] #1351 closed

[2022-11-07 01:10] mfix22 commented on #1413
@27shutterclicks I get notifications for new pull requests, and I will review them as soon as I can.

Please don't submit extra issues to point to the pull request. 🙂

Cheers!

[2022-11-07 01:10] #1413 closed

[2022-11-07 01:12] mfix22 commented on #1407
Duplicate of #1351—I'll deploy the patch soon.

[2022-11-07 01:12] #1407 closed

[2022-11-07 01:14] mfix22 commented on #1416
Please send your question with full detail of use to carbon.now.sh@gmail.com and we will get back to you there. Thanks!

[2022-11-07 01:14] #1416 closed

[2022-11-07 01:29] mfix22 commented on #1379
Thanks for the helpful reproduction video @OnkelTem! This should be an easy fix (I imagine you would be able to fix it yourself if you are interested).

[2022-11-07 01:30] mfix22 commented on #1389
@asharonbaltazar can you look into trying to reproduce it? That is part of the work required for this issue. 🙂

[2022-11-07 01:54] mfix22 commented on #1403
Thanks @OkeyDev!

[2022-11-07 01:54] #1403 closed

[2022-11-08 16:22] asharonbaltazar commented on #1389
@mfix22 Sounds good. I'll take a look again. If you want, you can assign me for now.

[2022-11-09 14:24] Vadimyan commented on #743
Hi. I have the same issue on Windows 7 / Chrome 107.0.5304.88 and Windows 7 / Opera 92.0.4561.33 and MacOS / Chrome.
It reproduces even on the default snippet and default settings.

![image](https://user-images.githubusercontent.com/3613639/200855282-1fa19c1b-0400-4cae-9ac0-8b50ff78d479.png)

[2022-11-19 12:06] jpmvferreira opened #1431 "PowerPoint plugin to use Carbon conveniently"
**Is your feature request related to a problem? Please describe.**
I usually use PowerPoint to deliver my presentations.

**Describe the solution you'd like**
I found a very convenient way of using LaTex from inside PPT which makes use of the [IguanaTex](https://www.jonathanleroux.org/software/iguanatex/) plugin, in which the user write LaTex inside a dialog box and it then renders it to LaTex. Th

[2022-11-24 12:07] maaryhabad opened #1432 "[Request] Option to share color presets"
Today we can export the config file with instructions, but this config file does not come with color presets, and that's a problem. If I have one computer and want to finish my content in another computer, I have to make all the color preset again. The same when I share my carbon (the editable version) with anyone. I can't share the color preset, so it look different to another people even when I

[2022-11-28 03:27] karamjeetiron opened #1433 "Code selection not properly working"
Hi,

I am using carbon from last 2 days and facing some issue in coping code. Copy button coping all the code which is fine.  Like whenever i coping something specific from code snippet it does not select the proper area. Please see screenshot 1 and when i coping whole code by selection it also not working.

Screenshot - 1
https://www.screencast.com/t/fmwMzGh0EW

Screenshot - 2
https://www.screenc

[2022-11-29 16:54] paulrberg opened #1434 "Triple slash comments are not properly highlighted in Solidity"
**Describe the bug**

Triple slash (///) comments are not properly highlighted in Solidity

**To Reproduce**
Steps to reproduce the behavior:

1. Go to carbon.now.sh
2. Click on "Solidity" from the language dropdown
3. Paste any Solidity code snippet that contains triple slashes

**Expected behavior**

The triple slash (///) comments should be highlighted just like the double slash (//) comments,