[2017-06-19 07:28] jakedex opened #1 "Add handles for manually resizing terminal"
https://github.com/STRML/react-resizable

[2017-09-10 23:46] mfix22 opened #6 "Landing directly on `/about` renderings index not about page"

[2017-09-10 23:50] mfix22 commented on #6
Fixed, closing

[2017-09-15 05:22] #6 closed

[2017-09-25 07:54] micnic opened #20 ""Save Image" option is not working in Firefox"
As the title says, when click on `Save Image` button in Firefox nothing happens.

[2017-09-25 13:23] nozzlegear commented on #20
Also does not work in Edge (neither does the `Tweet Image` button).

[2017-09-25 13:40] briandennis commented on #20
@micnic I pushed a fix, it should be working on Firefox now.

@nozzlegear Is the `Save Image` button working on Edge now? I can check myself later today, but don't have access to Edge at the moment...

[2017-09-25 14:01] micnic commented on #20
@briandennis, thanks it works fine, you are awesome !

[2017-09-25 14:12] briandennis commented on #20
@micnic glad I could help!

[2017-09-25 14:13] briandennis commented on #20
Going to close this. Will reopen another issue if the problem on Edge persists

[2017-09-25 14:13] #20 closed

[2017-09-25 14:38] nozzlegear commented on #20
@briandennis I've done some investigating with Edge and it looks like the `dom-to-image` package isn't tested in and doesn't support Edge (or Safari I guess): https://github.com/tsayen/dom-to-image/issues/78. Specifically the `.toPng` function fails with Edge complaining that the canvas is dirty.

I switched out `.toPng()` with `.toSvg()` which got me further, the browser was able to create the da

[2017-09-25 15:13] mfix22 commented on #20
@nozzlegear thanks so much for investigating. We plan to replace `dom-to-image` with a cross-browser solution. We really appreciate the work you did.

[2017-09-25 17:41] nozzlegear commented on #20
No problem! Looking forward to a cross browser Carbon.

[2017-09-25 21:04] gregwhitworth opened #25 "Add Windows theme"
I know many devs don't think of Windows but it would be nice to have Windows represented here rather than the assumption that the UI will be OSX.

[2017-09-25 21:11] siwalikm opened #26 "option to save my preferences"
suggestions > save in session storage?

[2017-09-25 21:28] mfix22 opened #28 "Making save image work in all browsers"
To start:
- [ ] Safari
- [x] Edge

[2017-09-25 21:29] mfix22 commented on #20
@nozzlegear opened #28 so you can track it (:

[2017-09-25 21:34] noformnocontent opened #29 "wrong monokai?"
![wrong-monokai](https://user-images.githubusercontent.com/23745012/30832040-fdbb55ee-a249-11e7-956b-d7597ec401a8.jpg)

[2017-09-25 21:34] mfix22 opened #30 "Add support for Fira Code"
https://twitter.com/evgenyrodionov/status/912393242360020992

[2017-09-25 21:41] noformnocontent commented on #25
general choice of window-borders:

- Win 10
- Win 95
- Win 3.1
- MacOS X (every release?)
- MacOS Classic
- AmigaOS
- Gnome
- KDE
- DOS / ASCII
- ChromeOS / Chrome tab

[2017-09-25 22:43] ChrisBrownie55 opened #31 "Missing Mobile Support"
Your website is broken when used on a mobile device. By broken I am referring to the issue that when your website is viewed on a screen less than _893px_ wide, your website **does not allow horizontal scrolling** to view parts of the screen that become hidden. A simple way to fix this would be to just allow horizontal scrolling. Another fix would be to use `@media` queries to adjust for screens sm

[2017-09-26 00:52] mfix22 commented on #29
Haha, it  is the right monokai, [the CDN that our themes are deployed to](https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.30.0/theme/monokai.min.css) just uses a theme that highlights different parts for each color.

You can add themes to `lib/constants` that are available in [CodeMirror](https://codemirror.net/).

For now, we will leave the current Monokai. Closing

[2017-09-26 00:52] #29 closed

[2017-09-26 06:06] hcontreras opened #32 "It is a nice tool, but it doesn't work in Safari"
I tried to use _Carbon_ in Safari, but it doesn't work.

I copied and paste some code to the window, but when I press the _Save Image_ button, nothing happen.

When I tried in Chrome, worked fine!

[2017-09-26 07:53] elrumordelaluz commented on #32
probably related on #28

[2017-09-26 08:25] Math3v opened #33 "Feature request: Customizable dimensions"
First of all, great idea!

I'd like to share some code on Instagram, but it requires me to share only square images.

A greate feature would be the ability to set/change dimensions of the image.

Cheers!

[2017-09-26 11:53] dnlml opened #34 "Box shadow size"
Hello!

Thank you guys for this useful tool!
I would suggest to add an option to set the size of the box shadow.
(I will try to find the time to create the PR)

[2017-09-26 15:17] mfix22 commented on #32
Thanks so much for filing an issue, and you are right, it is related to #28. Lets move the discussion to #28. Closing.

[2017-09-26 15:17] #32 closed

[2017-09-26 15:18] mfix22 commented on #28
Investigating, seems that the problem is that [`dom-to-image`](https://github.com/tsayen/dom-to-image) doesn't [support Safari](https://github.com/tsayen/dom-to-image#browsers) because:

[2017-09-26 20:39] briandennis opened #36 "Add repository information to package.json"
https://docs.npmjs.com/files/package.json#repository

[2017-09-26 21:58] CodeTheory opened #37 "Selecting a language and then going back to `auto` breaks highlighting"
Just from the demo, selecting a language for code highlighting and then switching back to `auto` breaks the highlighting. GIF below:

![carbon-bug](https://user-images.githubusercontent.com/1695613/30886115-d2edab86-a30d-11e7-89c8-774399fe749d.gif)

Apologies if this is intended or a duplicate. Love the project!

[2017-09-27 00:36] mfix22 opened #38 "Support GraphQL syntax mode"

[2017-09-27 06:31] eclecticexistential commented on #31
I found a [Github Repo](https://github.com/contra/react-responsive) that may be useful. It outlines how to add Media Queries to React.

[2017-09-27 06:40] #37 closed

[2017-09-27 07:43] #36 closed

[2017-09-27 07:54] jakedex opened #42 "Make responsive"
The site/editor should be responsive, complete with layout tweaks for use on mobile.

- Potentially helpful https://github.com/contra/react-responsive (thanks, @eclecticexistential)

[2017-09-27 07:57] #31 closed

[2017-09-27 07:59] jakedex commented on #31
The Horizontal scrolling issue is fixed with #41. Opened new issue for responsive changes in #42

[2017-09-27 08:00] jakedex commented on #31
Thanks for the help, @eclecticexistential @ChrisBrownie55 💫

[2017-09-27 11:02] darahak opened #44 "C code not highlighted as expected"
C or C++ code is not highlighted as I would expect.
I saw that you were using CodeMirror, so I went to see the documentation.

It should at least highlight type names, as seen on this [page](https://codemirror.net/mode/clike/index.html).
See what I got on Carbon below, with Monokai theme.

I only looked at `lib/constants.js` and `components/Carbon.js` and didn't see anything wrong, so I'm not sure

[2017-09-27 11:45] Kikobeats opened #45 "Support Color Picker"
Could be awesome be possible open a color picker for setup the background.

This also be possible setup `transparent` as brakcgorund.

[2017-09-27 11:49] Kikobeats opened #46 "Adjust font style"
- font family
- font weight
- font size
- line height
- letter spacing

[2017-09-27 11:51] Kikobeats commented on #30
Keep in mind Fira Code is a commercial font.

A good approach add support for change the current font.

I think is highly related with https://github.com/dawnlabs/carbon/issues/46.

[2017-09-27 15:46] mfix22 commented on #33
Sweet! see issue #1 for updates on this issue

[2017-09-27 16:03] sobolevn opened #47 "Light themes support"
Right now there are not light terminal themes. Some users may want to use white (or similar) terminal background.

I am big fan of light terminal themes like [`sobole`](https://github.com/sobolevn/sobole-zsh-theme).

Any chance to get a tool to import a custom theme?
Or maybe include some popular light options?

[2017-09-27 17:15] jlmakes commented on #26
Cool app!

For me, this is a critical feature; if I’m given the ability to customize my experience, I want my preferences remembered.

I think `localStorage` to save/load state (as pertaining to user preferences) would be a great feature.

[2017-09-27 17:17] jakedex opened #48 "Editor Integrations"
We should create simple plugins for Atom, VS code, Sublime with `select text -> command palette -> create screenshot` support.

(source: https://www.reddit.com/r/webdev/comments/72qz1k/carbon_create_and_share_beautiful_images_of_your/dnl14fp/)

[2017-09-27 17:23] abhimanyu003 opened #49 "Feature request: Copy Image to clipboard"
It will be really great if there is copy to clipboard option.
Quite helpful when you have to share the image to slack - discord or any other chatting application which supports direct upload.

[2017-09-27 17:24] Worldbeater opened #50 "Add C# language support"
It would be really great if this service could support syntax highlighting for C# programming language.

Thanks!

[2017-09-27 17:31] Worldbeater opened #51 "Fix `` highlighting for F#"
There is an issue with how textual functions names are displayed for F#, please, take a look:

![carbon 1](https://user-images.githubusercontent.com/6759207/30927767-34a97d82-a3c2-11e7-8b85-4c4f33e240e7.png)

It would be great if words in function name could be colored using the same color.

[2017-09-27 17:36] jakedex opened #52 "Carbon CLI"
If there's enough support, we could create a CLI interface for Carbon.

[2017-09-27 20:59] otobrglez commented on #50
Hey @Worldbeater! I'm not a contributor or anything. But I found this [configuration][configuration] file inside cardbon; perhaps you can add it yourself? 😃 You can also find exact modules in [codemirror configuration][codemirror] that provides styling/rendering of code.

[configuration]: https://github.com/dawnlabs/carbon/blob/master/lib/constants.js#L74-L271
[codemirror]: https://github.com/code

[2017-09-27 23:32] mfix22 commented on #47
@sobolevn there are actually a couple light themes located [here](https://github.com/dawnlabs/carbon/blob/master/lib/constants.js#L53-L64) (marked by the field `light`).

If have specific themes in mind, you can make a PR to add other themes you like from here: http://codemirror.net/3/demo/theme.html#

We are thinking about adding support for custom themes, so I am not going to close this issue ye

[2017-09-27 23:40] mfix22 commented on #51
Hey @Worldbeater editing how the syntax looks for every language is out of the scope of this project, since we are just using the format found here: https://github.com/codemirror/CodeMirror/blob/master/mode/mllike/mllike.js

If you think the formatting is incorrect for F #, I would either file an issue with codemirror, or send a PR that fixes the formatting 😄

[2017-09-27 23:40] #51 closed

[2017-09-27 23:41] mfix22 opened #54 "Lint (and maybe prettier)"

[2017-09-27 23:43] mfix22 commented on #50
Thanks @otobrglez! The mode `clike` might work for `C#`

[2017-09-28 08:36] selrond commented on #46
Would be totally awesome!
Google (probably monospaced only) fonts option would be a killer feature!

I'd add __line heght__ option to the suggestions list

[2017-09-28 08:38] Kikobeats commented on #46
@selrond added!

Also `letter-spacing`

[2017-09-28 08:40] selrond commented on #46
@Kikobeats any way I can help this?

[2017-09-28 08:57] selrond opened #59 "Store editor config in cookies"
It'd be really useful to store config in cookies for consistency.

[2017-09-28 11:28] Kikobeats commented on #46
@selrond probably talking with jakedex yes, I don't know the current codebase 😄

[2017-09-28 12:29] karanjthakkar commented on #59
@selrond This seems like a duplicate of #26, maybe?

[2017-09-28 12:49] selrond commented on #59
yep, sorry

[2017-09-28 12:49] #59 closed

[2017-09-28 14:30] jeffochoa opened #60 "User preferences should be stored"
It would be nice if the site could store the user preferences like color, style, etc... You can do that using cookies...

[2017-09-28 15:14] mfix22 commented on #60
Duplicate of #26. It is next on our list! Closing

[2017-09-28 15:14] #60 closed

[2017-09-28 16:36] roryokane opened #62 "Solarized theme has inaccurate colors"
This is what code looks like on https://carbon.now.sh/ when I choose the Solarized theme:

![lib/constants.js code displayed in Carbon's Solarized theme](https://user-images.githubusercontent.com/79168/30978315-35805cae-a448-11e7-83ab-7dc6218096db.png)

But the background color is different from that of the light variant of the official [Solarized theme](http://ethanschoonover.com/solarized):

![o

[2017-09-28 16:52] salmanulfarzy commented on #62
@roryokane Looks like theme styles are imported from [codemirror](https://codemirror.net/demo/theme.html#solarized%20light).

https://github.com/dawnlabs/carbon/blob/6b1e0aedaa01dc41eeba2d7e0db89962c8a07f81/components/Meta.js#L22-L26

[2017-09-29 03:24] #54 closed

[2017-09-29 03:39] jakedex commented on #62
Good catch, @roryokane! This is fixed with #63 and will be included in our next release.

[2017-09-29 03:40] #62 closed

[2017-09-29 04:03] jakedex commented on #44
Thanks for reporting this, @darahak! I'll have a fix for this once we add MIME support with #58

[2017-09-29 04:03] #42 closed

[2017-09-29 04:24] andrewda opened #64 "Use `react-codemirror2` instead of `react-codemirror`"
[`react-codemirror2`](https://github.com/scniro/react-codemirror2) is much more up to date than [`react-codemirror`](https://github.com/JedWatson/react-codemirror), which is still on a version of CodeMirror that's more than 1 year old.

[2017-09-29 04:25] andrewda commented on #64
See https://github.com/JedWatson/react-codemirror/issues/126

[2017-09-29 08:32] lmeijdam opened #65 "Option to download/copy code from image"
Hey guys!

I really love the idea of the code sharing by image and how it get presented. I only found a limitation whenever I want to share my code to be copied by a reader. You guys think this is possible in a future stage?

**Wished feature;**
Possibility to copy the code shown on the image to an editor.

[2017-09-29 10:34] jchannon commented on #50
Looking forward to this! 👍

[2017-09-29 15:22] yeskunall opened #66 "Force `Save As` dialog when trying to save the image"
Hey guys 👋 great work on Carbon!

Right now, all images are saved as `carbon.png` by default. This means that if I were to save multiple screenshots in succession, they would all be saved under the same name, with just a number appended to the file name (on Windows as `carbon (1).png`) and so on.

Maybe we could make it so that the site forces a Save As dialog asking the user to name the file by t

[2017-09-29 15:46] yeskunall opened #67 "(bug) Switching to specific language, then back to `Auto` breaks render"
See screenshots for clarification. ⬇️

Set to auto:

![carbon](https://user-images.githubusercontent.com/14703164/31023724-c1fd2af0-a50a-11e7-903d-914046613a74.png)

Change to HTML:

![carbon](https://user-images.githubusercontent.com/14703164/31023755-e08eb81c-a50a-11e7-8eb9-75499476ef86.png)

Now back to auto:

![carbon](https://user-images.githubusercontent.com/14703164/31023755-e08eb81c-a50a-1

[2017-09-29 18:34] andrewda opened #68 "Automatically deploy to website"
Looks like the website is a bit behind the master branch. Automatic deploys could probably be done with [`now-travis`](https://github.com/eliperelman/now-travis) so that every push to master is deployed to https://carbon.now.sh/.

[2017-09-29 19:39] briandennis commented on #68
Thanks for bringing this up! I think we're going to go with a release based scheme where we'll deploy when we feel sufficient progress has been made rather than after every commit. Additionally, we want to verify that the deployment is working properly before aliasing it, so I don't think we'll be automating this for the time being.

We definitely should set up some CI though to run linting!

[2017-09-29 19:39] #68 closed

[2017-09-29 19:42] briandennis commented on #67
Think this was fixed with https://github.com/dawnlabs/carbon/issues/37? cc @mfix22

[2017-09-29 19:43] briandennis commented on #66
Great idea! We should definitely add support for this

[2017-09-29 19:44] mfix22 commented on #67
Yes. Just hasn't been deployed yet. Coming soon.

[2017-09-29 19:51] yeskunall commented on #67
Ah, whoopsie. I'm sorry about the duplicate issue. 🙈 I'm gonna close this one. You guys are free to reopen if necessary. Thanks for the quick response!  ❤️

[2017-09-29 19:51] #67 closed

[2017-09-29 19:53] briandennis commented on #67
No worries, thanks for taking the time to file the issue! I'll be sure to let you know when this ships

[2017-09-29 20:08] briandennis commented on #49
yesssss! @jakedex do you think this should be a separate button or can we integrate this to the existing UI somehow?

[2017-09-29 20:48] yeskunall commented on #66
I'm glad I'm not the only one who thinks this is worth the effort. 😄

A few things that I would like to add to this:

* Chrome allows you to turn on an option in settings that prompts the user each time they download a file, so for users who have already turned this option on, this "feature" is already implemented. I'm not so sure about the other browsers, however. In any case, if we are to implem

[2017-09-29 21:20] andrewda commented on #68
Sure, that sounds good!

[2017-09-30 00:29] #44 closed

[2017-09-30 00:29] #50 closed

[2017-09-30 01:23] jakedex commented on #65
I'm not sure I follow. Are you hoping to have the text embedded in the saved image (i.e. PDF)?

[2017-09-30 01:43] jakedex commented on #49
We could change the 'Save Image' -> 'Copy Image' when the user holds `shift`?

[2017-09-30 01:46] yeskunall commented on #65
I think he means he wants to be able to copy the image onto the clipboard and paste it into the editor as it is, i.e., as an image.

[2017-09-30 01:58] jakedex opened #72 "Add prettier pre-commit hook"
https://github.com/prettier/prettier#pre-commit-hook

[2017-09-30 02:00] andrewda commented on #72
:clap: Pre-commit hooks rock!

[2017-09-30 07:08] jchannon commented on #50
When will this make it onto the website?

[2017-09-30 13:21] peymanr34 opened #74 "Add C# Support"
C# is not on the list, either it's not supported or doesn't work properly.

[2017-09-30 13:47] jgierer12 opened #75 "Read content & preferences from URL query string"
This would make sharing links to the page much easier.

For example, `https://carbon.now.sh/?code=Hello%20world!&theme=blackboard` would pre-fill the editor with "Hello world!" and apply the *Blackboard* theme. Everything else would fall back to the default settings, of course.

If this would be a welcome addition, I'll open a PR for it.

[2017-09-30 14:56] andrewda commented on #75
I think the issue with this is mainly the length of the code – we've only got 2048 characters to work with, minus the theme. One thing we could do is use [base65536](https://github.com/qntm/base65536) to shorten that code significantly, but it leads to ugly-looking URLs.

[2017-09-30 15:22] andrewda commented on #75
For example,

[code]
(56 chars)

Encodes to:
`堗臼铤⋆凃堜曚䙨㫐㖏橯圂Ⴃ㇝荆闌壷䅛鍅Ꮄ榋堑蒠総徖㽈䬥㧰穏` (29 chars)

Just for fun, I also tried encoding the `server.js` file (1077 chars). It encodes to:

[code]
(539 chars)

[2017-09-30 15:31] andrewda commented on #74
Added in #70 – just hasn't been released on https://carbon.now.sh yet.

[2017-09-30 15:58] jgierer12 commented on #75
Yeah, that's right although I think 2048 characters would be an edge case here. Perhaps we could have a permalink button that automatically creates a Gist from the code if it was more than 2048 chars.

Alternatively, we could enable this functionality only on links with a Gist ID and not have the content in the URL.

[2017-09-30 20:02] #72 closed

[2017-09-30 20:26] mfix22 commented on #75
I don't think the content should be in the URL (: Open to loading the settings from URL params.

[2017-09-30 20:43] mfix22 opened #79 "Create build script to add contributors to the README"
Similar to all-contributors, or open-collective, but personalized for Dawn

We want a way to recognize all our awesome contributors!

[2017-09-30 21:28] mfix22 opened #81 "Lazy load stylesheets for themes"

[2017-09-30 22:00] #26 closed

[2017-10-01 08:12] PAPERPANKS opened #83 "button apperance change on hover"
![changing color of button on hover](https://user-images.githubusercontent.com/13312568/31052870-5e812ca2-a6ad-11e7-97c1-64073de462b0.png)

[code]

[2017-10-01 14:54] siwalikm opened #84 "misalignment of selected color block"
**Selected color block** seems to overflow the container's border.
![image](https://user-images.githubusercontent.com/20061595/31055812-4744107a-a6e6-11e7-95dd-e38d85c9f446.png)

[2017-10-01 16:08] tillkruss opened #85 "Safari 11: Save Image"
Saving as image doesn't work.

[code]

[2017-10-01 17:06] iamale opened #86 "Twitter saves images as JPEG"
This can be easily avoided though by making some part of an image semi- or fully transparent (e. g. the whole background or just the top left pixel). You can look at https://github.com/iamale/screentweet and https://github.com/Francesco149/gweet/issues/2 for some exploration.

And thanks for a great service, by the way!

[2017-10-01 18:59] zcei commented on #85
This is a known limitation in the [underlaying library](https://github.com/tsayen/dom-to-image#browsers).

Safari is stricter with a specific tag that is used to render the DOM to an image. A potential workaround would be rendering it as an SVG and use a server endpoint to render it to an SVG.

I'm currently building a server endpoint that takes the settings & code and returns a PNG directly - thi

[2017-10-01 19:00] zcei commented on #75
How would this interact with loading & saving the settings from local storage?

I wouldn't want my settings to be reset, just because I clicked a link with pre-configured settings.
On the other hand I might want to persist the shared settings. 🤔

[2017-10-01 20:06] mfix22 commented on #85
Thanks @zcei. We will track this issue at #28. Closing.

[2017-10-01 20:06] #85 closed

[2017-10-01 20:07] mfix22 commented on #47
@sobolevn please make a pull request to add any light themes that you like to work with! Closing this issue.

[2017-10-01 20:07] #47 closed

[2017-10-01 22:27] andrewda commented on #52
I'm super interested in working on a CLI. How would it work, though? The only way I can see it working at the moment is using an API from Carbon to fetch the image. The downside to this is that the user would need an internet connection. An alternative would be for the user to self-host Carbon, but that would result in high startup times.

It'd be great if we could think of a way to do this withou

[2017-10-02 01:18] #74 closed

[2017-10-02 15:21] yeskunall commented on #79
I got you guys with this one 💪 expect a PR soon enough!  ❤️

[2017-10-02 16:16] mxstbr opened #91 "Adjust width"
I just generated this image:

![carbon-1](https://user-images.githubusercontent.com/7525670/31087551-bb0bee3a-a79d-11e7-8f04-88e2eaa3e5b4.png)

It'd be great if:

- I could make the font size bigger (ref #46)
- but also if I could shrink the width of the code block manually (or it adjust automatically based on longest line)

[2017-10-02 16:59] jakedex commented on #86
Great catch, @iamale! It looks like it's only happening on a few of the images, but we'll want to fix this regardless.

[2017-10-02 17:15] yeskunall opened #92 "Use `.github` for GitHub templates"
Maybe create a `.github/` folder at this point, and move `CONTRIBUTING.md` inside it? Also, maybe create an `ISSUE_TEMPLATE.md` and `PULL_REQUEST.md`?

But most importantly, in lieu of #79, I was thinking that maybe we can add a `CONTRIBUTORS.md` inside `.github/` and link it in `README.md` instead? This way the README itself doesn't have to get cluttered unnecessarily.

[2017-10-02 17:59] jakedex commented on #52
https://github.com/dawnlabs/carbon/pull/88#issuecomment-333429240

[2017-10-02 20:25] jakedex commented on #65
Okay, in that case closing for #49

[2017-10-02 20:25] #65 closed

[2017-10-02 22:37] jakedex commented on #92
Thanks for tackling this one, @yeskunall! I'm definitely on board with adding a `.github` folder, but I think we want to keep our contributors section in the `README.md` in order to keep it visible as possible. I'm all for moving it into a `CONTRIBUTORS.md` and linking down the road if it gets too cluttered.

See https://github.com/kentcdodds/all-contributors#mandatory

[2017-10-02 22:47] yeskunall commented on #92
Sure thing. This will make the build script a bit more tricky than it is right now, but I'll show you what I guys did in the PR.

Once that's approved, a PR for creating a `.github` folder will be up as well.

Cheers! ❤️

[2017-10-03 10:31] #83 closed

[2017-10-03 10:31] #84 closed

[2017-10-03 12:55] bombellos commented on #66
Hey guys! I've just noticed your repo while searching for some Open Source project to contribute to. Anyway, how about adding a time stamp with date to the file so it looks like this for example: `carbon_17-10-03_16:54` or similar format? It will also work while sorting files on disk by name.

[2017-10-03 13:09] vmitchell85 opened #98 "Screenshot shows text highlighting"
If you have some text highlighted on the code snippet it preserves that highlighting when the image is generated.

Not sure if this is desired or not. I unexpectedly generated an image with the highlight when I didn't want it.

Thanks for an awesome resource!

[2017-10-03 16:08] yeskunall commented on #98
If you look at what's actually converting your code into an image

https://github.com/dawnlabs/carbon/blob/de11ff034fe4bc270ddf9550d6d12e3b3a1ba6c2/pages/editor.js#L75-L88

... and

https://github.com/dawnlabs/carbon/blob/de11ff034fe4bc270ddf9550d6d12e3b3a1ba6c2/pages/editor.js#L94-L103

... it merely just picks up your code and converts it to a .PNG image. Internally, it (the 3rd party library, `

[2017-10-03 16:11] vmitchell85 commented on #98
Thanks for the code reference.

I don't mind it either way... but wasn't sure if it was desired or not so figured I'd submit an issue and allow the maintainers to decide.

[2017-10-03 16:33] jakedex opened #99 "Add base-16 syntax"
https://twitter.com/julianwachholz/status/915247000047714306

[2017-10-03 16:42] jakedex commented on #98
It wasn't intended, but I'm with @yeskunall in that it can sometimes prove useful. Let's keep it in for now. Thanks for reporting, @vmitchell85, we're glad you like Carbon 👍.

[2017-10-03 16:42] #98 closed

[2017-10-03 20:25] pa7ryk commented on #91
Hi, I think I can give it a try.

[2017-10-04 02:57] briandennis commented on #52
@andrewda the functionality I'm working on now to get the app working in Safari should be pretty similar to what's needed for the CLI locally. Once I finish that, let's chat

[2017-10-04 02:59] #99 closed

[2017-10-04 03:07] mfix22 commented on #91
See #33 and #1 for discussion reference as well. I also believe @jakedex is working on font-size fix

[2017-10-04 10:55] pa7ryk commented on #91
I can create new setting next to _Window controlls_ which will enables automatic width adjust based on longest line. IMHO manual width adjustment is not a bare necessary thing. What do you think?

[2017-10-04 10:57] mxstbr commented on #91
Agreed, automatic would be optimal.

[2017-10-04 16:34] jakedex commented on #91
I'm totally fine with that. Automatic is a great start and we can leave #1 open in case someone wants to take a shot at manual.

[2017-10-05 01:23] #81 closed

[2017-10-05 02:18] #91 closed

[2017-10-05 03:03] mfix22 commented on #33
We are going to track future progress for this issue at #1. In the mean time you have full control of the width and length of your code with the "Width Adjustment" setting. See PR #102

[2017-10-05 03:03] #33 closed

[2017-10-05 03:11] mfix22 commented on #66
Hey @bombellos thanks for finding us, and we would love for you to contribute!

 @yeskunall thanks for the discussion. After further consideration, we have decided that the saving behavior is good enough for the use case. Chrome currently does the "Save As" dialog, and for other browsers a `(#)` gets appended which is good for different versions.

Plus there are other more fun issues to work on 🤗

[2017-10-05 03:11] #66 closed

[2017-10-05 03:13] #79 closed

[2017-10-05 04:10] #86 closed

[2017-10-05 05:00] jakedex opened #105 "Add relevant badges to README"
https://shields.io/

[2017-10-05 11:48] abhimanyu003 commented on #49
I don't think updating 'Save Image' -> 'Copy Image', when the user holds shift, is a good idea.

The other thing we can do is open image in base64 output in the new tab?
After which user only have to right click and click copy image in the browser.

[2017-10-05 13:43] lmeijdam commented on #65
Sorry for my late response!

More to have the code on an image available to 'self-use' in your project. To copy it like a snippet into your own code.

[2017-10-05 13:48] yeskunall commented on #65
We have no control over the image once it's exported by Carbon. If you're using Carbon to export a snippet of your code, then you already have the code. That's the only way you could get the code, AFAIK.

[2017-10-05 14:03] yeskunall commented on #66
Sure thing! But I just want to point out that the "Save As" dialog (in Chrome) isn't on for most users by default.

![capture](https://user-images.githubusercontent.com/14703164/31231264-5a150bac-a9b4-11e7-8c65-8506128e46b4.PNG)

I can't say the same about other browsers, tho 🤔 (just thought you guys should know)

[2017-10-05 14:29] sibelius commented on #38
[code]

[2017-10-05 14:29] yeskunall opened #107 "Make `carbon.now.sh` a PWA"
This is something that can start out slow, but if you guys seem interested, I think, IMO, turning [carbon.now.sh](https://carbon.now.sh) into a PWA would be super 👍

The most important think would be to allow caching, and hence enable the site to work offline as well. What do you guys think?

Loving this app so far 😍

[2017-10-05 17:14] yeskunall commented on #92
At work. No worries tho, this will definitely have a PR by today evening. Should we also introduce basic templates for issues and PRs?

[2017-10-05 20:26] jakedex commented on #92
No rush! And yeah, let's add templates for both.

[2017-10-06 01:56] alexfalcucc opened #110 "Share button isn't working on https://carbon.now.sh/"
![recorded](https://user-images.githubusercontent.com/6964211/31259833-4f5c378c-aa20-11e7-91b8-430e55f05acc.gif)

[2017-10-06 02:02] jakedex commented on #110
Hmm, It's working just fine on my end. Are you seeing any errors in your console?

[2017-10-06 02:10] alexfalcucc commented on #110
Yeh, seems like the URL it's a bad request here.
![selecao_103](https://user-images.githubusercontent.com/6964211/31260158-557c2a58-aa22-11e7-9313-5037a9b02183.png)

[2017-10-06 02:11] #105 closed

[2017-10-06 02:14] yeskunall commented on #110
I can confirm the same. 😟

[2017-10-06 02:53] #45 closed

[2017-10-06 03:36] mfix22 commented on #110
429 is a rate limit status code ☹️ . We will post an update as soon as we have one.

[2017-10-06 06:18] mfix22 commented on #110
Try now! (:

[2017-10-06 16:35] #92 closed

[2017-10-06 22:38] briandennis commented on #110
Closing if this is resolved. Feel free to reopen if the problem persists

[2017-10-06 22:38] #110 closed

[2017-10-07 16:36] blazeu commented on #28
https://github.com/niklasvh/html2canvas works in Edge.

[2017-10-11 22:07] alexfalcucc commented on #110
sorry my delay of the feedback. it's working fine! thanks!

[2017-10-12 18:09] aulneau opened #112 "Support variable export sizes (including higher resolution)"
I went through the issues and couldn't find this in there.

It would be fantastic to be able to export and larger sizes 👍

Love what you've got so far!

[2017-10-15 19:22] pa7ryk commented on #25
I will make a few of them but I don't know how to show available options in settings.
At the moment theme section is already big enough. How should it looks like with more than 3 themes?

[2017-10-16 05:13] jakedex commented on #107
[This](https://github.com/ooade/NextSimpleStarter) may be a useful reference

[2017-10-19 12:52] Drarok opened #113 "No solarized dark theme"
## Expected Behavior
I'd like to use the solarized dark theme

## Actual Behavior
Only solarized light is available

[2017-10-19 23:10] mfix22 opened #114 "Line numbers settings support"

[2017-10-19 23:26] yeskunall commented on #113
Might be a bit trickier than the usual bit of just adding it to the list of constants, as seen here

https://github.com/dawnlabs/carbon/blob/0303b48928ee4050f8bd1cf00549a1bf35235058/lib/constants.js#L60-L63

as it seems the css for both themes is in one file `solarized.css. :thinking:

[2017-10-20 11:46] guilhermefloriani commented on #114
Can I work on that?

[2017-10-20 13:22] Drarok commented on #113
Ah, no wonder I couldn't find a solarized-dark file. I'll have a go at looking further into this, though I'm fairly new to React so struggling to follow the architecture and how everything holds together.

[2017-10-20 14:05] guilhermefloriani commented on #114
Oh sorry, I didn't saw there is already a pull request opened

[2017-10-20 14:24] yeskunall commented on #113
I don't think there's much you can _dig_ into (code-wise), as this is inherently an issue with CodeMirror, not Carbon itself.

You can head over to https://discuss.codemirror.net/ to ping the authors and see their reasoning behind not splitting the light and the dark themes and maybe even request that they move the CSS related to the dark theme into `solarized-dark.css`.

I would do it myself, but

[2017-10-20 16:24] Drarok commented on #113
[Their demo page](https://codemirror.net/demo/theme.html) shows Solarized options for dark and light, I was going to have a go at setting the right options, but so far as I can see, setting the theme to 'solarized dark' should work, expanding to CSS classes `cm-s-solarized` and `cm-s-dark`. It doesn't work, sadly.

[2017-10-21 01:41] #114 closed

[2017-10-21 04:45] netoguimaraes commented on #25
up.

@pa7ryk, what themes are you implementing? I want to implement some of these.

[2017-10-22 15:09] pa7ryk commented on #25
@noformnocontent
I have already done Win10. Now I'm working on Gnome and trying to solve settings problem.

[2017-10-22 21:39] efgm1024 opened #119 "Image doesn't download on Safari 11"
![screen shot 2017-10-22 at 3 35 15 pm](https://user-images.githubusercontent.com/1943459/31866579-f477777e-b73e-11e7-85ed-c5112beb83c9.png)

## Expected Behavior
Download image on Safari
## Actual Behavior
Image won't download because of error `Unhandled Promise Rejection`
Safari Version
![screen shot 2017-10-22 at 3 36 13 pm](https://user-images.githubusercontent.com/1943459/31866590-30d6bda6-b7

[2017-10-23 03:48] sivarak opened #121 "Can line number be written on Carbon program?"
## Expected Behavior

## Actual Behavior

[2017-10-23 04:09] andrewda commented on #121
https://github.com/dawnlabs/carbon/pull/116#issuecomment-338356070

[2017-10-23 05:14] mfix22 commented on #121
@sivarak coming soon! With our next release this feature will be available in the settings. Closing

[2017-10-23 05:14] #121 closed

[2017-10-23 05:15] mfix22 commented on #119
Duplicate of #28
Thanks for filing the issue! It is our highest priority. Closing.

[2017-10-23 05:15] #119 closed

[2017-10-23 07:26] sivarak commented on #121
thank you and waiting for nice option.

[2017-10-23 17:33] #113 closed

[2017-10-23 20:28] jakedex opened #122 "Use image as background"
I think it'd be really cool to support using user-uploaded images as backgrounds. We'd probably want to make the current color-select dropdown tabbed, with a tab for image background settings ('upload image', 'remove image', 'scale image', etc).

- Users should be able to scale the background
- Users should be able to reposition the background (I'm thinking we could just make it draggable in the e

[2017-10-23 20:33] jakedex opened #123 "Frosted glass terminal style"
<img width="613" alt="bbaf728e-c31a-11e6-972f-0995e77a32a0" src="https://user-images.githubusercontent.com/10369094/31911790-ab8c5f6c-b7f6-11e7-9ee9-582752a44dde.png">

![dmgz16nwaaapyj8](https://user-images.githubusercontent.com/10369094/31911846-d279ed42-b7f6-11e7-9db1-9d8b23f5126f.jpg)

- Add terminal transparency slider to settings
- This should be rather trivial to implement with css: https:/

[2017-10-23 20:44] jakedex commented on #25
![screen shot 2017-10-23 at 1 41 49 pm](https://user-images.githubusercontent.com/10369094/31912305-47fa1be0-b7f8-11e7-803e-0517d095a862.png)

I think we could either add a horizontal scroll to the current window settings (see above image) or add a 'see more' button that expands to a grid of window theme thumbnails.

Either way, I'm happy to create the thumbnail SVGs and help with any design/UX wo

[2017-10-24 01:29] #75 closed

[2017-10-25 09:36] mangosuch opened #125 "don't support python 3?"
## Expected Behavior

## Actual Behavior

[2017-10-25 16:19] yeskunall commented on #125
Carbon simply uses [CodeMirror](http://codemirror.com/) themes. If Python 3 is not supported out of the box, then you should probably open up an issue over at their [forums](https://discuss.codemirror.net/).

**PS**: Screenshots would help.

[2017-10-26 03:43] mfix22 commented on #122
I think it would be cool to also add support for drag-n-dropping the images too 😄

[2017-10-27 04:32] andrewda opened #128 "Crash when using Plain Text"
When switching to "Plain Text", here's the error that comes up:

[code]

[2017-10-27 05:21] #128 closed

[2017-10-30 15:14] photonstorm opened #130 "Should it save the background color to the PNG?"
## Expected Behavior

Not sure, but I think it's supposed to save the background color behind the code snippet block? Currently, it doesn't for me. I've tried in Chrome (latest stable), Canary and Firefox (latest stable), all on Windows 10, and they all save the background as transparent, no matter which color is picked.

![carbon 1](https://user-images.githubusercontent.com/164476/32178170-fdb444

[2017-10-30 20:11] #130 closed

[2017-10-30 21:39] briandennis commented on #130
@photonstorm thanks for catching this! Should be fixed now. Please let me know if you're still having trouble 😀

[2017-10-30 21:49] photonstorm commented on #130
Excellent, that fixed both the background color and the width issue :)

[2017-11-01 07:40] M-ZubairAhmed opened #134 "Solaris dark and light are both same"
#### Overview
There seems to be no change among themes for Solarized(dark) & Solarized(light).
#### Browser
Firefox 56.0 -64bit
Mozilla firefox for ubuntu
canonical 1.0
#### Reproduction
- I imported the code to the editor
- Toggled between two solaris themes
- No change in theme appeared

## Expected Behavior
#### Dark solaris from atom
![image](https://user-images.githubusercontent.com/17708702/

[2017-11-01 07:40] M-ZubairAhmed commented on #134
If this issue is revelant, i would like to work on this

[2017-11-01 17:07] jakedex commented on #134
Reproducible on my end as well, this is definitely an issue. Thanks for reporting, @M-ZubairAhmed!

[2017-11-02 02:33] lili21 commented on #46
any updates ?

[2017-11-02 05:00] mfix22 commented on #46
No updates from the @dawnlabs team. We are not actively working on this feature, although it is on our radar given the support!

Anyone is welcome to help us out with this one! 😄

[2017-11-02 05:57] jakedex commented on #46
I've actually been sitting on some progress on a local branch here, just pushed it up [here](https://github.com/dawnlabs/carbon/tree/font-settings).

[2017-11-02 13:06] Drarok commented on #134
I worked on this previously:
https://github.com/dawnlabs/carbon/issues/113
https://github.com/dawnlabs/carbon/pull/118

Not sure what's gone wrong between then and now!

[2017-11-02 13:08] Drarok commented on #134
Ah ha! This commit broke it: https://github.com/dawnlabs/carbon/commit/830828d6c56ef7e0ed485d853b1b63e837594933

[2017-11-02 16:20] M-ZubairAhmed commented on #134
would you guys still want me to go ahead with this issue or it is solved in the above pull requests?

[2017-11-02 16:34] Drarok commented on #134
Not solved, just thought I'd lend a hand to find what the issue is since I'd worked on those themes previously. Please, go ahead. 🙂

[2017-11-02 17:03] thmnmlist opened #135 "Max-width window option"
A max width option would be pretty useful to prevent extremely wide images for single line and long codes

[2017-11-03 01:45] #134 closed

[2017-11-03 01:48] mfix22 commented on #134
Thanks @Drarok! This will be out in the next release. Sorry about breaking it for all you Solarized fans!

[2017-11-03 01:54] mfix22 opened #136 "Integration Tests"
- [x] Background Color Changes
- [x] Download
- [x] Drag and Drop updates code
- [x] Gist endpoints
- [x] Local Storage
- [x] Query Params
~-  [ ] Backspacing, typing works (I know, obvious)~

[2017-11-04 22:50] mfix22 commented on #125
Thanks for the issue! Please use `python` mode:
![carbon](https://user-images.githubusercontent.com/8397708/32410088-1d4976a2-c176-11e7-97e6-6bae04208e94.png)

[2017-11-04 22:50] #125 closed

[2017-11-04 22:53] mfix22 opened #137 "Fix URL encoding issue"
This python snippet doesn't save since `%05` represented a URL encoded character which breaks `dom-to-image`

[code]

Possible solutions:
- [ ] find a way to escape the encoding for this pattern
- [ ] remove patterns like these from the code before saving

[2017-11-10 22:24] mfix22 opened #139 "Bug in JavaScript selected"
When JavaScript is selected, TypeScript is displayed as selected language

[2017-11-11 00:58] #139 closed

[2017-11-12 04:49] andrewda opened #140 "Wait a while before checking language in auto"
When deleting or typing out lots of code at once, Carbon will try to guess the language after each key stroke, which takes some time and adds latency before updating the rendered text. This can lead to an unresponsive feel if trying to type quickly, especially on slower computers. We might consider only checking the language in auto mode after 200ms or so idle. [This component](https://github.com/

[2017-11-17 03:01] #140 closed

[2017-11-17 21:41] trainorpj opened #142 "No links to app on blog post"
I was checking out the [blog post](https://dawnlabs.io/blog/carbon/) for Carbon, and it seems that there are no links to [carbon.now.sh](https://carbon.now.sh/).

It'd be cool to have that link as well as a link to this repo in there 😃

[2017-11-17 22:09] mfix22 commented on #142
Updated https://dawnlabs.io/blog/carbon/ 😄

[2017-11-17 22:09] #142 closed

[2017-11-20 21:24] rafaelcamaram commented on #34
I just opened a PR for it.

If you find something that could be improved, please let me know :)

PR: [https://github.com/dawnlabs/carbon/pull/143](https://github.com/dawnlabs/carbon/pull/143)

[2017-11-21 06:16] mfix22 commented on #135
Thanks for the issue? Do you want the text to wrap, or be truncated?

[2017-11-21 16:25] thmnmlist commented on #135
@mfix22 I'm not sure about that, probably wrapped

[2017-11-22 02:17] mfix22 commented on #135
Sweet thanks @thmnmlist! Got the PR up.

[2017-11-22 02:18] #135 closed

[2017-11-22 13:15] thmnmlist commented on #135
@mfix22 oh I wanted to mean an option to set window width manually in settings if possible, like:

-Window controls (on/off)
-Line numbers (on/off)
-Padding vertical
-Padding horizontal
**-"Window width: (600px)" (leave empty to fit automatically)**

"Width adjustment" option is only setting a min-width

Just an idea, I don't know about possibility or ease. I'm very sorry for the misunderstanding

[2017-11-22 23:44] mfix22 commented on #135
@thmnmlist no don't apologize. I actually wanted the max-width anyways. I am not sure if we should support a customized max-width yet. The number of settings we have is growing quickly, and we want to make sure the UI remains friendly and usable (:

[2017-11-27 22:12] photonstorm opened #145 "Background color doesn't fill up the entire PNG"
## Expected Behavior

When you set a background color and save as PNG, the resulting PNG has lots of blank space either side of it. See screen grab from Photoshop:

![image](https://user-images.githubusercontent.com/164476/33292098-eed36e98-d3bf-11e7-98a8-bd14ad39d123.png)

## Actual Behavior

I would expect either the PNG to be not as wide, or the background color to fill the entire space. This h

[2017-12-01 05:56] jakedex commented on #48
Closing as these have been created — https://github.com/dawnlabs/carbon#community

[2017-12-01 05:56] #48 closed

[2017-12-01 06:54] #145 closed

[2017-12-01 11:11] bfred-it commented on #112
Definitely larger sizes are needed. Twitter won't even fill most of the image's available area for small snippets:

[<img width="726" alt="short snippet example" src="https://user-images.githubusercontent.com/1402241/33480234-fb59bd7e-d6c2-11e7-8d1a-b79fddef2132.png">](https://twitter.com/bfred_it/status/936550547556929538)

[2017-12-01 11:55] photonstorm commented on #112
@bfred-it  you sure the twitter issue shown in the picture above wasn't related to #145 ? I was getting loads of excess blank space on the sides of my PNGs, which would absolutely cause the issue you shown in your twitter grab.

[2017-12-01 12:20] bfred-it commented on #112
Oh wow you're absolutely right, the image has transparent padding around it. Is that fix not deployed yet? I had this issue 4 hours after the PR was merged.

[2017-12-01 13:02] photonstorm commented on #112
No, don't think it's deployed, as it still happens for me when I save a PNG. Hopefully won't be long though :)

[2017-12-08 14:35] maloletniy opened #147 "Saved image has breaken code structure"
Saved image has invalid line breaks

Save image from (Firefox)
https://carbon.now.sh/?bg=rgba%28171,%20184,%20195,%201%29&t=material&l=auto&ds=false&wc=false&wa=false&pv=0px&ph=0px&ln=true&code={%0A%20%20%22name%22:%20%22test-yarn%22,%0A%20%20%22version%22:%20%221.0.0%22,%0A%20%20%22main%22:%20%22index.js%22,%0A%20%20%22license%22:%20%22MIT%22,%0A%20%20%22scripts%22:%20{%0A%20%20%09%22test%22:%20%

[2017-12-08 21:08] jakedex commented on #147
![carbon](https://user-images.githubusercontent.com/10369094/33785146-ac8a8ace-dc18-11e7-8053-39aa2d7162ed.png)

Hmm, I'm not able to reproduce the issue on my end. Could you include a few screenshots of the erroneous behavior?

[2017-12-11 07:06] maloletniy commented on #147
Hello, on the image you can see how it looks on the page, when I save the image and also I put my firefox version. BTW, on chrome it works correctly.

![2017_12_11_09_00_41_carbon](https://user-images.githubusercontent.com/1572879/33819234-0f325ef0-de52-11e7-9c8d-f81270cb5435.png)

[2017-12-23 00:00] JohnPhamous commented on #147
I have a similar problem. Using Firefox:

Here's my input:

[code]

The output is
![example](https://i.imgur.com/6B9ici4.jpg)

When the preview on the website is
![website](https://i.imgur.com/jVeBvrt.jpg)

[2017-12-23 21:11] mfix22 commented on #147
@JohnPhamous  @maloletniy, looks like this is just due to us missing some FireFox specific CSS. We are on it.

@jakedex can you take a look when you get the chance?

[2017-12-31 20:29] #34 closed

[2018-01-03 01:50] #46 closed

[2018-01-03 02:48] mfix22 opened #150 "Set up automatic deploys for PRs"
https://www.npmjs.com/package/now-travis

[2018-01-03 04:23] jakedex commented on #147
So it looks like [dom-to-image](https://github.com/tsayen/dom-to-image) has issues loading fonts from external stylesheets. It looks like your browser was falling back to the default, resulting in the weird spacing issues. This should be fixed with #149.

[2018-01-03 04:23] #147 closed

[2018-01-05 09:24] lukechilds opened #152 "Support Base16 Mocha theme"
Are you interested in supporting this?

If so I'm happy to submit a PR.

[2018-01-09 05:18] jakedex commented on #152
Yeah! Looking forward to your PR 👍

[2018-01-09 05:26] lukechilds commented on #152
Sweet, very busy atm but will do when I can spare some time.

[2018-01-12 21:57] solutweb opened #153 "Support Angular2+ syntax mode"
I've be using TypeScript for Angular2+ code but isn't that great.

[2018-01-12 22:01] #153 closed

[2018-01-12 22:02] solutweb commented on #153
Actually I tried with the "Auto" option and the code output was satisfactory

[2018-01-15 01:23] tibuurcio opened #154 "Make it possible to change theme on arrow keypresses"
Hi guys, thank you all for this awesome project! 👌🏼👏🏼
_I've not used the issue template since this is a feature request_

First thing I tried to do on the web page was to change the theme on arrow keys to see how they look, similar to how VSCode does it. I noticed it wasn't possible and then tried to implement it. I have a somewhat working solution by now!

![carbon](https://user-images.githubuser

[2018-01-15 18:21] jakedex commented on #154
This is a great idea, @tibuurcio! I think it'd be great to have for both the theme and language dropdowns.

As for making the dropdown scroll, you might want to look into [scrollIntoView](https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollIntoView). Since we're using react, you'll just want to listen for the `keydown` event inside of the dropdown component (something like [this](https:

[2018-01-15 18:51] mfix22 commented on #154
Hey guys,
I think we should use [`downshift`](https://github.com/paypal/downshift) to handle this. It handles key(down|up) out of the box and makes it super easy to implement [type-ahead](https://codesandbox.io/s/82m2px40q9) (something we might want to do for this in the future as well).

[2018-01-16 00:58] tibuurcio commented on #154
@jakedex Thanks for the suggestion about scrollIntoView, will take a look into it!

@mfix22 Downshift is such a great idea for this! I've never used it but I'm familiar with the render props concept behind it. Great opportunity to learn, will try to hack something with it when I have some time.

[2018-01-16 17:38] astronomersiva commented on #123
I would love to take a dab at this if @vishesh-dembla is no longer working on this.

On first look, it looks like the background style for the code editor is from CodeMirror and as such we will not be able to directly manipulate its styles.

I was thinking we could add a background property to each theme in [constants.js](https://github.com/dawnlabs/carbon/blob/master/lib/constants.js#L15) in rgb(

[2018-01-18 05:18] jamesxv7 opened #158 "Save image with a higher quality for printing"
I love this project. I just want to know if it is possible to have the option to save the snippet image with a higher dpi, like for example 300, just in case you want to use it in a book or magazine for printing or a high quality pdf?

[2018-01-18 14:58] itaditya opened #160 "[Suggestion] Mention about the gist feature on the webpage"
As I directly got to website I had no clue that I can directly add gists also. There should be a mention about this on the webpage not only in the README

[2018-01-18 14:59] itaditya commented on #107
@yeskunall I can also help out with this, do tell if you need help

[2018-01-18 17:27] itaditya opened #161 "[Request] Please mention my CLI tool"
Hi, thanks for bringing this wonderful utility to life. I wanted to contribute to this. For that I have made a CLI tool to easily generate snippet of a local file.

You can take a look at [npm](https://www.npmjs.com/package/carbon-cli)

Github source code at https://github.com/itaditya/carbon-cli

It would be really great if you could people to my CLI so that they can take full advantage of Carbon

[2018-01-18 17:31] itaditya commented on #52
Hey guys I have made a simple CLI here https://github.com/itaditya/carbon-cli . Take a look https://www.npmjs.com/package/carbon-cli

[2018-01-18 20:03] jakedex commented on #160
It's mentioned on the website here, under 'Import': https://carbon.now.sh/about

[2018-01-18 20:03] #160 closed

[2018-01-18 22:29] bahmutov commented on #136
Would you be interested in Cypress tests? I can make a PR and it integrates nicely with Now deploys too
- https://github.com/cypress-io/cypress
- https://www.cypress.io/blog/2017/05/30/cypress-and-immutable-deploys/

[2018-01-19 01:33] mfix22 commented on #136
Yes exactly! Cypress is definitely our best bet!!! That would be absolutely amazing.

[2018-01-19 01:42] mfix22 commented on #161
Hey @itaditya very cool!
I just installed it and ran `carbon --file next.config.js` and nothing happened. I think it is because you need to add a `path.resolve(process.cwd(), file)` 😄

[2018-01-19 01:43] mfix22 commented on #161
Also if it is alright, I am going to close this issue since I already see your comment over at #52 (:

[2018-01-19 01:43] #161 closed

[2018-01-19 05:00] itaditya commented on #161
thanks @mfix22

[2018-01-19 05:03] itaditya commented on #160
That's easy to miss, I think such a killer feature should be in the spotlight

[2018-01-19 11:31] itaditya commented on #161
@mfix22 thanks to you the bug got fixed in time :smile:

[2018-01-19 12:58] mathiasbynens opened #163 "Make a single pixel slightly translucent for optimal Twitter image quality"
Uploading an image to Twitter decreases the quality. This does not happen for images with transparency.

How about adding an option to save the image, but with a single pixel (e.g. the top-left one) slightly translucent (`0xFE` opacity instead of `0xFF`). @kosamari built a tool for just that: https://github.com/kosamari/translucent But it would be wonderful if this was built-in to Carbon.

[2018-01-19 22:48] mfix22 commented on #158
First of all, thank you. We are honored that you want to use these images outside the web!

I am not sure how we can increase the dpi at this point, although there might be some fine tuning we can do with `dom-to-image`.

If you want to mess with it, the code that currently does the tweaking to get the images to their current quality is here: https://github.com/dawnlabs/carbon/blob/master/pages/ed

[2018-01-19 22:52] mfix22 commented on #160
Hey @jakedex do you think we should add a little pop-out/up modal/drawer that has all the carbon tips and tricks? Maybe like a little ❔ button? I like Slack's drawer, and maybe we can copy the `Cmd + /` to open it

[2018-01-20 01:52] #150 closed

[2018-01-20 02:10] #122 closed

[2018-01-21 03:34] #38 closed

[2018-01-21 22:14] jm3 opened #168 "Supporting [ba,z]sh"
Is there any interest in language support for shell variants like Bash, sh, and so on? Seems like it would be nice to have, and I know they're supported by common formatters. Is there any examples I should see if I was going to attempt it?

[2018-01-22 01:08] mfix22 commented on #168
It is already a supported MIME type in CodeMirror (https://github.com/codemirror/CodeMirror/blob/7584b13c3f991b4db5bee8dd6e200b388fbad73b/mode/meta.js#L125), so all you would have to do is add it to our list of types in `constants`, following the other example MIME types:

#### Example
[code]

[2018-01-22 01:49] jakedex opened #170 "Help modal"
See #160. Would appreciate any suggestions for the modal’s content.

[2018-01-22 07:10] LOG-TAG opened #171 "GIF option [enhancement]"
we need GIF option for code changes such that we can use it in our Google slides PPT!

[2018-01-22 16:17] ikehoff opened #173 "Add Powershell Highlighting"
## Expected Behavior
Powershell appears in Language dropdown
## Actual Behavior
It's absent.

[2018-01-22 19:55] jakedex commented on #163
Resolved with #104

[2018-01-22 19:55] #163 closed

[2018-01-23 02:33] #173 closed

[2018-01-23 03:41] jm3 commented on #168
That was fast! Thanks! 👍

[2018-01-23 04:14] mfix22 commented on #171
Hey @LOG-TAG,
Thanks for submitting this PR! The feature is outside of the scope of this project, since we currently only support a single image capture. We will reopen this PR if that changes in the future.

[2018-01-23 04:14] #171 closed

[2018-01-23 08:50] jugmac00 opened #175 ""Tweet image" is broken for me"
## Expected Behavior
Press "Tweet image" button and either image gets tweeted or a UI pops up to finish process.

## Actual Behavior
Press "Tweet image" button
Some spinner showed up
Nothing happened

[2018-01-23 23:30] yeskunall commented on #175
Can you make sure you don't have pop-ups disabled? 😅

[2018-01-24 07:53] bmoeskau commented on #137
Related, the `+` char does not appear to get encoded properly. E.g. the code `a + b` after save becomes `a   b`. The url contains `code=a%20+%20b` but the `+` should have been encoded. Changing the url to `code=a%20%2B%20b` manually works as expected.

[2018-01-25 14:25] samuelpath opened #177 "Add an "Copy image to clipboard" feature?"
My most frequent use case when using carbon is to import the code snippet images in emails.

Currently, a few steps are involved.
I need to export the image on my disk, and then import it to my email.

The "copy to clipboard" feature would allow me do this in far fewer steps.

I would simple copy to clipboard and then paste to my email, and I would save a lot of time.

Would you consider adding th

[2018-01-25 19:34] jugmac00 commented on #175
Thanks for getting back to me. Gonna check this next time I use the service. Promised^^

[2018-01-25 19:48] jakedex opened #178 "Add optional watermark to generated image"
As many have pointed out, adding a watermark to the exported image would help mitigate people repeatedly asking about how the screenshot was generated, etc.

(cc @kitze :smirk:)

[2018-01-25 21:26] yeskunall commented on #178
This is a 👎 as a feature for me because 1. if it's optional, I won't ever want to add that watermark and 2. part of Carbon's beauty is that it does not impose itself as a service onto the user. Take for example the _free_ version of [Bandicam](https://www.bandicam.com/), that always adds a certain watermark when using it.

However, if it _is_ requested by a vast multitude of people, adding it as a

[2018-01-25 21:27] yeskunall commented on #177
Duplicate of #49.

[2018-01-26 03:45] mfix22 commented on #177
Closing because of duplicate. Please refer to #49

[2018-01-26 03:45] #177 closed

[2018-01-26 03:48] mfix22 commented on #178
1. No matter what, we would keep the watermark/image to the bottom right of the image to it avoids covering as much text as possible.
2. What would you think about it if you could add your own custom watermark to the editor, allowing you to make custom "branded" Carbon screenshots.
3. Thanks for voicing your though, @yeskunall. Just want to put it out there, that we don't want to impose the Carbon

[2018-01-26 03:50] yeskunall commented on #178
Perfectly cool with me, you guys. 😅 sorry, it might have seemed like I was forcing my opinion, but let's see how this conversation goes! 😁

[2018-01-28 11:20] rehatkathuria opened #179 "Embedding carbon window as HTML element"
I couldn't see if this was already supported but it'd be lush if we could embed the window as a HTML element. This would then allow for prettier documentation in APIs where one could also select the code snippet in an easier manner.

Thoughts?

[2018-01-28 11:21] rehatkathuria commented on #49
I think this could be a nice solution? #179

[2018-01-29 03:45] Anglermis opened #180 "asp.net 3.5 圖表與實務模組大全"
## Expected Behavior

## Actual Behavior

[2018-01-29 06:29] mfix22 commented on #180
Please use the HTML embedded mode 😄 https://codemirror.net/mode/htmlembedded/index.html

[2018-01-29 06:29] #180 closed

[2018-01-29 12:19] minacle opened #181 "Support custom colour scheme + save/load schemes."
I'd like to use my own colour scheme on my codes.

Also, it is pain to customise every time, so behaviour to save and load schemes is needed.

[2018-01-29 18:25] JayHoltslander opened #182 "Tweet & Save broken in Safari"
Safari on OSX 10.11.6 with "Block pop-up windows" off.

## Expected Behavior
* Tweet button to work
* Save button to work
## Actual Behavior
* Tweet button does nothing.
* Save button does nothing.

Works fine in Chrome.

### Related
* [The Verge](https://www.theverge.com/2018/1/4/16805216/google-chrome-only-sites-internet-explorer-6-web-standards)

[2018-01-30 01:53] mfix22 commented on #181
@minacle how do you propose we format a theme? How do you currently defined your "theme". Is it just an array of colors? Or do you have a more precise idea in mind?

We could definitely support an array of colors (much like Slack does with their sidebar themes) and just fill in the code mirror CSS (example here: https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.34.0/theme/blackboard.css)

[2018-01-30 01:53] #175 closed

[2018-01-30 09:23] minacle commented on #181
@mfix22 Absolutely, it is an array of colours, but I want more useful features.

1. Customise colours based on one of predefined scheme.
2. Save the scheme to cookie or something.
3. Export the scheme to save it to gist or file.
4. Exported schemes can be imported.

[2018-01-31 02:11] mergesort commented on #28
I'd like to make a request for Safari support. I just stumbled upon your wonderful tool, plan on using it quite a bit, and use Safari as my primary browser.

Thank you so much!

[2018-01-31 13:46] mstnorris opened #184 "Do not require opening PHP tag in order to highlight PHP code"
## Expected Behaviour
Highlight the code without requiring the opening `<?php` tag

_**The below screenshot has been edited to show desired behaviour**_

<img width="883" alt="screenshot 2018-01-31 13 41 54" src="https://user-images.githubusercontent.com/1919816/35626233-f6fbef64-068c-11e8-9cc1-d36635635b6f.png">

## Actual Behaviour
The code is only highlighted when the opening `<?php` tag is pre

[2018-01-31 21:53] evgenyrodionov opened #185 "diff language?"
Maybe we can add diff (or git) language? Will be very useful.

[2018-02-01 09:35] sumnermic opened #186 "Suggest Syntax highlighting Apache"
## Expected Behavior
Apache syntax highlighting... or auto to NGINX highlighting?
## Actual Behavior
Not the right syntax highlighting. Auto just uses the syntax highlighting used before.

[2018-02-02 12:34] agonxgashi opened #187 "Copy image to clipboard"
## Expected Behavior
Make it possible to copy the image to clipboard without saving it on PC. That would be great for fast sharing images!

[2018-02-02 21:57] eswat2 opened #188 "Support Tron theme..."
https://atom.io/themes/tron-legacy-theme

[2018-02-02 22:15] #184 closed

[2018-02-02 22:16] jakedex commented on #184
Hi, @mstnorris! Thanks for bringing this to our attention, I've fixed this issue in #189. It'll be rolled out in our next release 😄

[2018-02-02 22:47] mfix22 commented on #187
Duplicate of #49. Closing.

[2018-02-02 22:47] #187 closed

[2018-02-02 23:55] briandennis commented on #188
Currently we only support adding themes that come bundled with Codemirror. You can find their list of available themes [here](https://codemirror.net/theme/) (unfortunately Tron isn't included). If you're able to get Tron into Codemirror, I'll be happy to add it!

[2018-02-02 23:55] #188 closed

[2018-02-03 01:52] cgatian commented on #179
I would love this! A replacement for all the gists I make for Medium

[2018-02-03 04:10] warborn commented on #185
I can take care of this :)

[2018-02-03 05:51] warborn commented on #186
I found this external CodeMirror mode for Apache syntax, it can be added as a custom mode, what do you think? @jakedex I can make the PR if is approved :)

It will look like this

![carbon](https://user-images.githubusercontent.com/10677789/35763492-2248d8fc-0873-11e8-9158-8dcd4411d04e.png)

[2018-02-03 07:23] #185 closed

[2018-02-03 17:50] monouser7dig commented on #52
as a bash script or alike without npm? would be very welcome and sleek

like `carbon --syntax=c --theme=material input.c output_c.png`

[2018-02-03 17:52] ChALkeR opened #192 "Escape variables before embedding them in html"
![screenshot_20180203_204801](https://user-images.githubusercontent.com/291301/35769943-2abd7e1e-0924-11e8-945a-baef5a703950.png)

## Expected Behavior
Variables escaped when building html.

## Actual Behavior
Variables not escaped and concatenated with html as-is, allowing script execution.

## Note
Due to the nature of this service, I do not think that this currently poses a security issue — the

[2018-02-03 18:10] ChALkeR commented on #192
Guess that's the code:
https://github.com/dawnlabs/carbon/blob/master/components/BackgroundSelect.js#L77-L119

[2018-02-03 19:49] samrobbins85 opened #193 "The option for topbars from different operating systems would be nice"
## Expected Behavior

## Actual Behavior

[2018-02-03 22:22] mfix22 commented on #192
@ChALkeR thanks so much! That's a little embarrassing (:

[2018-02-03 22:23] mfix22 commented on #193
I'm going to close this as a duplicate of #3. Feel free to track this issue there.

[2018-02-03 22:23] #193 closed

[2018-02-03 22:35] ChALkeR commented on #192
@mfix22 I don't think it fixes it.

[2018-02-03 23:30] ChALkeR commented on #192
![screenshot_20180204_022947](https://user-images.githubusercontent.com/291301/35772575-463f1718-0953-11e8-8002-0e9a8fe4440f.png)

![screenshot_20180204_022751](https://user-images.githubusercontent.com/291301/35772561-014908da-0953-11e8-860a-ce5dbf24d4e3.png)

[2018-02-03 23:31] mfix22 commented on #192
@ChALkeR we haven't released yet, but i'll reopen so you can verify when we do 😄

[2018-02-03 23:36] ChALkeR commented on #192
@mfix22 I expect the lines on the two screenshots above in https://github.com/dawnlabs/carbon/issues/192#issuecomment-362865664 to still work even after 5b89454  will be deployed.

Correct me if I am mistaken.

[2018-02-03 23:51] andrewda commented on #192
Can't we just `escape()` the input? And `unescape()` when we receive it in code?

[2018-02-04 00:24] mfix22 opened #194 "Accessibility audit and overhaul"
- [x] Close #154
- [x] header role="banner"
- [x] nav role="navigation"
- [x] main role="main"
- [x] footer role="contentinfo"
- [x] html lang="en"
- [x] Highlight settings components on focus

[2018-02-04 00:28] mfix22 commented on #192
@ChALkeR definitely. Still working on the fix. Just pushed the escape code, and deployed. Can you verify?

[2018-02-04 01:26] jakedex commented on #194
https://a11yproject.com/checklist

[2018-02-04 02:58] mfix22 commented on #192
I think both of the cases you pointed out are fixed. Do you see any other issues @ChALkeR?
Thanks for the help by the way!

[2018-02-04 04:29] ChALkeR commented on #192
@mfix22 The patch b44ecff6eae617ec61fe68cc67e973d1575d9b51 should prevent user-supplied content from evading from `<style>` tag (i.e. closing it and inserting arbitrary html content) in that specific place. I did not perform audit of the remaining code.

Note that this is still not perfect (and isn't a good example), because user content could insert arbitrary styles there (which was not what was

[2018-02-04 09:37] JiDai opened #197 "Tweet button not working"
Hi,

I am on last version of safari.

## Expected Behavior
The 'tweet  image'  button open a tweet

## Actual Behavior
The 'tweet  image' button do nothing (after a short loading state)
I got an error in JS console

[2018-02-04 14:16] noudadrichem commented on #181
Hi @mfix22

I wanted to make an issue out of this myself. But I see there already is one. I have spit through the code how you guys rock these themes, and I saw you guys are using highlightjs.
As a solution of approach I was thinking of something like a directory with themes where people could upload their own hljs themes. At @yummygum we made a theme called [city lights](http://citylights.xyz) an

[2018-02-04 14:19] noudadrichem commented on #188
How can I add a theme to code mirror?

[2018-02-04 17:37] martinfrancois opened #198 "Feature request: Save as Vector / PDF"
I really like the way the code is rendered, but I'm a bit hesitant to include just a picture, because the code inside the image cannot be copied by others. I think it would be great if there was a possibility to download it as an SVG file or even a PDF.

[2018-02-04 19:12] mfix22 commented on #197
This is a duplicate of #28. Unfortunately our app does not work on Safari yet. It is our highest priority and we are working on it.

Closing.

[2018-02-04 19:12] #197 closed

[2018-02-04 20:20] l-marchesi commented on #198
I'm interested in the PDF export too.

[2018-02-04 21:13] mfix22 commented on #181
@noudadrichem I absolutely love City Lights! It's my current theme + syntax in Atom!

1. Please go ahead and submit a PR to add the necessary changes to add City Lights to Carbon.

2. We are definitely going to add a way to add custom themes (although if you wanted to make a PR for that, go right ahead 😄)

[2018-02-04 21:21] mfix22 commented on #192
@ChALkeR totally aware of this possibility, but for my own curiosity, can you tell me why this poses a problem? Even with sanitation, users could still add arbitrary CSS via the dev-tools, no?

And thanks so much for your help. We definitely don't need a full audit (:

[2018-02-05 03:38] mfix22 commented on #170
Need to update to make it obvious all the new features soon (:

[2018-02-05 03:48] #192 closed

[2018-02-05 03:49] mfix22 commented on #107
Running the Chrome PWA-audit in the Dev-tools is helpful.

[2018-02-05 06:47] sbimochan opened #201 "Unhandled Promise rejection while saving image"
## Expected Behavior
save image

## Actual Behavior
![screen shot 2018-02-05 at 12 31 05 pm](https://user-images.githubusercontent.com/11685953/35791518-8f0ee612-0a70-11e8-9b58-c5944446db4d.jpg)

[2018-02-05 09:54] JiDai commented on #197
Ok, thanks

[2018-02-05 13:16] equinusocio opened #202 "Update material synstax"
Hi, i'm the author of the material color scheme. The scheme was updated time ago and the current one is totally differents from the carbon one. You can find the new material syntax here https://github.com/equinusocio/vsc-material-theme since the sublime text version is deprecated.

## Expected Behavior
![screen shot 2018-02-05 at 14 15 06](https://user-images.githubusercontent.com/10454741/3580623

[2018-02-05 13:18] chriskrycho opened #203 "Does not work on iOS"
## Expected Behavior

The editor functionality should work in iOS Safari.

## Actual Behavior

There is no visible cursor, and the invisible cursor that is placed on the page does not work correctly, and clicking the Tweet and Save buttons simply does nothing.

[2018-02-05 14:38] bclinkinbeard opened #205 "Gist loading not working"
## Expected Behavior
When loading https://carbon.now.sh/dc59a390eac41af13f1da0b68a43b9d2 it should display the code from https://gist.github.com/bclinkinbeard/dc59a390eac41af13f1da0b68a43b9d2

## Actual Behavior
It displays the same default code as https://carbon.now.sh

[2018-02-05 16:07] ChALkeR commented on #192
@mfix22 On this site, it doesn't pose a problem. Neither does the original XSS pose a direct problem on this specific site to my knowledge (which I mentioned above). If it had — I would have reported this privately instead of opening an issue.

I just outlined some of the bad practices that could become a problem if someone used a similar approach (or directly reused code from this repo) in other

[2018-02-05 16:13] mfix22 commented on #203
Duplicate of #28. Closing.

[2018-02-05 16:13] #203 closed

[2018-02-05 16:14] mfix22 commented on #201
This occurs in Safari. Closing as it is a duplicate of #28.

[2018-02-05 16:14] #201 closed

[2018-02-05 16:37] mfix22 commented on #205
@bclinkinbeard  I was examining the same issue last night, and it is resolved this morning. I think it is due to us being rate limited by GitHub (which we currently don't have the 💸 to resolve right now 😄)

I just hit this URL and it's currently working.

[2018-02-05 16:37] #205 closed

[2018-02-05 16:44] mfix22 commented on #202
- [ ] We most likely need to bump the version we are getting from the CDN

[2018-02-05 16:47] mfix22 commented on #205
@bclinkinbeard This is the only check we do: https://github.com/dawnlabs/carbon/blob/master/pages/editor.js#L47-L51

If you have ideas, we would love to accept a PR 😄  (as you can see it's not the most robust method hahah)

[2018-02-05 17:04] mfix22 commented on #192
@ChALkeR thanks so much for the explanation. I see the distinction between adding the styles in the dev-tools versus via a link now (:

Appreciate your kind words, too 🍺

[2018-02-05 17:14] jakedex commented on #1
On second thought, this doesn't seem super useful... closing for now.

[2018-02-05 17:14] #1 closed

[2018-02-05 18:16] codeWonderland commented on #179
You would probably want to import it via an iframe versus creating an element for it though in order to avoid people inadvertently messing around with the styles with whatever css is on their site

[2018-02-06 02:19] mfix22 commented on #202
@equinusocio is the Material theme updated in Codemirror? We depend on the CodeMirror cloudflare CDN (cdnjs.cloudflare.com/ajax/libs/codemirror) and we are on the latest version for these themes (I believe)?

Let me know if Material has a newer Codemirror version than `5.34.0` that we should use.

[2018-02-06 02:51] mfix22 commented on #194
Our next release: <img width="668" alt="screenshot 2018-02-05 18 41 53" src="https://user-images.githubusercontent.com/8397708/35839490-876dc0e2-0aa5-11e8-9fa5-55c9db948b65.png">

[2018-02-06 02:55] bclinkinbeard commented on #205
Gotcha. :) It would require some kind of persistence layer but, basically, you can make a call to the GitHub API and provide an [If-None-Matched](https://github.com/Literasee/literasee/blob/master/routes/api/requestFactory.js#L16) or Modified-Since header (-ish, from memory), and if it [hasn't changed since you last checked it](https://github.com/Literasee/literasee/blob/master/routes/api/get-proj

[2018-02-06 05:27] mfix22 commented on #205
@bclinkinbeard lol that is so awesome 🤣

At this point, we probably won't add a persistence layer, but you are totally right. We will keep it in mind for the future.

[2018-02-06 08:10] MartinSeeler commented on #179
I was thinking the same. The problem could also be solved by providing a permalink to the image instead of an embedded iFrame. SO instead of sharing as tweet or downloading the image, it would be great to provide a gist id and also a query parameter, to get the image only.

[2018-02-06 08:12] equinusocio commented on #202
Mmm It was not me who put it on codemirror. You can check the latest versions (both darker, likghter and default) here if you want to update it.
https://tmtheme-editor.herokuapp.com/#!/editor/theme/Material%20Theme

[2018-02-06 09:07] FrontEndStudio opened #207 "An unexpected error has occured"
## Expected Behavior
A working website.

## Actual Behavior

Website blanks out on: Google Chrome Version 63.0.329.132 (Official Build)

![carbon_unexpected_error](https://user-images.githubusercontent.com/749913/35850542-7f2e1dd4-0b25-11e8-8c3b-1336bccad78a.gif)

[2018-02-06 09:41] daixtrose opened #209 "Easy integration with remark.js"
## Idea

It would be nice, if the features of [remark.js](https://remarkjs.com/#1) and carbon could be combined, sucht that code portions are rendered by carbon instead the builtin markdown code renderer.

[2018-02-06 11:05] deadcoder0904 opened #210 "Feature Request: Carbon as an API"
Send the code & it returns a dynamic image. It can have all the other options as well. That way it would be easy to embed it dynamically with just code. I can't think of any other use cases right now. What do you think?

[2018-02-06 13:21] jugmac00 commented on #175
You were right - popup issue. Works now like a charm!

[2018-02-06 14:07] KennethWussmann commented on #210
I thought about the same and found this related issue: #179

[2018-02-06 16:54] valimero opened #212 "Sublime Text Extension"
Is there an extension for Sublime Text ?

[2018-02-06 17:08] mfix22 commented on #209
@MadeByMike mentioned that he was working on something like this here: https://twitter.com/MikeRiethmuller/status/957770490612871168

[2018-02-06 17:10] mfix22 commented on #212
At the moment no. There are community plugins for Atom and VS Code. If someone created one, we would happily add it to our Community section in our README.

[2018-02-06 17:13] mfix22 commented on #202
@equinusocio, if you want to update the version CodeMirror to the latest Material theme, we would happily accept a PR to add it into Carbon.

[2018-02-06 18:23] suchow opened #214 "Increase maximum vertical padding"
## Expected Behavior
When the padding is set to the maximum vertically, the resultant image is tall enough to fill an entire Powerpoint or Keynote slide.

## Actual Behavior
When the padding is set to the maximum vertically, the resultant image is **NOT** tall enough to fill an entire Powerpoint or Keynote slide.

[2018-02-06 19:36] #214 closed

[2018-02-06 20:15] #207 closed

[2018-02-07 05:39] #202 closed

[2018-02-07 08:24] nikolasburk commented on #179
To be able to properly embed these code snippets into Medium articles, they should be available as an www.embed.ly extension. Here are a few pointers how this works:

- https://help.medium.com/hc/en-us/articles/214981378-Embedding
- http://embed.ly/providers
- http://embed.ly/providers/new

I would absolutely love this feature! As I'm writing a lot of tutorials, there are a few more ideas for extr

[2018-02-07 19:27] as-ajitsingh opened #219 "Chrome extention to change the code into image."
Actually, It's a feature that just came into my mind. As I write tech blogs so whenever I have to give a code snippet, I always have to go to VS Code/Atom etc to paste the code, take a snapshot and then add that snapshot to blog editor.
It will be better If there is a chrome extension (when enabled) can detect the code in the input/text area field and replace it with a formatted image of that code

[2018-02-08 00:58] molnarmark commented on #212
I quickly put together this. I'll update it if people find it useful. :smile: [carbonSublime](https://github.com/molnarmark/carbonSublime)

[2018-02-08 01:09] mfix22 opened #221 "Improve Render Performance"
- [x] Investigate deferring <link> tags: https://www.giftofspeed.com/defer-loading-css/
- [x] Investigate inlining all styles from \<link\>'s at build (use `preval.macro`?)
- [x] Investigate streaming rendering: https://zeit.co/blog/streaming-server-rendering-at-spectrum

Chrome Performance Audit in the dev-tools is helpful for analyzing these improvements.

[2018-02-08 06:04] mfix22 commented on #212
@molnarmark that's incredible! Can you make a PR to add a link to our README? Follow the same pattern VS Code and Atom are currently using (:

[2018-02-08 09:05] zhaoqize opened #223 "Now can not automatically get the file type"
<img src="https://user-images.githubusercontent.com/17929687/35964158-d60eeae8-0cf1-11e8-9919-f43a933975fb.png" height="200">

when I drop file to carbon,the editor can not get the file type.
so, change the type every time.
this may be an improve point 😄

[2018-02-08 15:44] #186 closed

[2018-02-08 16:07] #212 closed

[2018-02-08 16:15] briandennis commented on #210
Cool idea! #179 seems to be focused on rendering an embeddable editor. From your description, it seems to me that this is more tuned towards an API the returns the image data. Am I understanding that correctly?

[2018-02-08 16:31] briandennis commented on #209
That's a cool idea! This isn't something we're going to add here, but if you get a chance to build it, we can definitely link to it in the README.

[2018-02-08 16:41] briandennis commented on #219
That's interesting, I could see that being useful for also just quickly creating Carbon images for code you come across when browsing the web (even if you're not writing a blog). This would probably be dependent on #210? A chrome extension isn't something we'll incorporate into the project here, but if you or anyone else gets a chance to make it, we can certainly document it in the README!

[2018-02-08 16:53] briandennis commented on #158
This is equivalent to making the image higher resolution, so we'll track it at #112

[2018-02-08 16:53] #158 closed

[2018-02-08 17:01] jakedex commented on #219
I agree this would be useful - especially if you could select a bit of code on the web, and right click to create a carbon image

[2018-02-08 17:08] mfix22 commented on #223
@briandennis this should only get auto-updated if they are in `Auto` syntax mode right?

What do you think about overriding this behavior on "Drop"?

[2018-02-08 17:25] briandennis commented on #223
Correct, that's how it's working now. But yeah, let's set the mode to `auto` if they drop in code from a file.

[2018-02-08 17:29] #223 closed

[2018-02-08 18:39] deadcoder0904 commented on #210
Not sure what the use case might be though 😂

If you find a use case, keep this open otherwise we have other issue that requests embedding it. I can't think of anything useful though, what I needed was embeddable editor only. I just kinda put it the wrong way. The embeddable editor would have the specified theme, font size & all the other features but it will be a replacement of Github Gist for Me

[2018-02-08 20:33] KennethWussmann commented on #210
@deadcoder0904 Why sending a POST Request and use query parameters?
Large code can not fit in the URL and messes with encoding.

Better use POST with JSON as payload with your desired settings.
The response could be the image the API client can download/display.

[2018-02-08 20:38] briandennis commented on #210
gotcha @deadcoder0904 , I understand what you mean now. Well if you're primarily interested in the embeddable part, keep an eye on #179 because that's exactly what we're working on over there!

As for the image API aspect, I agree that could be useful for building extensions! Fortunately with #213  we've ended up needing to implement most of this already. @KennethWussmann the way that is shaping u

[2018-02-10 10:39] drcmda commented on #210
That would truly be awesome. The downside right now is that it's a major hassle to update. For instance i'm using carbon on a github project: https://github.com/drcmda/react-contextual

But stupid as i am i set it to javascript, not jsx, so all the images are mangled, on top of it there's a bug i oversaw. It means i have to go through all the trouble again, preparing code in the editor so that it

[2018-02-10 11:00] drcmda commented on #135
@mfix22 that would be one of the most important settings to imo. Like, if you want to make a series of snippets, for instance like these: https://github.com/drcmda/react-contextual

It is impossible to do with now, it would look garbled as some images blow up and some are small. To do this i had to paste a blank line filled with a long series of spaces in them all. To update this once some code ha

[2018-02-10 20:40] sheldonhull commented on #179
I'll be watching. I just spent around an hour looking for a better way to style and embed code in my page that would basically replicate the beautiful styling you created, but still allow the code to be copied. As much as I love the image feature, I need those snippets to be available to copy. Watching this repo, keep up the great work!

[2018-02-12 07:02] Maelrawn opened #229 "# Character Breaks URLs"
## Expected Behavior

Text entered while on the site looks as it should, contains a `#`:
![carbon](https://user-images.githubusercontent.com/36387396/36086101-34301766-0f98-11e8-929b-e35ee087e0cd.png)
This is the generated URL for the text contained in this screenshot:
https://carbon.now.sh/?bg=rgba(38,139,210,100)&t=solarized%20dark&l=auto&ds=true&wc=true&wa=true&pv=48px&ph=32px&ln=true&code=Lore

[2018-02-13 12:19] Khongjhon opened #231 "Dawnlabs / carbon"
## Expected Behavior

## Actual Behavior

[2018-02-13 14:44] #231 closed

[2018-02-13 17:26] #229 closed

[2018-02-13 17:28] Androbin commented on #137
Has #230 solved this?

[2018-02-13 17:34] jameslittle230 opened #232 "Upload your own code font"
Could be cool to upload your own monospace font to be used in the output, for those who have monospace fonts that aren't available for free.

[2018-02-14 05:32] wezm opened #233 "Add Iosevka font"
— https://be5invis.github.io/Iosevka/

Iosevka is licensed under the SIL Open Font License v1.1

[2018-02-14 18:02] tossj opened #234 "Hash characters are not percent-encoded in URL"
## Expected Behavior
When copying the URL of a picture the hash characters that may present in some code languages are not percent-encoded. As a result, visiting the URL results in missing code because the browser has interpreted the hash characters as the URL's hash, and not data belonging to the `code` query parameter.

This error has been observed in both Firefox 58.0.2 and Microsoft Edge.

In

[2018-02-14 18:05] TimoSta opened #235 "Support for Nord Color Scheme"
Is there any interest in adding support for the [Nord](https://github.com/arcticicestudio/nord) color scheme?

If so, I might be able to send a PR over the next few days.

[2018-02-14 19:08] SirivanSuwamnawong commented on #235
Yes

[2018-02-15 05:16] estebanhernande opened #236 "Machin"
## Expected Behavior

## Actual Behavior

[2018-02-15 16:06] #236 closed

[2018-02-15 22:17] #154 closed

[2018-02-15 23:16] Gadalf78 opened #238 "Ethereeum"
## Expected Behavior

## Actual Behavior

[2018-02-16 00:19] #238 closed

[2018-02-16 00:22] mfix22 commented on #234
@briandennis is this a duplicate of your recent fix that is yet to be deployed?

[2018-02-16 09:16] RationalCoding commented on #198
SVG would allow embedding this in READMEs without sacrificing text selection.

[2018-02-16 09:18] molnarmark commented on #234
[This one.](https://github.com/dawnlabs/carbon/issues/229)

[2018-02-16 09:33] molnarmark opened #240 "Enhanced Carbon CLI"
I've seen the CLI over at [npm](https://www.npmjs.com/package/carbon-cli) and at [#161](https://github.com/dawnlabs/carbon/issues/161), and I was thinking about making a bit enhanced version of it that would support more than 500 characters by combining multiple images together.

It would also use the proposal mentioned over at [#52](https://github.com/dawnlabs/carbon/issues/52).

If people are in

[2018-02-16 15:16] briandennis commented on #234
Yep, as @molnarmark mentioned this was addressed with #229 and #230. It will be pushed live soon 👍

[2018-02-16 15:16] #234 closed

[2018-02-16 16:10] besasam opened #241 "Square background"
It would be great if there was a setting to give the editor a square background, for sharing on Instagram.
Could probably be done by adjusting the paddings upon resizing so that a square aspect ratio is maintained.

~~Tried doing it myself but I suck at React so I gave up lol~~

[2018-02-16 17:01] premierland opened #242 "Mã nguồn mở"
## Expected [Behavior](url)

## Actual Behavior

[2018-02-16 18:02] #242 closed

[2018-02-16 20:13] molnarmark commented on #241
I've just implemented this, if @briandennis or any other core maintainer thinks its a good idea to have this as an option, I'll open a PR.

[2018-02-16 22:29] aliMadlie opened #243 "test"
## Expected Behavior

## Actual Behavior

[2018-02-18 00:41] mfix22 commented on #198
@RationalCoding this is in Progress at #199 😄

[2018-02-18 20:43] tytower opened #245 "Does not accept any files or text in Palemoon browser"
## Expected Behavior

## Actual Behavior

[2018-02-18 21:25] mfix22 commented on #245
Duplicate of #28

[2018-02-18 21:25] #245 closed

[2018-02-18 21:41] tytower commented on #28
https://github.com/dawnlabs/carbon/issues/245
OK thats closed that issue so what is the fix?
How can i use this editor ?

[2018-02-19 11:04] elrumordelaluz commented on #28
@tytower meanwhile this _Issue_ is open, could you please use the _App_ with _Chrome_ or _Firefox_ browsers?

[2018-02-19 17:33] wadialachheb opened #246 "yes"
## Expected Behavior

## Actual Behavior

[2018-02-19 17:49] #246 closed

[2018-02-20 01:30] briandennis commented on #241
Sounds good to me! @molnarmark your solution looks good, though we'd probably want this in the advanced section of the menu. Would happily accept a PR for this 👍

[2018-02-20 06:05] chivas2 opened #247 "carbon"
## Expected Behavior

## Actual Behavior

[2018-02-20 06:11] #247 closed

[2018-02-20 07:53] oskarkrawczyk opened #249 "Importing from GET/POST"
Was looking into integrating Carbon inside of @jsfiddle in some form, but I'd need to be able to pass code in a `GET` (base64-ed, just in case) or `POST` param.

Any chance this could be integrated?

Also, congrats on the great little tool!

[2018-02-20 09:31] molnarmark commented on #241
#250 Opened.

[2018-02-20 09:58] mayrach opened #251 "mayra"
## Expected Behavior

## Actual Behavior

[2018-02-20 14:46] #251 closed

[2018-02-20 17:49] Fakhrurrazi opened #252 "Kode-kode github"
## Expected Behavior

## Actual Behavior

[2018-02-20 19:24] #252 closed

[2018-02-21 17:04] BLamy opened #254 "Add Title"
It would be nice if there was an ability to add a title to your code similar to this.

![image](https://user-images.githubusercontent.com/324928/36494156-47b6226c-16ff-11e8-996f-a78713ef0523.png)

[2018-02-21 17:36] molnarmark commented on #254
I'd be happy to implement this if needed!

[2018-02-21 19:17] KINGSABRI commented on #254
A title, or file name

[2018-02-21 23:10] jakedex commented on #254
I really like this idea! If you could implement @molnarmark, that'd be awesome. Maybe make the font-size a bit smaller, like the example below.

![example](https://user-images.githubusercontent.com/10369094/36510867-27d79612-172a-11e8-9ebb-86df8cdd8617.png)

[2018-02-21 23:24] molnarmark commented on #254
What would be a good way to do this? Have an invisible input box at the top? I was thinking about adding it to the settings dropdown but it really doesn't belong there.

[2018-02-21 23:53] jakedex commented on #254
Yeah, let's throw an invisible input box at the top for now. We'll have to add some more UX cues down the road.

[2018-02-22 00:50] #241 closed

[2018-02-22 00:52] mfix22 commented on #194
Closing for now. Will open another one for our next internal audit.

[2018-02-22 00:52] #194 closed

[2018-02-22 00:52] mfix22 commented on #235
@TimoSta looking forward to your PR.

[2018-02-22 00:54] mfix22 commented on #249
Thanks for the issue and the kind words! I am going to lump this issue in with #210 (Carbon as an API) since that is basically what you are asking for 😄

[2018-02-22 00:54] #249 closed

[2018-02-22 09:14] artemnovichkov opened #255 "Save an image in Safari"
## Expected Behavior
Can save an image in Safari
## Actual Behavior
Actually, I can't 🤷‍♂️

[2018-02-22 14:48] briandennis commented on #255
Duplicate of #28. Progress towards this is being tracked in #213

[2018-02-22 14:48] #255 closed

[2018-02-22 17:38] molnarmark commented on #254
I'm gonna add this and submit a PR soon in the next couple of days. 👍

[2018-02-22 20:02] jxshco commented on #107
Is anyone working on this? wouldn't mind submitting a PR

[2018-02-22 20:50] mfix22 commented on #107
Not at the moment, Josh. We would love to see a PR from you!

On Thu, Feb 22, 2018 at 12:02 PM Josh Sturrock <notifications@github.com>
wrote:

[2018-02-23 06:03] yonumam opened #258 "test"
## Expected Behavior

## Actual Behavior

[2018-02-23 10:45] DeepSpace2 opened #259 "Some settings aren't exported to url"
Setting font size to max

![screenshot 2](https://user-images.githubusercontent.com/6841988/36590423-4d239556-1897-11e8-8753-49024abe519f.png)

After refreshing the page font size returns to default

![screenshot 3](https://user-images.githubusercontent.com/6841988/36590451-6405e6ac-1897-11e8-9eb3-6428306ae194.png)

Other settings in this menu (line numbers for example) seem to be exported correct

[2018-02-23 10:49] fundor333 opened #260 "Feature Request: import and export of config"
# Suggestion: config for the editor

I am working on a presentation and I am using Carbon for make the code look better but I need to setup all the time the look like of the "terminal" but i work on it in my free time so sometime i close all and work on other project and lost the config or part of it.

Is a bad idea to put an import/export of the config or something similare into Carbon?

[2018-02-23 14:19] DeepSpace2 commented on #259
Forked and started to implement

[2018-02-23 15:43] molnarmark commented on #260
I'd be happy to work on this aswell if no one takes it. 😄

[2018-02-23 16:09] molnarmark commented on #240
Can we somehow overcome the issue with the 500 character limit? I understand that its due to the parameters and the code going in as a query string, it was probably mentioned before and I'm late in the party, but would it be possible to have a POST request *also* handing this?

The CLI will be able to combine multiple Carbon images together, thus making more requests to the server, so I guess it w

[2018-02-23 18:37] #258 closed

[2018-02-23 18:44] mfix22 commented on #260
Your config should be being saved to `localStorage`. Is the config not being saved for you?

[2018-02-23 18:45] #259 closed

[2018-02-23 19:24] jxshco commented on #107
@mfix22 Sure I'll take this one

[2018-02-24 09:15] fundor333 commented on #260
Not always. Sometime I open the browser and Carbon has the default config

[2018-02-24 10:47] rg1230 opened #262 "Apache software"
## Expected Behavior

## Actual Behavior

[2018-02-25 04:14] solitaryMahatma opened #263 "xx"
## Expected Behavior
bxfgtdrfvgbhnj,-

## Actual Behavior

[2018-02-25 04:16] yeskunall commented on #260
@fundor333 `localStorage` can only hold data up to a certain limit. Let's say you have 2 apps, and one extension that make use of `localStorage` and let's say your extension has full control over the size limit cap on `localStorage`. Then, it can potentially override data from other apps/extensions if it wanted to. This is true in case of Chrome; I'm not sure if the case holds for other browsers t

[2018-02-25 04:19] yeskunall commented on #263
Nice bot spam 😅

[2018-02-25 04:27] solitaryMahatma commented on #263
No, I don't understand English. I'm just messing around.

[2018-02-25 05:33] #263 closed

[2018-02-25 16:14] #112 closed

[2018-02-25 16:32] molnarmark commented on #254
#257 was merged. 😄

[2018-02-25 21:29] #254 closed

[2018-02-25 21:33] mallamzamaani1 commented on #254
This is Mallam I am a powerful spritual man who help people  u can whatsapp me now or call me now (+233546805897) ,for help like,
1.Schooling
2.Riches
3.Instant money
4.business improvement
5.Child birth
6.Lotto numbers
7.Scam powers
8.protection
All problems can be solve

[2018-02-25 21:33] mallamzamaani1 opened #265 "Mallam zamaani powers"
This is Mallam I am a powerful spritual man who help people  u can whatsapp me now or call me now (+233546805897) ,for help like,
1.Schooling
2.Riches
3.Instant money
4.business improvement
5.Child birth
6.Lotto numbers
7.Scam powers
8.protection
All problems can be solve

[2018-02-25 21:47] #265 closed

[2018-02-26 00:00] #262 closed

[2018-02-26 14:26] ameerthehacker commented on #179
Hey, guys, I'm excited to do a pull request for this feature but before I get started it would be great if anyone can give me a green flag.

[2018-02-26 22:48] hvze commented on #210
Hi, I kinda wanted to use carbon for auto screenshotting images of my code whenever I posted them into an IO service. I decided to self host an API I wrote using puppeteer. I know it's a bit basic as of now, but I want to know if anyone wants to help with PRs or issues. (this is my first node project btw)

[Repo Here](https://github.com/hvze/carbon-api)

[2018-02-27 05:00] mfix22 commented on #179
@ameerthehacker, we do not have any active development on this issue, although we would appreciate it if you would work with @nikolasburk on this, since Nikolas has some ideas about how to implement this functionality with Embed.ly :smile: (and we think that is a good direction to take this feature).

If you could, push up work onto a branch early for feedback, and we encourage collaboration (:

[2018-02-27 05:10] ameerthehacker commented on #179
Thanks @mfix22. @nikolasburk are you interested to work with me? It would be great if you are ready for that.

[2018-02-27 12:23] mstnorris commented on #184
Thanks @jakedex I just used it again and noticed this was fixed. Great work!

[2018-02-28 06:13] mfix22 commented on #233
@wezm is Iosevka published to a CDN? We are pulling all our other typefaces from different CDNs.

[2018-02-28 08:48] wezm commented on #233
Maybe you can use the one on jsDelivr: https://www.jsdelivr.com/package/npm/@typopro/web-iosevka

[2018-03-01 02:48] neo1949 opened #267 "Problem of Padding(vertical) setting"
## Expected Behavior
I have set the vertical padding to minimum value to make the whole page can be filled with the foreground color.

## Actual Behavior
But the saved picture still have a small area filled with bg color in the top like below.
![carbon 2](https://user-images.githubusercontent.com/20341087/36824302-92313654-1d3c-11e8-8a69-32fc91cf86bb.png)

[2018-03-01 12:55] ameerthehacker commented on #179
@mfix22 I have checked out embed.ly and it is not free. You can checkout the pricing here [http://embed.ly/pricing](http://embed.ly/pricing)

[2018-03-02 18:58] alvaropinot commented on #28
![screen shot 2018-03-02 at 13 56 22](https://user-images.githubusercontent.com/6654199/36916389-bcd1f84a-1e21-11e8-91cf-4de664934d01.png)

Looks like is still not possible to type

[2018-03-04 20:42] #233 closed

[2018-03-04 21:57] wezm commented on #233
Wonderful, thank you.

[2018-03-04 23:09] mfix22 commented on #179
@ameerthehacker do you have other ideas for a free solution?

[2018-03-05 00:21] rauchg opened #269 "Unsplash integration"
After seeing @_developit 's beautiful tweet

<img width="591" alt="image" src="https://user-images.githubusercontent.com/13041/36952656-a00d770a-1fc7-11e8-9976-e5427a4b717b.png">

I realized it'd be nice to have a button here to source a random CC-licensed image from Unsplash

<img width="311" alt="image" src="https://user-images.githubusercontent.com/13041/36952643-7a7945d2-1fc7-11e8-8408-c085867

[2018-03-05 03:01] mfix22 commented on #269
Just leaving this here for implementation: https://source.unsplash.com/random

[2018-03-05 06:22] wuweiweiwu commented on #136
@mfix22 Are there still some tests that still needs to be done? I would love to work on it!

[2018-03-05 08:59] flofriday opened #270 "Font in url"
When you change the font, and share the url ... the font will default back to "hack" after opening the url.

[2018-03-05 09:06] SirivanSuwamnawong opened #271 "Actual Behavior"
## Expected Behavior

## Actual Behavior

[2018-03-05 17:52] #271 closed

[2018-03-06 02:00] #198 closed

[2018-03-06 02:13] jakedex commented on #270
This was fixed in #261, but has yet to be deployed. Coming soon!

[2018-03-06 02:13] #270 closed

[2018-03-06 02:27] jakedex commented on #267
Hmm, I'm not able to reproduce this on my end. Do you mind sending me the settings you were using, @neo1949?

![carbon 3](https://user-images.githubusercontent.com/10369094/37010954-94d99872-20b3-11e8-9274-1e38b269f1e8.png)

[2018-03-06 02:30] jakedex opened #272 "Select-all blocks deletion"
## Expected Behavior
`cmd+a` followed by `backspace` will delete all text in the editor.

## Actual Behavior
`backspace` no longer works after pressing `cmd+a`

[2018-03-06 02:55] raphamorim opened #273 "Add Lucario theme"
Hi everyone,

I humbly want to suggest adding [Lucario](https://github.com/raphamorim/lucario) as an optional theme. If it's interesting for you guys, I can send a PR.

Also: I love the project! :octocat:

[2018-03-06 04:54] mfix22 commented on #273
Looking forward to your PR!

[2018-03-06 04:57] mfix22 commented on #136
@wuweiweiwu absolutely! We still need integrations tests for confirming the download button succeeds, and also testing Drag and drop. Tests for any of the settings would also be a bonus 😄

That would help tremendously!

[2018-03-06 06:00] neo1949 commented on #267
@jakedex I have figure out why, because I did not unselect "Window controls" setting. Sorry for troubling you, please close this issue.

[2018-03-06 06:54] #267 closed

[2018-03-06 07:43] wuweiweiwu commented on #136
@mfix22 Awesome! ill get a pr out in the next couple of days!

[2018-03-06 09:27] flofriday commented on #270
Sorry, didn't found that one when i searched for simmilar issues.

[2018-03-07 08:45] wuweiweiwu commented on #136
@mfix22 Currently working on the download test but its a little weird as it creates an `a` that has the base64 dataurl but clicks and then immediately deletes it.

I've tried synchronously querying the dom for `a` elements after I click but have been unsuccessful in finding the element since I am trying to check for its existence.

https://docs.cypress.io/guides/core-concepts/conditional-testing.h

[2018-03-07 18:44] wuweiweiwu opened #275 "Some sort of runtime and/or static type checking"
via `prop-types` and/or `flow`

I think this would make development a lot easier :)

[2018-03-08 00:15] edipox opened #276 "Allow users to search syntax by name"
<img width="345" alt="screen shot 2018-03-07 at 9 14 42 pm" src="https://user-images.githubusercontent.com/1580541/37125724-994ec7e8-224c-11e8-82c3-7880e959ee9c.png">

## Expected Behavior
The user can type on the syntax selector in order to easily select the desired element.
This could also be applied to the theme `select`.

## Actual Behavior
Users have to scroll and read comparing the lang name

[2018-03-08 00:22] edipox opened #277 "Allow custom file name when saving image 📚"
## Expected Behavior
Before saving the image the user can set the file name

## Actual Behavior
The user cannot set the file name before downloading it
<img width="643" alt="screen shot 2018-03-07 at 9 16 12 pm" src="https://user-images.githubusercontent.com/1580541/37125939-7e2f5562-224d-11e8-8778-307c235e7757.png">

[2018-03-08 01:21] #277 closed, assigned to nobody

[2018-03-08 01:23] mfix22 commented on #275
@wuweiweiwu `prop-types` would definitely be beneficial, but we don't want to add TypeScript or Flow at this point.

Are you interested in submitting a PR for this?

[2018-03-08 01:28] mfix22 commented on #136
@wuweiweiwu is there a way to confirm that the download succeeds without checking for the existence of the `a` element? I am pretty sure Cypress has a way to check for something like this.

cc @bahmutov

[2018-03-08 07:36] wuweiweiwu commented on #136
@mfix22 I hope so

the cypress [documentation](https://docs.cypress.io/faq/questions/using-cypress-faq.html#Is-there-a-way-to-test-that-a-file-got-downloaded-I-want-to-test-that-a-button-click-triggers-a-download) suggesting testing the mechanism of the actual download. But that doesn't seem to be helpful in this case.

There also seems to be some cypress issues related to this https://github.com/

[2018-03-08 07:37] wuweiweiwu commented on #275
@mfix22 Yep! I'll get started on that:)

[2018-03-08 15:12] ChristoferK opened #279 "Feature Request: Support for AppleScript Syntax Highlighting"
Might there be hope for future support of AppleScript syntax highlighting ?

[2018-03-09 03:33] jakedex commented on #279
It doesn't look like there's AppleScript syntax support for CodeMirror. We'll gladly accept a PR if you want to create a [custom mode](https://github.com/dawnlabs/carbon/tree/master/lib/customModes) for it 😄

[2018-03-09 03:33] #279 closed

[2018-03-09 03:36] #178 closed

[2018-03-09 17:15] tigercosmos opened #280 "Feature Request: Customize Theme"
allow user to modify theme or create a new theme.

[2018-03-09 19:25] mfix22 commented on #280
Duplicate of #181. Closing.

Feature coming soon!

[2018-03-09 19:25] #280 closed

[2018-03-09 21:27] #269 closed

[2018-03-09 23:12] #272 closed

[2018-03-10 10:04] martinfrancois commented on #49
Maybe we could turn the current buttons into (font awesome) icons? We could then use a Twitter icon for the tweet button, a clipboard icon for saving to clipboard and a save icon for saving? Would be much more compact that way and would not look crowded.

[2018-03-10 21:39] #276 closed

[2018-03-12 15:44] edipox commented on #276
🎉

[2018-03-13 14:16] SirWindfield opened #284 "Some queries are not used."
I just noticed that some query parameters are not working, even though they are defined [here](https://github.com/dawnlabs/carbon/blob/7fce4060f04728630cc3dde5ed5627f4c0edd1ee/lib/routing.js#L20).
## Expected Behavior
Queries like `fs`, `fm`, `wt` `es` and `si` should alter the result.

## Actual Behavior
They do not.

[2018-03-14 20:35] #28 closed

[2018-03-15 00:10] mfix22 commented on #221
- [ ] Investigate using `React.PureComponent` for perf boost

[2018-03-15 03:02] rockmandash opened #285 "How to share page with code?"
Hello, I want to share code with other people.
It will be really helpful that I can share not only the image but with actual code in the custom link.
How can I do this? Or how can we implement this feature?
Thank you very much.

[2018-03-15 03:39] mfix22 commented on #285
Hey @rockmandash that exact feature is something we are tracking here #179 and #187

[2018-03-15 03:39] #285 closed

[2018-03-15 12:35] SirWindfield opened #286 "Deploying using the now button does not work"
I just tried it out. I created a new token and pasted it into the field, htting deploy afterwards. The webpage tells me `Deploy failed, please check the repo and try again.`. It worked for the test repository `https://deploy.now.sh/?repo=https://github.com/zpnk/hello-world` that was linked on the same page with the same token I tried out earlier.

Deploying using Docker didn't work either.

[2018-03-17 06:57] cgathergood opened #288 "Feature Request - File Title"
It'd be great to have an optional file title horizontally aligned with the buttons at the top of the screen.
Love the product, thanks!

[2018-03-17 07:25] SirivanSuwamnawong opened #289 "Actual Behavior"
## Expected Behavior

## Actual Behavior

[2018-03-17 16:45] molnarmark commented on #288
This is done by #257.

[2018-03-17 16:48] SirWindfield commented on #288
@molnarmark How does the deploy cycle of carbon work? I saw that the update for Safari has been pushed to master but the website has not been updated. Do you have some sort of milestone system or anything in particular?

[2018-03-17 16:50] molnarmark commented on #288
I've made some contributons that are not yet live as of now aswell, i think they collect quite a few updates before pushing to production.

@briandennis will be able to answer you clearly though.

[2018-03-17 20:00] #289 closed

[2018-03-17 20:01] mfix22 commented on #288
Hey @molnarmark and @SirWindfield. We are having a slower release cycle this time since we have a lot of new features going in. We don't really have a standard practice, and usually will redeploy on every PR merged

[2018-03-18 02:48] #288 closed

[2018-03-19 04:43] mfix22 commented on #273
Hey @raphamorim any updates on this? We have a big release coming up and would love to include this 😄. If not, maybe one the the maintainers can submit a PR instead.

[2018-03-19 04:44] mfix22 commented on #152
Hey @lukechilds any updates on this? (: We have a big release coming up and would love to include this.

If not, one of us can submit a PR.

[2018-03-19 04:54] lukechilds commented on #152
I'm still happy to do it but unfortunately I wont have time for at least the next two months.

[2018-03-19 06:37] raphamorim commented on #273
Hi @mfix22! happy to hear it :)
I already sent the PR, but it's still missing review: https://github.com/codemirror/CodeMirror/pull/5294

[2018-03-20 00:20] mfix22 commented on #286
Hey @SirWindfield

Be sure to specify all of these environment variables as part of the deploy:
[code]

I just updated the button such that you are now required to enter them during the deployment.

Also be sure to check the `[ ] Build using Docker` button.

I am going to close this for now. Please let me know if you run into other issues. 😄

[2018-03-20 00:20] #286 closed

[2018-03-20 16:03] raphamorim commented on #273
Just merged! Codemirror now have Lucario as theme option 🥂 -> https://github.com/codemirror/CodeMirror/blob/master/theme/lucario.css

I'll send the PR to Carbon til' end of the day.

[2018-03-21 04:08] #273 closed

[2018-03-21 06:36] joshdance opened #294 "Creating by appending gist ID doesn't apply color scheme"
<img width="1078" alt="screen shot 2018-03-21 at 12 35 47 am" src="https://user-images.githubusercontent.com/597887/37696992-dab71958-2c9f-11e8-9cf2-308d601e640e.png">

## Expected Behavior
Creating a carbon from a gist like this https://carbon.now.sh/865b2cdf970d69153559eca39b52727f would apply the color scheme.
## Actual Behavior
Carbon has no color scheme applied.

Latest Chrome, latest macOS

[2018-03-21 06:37] joshdance commented on #294
Selecting all the code, Cmd-X, then pasting it back in does apply the color scheme.

[2018-03-21 06:44] joshdance commented on #294
![copy paste does color](https://user-images.githubusercontent.com/597887/37697104-788120fc-2ca0-11e8-8cbc-17bef7624055.gif)

[2018-03-21 06:49] SirivanSuwamnawong opened #295 "Actual Behavior"
## Expected Behavior

## Actual Behavior

[2018-03-21 16:25] DeepSpace2 commented on #284
Hi.
I'm not sure that "bug" is the correct term. I believe that the master branch has not been deployed since these changes were made. When running carbon locally these parameters are working.

[2018-03-21 16:34] SirWindfield commented on #284
I didn't check locally. I was just assuming that the guys from dawnlabs would actually deploy on every change :smile:

[2018-03-21 18:43] #295 closed

[2018-03-21 20:21] mfix22 commented on #284
Right, we haven't deployed in quite awhile. New major release is coming soon, so that is why there is delay.

Thanks for checking that out @SirWindfield

[2018-03-21 20:21] #284 closed

[2018-03-22 12:23] marcpalmer opened #296 "Cannot tweet or save"
## Expected Behavior

Save Image or Tweet Image should work

## Actual Behavior

JS console shows errors about promises.

I'm using Safari 11.0.2
<img width="1282" alt="screen shot 2018-03-22 at 12 22 41" src="https://user-images.githubusercontent.com/40849/37770268-c02d836a-2dcb-11e8-88be-291b1ecddee6.png">

[2018-03-22 13:52] SirWindfield commented on #296
Pretty sure Safari (OS X) isn't supported for now. They pushed some code changes for making it work some days ago. I tested them by running on localhost and got it working. Just wait a bit till it gets deployed to production :)

[2018-03-23 03:08] mfix22 commented on #296
Next release Safari will be good to go! Shouldn't have to wait too much longer!

[2018-03-23 03:08] #296 closed

[2018-03-24 19:45] tytower commented on #245
Running through closing issues all over the place but not actually fixing anything . What the heck do you think you are doing ?
The questions are placed looking for fixes not closed stamps . Did they give you that stamp in Kindergarten?

[2018-03-24 19:46] tytower commented on #245
"Does not accept any files or text in Palemoon browser"

[2018-03-24 19:48] tytower commented on #28
"Does not accept any files or text in Palemoon browser"

I use Palemoon . I don't want to use other browsers Why is it doing this in Palemoon?

[2018-03-24 20:58] mfix22 commented on #245
Hey @tytower thanks for you comments. We haven't released our fix for Safari support, but I will test if on Palemoon and try and mimick that support there.

[2018-03-24 23:46] trevordmiller opened #297 "Feature request: add nova theme"
It would be sweet if Nova was added:
https://trevordmiller.com/projects/nova

There is an npm module with the colors:
https://www.npmjs.com/package/nova-colors

[2018-03-26 04:34] mfix22 commented on #297
Hey @trevordmiller the core Carbon team won't be implementing new themes ourselves at the moment, but we would happily accept PRs for new themes from contributors! 👍

[2018-03-26 06:17] trevordmiller commented on #297
Ok cool, I’ll see if I can put together a PR :)

[2018-03-26 19:56] alvaropinot commented on #28
@tytower can you please share the user agent for "Pale Moon"?

[2018-03-26 21:43] kjbrum opened #298 "Support for Spacegray color scheme"
Any possibility of getting added support for the Spacegray color scheme? http://kkga.github.io/spacegray/

[2018-03-27 07:50] SirWindfield commented on #28
It's not the world to download another browser and use it for just this site if you really want that image. You can even run it on localhost instead of pinging the deploy site.

[2018-03-27 14:52] briandennis commented on #28
@tytower The purpose of this issue was to track progress on browser support that the core team is working on and we're limiting our support commitment to major browsers. Sorry for the confusion here, I updated the issue title to better reflect this.

While we don't have the resources to support all alternative browsers, if you or anyone else are able to solve the problem I'd be happy to review a P

[2018-03-27 17:28] briandennis commented on #298
Looks like this theme isn't supported in Codemirror but if you want add a [custom file](https://github.com/dawnlabs/carbon#a-note-on-adding-themeslanguages) for it, we'd happily pull it in!

[2018-03-27 17:31] kjbrum commented on #298
Ahh sorry, somehow missed that section of the readme. I'll see if I can get around to it. Thanks!

[2018-03-27 17:39] briandennis commented on #298
Sure thing, let me know if there's anything I can do to help! Also no worries, I literally just added that section to the README a few minutes ago which is why you didn't see it haha

[2018-03-28 16:29] j-f1 commented on #30
@Kikobeats

It’s [open-source](https://github.com/tonsky/FiraCode) and licensed under the [SIL Open Font License](https://github.com/tonsky/FiraCode/blob/master/LICENSE).

[2018-03-28 19:58] Kikobeats commented on #30
Ops, I confused it with Operator Mono, sorry!

[2018-03-30 04:00] wuweiweiwu commented on #275
@mfix22 sounds good! Thanks for letting me know!

[2018-03-30 17:31] trevordmiller commented on #297
I started adding Nova to a fork, then realized the themes are an alias to Code Mirror themes:

`//cdnjs.cloudflare.com/ajax/libs/codemirror/5.36.0/theme/${theme.id}.min.css`

So looks like Code Mirror needs support first. Closing for now.

[2018-03-30 17:31] #297 closed

[2018-03-30 17:41] briandennis commented on #297
Hey @trevordmiller, if you're able to port Nova to the Code Mirror theme format (which just requires setting a bunch of Code Mirror specific CSS classes), we can definitely add in a custom file and load that without waiting for it to be pulled into Code Mirror proper. We're already doing this for a few syntax modes that Code Mirror doesn't directly support.  Happy to help set that up if/when you h

[2018-03-30 18:13] trevordmiller commented on #297
@briandennis Nova has an npm module for color values: https://www.npmjs.com/package/nova-colors

Here is an example of it being used: https://github.com/trevordmiller/nova-hyperterm/blob/master/src/index.js

[2018-03-30 19:14] briandennis commented on #297
Perfect! If there's a version that conforms to [this](https://github.com/codemirror/CodeMirror/blob/master/theme/dracula.css) format, we can load it in 👍

[2018-03-31 05:17] mdluo opened #303 "Suggestions: about config and theme"
## Expected Behavior
- The watermark option to be in the url params.
- Save the image with filename same as the title or a filename containing datetime to avoid a series of 'carbon.png, carbon (1).png, carbon (2).png...' when saving to the same folder.
- The exported png filename to end with `@2x.png` when the 'Export size' is set to 2x.
- The [Atom One color scheme](https://github.com/atom/one-da

[2018-03-31 19:29] TheClashster opened #304 "[FEATURE REQUEST] Shift+Tab in the editor to deindent"
Currently, Shift+Tab does nothing. In almost every editor we have the deindent functionality with that key combination, having the same in Carbon would be great 😃

[2018-03-31 20:10] mfix22 commented on #303
53b8965b7928aa14b01f5544428112a96ad39188 fixes this (:

Duplicate of https://github.com/dawnlabs/carbon/issues/277. We have decided that we are going to let browsers handle how saving/downloading renaming is handled.

As of right now, we are going to let all renaming happen in the "Save As" dialog. Otherwise the file names could get crazy as more properties are added to them.

The Carbon core them

[2018-03-31 20:10] #303 closed

[2018-03-31 20:50] #304 closed

[2018-03-31 21:53] mfix22 commented on #240
Hey @molnarmark sorry about getting to this so late. What limit do you see as appropriate? There is definitely room to increase it.

As for creating a CLI, we would be happy to add it to our **Community* section of our README if you created one 😄

[2018-03-31 22:15] mfix22 opened #307 "Refactor state"
- [x] `Editor` should be a component, rather than a page
- [x] State should be a container that is separate from any styles/templates
  - https://github.com/jamiebuilds/unstated

[2018-03-31 23:13] #294 closed

[2018-04-01 01:28] mfix22 commented on #298
Like @briandennis mentioned, as of Carbon `3.0.0`, the core Carbon team is no longer implementing new themes or languages ourselves (although we are adding the ability to create your own soon: see #181.

Still happy to accept your PR @kjbrum, but I'm going to close this issue.

[2018-04-01 01:28] #298 closed

[2018-04-01 01:29] mfix22 commented on #235
Hey, @TimoSta, as of Carbon `3.0.0`, the core Carbon team is no longer implementing new themes or languages ourselves (although we are adding the ability to create your own soon, see #181)! We are still happy to accept your PR though!

Please see https://github.com/dawnlabs/carbon#a-note-on-adding-themeslanguages for notes on how to do so 😄

[2018-04-01 01:29] #235 closed

[2018-04-01 01:31] mfix22 commented on #152
Hey @lukechilds. As of Carbon `3.0.0`, the core Carbon team is no longer implementing new themes or languages ourselves (although we are adding the ability to create your own soon! #181). We are happy to accept your PR when you have the time, though!

Please see https://github.com/dawnlabs/carbon#a-note-on-adding-themeslanguages for notes on how to do so 😄

[2018-04-01 01:31] #152 closed

[2018-04-01 03:04] kjbrum commented on #298
Sounds good, thanks for the heads up!

[2018-04-01 06:05] tytower opened #308 "Does not accept any files or text in Palemoon browser but pleased to say it does work fine in Seamonkey browser."
Must be something fairly easy then! Oh and there is nothing heated about this . If an issue is not fixed leave it open so others searching will post there too and not start new issues.

The page looks good and it is definitely usable for me.

[2018-04-01 16:09] molnarmark commented on #240
Since Carbon currently has the 500 character limit, it pretty much renders it useless when used with an external call to the website. My proposal would definitely involve the average lines of code per file, which would be < 500. I believe that getting anywhere close to 500 lines in a file should not happen (except for HTML and CSS).

This would definitely adjust the experience when Carbon is used

[2018-04-01 17:20] mfix22 commented on #240
What does seem like a more reasonable limit for you?

[2018-04-01 17:24] molnarmark commented on #240
The Carbon.js component file contains 8415 characters. Somewhere around ~10.000 opens up a whole new dimension of usability with source code containing ~400 lines. I'm not sure if the query parameters have any sort of limitation though.

[2018-04-02 00:28] GavinRay97 commented on #181
@mfix22 I was actually poking around at loading custom themes into Carbon when I found this issue.

What do you think about the following?

In the short term, the easiest way would be to add support for pre-existing CodeMirror themes. I see two straightforward ways of doing this:

* Add a stylesheet via URL input that is turned into a `<link>` tag and injected
* An editor (I envision some sort of

[2018-04-02 02:32] mfix22 commented on #221
Closing this for now after a couple PRs to improve render perf. Will create another before next release.

[2018-04-02 02:32] #221 closed

[2018-04-02 02:33] GavinRay97 commented on #181
@mfix22 I would think so, since the saving/loading isn't directly tied to ability to create a theme.

I'm about to finish up my work for the evening, I'll try to get a basic stylesheet link loaded, then mess with a simple modal with text editor to inject CSS, and then I'll see about the dat.gui stuff.

One minor hump with the dat.gui approach is that you're programmatically controlling styles inst

[2018-04-02 02:34] #137 closed

[2018-04-02 18:20] mfix22 commented on #181
I don't think we need to use `dat.gui`, unless i am mistaken. We can probably just inject global stylesheets for each "Theme" that is created, and have one for the current theme that is being edited.

[2018-04-04 07:30] GavinRay97 commented on #181
@mfix22 What do you think? Had to keep the video short because of compression but you get the idea.

Video Preview:
https://i.imgur.com/lV061Ky.gifv

Screenshot:
![](http://i.imgur.com/bCKybj5.png)

[2018-04-04 08:54] baishusama opened #311 "TypeScript can't be automatically highlighted"
## Expected Behavior

On the site,  TypeScript codes can be automatically highlighted.

## Actual Behavior

but it does not :(

[2018-04-04 12:06] blackxored opened #312 "Integration: Gatsby plugin"
Hi,
It would be great to see the components in this project to render code snippets in a Gatsby site.
Since this is React after all I can't see why we wouldn't be able to just render these instead of prism or whatever. 👯‍♂️

[2018-04-04 21:50] mfix22 commented on #311
Hey @baishusama , thanks for the suggestion!. As of Carbon `3.0.0`, the core Carbon team is no longer implementing new themes or languages ourselves (although we are adding the ability to create your own soon!), but we are happy to accept PRs to add new ones!!

Please see https://github.com/dawnlabs/carbon#a-note-on-adding-themeslanguages for notes on how to do so 😄

In this case, CodeMirror alrea

[2018-04-05 16:15] mfix22 commented on #181
@GavinRay97 this looks great!! 😄  How about this, can you push this up on a branch that isn't master and allow us to edit it, and we can take a look at styling it according to our style (@jakedex) and we can also try and React-ify it as well.

[2018-04-05 16:16] mfix22 commented on #181
You can also just create the stylesheet, and just `next/head` (search for `<Head>`) component and React will keep that up to date when you call `setState()`

[2018-04-05 19:44] GavinRay97 commented on #181
@mfix22

Awww damn, that's straight where I was intending on trying to go with this :joy:

But sure, I'll get everything up on a branch and then link you here as soon as I've got a spare moment.

Could you drop a mention to the commit when you do this? I'm always interested in seeing how things are better done.

Right over my head haha.

[2018-04-05 19:59] mfix22 commented on #308
Thanks for posting this, but at this time, the consensus the core team reached is that we only have the bandwidth to support major browsers. We would be happy to accept a PR if it resolves your issue.

[2018-04-05 19:59] #308 closed

[2018-04-05 20:02] gregwhitworth commented on #25
Do you have any telemetry regarding the buttons? Because I'm curious if showing three separate MacOS themes by default is necessary. You could have MacOS, Windows10, Next popular theme then the show more option denoted above?

[2018-04-06 21:30] mfix22 commented on #181
@GavinRay97 haha no worries. Thanks for your help.
We will make sure you see the updates on your PR once you open it 😄

[2018-04-07 20:11] GavinRay97 commented on #181
@mfix22 https://github.com/GavinRay97/carbon/tree/custom-themes

[2018-04-07 21:42] GavinRay97 commented on #312
@mfix22 This would essentially be exporting just the editor as a component and then passing in a syntax theme and language correct?

[2018-04-07 22:00] mfix22 commented on #312
Right. We have published a stand-alone editor component here: https://github.com/dawnlabs/carbon-editor however it is vastly out of date. The core team is currently refactoring the editor out (#307), and once we do we will try and publish a new version of `carbon-editor`

[2018-04-07 22:39] mfix22 commented on #240
@molnarmark where do you find these limitations? If you build a better CLI implementation, we would be happy to endorse it on our README and such, and also if you run into constraints we can also accept PRs to enable these integrations.

[2018-04-07 22:46] GavinRay97 commented on #232
@mfix22
Something like this maybe? :smile:

Video:
https://i.imgur.com/Uw3Jsj4.gifv

![](http://i.imgur.com/kpfO8P3.png)

[2018-04-07 22:58] mfix22 commented on #232
@GavinRay97 that looks great too! Can you push that up as a second PR to your custom theme's one? Also can you open up a PR for that too so that the community can see both?

[2018-04-07 23:37] GavinRay97 commented on #232
@mfix22 Awesome. I uploaded both, but I'm not sure what branch to base the PR off of.

https://github.com/GavinRay97/carbon/tree/custom-fonts
https://github.com/GavinRay97/carbon/tree/custom-themes

[2018-04-08 13:03] LarsStegman opened #317 "Images are not exported with transparency"
Since the last time I used Carbon, images are no longer exported with a transparent background, but with the "transparency blocks" written into the image data.. I used Google Chrome on macOS 10.13.4. I am not sure since which release

## Expected Behaviour

![image](https://user-images.githubusercontent.com/9332816/38467778-9a22ade2-3b3d-11e8-9a8a-bfc555ecc0d1.png)

## Actual Behaviour

![carbon 3

[2018-04-08 16:18] adeola2310 opened #318 "adding a pop up dialogue"
![frag](https://user-images.githubusercontent.com/25429341/38469685-c39bd226-3b50-11e8-8ff0-1fdf31565d8d.PNG)

## Expected Behavior

## Actual Behavior

[2018-04-08 19:24] mfix22 commented on #318
@adeola2310 i'm not sure if this is within the scope of Carbon. Can you elaborate further? Carbon does not run any of the code in the editor.

[2018-04-09 15:29] OttoRobotto opened #320 "Feature Request: Window button position should be configurable"
## Expected Behavior
There should be an option to place the window buttons on the top right corner of the window instead of the top left

## Actual Behavior
Window buttons appear strange at the top left of the window for non mac users

[2018-04-09 23:57] mfix22 commented on #320
Hey @OttoRobotto would you say this is duplicate of #3 or no? Just wondering if this issue is because you want a Windows theme, or a separate option for it to not be in the top-left 😄

If you meant the former, i can go ahead and close this issue

[2018-04-10 04:05] stevensacks opened #321 "localStorage config is ignored when url contains only language and code"
I'm using 3rd party plugins in my various IDEs and they all use the above url with just language and code and they all end up causing this bug.

## Expected Behavior
http://carbon.now.sh/?l=javascript&code=const%20foo%20%3D%20%27bar%27%3B

Should open Carbon with my localStorage config for styling filled in.

## Actual Behavior
Opens the code with Carbon's default config instead of the saved confi

[2018-04-10 04:11] mfix22 commented on #321
Currently if you pass a query param, localStorage will be ignored. That is operating as it is intended.

Are you suggesting that you want parts to be loaded from that query param and others from `localStorage`?

[2018-04-10 04:13] stevensacks commented on #321
IDE plug-ins that allow you to select code and then open in Carbon (very convenient) will only pass language and code in the URL.

I think that if you _only_ pass language and code then you should look at localStorage for the rest.

[2018-04-10 04:15] stevensacks commented on #321
I was looking through the code to try and find the place that handles this to make a pull request, but I haven’t been able to find it yet.

[2018-04-10 04:29] mfix22 commented on #321
Although we don't want to override fields that were set by URL with `localStorage`. In your example, those fields would be overridden.

You have to calculate the difference between `urlConfig` and `localStorageConfig` and pass that to `setState`

[2018-04-10 04:30] stevensacks commented on #321
So that's just an order change

[code]

[2018-04-10 04:37] stevensacks commented on #321
It could be as simple as this

[code]

And erase componentDidMount.

[2018-04-10 04:42] mfix22 commented on #321
You can't access localStorage in `getInitialProps()`

[2018-04-10 04:42] stevensacks commented on #321
Yeah I figured it out. Really simple fix. Check my fix.

[2018-04-10 04:47] stevensacks commented on #321
I'm not sure if there are any issues from delaying the initialState being set until mount, but it seems ok based on what I can see.

[2018-04-10 04:54] stevensacks commented on #321
Submitted a PR.

[2018-04-10 08:27] OttoRobotto commented on #320
Hey @mfix22, I quite like the current available themes but would really just like to be able to place the window control buttons at the top right of the window. If I have the time I'll attempt to implement this myself.

[2018-04-10 11:54] ericadamski opened #323 "Add support for IBM Plex Mono font"
PR is here →https://github.com/dawnlabs/carbon/pull/324

## Expected Behavior

Want to be able to choose the IBM Plex Mono font as a default in the `font selection` dropdown

## Actual Behavior

See above ⬆️

Here is the dev image ⬇️
![carbon 49](https://user-images.githubusercontent.com/6516758/38555495-546f7e1c-3c94-11e8-8ca3-31b262d6100b.png)

[2018-04-11 00:27] #321 closed

[2018-04-11 00:28] #318 closed

[2018-04-11 19:21] DeepSpace2 opened #325 "Text in generated SVG is not selectable in Chrome 65.0.3325.181"
I can select text in other SVGs in Chrome but not in SVGs generated by Carbon. I guess that some `-webkit` properties are missing/wrong in some/all elements (selecting text in the generated SVG is possible in Edge).

[2018-04-13 04:54] omidfi opened #327 "is there a "clear" button?"
## Expected Behavior
Having a clear button to get a clean page
## Actual Behavior
I have to clear the previous code by holding back space on my phone and it crashes

[2018-04-13 06:23] konojunya opened #328 "color syntax and image bug in JavaScript"
**bug in color sytax**

Sometimes JavaScript syntax does not apply. As I encountered myself, the syntax of the code after `await` with` async / await` is broken

![](https://pbs.twimg.com/media/DaRq5tLV4AEHKcJ.png)

**bug in image**

There are other bugs in which `if` images overlap.

![](https://pbs.twimg.com/media/DaR3v2OUQAA3yYy.png)

As a supplement, since it was generated from the extended fu

[2018-04-13 16:10] mfix22 commented on #327
Are you able to select all and delete? We would rather support that behavior than to add a clear button.

[2018-04-13 16:13] mfix22 commented on #328
@konojunya your English is great! 😄

As for styling of specific colors for specific languages is outside the scope of this project. A possible option would be to file an issue/PR to [CodeMirror](https://github.com/codemirror/CodeMirror), since they would have to make the updates for us to support this change.

Will look into your other bug further.

[2018-04-13 17:10] omidfi commented on #327
Thanks.

Yes that works. Even though I ended up using a desktop browser anyway as I hit another problem on my phone.

[2018-04-13 17:10] #327 closed

[2018-04-13 21:41] konojunya commented on #328
@mfix22 Thanks!

OK, I would like to open the issue to CodeMirror.

[2018-04-13 22:11] mfix22 commented on #328
Please do 😄

[2018-04-13 22:11] #328 closed

[2018-04-13 23:02] sjfricke opened #330 "Can't save SVG when using image as background"
## Expected Behavior

I feel it shouldn't allow me to select the SVG since I am using a non-vector as my background. Edge case that needs to be taken care of

## Actual Behavior

I just get the [about:blank](about:blank) url on the page

[2018-04-14 00:12] briandennis commented on #330
@sjfricke good catch. Wanna take care of it at your next hackathon?

[2018-04-14 00:15] briandennis commented on #323
Closing as this was added in #324

[2018-04-14 00:15] #323 closed

[2018-04-14 01:46] mfix22 commented on #330
@briandennis this might still be the size issue . . .

[2018-04-14 01:48] mfix22 commented on #330
@sjfricke was this a random image or do you have the image to recreate the issue? We definitely want to fix this (:

[2018-04-14 09:59] LLJE opened #331 "line overflowing not like preview in safari"
## Expected Behavior
![image](https://user-images.githubusercontent.com/26544013/38766996-7c54e5fa-4015-11e8-8770-4c746d95a5c5.png)
I expected that the content is not overflowing the line.

## Actual Behavior
But, in Safari
![carbon-36](https://user-images.githubusercontent.com/26544013/38767007-990ea4d8-4015-11e8-8ec3-9396bcbb7532.png)
But, like above, it exceeds the line.
To avoid this problem,

[2018-04-14 16:53] sjfricke commented on #330
@mfix22 @briandennis
Just got dev up to poke around, first I need to quick brute force learn some react.js lol. Also are you guys currently having issues with uploading your own image? I can't seem to get my own images to load

[2018-04-15 03:03] mfix22 commented on #330
@sjfricke you're right that is a separate bug. I just fixed that with 517aca7c8f31ed098578ca2cc6c5b0710e37e7af and am deploying now. Then we can look into the `about:blank` issue

[2018-04-15 03:28] mfix22 commented on #330
Just confirmed that this is a `dataurl` overflow (the URL itself is too long to set as a valid `href`) issue,  caused it to link to `about:blank` instead.

Does anyone know a better way to download images than this: https://github.com/dawnlabs/carbon/blob/master/components/Editor.js#L136-L138

[2018-04-15 04:07] mfix22 commented on #330
@sjfricke think we could stream the `dataurl` to our server, temporarily store it as a file using `tmp`, and stream that file back to the browser? I think that is the only way to get past the `dataurl` length issue.

[2018-04-15 18:57] sjfricke commented on #330
@mfix22 after doing some more trials I think the solution isn't using a server. The SVG actually works for images under a certain size. I think the smart solution is to make drop the resolution on large images like those in Upsplash

[2018-04-16 01:28] #330 closed

[2018-04-16 02:29] zmwangx commented on #52
Maybe it's possible to build an entirely local CLI with puppeteer?

[2018-04-16 13:19] alexdevero opened #333 "Some themes doesn't support React code"
Some parts of React code are not colored properly. Some closing tags have different color than opening tags.

## Expected Behavior
Example - Panda:
![carbon 2](https://user-images.githubusercontent.com/4237724/38811256-6112ab2c-4189-11e8-8dd1-22430d25fcab.png)

## Actual Behavior
Example - 3024 Night:
![carbon 1](https://user-images.githubusercontent.com/4237724/38811262-63d6d946-4189-11e8-995e-75

[2018-04-16 18:17] mfix22 commented on #333
Have you tried `JSX` mode?

[2018-04-17 06:44] alexdevero commented on #333
@mfix22 Actually, no. Thanks.

[2018-04-17 18:02] IsmAbd opened #334 "Setting the resolution"
Hey, I just found this awesome application, thanks for doing that to all!
Because some pages to have restrictions on the resolution of uploaded pictures, it would be awesome to choose the resolution of an image before downloading it.
Thanks to all!

[2018-04-17 22:50] blackxored opened #335 "Add ReasonML syntax"
I would be really nice if we could support [ReasonML](https://reasonml.github.io) syntax.

[2018-04-18 01:07] #333 closed

[2018-04-18 01:13] mfix22 commented on #335
Hey @blackxored, thanks for the suggestion!. As of Carbon `3.0.0`, the core Carbon team is no longer implementing new themes or languages ourselves (although we are adding the ability to create your own soon!), but we are happy to accept PRs to add new ones.

Please see https://github.com/dawnlabs/carbon#a-note-on-adding-themeslanguages for notes on how to do so 😄

[2018-04-18 04:04] MaxInertia commented on #25
Just came across this project, love it!

The first two window themes on the [currently hosted version](https://carbon.now.sh/?bg=rgba(139,29,29,1)&t=base16-dark&wt=none&l=text&#x2F;apache&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=48px&ph=32px&ln=false&fm=Monoid&fs=14px&si=false&es=2x&wm=false) are identical. Couldn't one of them be replaced with the windows theme?

![image](https://user-i

[2018-04-18 09:50] nlhuykhang opened #337 "Side-by-side code panes"
This would be very useful when creating images for code review, comparison.

[2018-04-20 01:05] mfix22 commented on #337
Hey @nlhuykhang thanks for the suggestion. As of right now, we want to keep a single pane for the screenshots, because users can just create two screenshots and place them next to each other to create the same effect.

[2018-04-20 01:07] mfix22 commented on #334
@IsmAbd we already have a feature that adjusts the size of the screenshot (1, 2, and 4 times export size). Will that work for you?

We feel that that feature is enough for configuring the export size. You can also just edit the photos after you download them 😄

[2018-04-20 03:16] greenkeeper[bot] opened #339 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-04-20 11:16] vernondegoede commented on #123
I opened a PR for a theme which comes with vibrancy support: https://github.com/dawnlabs/carbon/pull/341. It's based on the Verminal, a Hyper theme (which is in the second image) and Framer Syntax.

Hope you like it! 🎉

[2018-04-20 13:02] nlhuykhang commented on #337
Yeah, that's what I did. Thanks for the work 🙂

[2018-04-20 16:29] mfix22 commented on #337
Thanks 😄

[2018-04-20 21:30] #339 closed

[2018-04-21 02:32] #335 closed

[2018-04-21 10:38] tdeschryver opened #342 "Setting language from a gist"
## Expected Behavior
When importing a gist, I would expect the language to be set to the gist language (which is provided in the api call as `language`).

## Actual Behavior
The language is auto detected.
For example, the example on the website is set to `HTML` which is wrong.

If agree with this, and if you'd like I can create PR :smile:

[2018-04-21 22:07] mfix22 commented on #342
@tdeschryver if i understand correctly, currently the language is not being auto-set according to the Gist. That is definitely expected behavior. Not sure what you are referring to by API call 😄

[2018-04-22 04:49] mfix22 commented on #342
@tdeschryver also do you have an example gist link? 😀

[2018-04-22 19:47] mfix22 commented on #342
@tdeschryver whoa cool! Thanks for pointing that out. Just pushed up a PR (#343). Can you verify it works for you?

[2018-04-22 19:54] tdeschryver commented on #342
Can't test right now, I will update tomorrow. Seems like it would work tho!

[2018-04-23 08:01] tdeschryver commented on #342
I believe there was still a problem, see #344

[2018-04-23 17:07] #342 closed

[2018-04-24 18:31] fgrehm opened #346 "Feature request: Support for terraform"
This project is great! 😃

I think a nice addition would be to support [Terraform](https://www.terraform.io/) code as well. LMK if I can help with anything.

[2018-04-24 19:00] briandennis commented on #346
Hey @fgrehm, glad you're liking it! As of Carbon 3.0.0, the core Carbon team is no longer implementing new themes or languages ourselves (although we are adding the ability to create your own soon!), but we are happy to accept PRs to add new ones!

Checkout [here](https://github.com/dawnlabs/carbon#a-note-on-adding-themeslanguages) for notes on how to do so  🙂

[2018-04-25 04:35] #307 closed

[2018-04-25 11:33] raphaelkieling opened #347 "Twitter not working"
![image](https://user-images.githubusercontent.com/16259523/39243316-6a981dcc-4863-11e8-9fe5-e27efd322f90.png)

## Expected Behavior
I clicked in the button _Twitter_ and should send an image to share in _Twitter_
## Actual Behavior
I clicked and it shows the loading... but an error appear in the console. (Screenshot show this).

[2018-04-25 14:26] briandennis commented on #347
Thanks @raphaelkieling, can verify I'm experiencing this on my end as well. Looking into the problem now

[2018-04-26 01:32] #347 closed

[2018-04-26 01:46] mfix22 commented on #275
At this state, with component APIs in flux, we want to avoid prop-types for now. We did just add legit linting though, so I hope that helps

[2018-04-26 01:46] #275 closed

[2018-04-26 05:35] thebetterjort commented on #210
Running carbon locally in docker and outputting our company code automatically to our document server would be a killer feature. Devs won't do this thing by themselves and we will need to automate this process. Great for versioning, and onboarding.

[2018-04-28 04:31] chidonna opened #350 "Request for an API"
I would request an API service be added so as to be able to tweet source code using carbon.now.sh without necessarily visiting the application, so it can be seamlessly added to other applications.

[2018-04-30 16:47] pakLebah opened #351 "Add line number vertical line"
## Actual Behavior

![carbon](https://user-images.githubusercontent.com/11470932/39438521-a577ebba-4cce-11e8-8412-ac1de276357f.png)

Complaint: The space between line number and the actual code is too close. On some themes, the color similarity of line number and the code is confusing.

## Expected Behavior

![carbon](https://user-images.githubusercontent.com/11470932/39438989-38326920-4cd0-11e8-9

[2018-04-30 16:55] pakLebah opened #352 "Add VS Code's default Dark+ and Light+ color theme"
### Expected Behavior

VS Code's default Dark+ and Light+ color theme are available on color theme option. Here's an example (with custom font setting):

![jepretan layar 2018-04-30 pada 23 49 23](https://user-images.githubusercontent.com/11470932/39439451-d1120b5e-4cd1-11e8-82b7-8f6e3a2dfcb4.png)

### Actual Behavior

There's no color themes from VS Code.

[2018-04-30 19:28] pvdb opened #353 "Better(?) / seamless integration with Google Slides"
I do a lot of coding challenges and level-ups for our tech team, and have used `carbon.now.sh` extensively now for adding code samples to my Google Slides presos _(I :heart: Carbon!!!)_

My workflow seems unnecessarily cumbersome, though:

1. add code snippet to `carbon.now.sh`
1. "Save Image" > "PNG"
1. navigate to "Downloads" folder
1. drag-n-drop `carbon.png` to Google Slides

It seems like it

[2018-04-30 20:18] kaovilai opened #354 "Add support for GNU Make's Makefile"
👍  https://www.gnu.org/software/make/

[2018-05-01 00:15] mfix22 commented on #352
Hey, thanks for the suggestion!. As of Carbon `3.0.0`, the core Carbon team is no longer implementing new themes or languages ourselves (although we are adding the ability to create your own soon!), but we are happy to accept PRs to add new ones.

Please see https://github.com/dawnlabs/carbon#a-note-on-adding-themeslanguages for notes on how to do so 😄

[2018-05-01 00:15] mfix22 commented on #350
Duplicate of #210

[2018-05-01 00:15] #350 closed

[2018-05-01 00:16] mfix22 commented on #354
Hey, thanks for the suggestion!. As of Carbon `3.0.0`, the core Carbon team is no longer implementing new themes or languages ourselves (although we are adding the ability to create your own soon!), but we are happy to accept PRs to add new ones.

Please see https://github.com/dawnlabs/carbon#a-note-on-adding-themeslanguages for notes on how to do so 😄

[2018-05-01 00:16] #334 closed

[2018-05-02 15:29] dimitrieh opened #355 "Exporting syntax/color themes to be used in actual editors"
Is there a source for the themes displayed in carbon? :)

Or might it be an idea to support directly applying the selected theme in your own editor? (atom/vscode etc)

For example would love to know about the "cobalt" theme

[2018-05-02 18:36] fgrehm commented on #346
Damn, I had a look around it seems that codemirror does not have support for it :( https://codemirror.net/mode/index.html

Unfortunately I don't have the time to work on this now so feel free to close the issue if no one signs up for giving it a shot. Thanks for the info!

[2018-05-02 18:48] DeepSpace2 commented on #351
While at it, maybe make have the line optional and the padding configurable?

[2018-05-03 00:12] mfix22 commented on #355
Here https://github.com/codemirror/CodeMirror/tree/master/theme is the source for all the themes found in Carbon. A lot of these are based around real Atom/VSCode themes that are typically open source, such as this [Cobalt theme for Atom](https://github.com/wesbos/cobalt2-atom) and for [VSCode](https://github.com/wesbos/cobalt2-vscode) by @wesbos

[2018-05-03 00:12] #355 closed

[2018-05-03 00:14] mfix22 commented on #351
@DeepSpace2 the line numbers are optional and the padding is currently configurable in the settings. Just click "Advanced" in the dropdown.

@jakedex what do you think about having this line next to the line numbers?

[2018-05-03 00:14] #346 closed

[2018-05-04 10:45] paulmwatson opened #356 "Don't upload to Twitter without confirmation"
## Expected Behavior
After pasting in code and clicking Tweet Image I expect to be shown a preview of the image to be added to a Tweet before it is sent to Twitter.

## Actual Behavior
After pasting in code and clicking Tweet Image the image of the code is uploaded and Tweeted out with the public @dawn_noreply account.

[2018-05-05 00:50] mfix22 commented on #356
@paulmwatson thanks for the feedback. Currently that is the only way to reliably upload an image to be tweeted on behalf of a user. If you want to circumvent this behavior, please go ahead and download the image using the "Save" button, preview it locally, and tweet it using your regular Twitter App (:

We will add a note to our "Help Module" (#170) to help notify users in the future

[2018-05-05 00:50] #356 closed

[2018-05-05 00:50] #354 closed

[2018-05-05 00:50] #352 closed

[2018-05-05 02:08] mfix22 opened #357 "Test Issue"
[![](https://api.gh-polls.com/poll/01CCQ0X969CDM1VC8YQ1EJX3MF/Option1)](https://api.gh-polls.com/poll/01CCQ0X969CDM1VC8YQ1EJX3MF/Option1/vote)
[![](https://api.gh-polls.com/poll/01CCQ0X969CDM1VC8YQ1EJX3MF/Option%202)](https://api.gh-polls.com/poll/01CCQ0X969CDM1VC8YQ1EJX3MF/Option%202/vote)
[![](https://api.gh-polls.com/poll/01CCQ0X969CDM1VC8YQ1EJX3MF/Option%203)](https://api.gh-polls.com/poll/01C

[2018-05-05 02:08] #357 closed

[2018-05-05 19:43] mfix22 commented on #240
@molnarmark we are going to close this just because we already have #52 and we are going to be moving integration requests to their own place soon 😄

Still would love to see someone contribute a robust CLI tool

[2018-05-05 19:43] #240 closed

[2018-05-05 19:46] mfix22 opened #358 "Integration Requests"
- Command Line Tool (https://github.com/dawnlabs/carbon/issues/52, https://github.com/dawnlabs/carbon/issues/240)
- IFrame/Embeddable (https://github.com/dawnlabs/carbon/issues/179)
- Remark.js Integration (https://github.com/dawnlabs/carbon/issues/209)
- Carbon API (https://github.com/dawnlabs/carbon/issues/210)
- Chrome Extension (https://github.com/dawnlabs/carbon/issues/219)
- Gatsby Plugin (h

[2018-05-05 19:51] mfix22 commented on #52
Hey all, issues marked "Integrations" are being closed and theirs discussions moved to https://github.com/dawnlabs/carbon/issues/358. With many requests for new features, this allows the Carbon team to prioritize which to support first 👍

[2018-05-05 19:51] #52 closed

[2018-05-05 19:52] mfix22 commented on #179
Hey all, issues marked "Integrations" are being closed and theirs discussions moved to https://github.com/dawnlabs/carbon/issues/358. With many requests for new features, this allows the Carbon team to prioritize which to support first 👍

[2018-05-05 19:52] #179 closed

[2018-05-05 19:52] mfix22 commented on #209
Hey @daixtrose, issues marked "Integrations" are being closed and theirs discussions moved to https://github.com/dawnlabs/carbon/issues/358. With many requests for new features, this allows the Carbon team to prioritize which to support first 👍

[2018-05-05 19:52] #209 closed

[2018-05-05 19:53] mfix22 commented on #219
Hey all, issues marked "Integrations" are being closed and theirs discussions moved to https://github.com/dawnlabs/carbon/issues/358. With many requests for new features, this allows the Carbon team to prioritize which to support first 👍

[2018-05-05 19:53] #219 closed

[2018-05-05 19:53] mfix22 commented on #312
Hey all, issues marked "Integrations" are being closed and theirs discussions moved to https://github.com/dawnlabs/carbon/issues/358. With many requests for new features, this allows the Carbon team to prioritize which to support first 👍

[2018-05-05 19:53] #312 closed

[2018-05-05 19:55] mfix22 commented on #353
Hey @pvdb thanks for the encouraging words! 😄 We appreciate you using and sharing Carbon.

Issues marked "Integrations" are being closed and theirs discussions moved to https://github.com/dawnlabs/carbon/issues/358. With many requests for new features, this allows the Carbon team to prioritize which to support first 👍

We cannot support _every_ integration, but if you were to build out this integr

[2018-05-05 19:55] #353 closed

[2018-05-08 05:38] ash-ali opened #360 "A problem"
Hello, I would like to ask the carbon generated pictures, how to restore the code in the picture back. This problem is due to the lack of my code, thanks to the pictures generated by carbon, thank you.

[2018-05-08 09:45] photonstorm commented on #360
If you saved your code in SVG format then it's easy. Just open the file into a text editor and copy and paste it out again.

If you saved it as a PNG, you're out of luck. Either type it in again or try looking at some OCR software.

There's no way Carbon itself should support this imho.

[2018-05-08 18:03] briandennis opened #361 "Provide code as alt text when uploading to Twitter"
Relevant section of Twitter API docs:
https://developer.twitter.com/en/docs/media/upload-media/api-reference/post-media-metadata-create

[2018-05-08 23:57] ash-ali commented on #360
Thanks @photonstorm . I will pay attention to this problem next time.
 Thanks @mfix22, I have an idea: now there are a lot of picture scanning technology, this technology is often used in the translation of the contents of the content, I think you may be able to refer to my idea to try to solve such problems, to prevent new users from downloading the SVG problem. Thank you

[2018-05-09 14:36] alvaropinot opened #362 "[New feature proposal] Save history to indexdb/local storage"
IMO persisting the previous text for the created images will be a nice feature to add, so a user can easily recreate them with different styles.

As now the url is allowing to fully reconstruct the state it might be easy just to persist this to something like local storage and add a combo/history component to the UI that allows the user to pick previously created carbon's :)

Maybe name spacing th

[2018-05-14 03:36] GavinRay97 commented on #358
@mfix22 If you'd like I could try to write the CLI up sometime this week. I'm not sure about the how much work the API would be, I think I can just call `getCarbonImage()` and pass in params as the options.

Let me know if either would be helpful :ok_hand:

[2018-05-14 11:19] manniL opened #365 "Comment string goes to new line unlike the preview displays"
## Preview image
![oh](https://user-images.githubusercontent.com/640208/39994364-53701ab2-5779-11e8-9488-906797215da2.png)
[Link to Carbon setup](https://carbon.now.sh/?bg=rgba(155,155,155,1)&t=material&wt=none&l=javascript&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=48px&ph=32px&ln=false&fm=Hack&fs=18px&si=false&code=%250A%252F*%2520Passing%2520Boolean%2520as%2520method%2520to%2520find%252

[2018-05-14 17:37] briandennis commented on #365
@manniL was this on Safari?

[2018-05-14 18:57] manniL commented on #365
@briandennis Nope, newest Firefox (59) :relaxed:

[2018-05-14 20:33] mfix22 commented on #358
@GavinRay97 i was always imagining that the initial CLI version would simply open a file up in the browser and allow flags to be set for theme and such (to start just just opening a file would be cool). This way no API is needed besides passing the correct query params.

If/when we open an API, the CLI could then later be updated to use it directly, but we shouldn't let that block the CLI effort.

[2018-05-17 13:46] fideloper opened #368 "Add a watermark with carbon's domain"
Hi!

Just a suggestion (do whatever you want with it!)

Perhaps add a watermark or text in the created image/svg of your own that just says "carbon.now.sh" (or whatever makes sense to you!)

1. Could be good marketing to help people discover what's making the amazing screenshots
2. For every tweet I make including a screenshot, I end up answering the question multiple times, all day!

[2018-05-17 21:12] briandennis commented on #368
We currently do have [a watermark](http://carbon.now.sh/?wm=true) option available in the settings, though we could probably make that more discoverable. If I recall correctly, your use case was actually why it was added originally! 😄

[2018-05-17 22:31] fideloper commented on #368
Haha great - thanks, I’ll use that.

Maybe add it by default! (I’m sure there are opinions both ways on that :D).
On Thu, May 17, 2018 at 16:12 Brian Dennis <notifications@github.com> wrote:

[2018-05-17 22:34] #368 closed

[2018-05-20 08:41] x4m3 opened #370 "can't reach the site with 160 lines of code selected"
i use the vim plugin, if that helps: <https://github.com/kristijanhusak/vim-carbon-now-sh>

## Expected Behavior

to have the site load up with the code selected.

## Actual Behavior

![screenshot from 2018-05-20 10-39-49](https://user-images.githubusercontent.com/8809909/40277125-46ccd91c-5c1a-11e8-9d0b-93a1190de2cb.png)

[2018-05-20 15:59] popey456963 opened #371 "Carbon as a Node library"
It would be really useful if we could convert some code to an image via an `npm` library, so that we don't have to make an external HTTP request.

[2018-05-20 20:57] mfix22 commented on #371
We have a number of integrations that we are currently debating on supporting at #358. Please cast your vote their (CLI, API would probably be the ones you are considering 😄

[2018-05-20 20:57] #371 closed

[2018-05-20 20:58] mfix22 commented on #370
@x4m3 can you post the exact URL here and I'll get it fixed right away!

[2018-05-21 14:13] x4m3 commented on #370
sure! there you go: <https://carbon.now.sh/?t=material&code=%252f%252a%250a%20%20%20wifi.ino%20%253a%20gestion%20du%20wifi%250a%250a%20%20%20http%253a%252f%252fpoubelle.online%250a%250a%252a%252f%250a%250a%2523include%20%253cWiFi.h%253e%250a%250avoid%20connect_wifi%2528%2529%20%257b%250a%20%20%252f%252a%20started%20wifi%20%252a%252f%250a%20%20Serial.println%2528%2522wifi%253a%20started%2522%2529%2

[2018-05-22 01:39] mfix22 commented on #370
Cool! Yeah so the maximum URL is [~2000](https://stackoverflow.com/questions/417142/what-is-the-maximum-length-of-a-url-in-different-browsers) and that URL is `> 6000`. The browser won't even open Carbon if the URL is that long, so it is the job of the plugin to truncate the code if you want it to work 👍

[2018-05-22 01:39] #370 closed

[2018-05-22 02:56] x4m3 commented on #370
yeah, i figured that out, i saw that i selected around 50 lines of code, whoops....

thanks for the help!

[2018-05-23 12:23] TheDevKiller opened #374 "Copyable text"
Hello !

First, you service is very cool and useful but there is a problem: when I send the code with my friends, they can't copy the text and it's logic but can you, for example with a html page, render selectable text

Maybe you can put our code on a html page and put the image with the window in background of the page. It's just a proposition.

Sorry for my english because I'm french :p

Good l

[2018-05-23 13:40] cyrilchapon opened #375 "Same for "screenshot" ? :D"
In here, we usually create images of "fake screenshot", you know, to show a feature or something.

Is there any tool like carbon, or maybe a way to use carbon, to show an image instead of code ? :)

[2018-05-24 00:20] mfix22 commented on #374
This is an often requested feature, and we are working on it in the form of embedded iframes (see #358 for other possible integrations and cast your vote).

Currently our tool creates images, so copying is not possible. Coming soon!

[2018-05-24 00:20] #374 closed

[2018-05-24 00:28] mfix22 commented on #375
This is a really awesome tool for screenshots: https://getkap.co/

I also just recently saw a tool on Twitter that lets you screenshot your desktop, automatically temporarily removing all the files from it, but I can't seem to find it anymore. Once i do i'll post it here.

Other options:
- https://monosnap.com/welcome

[2018-05-24 00:28] #375 closed

[2018-05-24 07:54] cyrilchapon commented on #375
Oh my point was not realy to "capture the screen" (the aformentionned "screenshots" are often not real ones); this was more like adding a mac-os-like browser frame to the image.

[2018-05-24 07:55] cyrilchapon commented on #375
You know, just like carbon is not realy about "capturing" the code (even if you provide neat plugins), but more about presentation, adding some style, a fake window and fake controls

[2018-05-24 23:36] mfix22 commented on #375
Yeah the tool i was mentioning on tool would do that, but I can't seem to find it 😝

[2018-05-25 06:07] cyrilchapon commented on #375
Yeah I've been facing search issues when trying to find this.. 😅 by nature when you go for "browser" "screenshot" "frame" etc. In Google, that does'nt work 😬

[2018-05-26 15:50] adrianhartanto0 commented on #351
can I work on adding the line next to the line numbers?

[2018-05-26 16:29] mallamzamaani1 commented on #265
This is Mallam I am a powerful spritual man who help people u can whatsapp me now or call me now (+233546805897) ,for help like,
1.Schooling
2.Riches
3.Instant money
4.business improvement
5.Child birth
6.Lotto numbers
7.Scam powers
8.protection
All problems can be solve

[2018-05-26 16:30] mallamzamaani1 opened #376 "Powerful man"
This is Mallam I am a powerful spritual man who help people u can whatsapp me now or call me now (+233546805897) ,for help like,
1.Schooling
2.Riches
3.Instant money
4.business improvement
5.Child birth
6.Lotto numbers
7.Scam powers
8.protection
All problems can be solve

[2018-05-26 17:43] mfix22 commented on #351
Sure @adrianhartanto0! Could you add it as an option to start though, under the "Advanced Settings" menu?

[2018-05-26 17:43] #376 closed

[2018-05-27 18:11] adrianhartanto0 commented on #351
@mfix22 no problem. will update any progress

[2018-05-28 16:35] adrianhartanto0 commented on #351
@mfix22 Shall the vertical line be fixed to a particular color?

[2018-05-28 20:18] mfix22 commented on #351
They should be the same color as the line numbers. I am not sure if those
colors are set by the theme, or just by Codemirror itself. Either way that
is managed by Codemirror, not Carbon at the moment, so that would be the
first place to look (:

On Mon, May 28, 2018 at 9:35 AM, adrianhartanto0 <notifications@github.com>
wrote:

[2018-05-28 21:36] #361 closed

[2018-05-30 03:13] yankeexe opened #378 "Downloaded Picture come out completely white."
## Expected Behavior
![carboncode](https://user-images.githubusercontent.com/13623913/40696886-75e91c16-63b7-11e8-8546-ab7a1babeba9.png)

## Actual Behavior
![carbon](https://user-images.githubusercontent.com/13623913/40696859-4a9af200-63b7-11e8-995a-e0436d83daef.png)

[2018-05-30 03:55] mfix22 commented on #378
Hey @yankeexe which browser were you using to create this?

[2018-05-30 04:01] yankeexe commented on #378
I am using Firefox Developer Edition.
![ffdev](https://user-images.githubusercontent.com/13623913/40698347-1a767110-63be-11e8-8f22-5214746fed54.png)

[2018-05-30 04:27] mfix22 commented on #378
Do you see an error in the Console? All images are saving for me on normal Firefox.

[2018-05-30 07:01] yankeexe commented on #378
As I select the PNG option this error is fired on the console for a second or so and disappears.
![error-log-carbon](https://user-images.githubusercontent.com/13623913/40704347-5236add6-63d7-11e8-82e4-35d89bb1a4cb.jpg)

[2018-05-30 22:33] kissu commented on #123
@jakedex super cool idea ! :tada:

[2018-06-02 13:12] DouglasLiuGamer commented on #378
Have the same issue here! I use Chrome and everything is fine last week but this week the Carbon website just works weird. What I encountered is like this:

![no](https://user-images.githubusercontent.com/34620532/40874918-0cc8e104-66a9-11e8-945d-ce68513ee6b5.png)
This one didn't work, the image is totally white.

![work](https://user-images.githubusercontent.com/34620532/40874919-1bdf4cc8-66a9-11

[2018-06-07 05:46] serkankazak opened #389 "Unable to generate image with default settings when input is too large"
Hi,

First of all thanks for this great project, it really works well.

But I encountered a problem when using the following file:

https://gist.githubusercontent.com/serkankazak/6864159237ad0d6fb77cc512824eef65/raw/29969a6f42ab58698310925723c7972239b33edb/gistfile1.txt

Default settings was used with export size 2x. (It works when 1x but not when 2x.)

The reason of using this large file is gener

[2018-06-07 17:41] mfix22 commented on #389
This is a known issue. The URL is just too large for even a browser to handle (see https://stackoverflow.com/questions/417142/what-is-the-maximum-length-of-a-url-in-different-browsers). Unfortunately we cannot support files that large 🙂

[2018-06-07 17:41] #389 closed

[2018-06-07 19:20] serkankazak commented on #389
Oh I see thanks. But is it really about the url length? Since it works when 1x but not when 2x. Just tried at https://carbon.now.sh

[2018-06-08 01:13] mfix22 commented on #389
You can try looking at the URL length locally and confirm, but we have seen this issue many times and I know it to be the case.

[2018-06-09 21:34] jpnelson opened #393 "Feature request: create gist?"
It'd be nice to create a gist from a code snippet, so that while tweeting, we'd have an accessible, screen readable version.

Would a PR that added this feature be accepted?

[2018-06-09 22:21] mfix22 commented on #393
I would accept this PR, maybe as a dropdown under Tweet? What do you think @jakedex @briandennis ?

[2018-06-10 01:06] foisonocean opened #394 "support italic font?"
It would be great if I can see some italic font

[2018-06-10 01:09] mfix22 commented on #394
IBM Plex Mono is slightly Italic; however, we are happy to accept PRs to add new fonts if you have one in mind 😄

[2018-06-10 01:09] #394 closed

[2018-06-11 04:52] alvaropinot commented on #28
I'm still having issues in Safari, the colours are not preserved and the text is just white, probably a problem inside the backend fallback for Safari. 😅

[2018-06-11 04:56] alvaropinot commented on #393
Having short urls and storing the snippets (#362) inside Carbon might be part of the solution. As for now I just add the code as the alt text to the image when tweeting it 😁 so people can copy paste it and screen readers can read the image for accessibility purposes.

[2018-06-11 05:37] mfix22 commented on #393
@alvaropinot we not automatically add the alt Text when you click the tweet button now, just FYI 👍

I think these are separate features though. There are tons of requests for integrations, and we can't support them all, but we can accept PRs that implement any of them. The issue for tracking integration requests is here: #358.

First and foremost though we want to support an embeddable Carbon wind

[2018-06-12 03:43] hamedmoody opened #395 "How change watermark?"
HI
How can i change watermark?

[2018-06-14 21:31] kaicianflone commented on #395
@mfix22 I have noticed you are using `dropperx` I will go ahead and implement custom watermark upload using it. I might have some questions though :)

[2018-06-14 21:46] mfix22 commented on #395
Yeah go for it! I am pretty sure it will be fairly easy, but we might need to adjust the DropTarget box because the Watermark one will be _inside_ the other . . .

[2018-06-15 02:28] kaicianflone commented on #358
An instagram mode with resizable text based on the square dimensions would be nice too. Let me know where else I can help. I will go ahead and knock off some testing/easy issues.

[2018-06-15 04:48] mfix22 commented on #358
@kaicianflone there is already a Square dimensions mode for Instagram (: look under "Advanced" in the settings

[2018-06-15 15:58] kaicianflone commented on #358
On my computer it's only exporting as square rather than sizing as square. Like some of my pictures will have the edges cutoff and some of the code missing.

[2018-06-18 12:38] Franky82dev commented on #136
Hi I'm new in Cypress and on Github. I am looking for a way to cut out a part of a called URL and save it in a variable that I can use elsewhere in the cypress test code. For example: `"http://something.com/The_Thing_I_need/somthing_else"`
`const needfull ='The_Thing_I_need' ;`

[2018-06-19 01:50] mfix22 commented on #136
@Franky82dev although this is outside the scope of this repo (: , you could just using normal JS variables like:
[code]

or

[code]

[2018-06-20 12:14] sarahsga opened #402 "Need more print-friendly "light" themes"
## Expected Behavior
This is using Base 16 (Light)
![1](https://user-images.githubusercontent.com/10798986/41657172-ee55ae6c-74ab-11e8-8ec7-57fcb0809781.png)

And this is how it appears on a black-and-white print-preview:
![screen shot 2018-06-20 at 5 10 18 pm](https://user-images.githubusercontent.com/10798986/41657573-40b07614-74ad-11e8-9f59-7d6b43d7a7d2.png)

## Actual Behavior
This is the only

[2018-06-21 06:14] mddanishansari opened #403 "Feature request: split screen/side-by-side editor"
It would be really nice if we can have the feature of split screen(side-by-side or top-bottom) like most of the modern editors do.

It can be useful when you have to compare 2 codes, show difference, good code/bad code etc

I have absolutely no idea how this can be done. Otherwise I would have created a PR

[2018-06-21 06:48] Siregar opened #404 "Hard shadow left and right"
Hey there,
first of all, I love carbon!
This behavior occurs, when I export as PNG.

<img width="750" alt="bildschirmfoto 2018-06-21 um 08 46 14" src="https://user-images.githubusercontent.com/31287148/41702224-a1b4861c-752f-11e8-83b1-45b8a078859d.png">

## Expected Behavior
Soft shadow edge.

## Actual Behavior
Hard shadow edge.

[2018-06-21 07:20] Siregar commented on #404
Well, I didn't see the advanced settings. So this is not an issue.

[2018-06-21 10:56] KingsleyXie opened #405 "Hashtag is not correctly displayed in svg format"
The hashtag `#` is displayed as `%23`  if the image was saved as SVG format, and conversely in PNG format.

I don't know if this is a feature...but it is more likely to be the URL encoding or similar character escape problem.

You can try the demo [here](https://carbon.now.sh/?bg=rgba(171,%20184,%20195,%201)&t=seti&wt=none&l=python&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=48px&ph=32px&ln

[2018-06-21 13:47] #404 closed

[2018-06-21 15:46] kaicianflone commented on #405
I'll take a look into it, but this could be an issue with [CodeMirror].(https://github.com/codemirror/CodeMirror) Or maybe the config @mfix22?

[2018-06-21 20:39] kaicianflone commented on #405
Console Error:

[Deprecation] Using unescaped '#' characters in a data URI body is deprecated and will be removed in M68, around July 2018. Please use '%23' instead. See https://www.chromestatus.com/features/5656049583390720 for more details.

[2018-06-22 09:39] jakearchibald opened #406 "Adjust line height"
It'd be great to be able to adjust the line height. I fine code a lot easier to read with a little more line spacing.

[2018-06-22 09:47] jakearchibald commented on #406
Fwiw, you can adjust the line height with devtools & Carbon keeps it for the screenshot.

Here's `line-height: 1.6`:

![Example](https://user-images.githubusercontent.com/93594/41770303-aa5eed04-7609-11e8-951b-cd0b482736ed.png)

[2018-06-23 05:55] mfix22 commented on #402
Hey, thanks for the suggestion!. As of Carbon `3.0.0`, the core Carbon team is no longer implementing new themes or languages ourselves (although we are adding the ability to create your own soon!), but we are happy to accept PRs to add new ones.

Please see https://github.com/dawnlabs/carbon#a-note-on-adding-themeslanguages for notes on how to do so 😄

[2018-06-23 18:30] mfix22 commented on #403
Hi @mddanishansari thanks for opening an issue. This is a duplicate of https://github.com/dawnlabs/carbon/issues/337 which we are not supporting as of now. We will reopen #337 if we decide to go that direction 😄

[2018-06-23 18:30] #403 closed

[2018-06-23 18:32] mddanishansari commented on #403
Ok

[2018-06-23 22:36] mfix22 commented on #406
@jakearchibald my initial thought is that this is an advanced use case that most people won't use, and could potentially lead to a "feature-spiral" where we have to add one setting for every CSS property.

I am going to consult with the rest of the core team before closing, though.

[2018-06-24 06:01] jakearchibald commented on #406
That's fair. I guess I could apply it as a custom stylesheet.

If you do want the feature, I'd be happy to create a PR.

[2018-06-24 06:18] mfix22 commented on #406
@jakearchibald talked with the team today, and we would be happy to support `line-height`, as I found out that is a common property to adjust in a lot of web tools 😄

Would _love_ to accept a PR 👍

[2018-06-24 10:08] idkjs opened #408 "Adding original code to image metadata"
Right now, converting the default example to png gets you this:

![carbon 2](https://user-images.githubusercontent.com/2370391/41818019-c0087f50-77a6-11e8-9609-13008f97af20.png)

If you run it through https://www.get-metadata.com/

You get this:

![screenshot-2018-6-24 online exif data viewer](https://user-images.githubusercontent.com/2370391/41818024-d6d85246-77a6-11e8-8fc1-74c3215854c1.png)

It

[2018-06-24 18:37] mfix22 commented on #405
This is actually a bug in `dom-to-image`. Our custom fork of `dom-to-image` updates the behavior with this line of code:
[code]

@briandennis do you think this is something we should contribute back into `dom-to-image` itself? Or just update in our `Editor` component?

[2018-06-24 18:49] #402 closed

[2018-06-24 18:51] mfix22 commented on #378
Can one of you paste the plain text snippet here so I can try and recreate the issue? 😄

[2018-06-24 18:53] mfix22 commented on #320
Cool! We should implement it in the same way as the other window options though, so I am going to close this as a duplicate of #25. Please feel free to send a PR and we will review 😄

[2018-06-24 18:53] #320 closed

[2018-06-24 18:56] mfix22 commented on #325
We are not going to support this as of now, and is out of scope for what we are solving for. We do want to support a copyable embedded iframe of Carbon soon, which should cover this.

[2018-06-24 18:56] #325 closed

[2018-06-24 18:57] mfix22 commented on #408
@idkjs if you are familiar with this sort of thing, we would love to accept a PR. I am completely foreign to image metadata, especially editing it in the browser.

[2018-06-25 11:52] idkjs commented on #408
@mfix22 i tried messing with it before i posted the comment. The code text comes back on `state.code` in `pages/index.js`
https://github.com/dawnlabs/carbon/blob/7b9c31101e2abf743bc1fe68038cf1f4157e3e15/pages/index.js#L41-L48

If you comment out   `delete s.code` you are not longer deleting the code info and so you get it back:
<img width="496" alt="statecode" src="https://user-images.githubuserco

[2018-06-25 13:55] spacerwoman opened #409 "Bugs in creating PNG"
## Expected Behavior
I expect to get the code displayed right in the PNG.
## Actual Behavior
The code is always shown wrong in the PNG.

[2018-06-25 14:27] briandennis commented on #409
Hey @spacerwoman, could you please provide more information as to the problem your experiencing? It's hard to diagnose the problem when the description is so vague.

Thanks!

[2018-06-26 02:56] mfix22 commented on #408
Accessing the code text is super doable. I am just wondering if you know how to encode anything as metadata into a PNG being saved using JavaScript (:

Also I'm a little confused about your log comment. `console.log` should log to the DevTools if you are using Chrome or FireFox.

[2018-06-26 16:14] mfix22 commented on #378
@yankeexe no sorry, I meant can you paste a plain text snippet of the _code_ so I can try to recreate it. Those "Error while reading CSS" errors happen, but can be ignored. I have never seen them stop an image from working.

[2018-06-26 17:17] ghost1372 opened #411 "how to compile or use"
hi how i can compile this repo?
i want luanch this repo on my website is it possible?how?

[2018-06-27 06:29] nickcernis commented on #378
This code creates a blank image for me (Chrome 67.0.3396.99, Mac):

`test("%02")`

But this works:

`test("%0")`

[2018-06-27 16:09] mfix22 commented on #378
I know the issue. This line: https://github.com/dawnlabs/carbon/blob/master/components/Editor.js#L105-L107 is what is deleting that node and making the image blank. `%0` doesn't match the regex.

Without that line we have seen failures within `dom-to-image` for those character strings. I can look into a better solution, but please feel free to make suggestions/PRs if you have them.

Here is a link

[2018-06-27 16:29] mfix22 commented on #411
Hi @ghost1372,
Not sure if I understand (: This repository does not need compiling, but you can build it into a JavaScript bundle using `npm build`. However, I am not sure how that will help you embed it on your website.

[2018-06-27 16:29] #411 closed

[2018-06-28 07:17] pretty opened #416 "Drop shadow gets cut off in exported images"
I noticed in png exports the drop shadow gets cut off on the edges

[2018-06-29 13:33] adeonir opened #417 "Add support do Jekyll language"
Today I wanted to share a Jekyll snippet, but I missed the language support.

[2018-06-29 14:06] mfix22 commented on #417
Hey, thanks for the suggestion!. As of Carbon `3.0.0`, the core Carbon team is no longer implementing new themes or languages ourselves (although we are adding the ability to create your own soon!), but we are happy to accept PRs to add new ones.

Please see https://github.com/dawnlabs/carbon#a-note-on-adding-themeslanguages for notes on how to do so 😄

[2018-06-29 14:15] mfix22 commented on #416
HI . @pretty can you send us a snippet of what you mean? You might want to just increase the padding of the image in the settings as to not cut off more of the background.

[2018-07-04 13:27] Tegos opened #420 "Up/Down keyboard"
Hello.

![image](https://user-images.githubusercontent.com/7047662/42279565-d6a210a2-7fa6-11e8-8dbe-d6cc07b8c07d.png)

It's happened when selected style or language and press up/down keyboard buttons.

[2018-07-05 11:04] kbleabres commented on #420
It doesn't happen to me. What were you on? Chrome? Safari? Mind giving more details?

[2018-07-05 11:42] Tegos commented on #420
Ok, sure.

![image](https://user-images.githubusercontent.com/7047662/42321338-3ecd0b72-8061-11e8-8f84-16feda610b56.png)

![2018-07-05_14-31-36](https://user-images.githubusercontent.com/7047662/42321434-997927cc-8061-11e8-8683-2cb0d058382d.gif)

[2018-07-05 16:40] #406 closed

[2018-07-06 12:44] orlant opened #421 "PROPOSAL for updating and improving the CARBON LOGO"
Hello, my name is orlando velasquez I am a graphic designer, making contributions to projects with his is my focus, now if you allow me I can create something new for your CARBON project.

[2018-07-06 12:55] rodrigobdz opened #422 "Broken link in README"
Link to tweet in README description is broken.
[code]
## Expected Behavior
It shows tweet.
## Actual Behavior

![broken twitter link](https://user-images.githubusercontent.com/14152377/42379701-e0749600-812b-11e8-93d6-caaaf969ce48.png)

[2018-07-06 15:37] #422 closed

[2018-07-06 15:38] briandennis commented on #422
Thanks for catching that @rodrigobdz!

[2018-07-06 16:47] samiskin commented on #420
This happens to me consistently when using Chrome on my Macbook Pro.  It occurs when selecting an item, then pressing up or down directly after that without clicking anywhere else first.

[2018-07-07 00:32] #420 closed

[2018-07-08 09:00] KelaKing commented on #409
[code]
It should be

<img width="941" alt="2018-07-08 4 57 29" src="https://user-images.githubusercontent.com/13584044/42418325-05bd9e7a-82d0-11e8-8730-9e96743cd1d9.png">

But the png is

![carbon](https://user-images.githubusercontent.com/13584044/42418328-21b3003e-82d0-11e8-84a0-79b03ed68289.png)

[2018-07-08 18:17] mfix22 commented on #409
@spacerwoman I tried it locally and it is working for me in Chrome. Which browser did you experience this bug in? This could be a duplicate of #331 and #365

[2018-07-08 18:17] #416 closed

[2018-07-09 01:49] KelaKing commented on #409
Safari `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_5) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/11.1.1 Safari/605.1.15`

[2018-07-09 06:17] mfix22 commented on #409
Closing as duplicate of #331 @briandennis

[2018-07-09 06:17] #409 closed

[2018-07-11 13:20] janryWang opened #425 "support to vscode with UI."
Carbon is an exciting production that makes our code very beautiful, but currently carbon carbon is only have a browser version. If carbon provides a vscode plugin, can it make everything easier?

[2018-07-11 16:24] mfix22 commented on #425
Hey @janryWang there actually is a VSCode extension created by @ericadamski: https://marketplace.visualstudio.com/items?itemName=ericadamski.carbon-now-sh 👍

[2018-07-11 16:24] #425 closed

[2018-07-12 17:28] aferreira44 opened #427 "Add support to Solidity language"
I would be really nice if we could support [Solidity](https://solidity.readthedocs.io) syntax.

[2018-07-12 17:45] jalvarado91 opened #428 "Feature request: Highlight lines"
It would be cool to be able to select lines to highlight similar to how you can do it in the [github viewer](https://github.com/dawnlabs/carbon/blob/master/components/Editor.js#L235-L245).

The interaction would probably be similar. Click to the left of a line to highlight it, and if we're holding the Shift key down we can click another line to select a range of lines.

Codemirror supports this vi

[2018-07-12 19:46] mfix22 commented on #427
Hey, thanks for the suggestion!. As of Carbon `3.0.0`, the core Carbon team is no longer implementing new themes or languages ourselves (although we are adding the ability to create your own soon!), but we are happy to accept PRs to add new ones.

Please see https://github.com/dawnlabs/carbon#a-note-on-adding-themeslanguages for notes on how to do so 😄, and feel free to implement this!

[2018-07-12 23:35] rauchg opened #429 "Carbon URLs"
When the user first gets to carbon.now.sh, there exists a field that contains a URL that looks like this:

[code]

By default, it will be the URL matching the configuration settings and the content of the example carbon editor.

The url would be deterministic. You could generate it by producing a JSON object like this:

[code]

… while ensuring the keys are sorted.

The user still would have to do

[2018-07-13 02:37] mfix22 commented on #429
Hey Guillermo 👋 Glad to have you here!

We replicate [most](https://github.com/dawnlabs/carbon/blob/master/pages/index.js#L44-L46) of the Carbon state/settings to `window.location` so that you can just copy paste the browser's URL to share the current configuration. Does that work for your use case? Maybe I am mistaking something 🙂

(Thanks again for Now and Next 🙏)

[2018-07-13 12:00] mittalyashu opened #431 "Not able to set Background image"
## Expected Behavior
Not able to set a Background image

## Actual Behavior
![image](https://user-images.githubusercontent.com/29014463/42690589-695f7598-86c2-11e8-9595-eb8945e8ab37.png)

[2018-07-13 19:26] 0xrgb opened #432 "Nim's syntax highlighting is weird"
[Link for test](https://carbon.now.sh/?bg=rgba(171,%20184,%20195,%201)&t=tomorrow-night-bright&wt=sharp&l=nimrod&ds=false&dsyoff=0px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=true&fm=Fira%20Code&fs=12px&lh=125%25&si=false&code=import%2520nre%250A%250Alet%2520vowels%2520%253D%2520re%2522%255Baeoui%255D%2522%250A%250Afor%2520match%2520in%2520%2522moigagoo%2522.findIter(vowels)%253A%250A%2520%2520e

[2018-07-13 22:34] mfix22 commented on #421
We are very happy with where our logo is at right now, thanks for the offer though! We will keep you in mind for the future 🙂

[2018-07-13 22:34] #421 closed

[2018-07-13 22:36] mfix22 commented on #428
Unless I am mistaken, you can already highlight the lines of the Carbon editor, and those highlights even remain in the image after saving as well  . . . Is this what you mean? 🙂

[2018-07-13 22:36] mfix22 commented on #393
Moving to #358

[2018-07-13 22:36] #393 closed

[2018-07-13 22:37] mfix22 commented on #358
Feature: Create Gist (#393 )

[2018-07-13 22:45] orlant commented on #421
thank you very much excuse me

[2018-07-16 06:38] evaryont commented on #25
I'd very much appreciate a Gnome 3/Adwaita theme for the borders!

[2018-07-16 14:40] jalvarado91 commented on #428
Oh haha. I guess it kinda does. It's a bit finicky if you want to highlight the entire line, and it looks like it the highlight color renders funky once the editor is not in focus so it makes it a bit hard to read (for the record I haven't tested if using the Active Line option in code mirror is more readable). This also doesn't really let me select more than one selected range.

![carbon 1](https

[2018-07-16 16:43] #432 closed

[2018-07-16 16:51] mfix22 commented on #428
@jalvarado91 please do! Thanks 🙂

[2018-07-18 16:23] ssoroka opened #435 "Shrinking behavior looks weird"
![screen shot 2018-07-18 at 12 20 51 pm](https://user-images.githubusercontent.com/7130/42894542-159d27ea-8a85-11e8-94be-1d842a7621a6.png)

## Expected Behavior
window resizes with size of browser window

## Actual Behavior
code gets unneccessarily skinny as window size shrinks. seems to shrink around center-aligned pivot point instead of left-aligned browser page.

[2018-07-19 05:42] CoXier opened #436 "How to remove shadow"
## Expected Behavior
Thanks very much for this nice tool.

I want to know if I can remove shadow around the window.

## Actual Behavior

Now from online site, I can not or I do nor find how to remove shadow.

[2018-07-19 05:44] CoXier commented on #436
I save code in png format.

[2018-07-19 17:56] mfix22 commented on #436
<img width="699" alt="screenshot 2018-07-19 10 55 30" src="https://user-images.githubusercontent.com/8397708/42960977-47d242aa-8b42-11e8-8d43-83d57c447d2c.png">

Click the setting that says "Drop shadow" in the "Advanced Settings" dropdown 👍

[2018-07-19 17:56] #436 closed

[2018-07-19 18:52] vitorgalvao opened #437 "Contributor dead links"
On the [README’s contributors section](https://github.com/dawnlabs/carbon/blob/master/README.md#contributors), a few contributos have dead links:

* [Brad Davies](https://bradlab.co.uk/)
* [Hugo Torzuoli](https://torzuolih.github.io/)
* [Bruno C. Couto](https://github.com/bruno02221)

[2018-07-19 19:22] mfix22 commented on #437
@hugomd @varbrad @imbrn can you all submit PRs to update these links if you would like? Otherwise I will close (:

[2018-07-20 02:49] CoXier commented on #436
Thanks a lot.

[2018-07-20 07:41] farskid commented on #431
@mittalyashu Setting custom background images from local device works fine while I was testing on production. Is it still broken? Is it local image or choosing from unsplash?

[2018-07-21 03:04] mittalyashu commented on #431
Hmm... I have tried it now and it working perfectly.

Thanks

[2018-07-21 15:53] dmcrodrigues opened #439 "Emojis and Chinese characters are not rendered in the output"
## Expected Behavior

<img width="338" alt="screen shot 2018-07-21 at 16 51 42" src="https://user-images.githubusercontent.com/1098602/43037569-6e0a2b84-8d06-11e8-899f-d11d5d3ba78a.png">

## Actual Behavior

![carbon-12](https://user-images.githubusercontent.com/1098602/43037574-74ed2532-8d06-11e8-9f78-408b59738a69.png)

[2018-07-21 21:41] mfix22 commented on #431
Closing, open again if you see an issue!

[2018-07-21 22:03] #431 closed

[2018-07-21 22:36] mfix22 commented on #439
Hey thanks for filing this. What browser were you using?

[2018-07-22 07:39] mittalyashu commented on #431
Sure.

[2018-07-25 13:02] VinSpee commented on #49
Copying image data to the clipboard is [still not supported in browsers](https://bugs.chromium.org/p/chromium/issues/detail?id=150835). Maybe the best solution would be [what @abhimanyu003 suggested](https://github.com/dawnlabs/carbon/issues/49#issuecomment-334441288). Any opposition?

[2018-07-25 13:40] dmcrodrigues commented on #439
Hey @mfix22, I'm using Safari 11.1.2 (13605.3.8).

[2018-07-27 02:42] hugomd commented on #437
@mfix22 I think you meant to tag @HZooly 😉

[2018-07-27 07:21] HZooly commented on #437
Hey guys, indeed, this is me 😄

https://github.com/dawnlabs/carbon/pull/442

[2018-07-27 20:00] farskid opened #443 "Prettier to format code on demand"
Thanks for the great tool. I user Carbon regularly and am a super fan of prettier as well. It would be nice to be able to integrate them together.

I've been tweaking around with prettier codebase lately and also got a demo running for a prettier rest api server and also a static version of prettier standalone UMD packages.

I've been so excited about this that I started to add it to carbon locall

[2018-07-29 17:50] NishantSinghChandel opened #444 "Not responsive"
It should be responsive so that for we can use it in out mobile devices.

[2018-07-30 14:13] aspittel opened #445 "Weird export to png issue"
## Expected Behavior

When I click export to PNG it is adding a 255 to my string and not png exporting it!

<img width="491" alt="screen shot 2018-07-30 at 10 06 51 am" src="https://user-images.githubusercontent.com/12969662/43402620-243b5e10-93e1-11e8-908a-e4079b053f96.png">

## Actual Behavior
<img width="421" alt="screen shot 2018-07-30 at 10 10 59 am" src="https://user-images.githubusercontent

[2018-07-31 18:42] mfix22 commented on #443
@farskid this looks cool, however I'm not sure we want to start implementing all of these editor features within Carbon. Yes Prettier is pretty easy to maintain, but we are not trying to make Carbon into another CodeSandbox (@compuives has you covered there 🙂) and could create a slippery slope.

[2018-07-31 20:57] farskid commented on #443
Totally fair.

My use case on a daily basis is such I use carbon a lot! and non pretty indented code pasted in carbon editor bugs me sometimes. I used to use my local projects or code sandbox for prettifying the code sample, but having in inside the carbon sounds like an enormous win 👍

I'd be more than happy to help with the integration if you want this to happen sometimes in future :)

[2018-08-01 14:17] briandennis commented on #443
@farskid after talking some more with @mfix22, we think you make a good case for this. I'll defer to @jakedex as far as what the interface should look like, but go ahead and submit a WIP PR if you like 😃

[2018-08-01 14:19] farskid commented on #443
@briandennis Super Cool! I'm on it. will send a WIP very soon. Thanks for the feature people :)

[2018-08-02 17:45] nwalters512 opened #446 "Cannot export PNG for code with %c in it"
I have the following block of code:

[code]

However, when I try to save as a PNG, I get an uncaught promise exception in the console. It looks like the `%c` is the problem: removing the `%` or changing it to something like `%y` allows it to save as expected.

[2018-08-03 14:02] mfix22 commented on #446
Can you post your full text snippet here? I tried locally and it is working just fine for me from what you have described 🙂

[2018-08-03 14:03] mfix22 commented on #445
Certain unicode patterns fail in `dom-to-image`. We intentionally change those patterns

[2018-08-03 14:03] #445 closed

[2018-08-03 14:03] #437 closed

[2018-08-03 14:04] mfix22 commented on #444
Duplicate of #435

[2018-08-03 14:04] #444 closed

[2018-08-03 14:05] mfix22 commented on #405
I'm going to close this since this is a `dom-to-image` issue. Please help us update it in their project though! 🙂

[2018-08-03 14:05] #405 closed

[2018-08-03 14:06] #427 closed

[2018-08-03 15:54] nwalters512 commented on #446
That's the full snippet! In fact, the smallest reproducible case I could get is `%cd`.

* Chrome version: 68.0.3440.84
* macOS version: 10.13.6

It also fails in Safari 11.1.2 (13605.3.8). I see the following error in the console:

[code]

[2018-08-03 20:14] popey456963 commented on #210
I'm currently using it to embed code automatically in chat clients (like Discord, Whatsapp, etc):

![](https://femto.pw/z4uh.png)

Since most clients don't support embeds, I would find an API useful.

[2018-08-03 21:02] mfix22 opened #447 "New default code snippet"
Hey Carbon users,
We want a new default code snippet (or maybe a few) and need your help.

What should we make it? 🙂Comment below with suggestions.

[2018-08-03 21:56] mfix22 commented on #446
Whoops! Yeah of course that's the snippet 😅

fd9de34410235221b4ab168ccd3e67f3aae294b6 should fix it. Release coming soon.

[2018-08-03 21:56] #446 closed

[2018-08-03 21:59] mfix22 commented on #365
@manniL can you post an example text for me to copy here? 🙂

[2018-08-03 22:10] nwalters512 commented on #446
Thanks so much for the quick fix!

[2018-08-03 22:26] #49 closed

[2018-08-03 22:36] mfix22 commented on #429
I'm going to close this for now, @rauchg let me know if I didn't fully understand your feature idea 🙂

[2018-08-03 22:36] #429 closed

[2018-08-04 05:57] mittalyashu commented on #447
What do you mean by default code snippet?

[2018-08-04 06:03] mittalyashu opened #450 "Create multiple beautiful default themes to choose from"
### Expected Behavior
While playing around with the settings, it is possible that we might end up creating something like this, which looks horrible.

![carbon](https://user-images.githubusercontent.com/29014463/43673067-f4a232ee-97d9-11e8-8a30-c2f022fd0ee8.png)

That's why we need help.

### Actual Behavior

Generate a beautiful random settings.

[2018-08-04 06:08] mittalyashu commented on #439
It works for me, I am using Chrome: 68.0.3440.84

![carbon 1](https://user-images.githubusercontent.com/29014463/43673124-b4cfea3e-97da-11e8-87dc-3462f7a11711.png)

[2018-08-04 08:06] manniL commented on #365
@mfix22 I've linked the carbon setup in the issue :relaxed:

[code]

[2018-08-05 01:35] mfix22 commented on #439
@mittalyashu the failure case is for Safari

[2018-08-05 10:35] manniL commented on #365
@mfix22 The linked config preview looks great, but when I save the image as `PNG`, it shows the same issue as before :|

Please reopen :see_no_evil:

![carbon](https://user-images.githubusercontent.com/640208/43685041-0cd9316e-98ac-11e8-96b9-87706fb76188.png)

[2018-08-05 23:05] mfix22 commented on #365
I just opened that config in Firefox and saved it and this is the image it created:
![carbon 2](https://user-images.githubusercontent.com/8397708/43690992-35cf2660-98c9-11e8-8ee7-d6d5661cec93.png)

Do you have you screen zoomed in/out at all? Have you tried upgrading your Firefox?

[2018-08-06 06:11] mittalyashu commented on #447
I got one.

[code]

[2018-08-06 06:17] manniL commented on #365
Still can reproduce it :sweat_smile:

Haven't zoomed in/out. The preview is showing it right but the saved image is whyever wrong.
Using the latest firefox and `Ubuntu 18.04.1 LTS x86_64`

[2018-08-06 16:29] mfix22 commented on #450
We do want to support more beautiful default options, but definitely not random 😝
Maybe close this issue, and create a new one? Or just update the titles and such.

[2018-08-06 16:29] mfix22 commented on #447
[code]

[2018-08-06 21:46] mfix22 opened #451 "Revert Docker puppeteer changes once Alpine Linux bug is fixed"
Alpine Linux Bug causing Puppeteer errors: https://github.com/GoogleChrome/puppeteer/issues/3019

**TODO**:
- [x] change all the `v3.8` -> `next` in Dockefile
- [x] server.js:` args: ['--no-sandbox', '--disable-setuid-sandbox']`
- [x] `yarn add puppeteer@1.4.0`
- [x] image handler: `(target || document) -> target`

[2018-08-06 22:11] mfix22 commented on #439
I believe this is fixed in `puppeteer@1.6.*`, however, we need to wait for #451 to be fixed before we can upgrade our puppeteer version.

[2018-08-07 06:36] gh640 opened #452 "500 Internal Server Error occurs when a `%` is included in `code`"
I opened the carbon page through my Sublime Text and met the following error.

<img width="757" alt="20180807-1" src="https://user-images.githubusercontent.com/3532528/43758396-f191cad6-9a56-11e8-81f4-26766747a790.png">

It seems to be caused if a `%` is included in the code. You can reproduce the error with the following query:

https://carbon.now.sh/?code=%25

### Expected Behavior

`%` is displ

[2018-08-07 11:24] Zeniagromofff opened #454 "This is perfect! Wondering to save the code to use it like real html file with css."
### Expected Behavior

### Actual Behavior

<details>
  <summary>Browser: </summary>

</details>

<details>
  <summary>Code Snippet (If Applicable)</summary>

</details>

[2018-08-07 12:47] mittalyashu commented on #450
I hope you have understood what I mean to say.

[2018-08-07 13:13] mittalyashu commented on #450
https://www.useloom.com/share/9a9d27aceb584264bd9b9866f74aca76

[2018-08-07 16:13] mfix22 commented on #454
Thank you for your kind words ❤️

[2018-08-07 16:13] #454 closed

[2018-08-07 16:28] mfix22 commented on #450
@mittalyashu totally understood! We do want to create a bunch of beautiful default themes that set the font, background, and color-theme, padding etc so users can quickly choose one that works best for them. But we don't want it to be "random" per se (:

[2018-08-07 19:56] #451 closed

[2018-08-07 23:11] mfix22 opened #456 "Write these integration tests"
- [ ] [1](https://carbon.now.sh/?bg=rgba(155,155,155,1)&t=material&wt=none&l=javascript&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=48px&ph=32px&ln=false&fm=Hack&fs=18px&lh=133%25&si=false&code=%250A%252F*%2520Passing%2520Boolean%2520as%2520method%2520to%2520find%2520returns%2520the%250A%2520*%2520first%2520truthy%2520value%2520in%2520the%2520array!%250A%2520*%252F%250A%255Bfalse%252C%2520f

[2018-08-07 23:17] mfix22 commented on #331
@LLJE can you post a snippet of code that reproduces this bug so I can fix it? 🙂 Thanks!

[2018-08-07 23:28] mfix22 commented on #365
@manniL can do me a favor? What does `navigator.userAgent` equal in your browser's console?

[2018-08-08 01:04] mfix22 commented on #365
@manniL do you think this is an issue with Firefox for Ubuntu/Linux? If so, that is outside of the scope of this projects concern 😅Please close.

[2018-08-08 01:38] #456 closed

[2018-08-08 02:44] mittalyashu commented on #450
Got it.

[2018-08-08 05:49] manniL commented on #365
@mfix22 Not sure if it is :thinking:
I can't test it on FF on other devices currently :see_no_evil: It works on Chrome for Linux though.

User agent is `"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:61.0) Gecko/20100101 Firefox/61.0"`

[2018-08-08 17:02] mfix22 commented on #365
It's my opinion that we should close this as outside of the scope of this project 🙂It works on Firefox for Mac, and Chrome for Linux.

[2018-08-08 17:44] manniL commented on #365
Agreed!

[2018-08-08 17:44] #365 closed

[2018-08-08 21:03] #435 closed

[2018-08-08 21:11] #107 closed

[2018-08-09 08:21] davutkara opened #460 "cdn error, load css"
### Expected Behavior
no error
### Actual Behavior
![image](https://user-images.githubusercontent.com/10008440/43886962-02c50e56-9bc6-11e8-8658-a355196a227a.png)

<details>
  <summary>Browser: Chrome 66 on Linux </summary>

</details>

[2018-08-09 16:15] #460 closed

[2018-08-09 18:29] mfix22 commented on #136
I'm closing this and will open a new one for a new test of integration tests.

[2018-08-09 18:29] #136 closed

[2018-08-09 18:46] mittalyashu commented on #25
I prefer to use OSX only.

[2018-08-09 20:07] mfix22 commented on #428
After looking into this more, you are already able to highlight the lines, and then click away and the highlighting remains. You can also click save and the highlights will be in the PNG. Closing . . .

[2018-08-09 20:07] #428 closed

[2018-08-11 11:57] jundialwan opened #463 "PNG cropped and SVG error when trying to saving/tweeting it (Golang code)"
Hi folks,
I tried to create new image from my Golang code snippet.
When trying to export to PNG or SVG the image generated looks weird and seems an error happen.

### Exporting to png result
Image cropped
![go-func](https://user-images.githubusercontent.com/7735122/43991435-03aacc16-9d97-11e8-811f-4ee5368b22e0.png) *original image exported

### Exporting to svg result
![image](https://user-images.

[2018-08-11 20:07] mittalyashu opened #464 "Add support for Gitlab snippets"
Just like Github gist, add support for GitLab snippets.

[2018-08-12 11:59] bennypowers opened #467 "PWA? 👍 Responsive ? 👎"
I can install the app to home screen, but the editor doesn't adapt to my phone's small screen.

[2018-08-12 17:29] #467 closed

[2018-08-12 17:41] #463 closed

[2018-08-12 18:12] #464 closed

[2018-08-14 03:57] #443 closed

[2018-08-15 08:34] mittalyashu commented on #260
What if we can upload a `.json` file _(and it get saved in localStorage until a newly uploaded file overrides)_ which includes the settings and then carbon read the file and show _(in a select widget)_ which settings `["latest-preset", "presentation"]` you want to choose and carbon apply those settings.

Example of `.json` file

[code]

With the help of this feature, we can get [more beautiful def

[2018-08-15 08:37] molnarmark commented on #260
I love the idea, @mittalyashu. This would be great.

[2018-08-15 08:45] mittalyashu commented on #358
@mfix22 if you planning to add all the features one by one, how will you structure your repository, will it be a mono-repo or multi-repo?

[2018-08-15 08:49] mittalyashu commented on #362
@alvaropinot, as mentioned by @yeskunall in [this comment](https://github.com/dawnlabs/carbon/issues/260#issuecomment-368281891), there can be storage issues.

[2018-08-15 16:01] mfix22 commented on #260
Right. I always thought you would just drop in a new `json` file which would immediately update the settings (including `localStorage`). No need to keep two copies.

[2018-08-15 16:09] mfix22 commented on #358
We don't plan on supporting _all_ of the integrations, just the most popular/useful ones.
A mono-repo 😄

[2018-08-15 17:39] mfix22 commented on #358
@mixn right, most of these integrations can be created/maintained separate from our project! (:

[2018-08-15 17:44] mfix22 opened #472 "Test duplicate"

[2018-08-15 17:55] #472 closed

[2018-08-15 18:01] mfix22 opened #473 "Test duplicate"

[2018-08-15 18:01] #473 closed

[2018-08-16 09:58] mittalyashu commented on #210
What's the progress in the Carbon API?

[2018-08-16 10:01] mittalyashu commented on #358
@mfix22 I have few insight how we can deal with this feature -> IFrame/Embedded

## IFrame

Allow other users to embed this whole component on their website _(more people will use and it will increase popularity of carbon)_

![image](https://user-images.githubusercontent.com/29014463/44202108-ae6f4a80-a168-11e8-84ff-52a6a6c7512e.png)

### Possible options:

1. Limitation the use of carbon componen