[2018-08-16 10:01] mittalyashu commented on #219
@as-ajitsingh are you working on the chrome extension?

[2018-08-20 15:03] tw0517tw opened #483 "Color theme not applying on Firefox"
### Expected Behavior

Code has color

### Actual Behavior

No color for code. But I can change other settings like window control, background, etc.

![default](https://user-images.githubusercontent.com/1003146/44348465-13120880-a4cd-11e8-8158-2b2f16eac04b.png)

<details>
  <summary>Browser: </summary>
  Firefox 62.0b18 (64 bit) in private browsing mode
</details>

<details>
  <summary>Code Snippe

[2018-08-20 19:18] mfix22 commented on #483
Sorry about this! I just fixed it with b19bbf26aeb352426a9393f9d039418e541fe3c2. I will get it redeployed now.

[2018-08-20 19:29] #483 closed

[2018-08-20 20:29] mfix22 commented on #483
If you still see the issue, try reloading your browser with CMD + Shift + R

[2018-08-20 21:17] mfix22 commented on #483
If the issue is still presented, you can fix the issue by running:
[code]

[2018-08-27 03:29] mfix22 opened #489 "Close this, Tonic"

[2018-08-27 03:30] #489 closed

[2018-08-27 21:14] newyork-anthonyng opened #490 "Allow image url for background"
### Expected Behavior
Thank you for this amazing tool 🔥

I wanted to add a new feature to allow using URL's for background image. From what I can see, you can only use random images from `Unsplash` or upload your own images. But then I miss out the goodness of using [fillmurray](https://www.fillmurray.com) on my code snippets.

![screen shot 2018-08-27 at 5 04 54 pm](https://user-images.githubuser

[2018-08-28 01:00] mfix22 commented on #490
Cool. @newyork-anthonyng in the meantime are you able to download the images and then upload them to Carbon manually? Just FYI you can drag and drop an image onto the editor to upload it to Carbon.

[2018-08-28 13:41] newyork-anthonyng commented on #490
@mfix22 Cool, that sounds like a good workaround.

I would also like to work on this feature if you think it's a valid one. Lemme know 👍

[2018-08-31 12:55] namanxtreme opened #492 "How to open the project on localhost to try and implement new stuff on my own machine? Do we have to use NPM run?"
### Expected Behavior

### Actual Behavior

<details>
  <summary>Browser: </summary>

</details>

<details>
  <summary>Code Snippet (If Applicable)</summary>

</details>

[2018-08-31 16:07] mfix22 commented on #492
You can run the app by running `npm run dev` from the top level directory 👍 This will run it on port `3000`, so if you want to run it on a different port, use `npm run dev -- -p <PORT>`

[2018-08-31 16:08] #492 closed

[2018-09-01 04:14] maxcell commented on #358
@mittalyashu What you propose is exactly what I have been thinking about for quite sometime after coming across Carbon. I'm not sure what it would involve but I think it could be a great step in a solid direction.

[2018-09-01 12:27] namanxtreme opened #494 "Upload files to a live server"
### Expected Behavior

### Actual Behavior

<details>
  <summary>Browser: </summary>

</details>
If I wish to upload this project with some of my changes done from localhost to my live server. How can this be performed? Server side has no framework installed. Please provide a detailed step-by-step instruction as I am a newbie. Thanks :)
<details>
  <summary>Code Snippet (If Applicable)</summary>

[2018-09-03 01:17] mfix22 commented on #494
You can deploy this project yourself by running `npm install && npm run deploy`.

[2018-09-03 01:17] #494 closed

[2018-09-03 22:30] amejiarosario opened #495 "Line number has a weird shade. It wasn't like that before"
### Expected Behavior
![image](https://user-images.githubusercontent.com/418605/45002663-4bbee100-afa7-11e8-809a-96428fbaa9d9.png)

### Actual Behavior
![image](https://user-images.githubusercontent.com/418605/45002665-54171c00-afa7-11e8-8e8c-f4350bd9c589.png)

[2018-09-04 01:06] mfix22 commented on #495
@amejiarosario is this just for solarized light? I just tried it now and got:

![carbon 1](https://user-images.githubusercontent.com/8397708/45004762-1ebcff00-afa4-11e8-84d0-cd740b2a10e5.png)

What browser are you using?

[2018-09-04 01:44] #495 closed

[2018-09-04 01:49] mfix22 commented on #495
@amejiarosario thank you for posting !!

[2018-09-04 11:59] tracyhenry opened #496 "Generated SVG is shown as a blank image when imported into Google Slides"
Generated svg will appear as a blank image when imported to google slides/drawings or lucidcharts. Actually, when it's imported into google drive, the preview is already a blank image.

<details>
  <summary>Browser: </summary>

</details>

<details>
  <summary>Code Snippet (If Applicable)</summary>

</details>

[2018-09-04 16:17] mfix22 commented on #496
@tracyhenry which browser were you using, and can you post a link or code snippet so we can recreate the bug?

[2018-09-04 17:14] philwolstenholme opened #497 "'Backend error' and loading spinner but no code editor component"
I'm seeing a console error and the code editor component is not loading.

The issue persists between Chrome and Safari, and the error message suggests it's a server side issue.

<img width="1677" alt="screen shot 2018-09-04 at 18 13 53" src="https://user-images.githubusercontent.com/6339853/45046520-4e383e00-b06e-11e8-9593-0e4cd05e4d3d.png">

[2018-09-04 19:44] philwolstenholme commented on #497
Hi @mfix22 , it was just https://carbon.now.sh – I didn't get redirected to a URL like https://carbon.now.sh/?bg=rgba(171%2C184%2C195%2C0)&t=material&wt=none&l=application%2Fx-sh&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=48px&ph=32px&ln=false&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&ts=false

The issue seems to be resolved now, the editor component is loading correctly for me no

[2018-09-04 19:53] mfix22 commented on #497
That is _weird_ . . .  I wonder if there was an error that was temporary in our backend server provider? If you think the issue is resolved, please close, and reopen if you notice how to recreate it (:

[2018-09-04 19:55] philwolstenholme commented on #497
Happy to close as I can't reproduce it now. Thank you for a brilliant tool, by the way! 👍

[2018-09-04 19:55] #497 closed

[2018-09-04 20:10] mfix22 commented on #497
Thanks @philwolstenholme 🙏

[2018-09-06 18:20] tracyhenry commented on #496
I saw this issue arisen on both Chrome and Safari.  The code snippet I was using is the following:

[code]

[2018-09-07 16:33] Benwebdev opened #498 "Add Liquid Language support"
Feature request:

Can you add https://shopify.github.io/liquid/ support?

Thank you!

[2018-09-07 16:35] Benwebdev commented on #498
To add, github has liquid support as don't know if that helps you.

[2018-09-08 18:11] mfix22 commented on #496
I just tried this image, and the SVG is downloaded correctly. Whether or not you are able to import it into Google Slides it outside of the scope of Carbon.

I don't believe _any_ SVGs are able to be imported into Google Slides, too 🙂

_Closing._

[2018-09-09 01:40] tracyhenry commented on #496
First... it's possible to import svgs to google slides: https://www.sosnoob.com/how-to-import-svg-files-into-google-slides/

Second... the generated svg not only broke on google drive/slides, it also broke on lucidchart.com, which is a popular drawing website.

I know the generated svg displays correctly on browsers, but there must be some formatting issues that prevent it from displaying correctl

[2018-09-12 23:03] jfkw commented on #496
Thanks for releasing Carbon. The generated SVG renders in Google Chrome 70, but is a blank white rectangle in Inkscape 0.92.3 or Emacs SVG mode with preview rendered by ImageMagick.

There is one warning reported by Inkscape which might point to the common source of the rendering error in the viewers reported in this issue:

[code]

[2018-09-12 23:33] sabhiram commented on #408
Cool project. A while back I wrote a utility in `golang` to embed `tEXt` chunks in png images. Have a look at the relevant bits here: https://github.com/sabhiram/png-embed/blob/master/embed.go

[2018-09-13 16:21] mfix22 commented on #496
Right 🙂 The library we use to convert DOM nodes to images uses `<foreignObject>` tags to embed HTML nodes into an SVG document. These tags are not allowed in a lot of image softwares, including InkScape ([source](http://www.inkscapeforum.com/viewtopic.php?t=13086)).

I am assuming this is the same issue that others are seeing when converting SVGs for Google products.

Unfortunately, I am not aware

[2018-09-13 18:56] mfix22 commented on #447
@MONIKA-KUMAR-JETHANI feel free to make suggestions in the comments of this issue! 🙂

[2018-09-15 09:10] ajarouih commented on #439
It works for me with the same configs as yours try this emoji as copy/paste  👌

[2018-09-16 14:12] #498 closed

[2018-09-17 18:48] mfix22 commented on #439
@ajarouih it works in all browsers except Safari

[2018-09-20 03:14] Jaredk3nt commented on #450
I'm interest in taking on this issue,
Just to make it clear is the scope adding a 'templates' drop down menu as well as creating default themes to add to the menu?
Also I'm assuming there will some approval process on the default themes?
Thanks!

[2018-09-20 09:05] mittalyashu commented on #450
Yes, a predefined theme should include all the settings which carbon currently provide and we should be able to override the theme with custom setting if we want.

[2018-09-20 13:54] Jaredk3nt commented on #450
Awesome, I would love to be assigned to this!

[2018-09-20 16:31] mfix22 commented on #450
@Jaredk3nt feel free to open a WIP PR and I can give you feedback as you go. I figured posting screenshots of the theme would be a good way to verify which themes we like before finalizing on the selection UI.

@jakedex and I can help out the theme menu

[2018-09-21 04:28] Jaredk3nt commented on #450
Making a bunch of examples here are a couple that I think are good starts. Feedback is appreciated! I looked through a bunch that people have posted places to get a feel for the kinds of themes people are already using and are doing well.

![carbon](https://user-images.githubusercontent.com/6362515/45859021-ca48ac00-bd25-11e8-8839-305d115bac56.png)
![carbon 6](https://user-images.githubusercontent

[2018-09-21 06:43] mittalyashu commented on #450
@Jaredk3nt Yeah 5 theme is a good start.

Maybe try adding the settings along with the image, so that we can try it and give feedback.

[2018-09-21 12:39] Jaredk3nt commented on #450
1. https://carbon.now.sh/?bg=rgba(222%2C171%2C99%2C1)&t=duotone-dark&wt=none&l=auto&ds=true&dsyoff=12px&dsblur=31px&wc=true&wa=true&pv=27px&ph=36px&ln=false&fm=Hack&fs=13.5px&lh=128%25&si=false&es=2x&wm=false&ts=false

2. https://carbon.now.sh/?bg=rgba(205%2C219%2C237%2C1)&t=verminal&wt=none&l=auto&ds=false&dsyoff=12px&dsblur=27px&wc=false&wa=true&pv=35px&ph=52px&ln=true&fm=Fira%20Code&fs=14.5px&l

[2018-09-21 19:02] qWici opened #504 "One of this symbols broke service"
**Describe the bug**
Doesnt save image if code contains this string:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to website
2. In field for code paste
[code]
3. Choose Javascript language
4. Try to save PNG or SVG

![Screenshot](https://user-images.githubusercontent.com/11472929/45905770-35fc4900-bdfa-11e8-8049-ba0b1e4187cc.png)

**Info (please complete the following informatio

[2018-09-21 20:56] qWici commented on #504
@mfix22 I'm sorry. Choose Javascript language

[2018-09-22 11:07] kirilloid opened #506 "Impossible to do anything meaningful from a phone/tablet"
### Expected Behavior
Pressing white space inserts whitespace character

### Actual Behavior
Prsssing space inserts nothing and instead scrolls the page.

<details>
  <summary>Browser: </summary>
  Safari mobile 12
</details>

On top of that I can neither work with selection nor even hold and press “delete” button. And yes, I have seen rich text editors with syntax highlighting working well from t

[2018-09-26 15:01] flxwu commented on #210
Hey, we would like to use Carbon via an API for the [30-seconds](https://github.com/30-seconds) projects aswell! Is there any progress on this?

[2018-09-28 01:15] sdabhi23 commented on #447
Should the same snippet be used for all languages or should the snippet change when the language is changed from the menu? 🤔

[2018-09-28 01:58] plantvsbirds opened #513 "image generated is not complete"
**Describe the bug**
I slightly config-ed it to be borderless and stuff, pasted my Verilog code, and it doesn't give me complete picture of all codes I pasted.

**To Reproduce**
try [this link](https://carbon.now.sh/?bg=rgba(171%2C184%2C195%2C0)&t=seti&wt=none&l=verilog&ds=false&dsyoff=20px&dsblur=68px&wc=false&wa=true&pv=0px&ph=0px&ln=true&fm=Hack&fs=10px&lh=133%25&si=true&code=module%2520carry_s

[2018-09-28 02:00] plantvsbirds commented on #513
Seems to be my bad checking `squared image`. But what does it mean at all?

[2018-09-28 02:52] mfix22 commented on #447
I think it would overcomplicate things to switch the code when the language changes since we would have to keep track of if the user has typed anything before switching. I would love to replace the current one with a fresh JavaScript/React one, since that is mostly what Carbon was build with 🙂

[2018-09-28 02:55] mfix22 commented on #513
Squared image makes the aspect ratio square for posting to Instagram. It's a lesser used picture.

I'm definitely able to produce an entire screenshot with the code snippet posted above. Let me know if you have other issues 🙂

[2018-09-28 02:55] #513 closed

[2018-09-28 18:29] ucdstudent95618 opened #514 "Translate to Spanish"
Hi Carbon team,

I want to translate the GitHub page to Spanish, is that something you would like to do?

Thanks,

Miguel

[2018-09-28 18:32] mfix22 commented on #514
@ucdstudent95618 absolutely! I have actually been hoping someone would offer to translate the `README`! I would really really appreciate that 🙏😄

You can create a new file and I can reorganize it before merging 🙂 Let me know if you need any help.

[2018-09-28 18:36] ucdstudent95618 commented on #514
Awesome! 🙂 I will send you a PR once I am done. I will create a file called README.es.md.

[2018-09-28 21:50] #514 closed

[2018-10-01 09:17] sdabhi23 commented on #439
@mfix22 as #451 has been fixed, can I help fix this one?

[2018-10-01 16:35] mfix22 commented on #439
@sdabhi23 Absolutely! we would appreciate your help on this one

[2018-10-02 04:40] mfix22 commented on #358
Embed support was just released with `3.5.0`! Try pasting any Carbon URL into Medium, or click the "Copy Embed" button to copy the `iframe` you can use in your own site or blog.

[2018-10-02 09:39] vh13294 opened #517 "Embedding iframe error"
I was trying to embed the code snippet into my website and recieved this error:

Uncaught (in promise) DOMException: Failed to read the 'localStorage' property from 'Window': Access is denied for this document.

which originate from this peice of code:

`function randId() {
  var randid = localStorage.getItem("randid");
  if (!randid) {
    var rr = function () {
      return ((1 + Math.random(Dat

[2018-10-02 10:52] #517 closed

[2018-10-05 21:06] AbdulazizAlswaji commented on #504
Remove the percentage sign and it should work just fine.

[2018-10-05 23:04] mfix22 commented on #504
Yeah we have had many issues in the past due to percentage signs breaking due to a bad encoding. I would like to fix this once-and-for-all

[2018-10-08 10:23] rbluethl opened #533 "Slack application?"
Hey there,

great job with Carbon -- I love it.

Are there any ideas about building a Slack app/extension?
I was thinking about something like: `/carbon <code> <lang [optional]> <theme [optional]>` to create images on the fly and post it into the conversation. (Similar to the [giphy app](https://get.slack.help/hc/en-us/articles/204714258-Giphy-for-Slack).)

Is the Carbon API free to use? I didn't

[2018-10-10 11:15] izabelacborges opened #538 "Translate to Brazilian Portuguese"
Hey Carbon team!

I was hoping I could translate your docs to Brazilian Portuguese if that's something you guys would like.

Thanks, Izabela.

[2018-10-10 13:11] mfix22 commented on #538
@izabelacborges absolutely! Go for it

[2018-10-11 12:52] #538 closed

[2018-10-11 22:43] charlie-volpe commented on #181
In this same vein, I would love to see "gloom" in here. So +1

[2018-10-12 16:55] mfix22 commented on #533
Issues marked "Integrations" are being closed and theirs discussions moved to https://github.com/dawnlabs/carbon/issues/358. With many requests for new features, this allows the Carbon team to prioritize which to support first 👍

[2018-10-12 16:56] mfix22 commented on #533
We currently do not have a public Carbon API, and therefore unfortunately do not have docs for it.

[2018-10-13 02:52] V1NAY8 opened #547 "Integration of GIF"
### Expected Behavior
An option to make GIF.
Example : For any repo that can show their work effectively in their README file such as installation instructions.
### Actual Behavior

<details>
  <summary>Browser: </summary>

</details>

<details>
  <summary>Code Snippet (If Applicable)</summary>

</details>

[2018-10-13 11:11] chrispetrou opened #548 "Feature suggestion: Colorize certain parts of plain text"
Hi! It would be nice for _plain-text syntax_ to be able to colorize certain words with custom colors by selecting them. I think this would be useful when trying to show the output of a script which uses custom colors.

[2018-10-15 00:28] mfix22 commented on #358
Slack Integration (#533)

[2018-10-15 00:28] #533 closed

[2018-10-15 06:07] mittalyashu commented on #358
@mfix22 I have tried pasting the carbon url. But nothing is showing on the screen.

https://medium.com/@mittalyashu/omo-b71b2a7529e2

![chrome_2018-10-15_11-36-48](https://user-images.githubusercontent.com/29014463/46932759-bcf5b780-d06e-11e8-9785-8ebd9218722c.png)

[2018-10-15 16:57] mfix22 commented on #358
@mittalyashu I'm going to hide your comment, but just because I'd like you to open issues not related to new features as new issues 🙂 Please do so for your comment above

[2018-10-15 17:15] mittalyashu opened #549 "IFrame/Embeddable is blank on medium"
**Describe the bug**

I have tried pasting the carbon url. But nothing is showing on the screen.

https://medium.com/@mittalyashu/omo-b71b2a7529e2

**To Reproduce**
Steps to reproduce the behavior:
1. Open Medium
2. Create new story
3. Try pasting any Carbon URL

**Expected behavior**

It should show the embed carbon on medium

**Screenshots**
If applicable, add screenshots to help explain your pr

[2018-10-15 17:29] mfix22 commented on #549
Can you copy paste your Carbon URL here? There are some limitations in Medium that we just can't get around 🙂

[2018-10-15 20:16] asterlilly opened #550 "Surprise"
### Expected Behavior

### Actual Behavior

<details>
  <summary>Browser: </summary>

</details>

<details>
  <summary>Code Snippet (If Applicable)</summary>

</details>

[2018-10-15 21:57] #550 closed

[2018-10-16 11:43] mittalyashu commented on #549
Sure.

Here's the link: https://carbon.now.sh/?bg=rgba(191%2C220%2C238%2C1)&t=seti&wt=none&l=javascript&ds=true&dsyoff=20px&dsblur=73px&wc=true&wa=true&pv=48px&ph=32px&ln=false&fm=dm&fs=15px&lh=133%25&si=false&es=4x&wm=false&ts=true

[2018-10-18 14:15] asterlilly commented on #550
Dawn Re Meiring Gamberg

On Oct 15, 2018 5:57 PM, "Michael Fix" <notifications@github.com> wrote:

[2018-10-18 14:16] asterlilly commented on #550
Dawn Re Meiring Gamberg

On Oct 15, 2018 5:57 PM, "Michael Fix" <notifications@github.com> wrote:

Closed #550 <https://github.com/dawnlabs/carbon/issues/550>.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/dawnlabs/carbon/issues/550#event-1905316090>, or mute
the thread
<https://github.com/notifications/unsubscribe-au

[2018-10-23 03:58] greenkeeper[bot] opened #554 "An in-range update of next-offline is breaking the build 🚨"
## The dependency [next-offline](https://github.com/hanford/next-offline) was updated from `3.0.2` to `3.0.3`.

🚨 [View failing branch](https://github.com/dawnlabs/carbon/compare/master...dawnlabs:greenkeeper%2Fnext-offline-3.0.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

next-offline is a direct dependency of this

[2018-10-23 15:17] TheLaluka opened #557 "Drunk bash parser ?"
### Description
Hi there, it seems that the bash parser behaves in a quite weird way, not detecting the difference between commands, arguments and options... No clue on what's going on, just giving you the feedback ! :)

### Screenshot
![image](https://user-images.githubusercontent.com/7013722/47370848-e2c23280-d6e6-11e8-8ddd-a222981d9891.png)

### Reproduce using this input :
[code]

### Random
T

[2018-10-23 17:46] mfix22 commented on #557
Hey @TheLaluka! Thanks for the kind words. Unfortunately we don't actually do any of the parsing ourselves. That is probably a code-mirror issue. Potentially this would be fixed in the latest version of CodeMirror. Would you be willing to upgrade CodeMirror (including the version here: https://github.com/dawnlabs/carbon/blob/master/components/Meta.js#L29-L37) and try it?

[2018-10-23 18:12] greenkeeper[bot] opened #558 "An in-range update of downshift is breaking the build 🚨"
## The dependency [downshift](https://github.com/paypal/downshift) was updated from `3.1.2` to `3.1.3`.

🚨 [View failing branch](https://github.com/dawnlabs/carbon/compare/master...dawnlabs:greenkeeper%2Fdownshift-3.1.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

downshift is a direct dependency of this project, and

[2018-10-23 18:30] #558 closed

[2018-10-23 19:42] greenkeeper[bot] opened #559 "An in-range update of downshift is breaking the build 🚨"
## The dependency [downshift](https://github.com/paypal/downshift) was updated from `3.1.3` to `3.1.4`.

🚨 [View failing branch](https://github.com/dawnlabs/carbon/compare/master...dawnlabs:greenkeeper%2Fdownshift-3.1.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

downshift is a direct dependency of this project, and

[2018-10-23 19:50] #559 closed

[2018-10-24 04:54] mfix22 commented on #547
@V1NAY8 have you tried https://getkap.co/ for quickly creating a GIF? I don't think it would be feasible to create one from the browser, unless you have ideas 🙂

[2018-10-24 04:57] mfix22 commented on #557
@TheLaluka I'm going to close this as out of scope for this repo, but please open up an issue with CodeMirror or try and push a PR there yourself 🙂

[2018-10-24 04:57] #557 closed

[2018-10-24 08:01] greenkeeper[bot] opened #560 "An in-range update of react-image-crop is breaking the build 🚨"
## The dependency [react-image-crop](https://github.com/DominicTobias/react-image-crop) was updated from `6.0.0` to `6.0.1`.

🚨 [View failing branch](https://github.com/dawnlabs/carbon/compare/master...dawnlabs:greenkeeper%2Freact-image-crop-6.0.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

react-image-crop is a dire

[2018-10-24 08:05] TheLaluka commented on #557
Hi @mfix22 ,
Sorry but I won't have time to find the issue and fix it :/
And yes, this is more than probably only related to the parser, maybe we could just put CodeMirror in the loop ?

[2018-10-24 09:20] V1NAY8 commented on #547
Kap is for MacOS, but I work on PC and Ubuntu :walking_man:

[2018-10-24 18:11] #560 closed

[2018-10-24 19:52] dgading opened #561 "Feature Suggestion: Ability to name file downloads"
### Expected Behavior
The ability to set a new filename before clicking the export PNG button and downloading a file with that name.

### Actual Behavior
All downloaded images are labelled carbon.png.

I wasn't sure what the right order was, but I have a version of this enhancement I am using locally for a presentation. Most of my file names are <section>-<description>.png. I loved the customizati

[2018-10-24 20:12] mixn commented on #561
[`carbon-now-cli`](https://github.com/mixn/carbon-now-cli) supports this via the `--target` and `--location` flags, if that helps you right now. :)

[2018-10-25 10:23] greenkeeper opened #563 "An in-range update of codemirror is breaking the build 🚨"
## The dependency [codemirror](https://github.com/codemirror/CodeMirror) was updated from `5.40.2` to `5.41.0`.

🚨 [View failing branch](https://github.com/dawnlabs/carbon/compare/master...dawnlabs:greenkeeper%2Fcodemirror-5.41.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

codemirror is a direct dependency of this pr

[2018-10-25 16:26] #563 closed, assigned to nobody

[2018-10-26 01:27] jaywonchung opened #564 "characters (such as ", #, %, ...) changing on export"
### Expected Behavior

I expect the code I pasted into carbon.now.sh to stay the same after I export it.

### Actual Behavior

<details>
  <summary>Browser</summary>
Naver Whale, Version 1.3.53.4 (64-bit) (a chrome-based browser)

</details>

<details>
  <summary>Code Snippet (If Applicable)</summary>

    #include <iostream>
    #include <cstring>
    using namespace std;

    int d[5000][5000];

[2018-10-26 10:15] noudadrichem opened #565 "Is there a dummy code file available that includes all css colors?"
Hey Guys!

I want to port City Lights theme to Carbon so I though to start out with e.g. one-dark.css and continue from there, I added a lot of right colors. The problem i'm facing is that it's not really testable to view all available colors.

Is there some sort of test file that handles all available codemirror classes? I don't want to run up to wrong colors when people use a code lang inside Ca

[2018-10-26 16:12] mfix22 commented on #565
I can't confirm that these files have _all_ of the codemirror classes, but these are snippets I have tested against in the past:

[code]

[code]

[code]

[code]

[2018-10-26 16:12] #561 closed

[2018-10-26 18:35] noudadrichem commented on #565
Ah nice, this is usable. Can I conclude that Carbon is really for the JS community.
I'm gonna try and make a PR out of this asap! Thank you for the code!

[2018-10-26 18:35] #565 closed

[2018-10-27 23:10] mfix22 commented on #564
These lines (https://github.com/dawnlabs/carbon/blob/master/components/Editor.js#L142-L146) should be moved into the `filter` function, but the trouble is we don't know the width of the element ahead of time then.

We just need to come up with a way to calculate the width to pass in with the appropriate `filter`

[2018-10-29 18:41] mfix22 commented on #504
Closed with #568

[2018-10-29 18:41] #504 closed

[2018-10-29 18:54] mfix22 commented on #549
Here is the correct URL: https://carbon.now.sh/?bg=rgba(191%2C220%2C238%2C1)&t=seti&wt=none&l=javascript&ds=true&dsyoff=20px&dsblur=73px&wc=true&wa=true&pv=48px&ph=32px&ln=false&fm=dm&fs=15px&lh=133%25&si=false&es=4x&wm=false&ts=true 🙂

[2018-10-29 18:54] #549 closed

[2018-10-29 18:58] mfix22 commented on #395
Closing this since the question was answered!

[2018-10-29 18:58] #395 closed

[2018-10-31 10:43] asilano opened #569 "Console errors when attempting to Tweet or Export as PNG"
### Expected Behavior
1. Paste code into Carbon
2. Click "Tweet Image", or "Export Image" -> "PNG"
3. Image is tweeted, or saved as PNG

### Actual Behavior
1. Paste code into Carbon
2. Click "Tweet Image", or "Export Image" -> "PNG"
3. Receive errors logged to developer console:

[code]

Exporting as SVG works fine.

<details>
  <summary>Browser: </summary>
  Chrome Version 69.0.3497.100 (Officia

[2018-10-31 11:03] mittalyashu commented on #549
But what is the difference in links. Both of them looks same to me.

[2018-10-31 16:30] mfix22 commented on #549
I think it was a matter of encoding. If you click the copy embed button everything should be correct, however there might be issues when copy pasting it from the Browser URL bar right now.

In the console  run `encodeURI('<your url string>')` to if you see a failure (:

@mittalyashu would you be able to work on making sure the `window.location` URLs are always encoded properly?

[2018-10-31 17:01] #569 closed

[2018-10-31 17:02] mittalyashu commented on #549
It returned the same url when I run this command in console.

How? 😅

[2018-11-05 17:39] mansya opened #572 "New logo/icon proposal"
Good day sir. I am a graphic designer and i am interested in designing a logo for your good project. I will be doing it as a gift for free. I just need your permission first before I begin my design. Hoping for your positive feedback. Thanks

[2018-11-05 19:58] jakedex commented on #572
We're going to stick with the current branding for the time being. I appreciate the offer though, @mansya!

[2018-11-05 19:58] #572 closed

[2018-11-12 08:29] NSExceptional opened #573 "Doesn't work on mobile at all…"
Did you guys even test it there?

- Cannot select or otherwise manipulate text other than typing
- Cannot insert spaces

[2018-11-12 10:05] photonstorm commented on #573
![image](https://user-images.githubusercontent.com/164476/48340401-70e46580-e662-11e8-9672-0c2b987979c5.png)

[2018-11-12 23:19] novdddd opened #574 "Hyperocean - Hyper Terminal Theme Proposal"
Hi guys!
Love the awesome tool! I use it all the time for my assignments and homework. The past few month i have been using this theme on Hyper terminal https://hyper.is/plugins/hyperocean, and thought to ask you if you would care to add it to Carbon.
Thank you for your work!
Theme on Github: https://github.com/klauscfhq/hyperocean

[2018-11-13 00:49] peagha commented on #548
I was looking for a way to use Carbon for colored terminal output, this feature would probably allow that 💖

[2018-11-13 18:19] mfix22 commented on #564
@jaywonchung can you paste the snippet you are seeing the failure on below

[2018-11-13 19:06] mfix22 commented on #564
Closed with 3b67c0a846dbfdb6509906d893fc1ecf55ed25c3 (🤞hopefully this is the final time)

[2018-11-14 15:16] novdddd commented on #574
Thank you for your help! I clicked the link but it send me to the github repository of carbon, maybe is not the correct one? I don't think I can create a Pull Request now but maube the creator of the hyper theme @klauscfhq wants to do it 😄 Thank you all for your time and information 😄

[2018-11-14 17:56] EweLoHD opened #575 "Watermark with light Themes"
If you turn the Watermark-Setting on, you can't see it, because it's white like the background of most light themes. Could you maybe add a black Watermark?

[2018-11-15 00:11] #575 closed

[2018-11-15 00:13] mfix22 commented on #573
Duplicate of #506

This is a priority of ours. However there are many mobile limitations caused by `CodeMirror`

If you have suggestions, please raise them on #506

[2018-11-15 00:13] #573 closed

[2018-11-15 00:29] #331 closed

[2018-11-15 00:31] mfix22 commented on #123
Closing since seems Verminal is covering the use case 👍

[2018-11-15 00:31] #123 closed

[2018-11-16 08:18] NSExceptional commented on #573
Thanks!

[2018-11-19 01:32] jakedex commented on #351
Closing as stale. See #384

[2018-11-19 01:32] #351 closed

[2018-11-19 08:19] #574 closed

[2018-11-20 17:43] #490 closed

[2018-11-21 15:34] michelole opened #586 "Tab generates invalid SVG"
### Expected Behavior
Code with tabs should generate valid SVG.

### Actual Behavior
Generated SVG, when rendered, shows `error on line 1 at column 156501: xmlParseEntityRef: no name`.

See screenshot below:

![xmlParseEntityRef](https://user-images.githubusercontent.com/1688126/48851223-ce875900-edaa-11e8-9015-40184d69639c.png)

<details>
  <summary>Browser: </summary>

  Google Chrome 71.0.3578.

[2018-11-22 03:29] #586 closed

[2018-11-22 11:15] michelole commented on #496
Just hit this issue when trying to convert SVG into PDF using Inkscape to embed an image into a LaTeX paper (I guess @tracyhenry was also using it?).

It seems the generated SVG is somehow just a container for plain HTML. Maybe we would need to change the library code to generate "true" SVG. Maybe https://github.com/radkovo/WebVector is a good start?

[2018-11-28 17:31] renjithspace opened #590 "[New feature]: Add support to PUG"
Please add support to PUG template engine syntax.

[2018-11-28 17:52] #25 closed

[2018-11-28 18:22] Benwebdev opened #591 "Sqaure off image now removed"
**Describe the bug**
I was using this great tool to make code snippets for instagram, I was using the square off image feature and was working great.

With the new option layout I am either being stupid and missing it or I can't seem to find this feature anymore. Has it been removed?

All in all, very well done with Carbon! very good tool.

[2018-11-28 18:40] mfix22 commented on #591
Hey @Benwebdev. You are correct, it is currently missing. We were not sure if we should continue to support it as it didn't fit well with the rest of the settings, but seems people still use it 🙂

I will add it back to the new menu. In the meantime just use https://carbon.now.sh/?si=true to enable the feature yourself!

[2018-11-29 04:03] renjithspace commented on #590
Ok. I'll do PR. Thanks

[2018-12-01 04:54] Benwebdev commented on #591
Thanks man!

[2018-12-01 04:54] #591 closed

[2018-12-04 08:53] michelole commented on #586
Fix verified on https://carbon-hxjpzqjvoz.now.sh and http://carbon.now.sh. Thanks!

[2018-12-04 12:47] hexrcs commented on #564
@mfix22 There's still problems with special characters. :( When pasting in the following code, exporting doesn't work and an error is thrown in the console. :disappointed: Works when I remove the `%` in the code though.

The trouble making code:

[code]

Error is like:

![image](https://user-images.githubusercontent.com/26751752/49442862-076ff680-f7cb-11e8-8be6-9273b5da8d12.png)

And the carbon ed

[2018-12-04 14:49] #590 closed

[2018-12-05 18:25] EminQasimov opened #594 "New feature i want"
Reset button.

[2018-12-05 18:26] #594 closed, assigned to nobody

[2018-12-05 19:03] sandervanhooft opened #596 "Cropped image bug"
**Describe the bug**
Images are getting cropped, rendering it unusable.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to carbon.now.sh
2. Paste this snippet:
[code]
3. Export using "1x", "png".

**Expected behavior**
Nice full image, similar to this screenshot of the editor/preview:
<img width="810" alt="screenshot 2018-12-05 at 19 00 23" src="https://user-images.githubusercontent.com/7

[2018-12-05 19:55] mfix22 commented on #596
Closed with https://github.com/dawnlabs/carbon/releases/tag/3.6.3

[2018-12-05 19:55] #596 closed

[2018-12-10 20:00] ZakTaccardi opened #597 "A Darcula theme would be nice"
A Darcula theme based on Android Studio/IntelliJ's IDES would be 👍

[2018-12-10 20:03] mfix22 commented on #597
<img width="289" alt="screenshot 2018-12-10 12 03 26" src="https://user-images.githubusercontent.com/8397708/49758371-9cfc0200-fc73-11e8-887c-c851922d9f16.png">

We already have a Darcula (Dracula) theme 👍

[2018-12-10 20:03] #597 closed

[2018-12-11 07:18] nanhupatar opened #598 "Consider releasing an NPM package?"
as you can see

[2018-12-12 15:53] jakedex opened #600 "UX issues with settings sliders that affect editor width"
Settings that affect editor width (padding horiz, font size) are difficult to handle because as you change the setting, the editor width changes and changes your current mouse position on the slider.

To fix this, I propose that we "freeze" the settings dropdown position until `mouseup` occurs.

[2018-12-12 17:53] mfix22 commented on #564
@CapitanFindusFI can you share the text here? 🙂I'll look into fixing it immediately once you do

[2018-12-12 17:57] CapitanFindusFI commented on #564
@mfix22 there you are 😄

[code]

[2018-12-12 18:17] #564 closed

[2018-12-13 21:09] #450 closed

[2018-12-13 21:30] #600 closed

[2018-12-13 23:38] mfix22 opened #603 "Improve rerender performance when typing"
- [ ] Remove https://github.com/dawnlabs/carbon/blob/master/components/Editor.js#L116 and instead call `this.props.onUpdate` on state updates (you can create a new function called `this.updateState` that wraps `setState`)
- [ ] Prevent things from re-rendering when the URL changes (i.e. the React state should be the source of truth, not the URL)
  - **Idea**: add `componentShouldUpdate = () => fal

[2018-12-15 00:12] #603 closed

[2018-12-16 18:07] noook opened #608 "Functions are not detected in golang"
### Expected Behavior
<img width="579" alt="image" src="https://user-images.githubusercontent.com/19751938/50057028-39873e00-0165-11e9-8a3f-f0152f604b5b.png">

### Actual Behavior
![image](https://user-images.githubusercontent.com/19751938/50057012-09d83600-0165-11e9-84fd-e988eefa260e.png)

<details>
	<summary>Browser information</summary>

<img width="694" alt="image" src="https://user-images.git

[2018-12-17 16:50] DubStepMad opened #609 "Cannot save as .PNG"
**Describe the bug**
Used this before with similar code, this code is for a college assignment.

Code: https://pastebin.com/BScTBZQG

Options: Seti - PHP

**To Reproduce**
Steps to reproduce the behavior:
1. Paste code into the editor.
2. Click export and save as .PNG.
3.Nothing happens.

**Expected behavior**
To download the code as an image with the format (.PNG)

**Screenshots**
N/A

**Info (pl

[2018-12-17 17:32] mfix22 commented on #609
I would try it again and wait awhile. It took a few seconds on my computer to work, and is a pretty large image by Carbon's standards:

![carbon](https://user-images.githubusercontent.com/8397708/50104335-97a43780-01de-11e9-981d-b746b671af5b.png)

[2018-12-18 16:56] mfix22 opened #610 "Test"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Info (please complete the following information):**
 - OS [e.

[2018-12-18 20:40] #610 closed

[2018-12-20 19:03] pmacMaps opened #612 "Potential Security Issue?"
A friend shared a link to https :// carbon.now.sh /.  Because he did not tell me anything about this library, I decided to check if it was legit.  According to Norton (https://safeweb.norton.com/report/show?url=https%3A%2F%2Fcarbon.now.sh%2F), drive-by downloads are a potential threat.  Below are Norton's listing.

I am creating an issue so that the maintainer of this project is aware of this pote

[2018-12-20 20:47] ericadamski commented on #609
This happened to me as well just now with this code:

[code]

This is error I get:
![screen shot 2018-12-20 at 3 44 57 pm](https://user-images.githubusercontent.com/6516758/50309825-3f836480-046e-11e9-984b-2916ac82d03e.png)

Here is my `CARBON_STATE` from local storage:

[code]

[2018-12-20 22:36] mfix22 commented on #609
Hey @ericadamski can you post your Browser (including version) here? I think this could be a Chrome bug for one of the earlier Chrome versions.

Thanks for the kind words and help with this problem though 👍

[2018-12-20 22:37] mfix22 commented on #612
This is related to `now.sh` in general, not specifically https://carbon.now.sh. @timothyis do you know anything about this?

[2018-12-21 08:13] jamo commented on #612
Thank you for bringing these to our attention; our security team is on it.

[2018-12-21 08:49] jamo commented on #612
Just got word that it's all taken care of, thank you again for bringing it to our attention!

For any additional security concerns, the fastest way to get our security teams attention is to reach out to security@zeit.co but all means for pinging us will do.

[2018-12-21 13:10] ericadamski commented on #609
Haven't relaunched,  I will relaunch and let you know if it works

![screen shot 2018-12-21 at 8 10 15 am](https://user-images.githubusercontent.com/6516758/50344165-dd6f4180-04f7-11e9-87db-1b841b2fd19c.png)

[2018-12-21 15:45] mfix22 commented on #612
Thanks @jamo! 🎉

[2018-12-21 15:45] #612 closed

[2018-12-23 08:12] kalwaniyash commented on #450
@Jaredk3nt these seem lovely are there any more i can look at?

[2018-12-23 14:59] DubStepMad commented on #609
I can confirm I have the same version as you, I believe it might be due to the version since it worked in college for me but event with a few lines of code it does not work.

[2018-12-23 15:04] DubStepMad commented on #609
Attached is my console log.

[carbon.now.sh-1545577426732.log](https://github.com/dawnlabs/carbon/files/2706053/carbon.now.sh-1545577426732.log)

[2018-12-23 15:09] DubStepMad commented on #609
Console log of Edge.

![15 09 14-23 12 18](https://user-images.githubusercontent.com/13799856/50384962-be71da80-06c4-11e9-98b5-9ca81eab9ec9.png)

[2018-12-24 05:30] mfix22 commented on #408
I don't believe it is possible to _write_ the metadata into the PNG in the browse, which is our primary method for generation.

Closing this as wont-fix, but if someone is aware of an alternative, I will reopen 🙂

[2018-12-24 05:30] #408 closed

[2018-12-24 05:34] mfix22 commented on #598
Thank you for raising this issue! We have thought about doing this a lot, and potentially still will in the future.

As of right now, the core team has decided not to support this functionality. If this changes in the future, I will reopen this issue 🙂

[2018-12-24 05:34] #598 closed

[2018-12-24 11:00] FiloSottile commented on #609
Having the same problem ("Tainted canvases can't be exported"), also trying to use the Open button.

[2018-12-25 02:12] ericadamski commented on #609
@mfix22 I can take a look at this more this Thursday Friday ish

[2018-12-28 05:20] nanhupatar commented on #598
thanks a lot

[2019-01-02 14:08] ericadamski commented on #609
This seems to be an issues with domtoimage :( https://github.com/tsayen/dom-to-image/issues/267

[2019-01-02 19:47] martinfrancois commented on #547
What would the advantage of a gif be compared to a png? A png can just as well be used in a README of a repo, or do you mean an animated gif? If so, what would you animate?

[2019-01-03 04:35] V1NAY8 commented on #547
- Just that carbon can be used for styling code. I wanted it also to behave as styling for Terminal or any UI.
- Animating the Instructions will always help.
## Example for Code: **If the same is done in Carbon It looks Beautiful**
- These are nothing but a multiple output images from terminal.(If we could copy the output from terminal and paste it here and combine them). **Just an Idea**.
![gif](

[2019-01-03 18:43] martinfrancois commented on #547
Ah okay, I see what you mean. Do you mean something like https://asciinema.org ? If so, how should it be different?

[2019-01-03 21:15] mfix22 commented on #609
This is probably just a bug in Chromium v72. The latest non-beta Chromium is v71 (which is the version of Carbon we actively support), and there seems to be related bug reports open for v72 of Chromium (https://bugs.chromium.org/p/chromium/issues/detail?id=918460&q=tainted%20canvas&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified)

[2019-01-04 04:45] V1NAY8 commented on #547
- Oh yeah, That's such a beautiful one. As of now, that's the idea.
- The above is present only for terminal via the installation of a package.
- Thinking whether we can perform the same in Browser. https://getkap.co/ is the one suggested above, but its available for MacOs only.
**The main idea is to use Carbon to create a beautiful environment for sharing code, along with these integrations**

[2019-01-04 06:08] mfix22 opened #616 "Update travis config to start dev app and run Cypress tests against it"
https://docs.cypress.io/guides/guides/continuous-integration.html#Solutions

The proposed [`wait-on`](https://github.com/jeffbski/wait-on) example ^^ looks like a good solution

[2019-01-04 10:41] yooouuri opened #617 "Weird behavior when encapsulating with % character"
**Describe the bug**
There are weird enters between the lines where percents are used (like the screenshot).

**To Reproduce**
Steps to reproduce the behavior:
1. Use the following code and set type to YAML
[code]

2. Click on export as PNG

**Expected behavior**
There should be no enters between the lines. When I remove the lines with the percent, the format is fine.

**Screenshots**

Current beh

[2019-01-05 05:42] skarif2 opened #618 "Text background color"
Is there any way to change the background color of the text. I was expecting a green background color for the text "HTTP/1.1" but there wasn't any.

### Expected Behavior
![screenshot 2019-01-05 at 11 30 56 am](https://user-images.githubusercontent.com/5141132/50720792-143f7d00-10de-11e9-9d27-143236555553.png)

### Actual Behavior
![carbon](https://user-images.githubusercontent.com/5141132/5072079

[2019-01-07 18:56] NullVoxPopuli opened #619 "Option to remove the Window Size / Minimize buttons"
These 3 buttons in the top left have no meaning in the context of a code snippet, and are very macOS inspired, so, an option to remove them would be fantastic :)

[2019-01-07 19:00] mfix22 commented on #619
<img width="454" alt="screenshot 2019-01-07 10 58 49" src="https://user-images.githubusercontent.com/8397708/50787430-3b778500-126b-11e9-89de-42fe39881fb9.png">

You can disable them by clicking the "Window controls" toggle in the settings 👍

[2019-01-07 19:00] #619 closed

[2019-01-07 19:03] NullVoxPopuli commented on #619
ah! Window Controls! thanks!

![image](https://user-images.githubusercontent.com/199018/50787654-037d3b80-1285-11e9-96be-57bd7c4c6c09.png)

[2019-01-07 20:10] ercank139 opened #620 "dxfhgjhkfjlkgl"
[

### Expected Behavior

### Actual Behavior

<details>
  <summary>Browser: </summary>

</details>

<details>
  <summary>Code Snippet (If Applicable)</summary>

</details>

[2019-01-07 20:32] #620 closed

[2019-01-08 06:11] mfix22 commented on #618
Hey @skarif2 thanks for posting this issue. Carbon is actually behaving correctly in this case, since it just reads and colorizes your text based on a specific language. However there is an open issue (#548) to support this, which allows you to color specific parts of the text a specific color (or background color).

Going to close this issue as a duplicate of #548

[2019-01-08 06:11] #618 closed

[2019-01-10 04:48] #616 closed

[2019-01-10 14:12] boyvanamstel opened #631 "Safari always creates squared images"
**Describe the bug**
Images generated with Safari are always squared, regardless of what `si` is set to.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a new incognito window with Safari (shift + cmd + N).
2. Visit https://carbon.now.sh/?si=false.
3. Export image.

**Result**
![carbon](https://user-images.githubusercontent.com/225410/50973765-f4e38e00-14e9-11e9-9fac-6cdf940b6b2a.png)

[2019-01-10 18:05] mfix22 commented on #631
Just pushed an update for Safari — should be good to go now! 👍

[2019-01-10 18:05] #631 closed

[2019-01-10 18:14] boyvanamstel commented on #631
Yep, works. Thanks! 👍

[2019-01-12 02:15] elithrar commented on #609
This persists in Chrome v73 - Version 73.0.3664.3 (Official Build) dev (64-bit)

[code]

[2019-01-13 16:55] jalmx opened #633 "Error to load image for background"
### Expected Behavior

Load a image for background

### Actual Behavior

Error
![screen shot 2019-01-13 at 10 53 04 am](https://user-images.githubusercontent.com/6551036/51088120-9ef92b00-1721-11e9-94d2-bb85f18d86af.png)

<details>
  <summary>Browser: </summary>

</details>

<details>
  <summary>Code Snippet (If Applicable)</summary>

</details>

[2019-01-13 21:57] edouard-lopez opened #634 "Supporting Fish shell"
Is it possible to support [`fish` shell](https://github.com/fish-shell/fish-shell)?

[2019-01-14 02:52] edouard-lopez commented on #634
Bash as some keyword not highlighted (_e.g._ `end`) but it'ss good enough, thanks :)

[2019-01-14 17:32] mfix22 opened #635 "New cypress integrations tests"
Verify:
- Single instance of `#export-container` and `.export-container'`
- Single instance of`#export-menu`
After export menu has been clicked:
- Single instance of `#export-png`
- Single instance of `#export-svg`

[2019-01-14 19:20] mixn commented on #635
@mfix22 Thanks a ton for filing this! :) I’d really be great to have this indeed. I’m super packed atm with work stuff, but will integrate this once I find some free time.

[2019-01-15 08:05] boyvanamstel opened #636 "Safari: cannot load https://carbon-api.now.sh/image due to access control checks"
**Describe the bug**
When trying to export to PNG, the Carbon API is unreachable and the export fails. Affects the Tweet button as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Click export.
2. Choose PNG.
3. Nothing happens.

**Expected behavior**
A PNG should be generated and downloaded.

**Screenshots**
<img width="842" alt="screenshot 2019-01-14 at 19 11 44" src="https://user-ima

[2019-01-15 15:23] boyvanamstel opened #637 "Setting a background image throws an "unexpected error""
**Describe the bug**
Setting a background image (either by uploading, or picking the suggested image from Unsplash) clears the window and shows the following error message:

"An unexpected error has occurred."

**To Reproduce**
Steps to reproduce the behavior:
1. Click the background color/image picker.
2. Select 'Image'.
3. Click 'Use Image' to pick the suggested image.

**Expected behavior**
The

[2019-01-15 18:58] mfix22 commented on #636
This should be good to go! Sorry about that, we are upgrading some the support for Safari and there has been some bugs in the production environment. My apologies!

[2019-01-15 18:58] #636 closed

[2019-01-15 19:02] boyvanamstel commented on #636
Great! Thanks for issuing a fix so quickly. 👍

[2019-01-15 19:06] mfix22 commented on #637
This should be good to go! Sorry about that, we are upgrading some the support for Unsplash and there has been some bugs in the production environment. My apologies!

[2019-01-15 21:37] #637 closed

[2019-01-16 10:14] boyvanamstel commented on #636
@mfix22 Sorry for reopening this (and not verifying the fix before), but it seems the issue isn't fixed (anymore).

[2019-01-16 10:21] boyvanamstel commented on #636
@mfix22 Nevermind, caching I guess.

[2019-01-16 12:37] boyvanamstel opened #638 "Safari: PNG export fails with error 413 or 500 if background image is set"
**Describe the bug**
Setting a background image breaks the PNG export on Safari.

**To Reproduce**
Steps to reproduce the behavior:
1. Click the background image/color menu.
2. Select image.
3. Pick the first Unsplash image, or upload your own.
4. Export PNG.

**Expected behavior**
It should download the snippet with the background image set. Like it does on Chrome.

**Screenshots**
![screenshot 2

[2019-01-16 15:53] elithrar commented on #609
The latest Chrome dev channel build, as of this comment, is Version 73.0.3669.0 (Official Build) dev (64-bit), which fixes this bug (PNG export now works!).

[2019-01-16 17:03] mfix22 commented on #609
@elithrar awesome 🙌 Is this good to close then?

[2019-01-16 17:11] mfix22 commented on #638
Thanks for filing this! Saving the background image in Safari has never worked unfortunately, and the error you are seeing is due to the payload being too large (https://zeit.co/docs/v2/routing/status-codes#413). I will look into it, but I'm not sure there is much we can do.

[2019-01-16 17:11] mfix22 commented on #638
For the second case, did that error occur simply when you clicked "Use Image"? That one should also be a quick fix 🙂

[2019-01-16 17:39] elithrar commented on #609
Yep! Folks just need to be on that release or greater!
On Wed, Jan 16, 2019 at 12:03 PM Michael Fix <notifications@github.com>
wrote:

[2019-01-16 17:40] #609 closed

[2019-01-16 18:50] #635 closed

[2019-01-17 08:31] boyvanamstel commented on #638
Ah, I hadn't noticed the output never worked for Safari. Maybe hide the option on Safari then? 🤔

The second case happens when uploading a file.

[2019-01-17 17:48] mfix22 commented on #635
No worries @mixn took ~5 minutes! (:

[2019-01-17 17:50] mfix22 commented on #638
Gotcha yeah, that's a good idea. We are actually looking for fixes to the first right now by increasing our body payload limit with out cloud provide. I'll post updates here.

[2019-01-21 22:47] ninosfl opened #640 "Exporting to svg converts number symbol (#) to a number (%23)"
![carbonfail](https://user-images.githubusercontent.com/12472550/51502474-30c20180-1dce-11e9-8f25-9d2365df8a8d.png)

### Expected Behavior
When exporting to svg number symbol (#) is correctly displayed.
### Actual Behavior
The symbol is converted to `%23`
<details>
  <summary>Browser: </summary>
Mozilla Firefox 64.0.2 (64-bit)
</details>

<details>
  <summary>Code Snippet (If Applicable)</summary>

[2019-01-21 23:57] #640 closed

[2019-01-21 23:59] #634 closed

[2019-01-22 23:32] mfix22 opened #643 "fix this hack"
Created from Windsor

[2019-01-22 23:32] #643 closed

[2019-01-23 16:18] v-fernandez commented on #447
How about something like:

[code]

[2019-01-23 16:43] aocenas opened #646 "Feature request: Proxy data from github gist"
At the moment when using gist id feature, it just loads the data from the gist and embeds it into the url. This creates a problem first when the the gist or any other snippet is too big due to max url length limits, second when you keep your snippets in github it can be tedious to update gist -> create carbon url -> update in the blog post on every change.

Would it be possible for carbon to act a

[2019-01-23 17:28] mfix22 commented on #646
@aocenas that is actually how it currently works 👍

Example: https://carbon.now.sh/mfix22/82d742f4efad9757cc826d20f2a5e5af

[2019-01-23 17:29] mfix22 commented on #447
@v-fernandez I like this^ ! I think we should include something like this in our next array of default snippets

[2019-01-23 17:46] aocenas commented on #646
@mfix22 Not really, or I do not understand how it is supposed to work. If I go that link it loads the content of the and changes the url encoding the content there. So it results in
[code]
And the same url is there when you try to embed it. I do not think this url will reflect any later change to the `mfix22/82d742f4efad9757cc826d20f2a5e5af` gist or does it?

[2019-01-23 17:48] mfix22 commented on #646
Ohhhhh i see what you mean!

[2019-01-23 17:51] mfix22 commented on #181
We just released this feature! Try it out in the "Themes" dropdown menu
<img width="790" alt="zeit-theme-over" src="https://user-images.githubusercontent.com/8397708/51626480-7f69bb80-1ef4-11e9-9cea-5cde8fad12d5.png">

[2019-01-23 17:51] #181 closed

[2019-01-23 22:15] aocenas commented on #646
@mfix22 Close but not quite :). Sorry I should have explained it in more detail from the start. What I do right now when writing a post on Medium is:
1. I write the story
2. A create the gists in github
3. Embed the gists to the story
4. If there is an issue with the gists I just update them in github and thats it. The embeds on Medium always point to the latest version.

This is the best workflow

[2019-01-23 22:44] mfix22 commented on #646
I think we want to just support saving Carbon screenshots similar to how PasteBin handles it, giving you back a unique global id that you can not only share for editing, but also for updating Carbon embeds how you mentioned.

I think this feature would not be explicitly tied to Gists, however. With this feature, you would no longer need Gists.

[2019-01-24 10:40] aocenas commented on #646
Yeah in that case, this proposal would be a step in different direction. Feel free to close this.

[2019-01-24 14:07] alexandrubau opened #647 "Cannot export to PNG"
**Describe the bug**
Cannot generate PNG from content:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://carbon.now.sh
2. Paste the content
3. Click Export -> PNG
4. Nothing happens

**Expected behavior**
Be able to download the PNG file.

[2019-01-24 17:37] #647 closed

[2019-01-24 20:17] mfix22 commented on #617
This should be fixed with latest release 👍

![image](https://user-images.githubusercontent.com/8397708/51705983-fd4fc480-1fd1-11e9-95d5-e574445ef90d.png)

[2019-01-24 20:17] #617 closed

[2019-01-25 08:59] alexandrubau commented on #647
@mfix22 thank you so much for the quick fix!

[2019-01-25 15:52] blackxored commented on #312
I haven’t tried that. Wasn’t even aware it existed. Thanks.
—
Best Regards,

Adrian Perez
https://adrianperez.codes

[2019-01-27 18:11] davidrleonard opened #653 "Code is not syntax highlighted when page initially loads for some languages"
**Describe the bug**

Some languages are not correctly syntax highlighted when the page initially loads. CSS does not work but JavaScript does.

**To Reproduce**

Visit https://carbon.now.sh/?bg=rgba(171%2C%20184%2C%20195%2C%201)&t=seti&wt=none&l=css&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fm=Hack&fs=14px&lh=133%25&si=false&code=.body%2520%257B%2520color%253A%2520r

[2019-01-28 00:52] loop0day commented on #653
Same here.

[2019-01-28 06:02] mfix22 commented on #653
@davidrleonard thanks for submitting this issue! You are right, https://github.com/dawnlabs/carbon/commit/80122adea607929bcec24fece9cac18d152c8ca1 was the commit that caused this issue. I have reverted to an older version until we resolve this issue on master.

[2019-01-28 06:16] #653 closed

[2019-01-31 10:14] mesqueeb opened #654 "[Request theme] Lucy"
I'd love this theme to be added!
LUCY
https://github.com/juliettepretot/lucy-vscode-theme

[2019-02-05 17:37] #654 closed

[2019-02-05 17:39] mfix22 commented on #654
@mesqueeb we also have custom themes now, so you can create this saved theme locally as well now too 👍

[2019-02-06 19:36] mfix22 opened #656 "Investigate using preload for stylesheets and scripts"
https://developer.mozilla.org/en-US/docs/Web/HTML/Preloading_content

[2019-02-07 01:02] #656 closed

[2019-02-09 00:03] mfix22 opened #663 "Don't update window location until "share button" is clicked"
Updating the window location isn't really helpful except for when you are about to share it somewhere.

What do you all think about just creating a button that copies a link to the current config for sharing? Or should we constantly update the URL bar?

[2019-02-11 17:55] mfix22 opened #669 "Deprecate Button.center prop"
`justify-content: center` should be the default, and we should either remove the `center` prop or just replace it with a `justifyContent` prop that overrides the single property.

https://github.com/dawnlabs/carbon/blob/master/components/Button.js#L17

[2019-02-11 19:35] #669 closed

[2019-02-13 11:01] boyvanamstel opened #671 "Custom themes don't work with Safari"
Setting a custom theme and exporting an image with Safari does not honor the custom theme settings.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch Safari.
2. Create a custom theme.
3. Export the image.
4. The image will have the last selected (built-in) theme.

**Expected behavior**
The image should have the customized theme applied.

**Screenshots**
Browser:
![screenshot 2019-02-13

[2019-02-14 09:07] LanderlYoung opened #672 "Exported svg is too large 1.3MB, while 2x png is just 70+KB"
### Expected Behavior

svg should be reasonabely small than png, jpgs.

### Actual Behavior

<details>
  <summary>Browser: </summary>

 Google Chrome Version 72.0.3626.96 (Official Build) (64-bit)

OS: macOS 10.14.2

</details>

<details>
  <summary>Code Snippet (If Applicable)</summary>

[code here](https://carbon.now.sh/?bg=rgba(171%2C%20184%2C%20195%2C%201)&t=material&wt=none&l=auto&ds=true&dsy

[2019-02-17 20:11] Frizlab opened #677 "Unusable on an iPad"
### Expected Behavior
Using the keyboard on the iPad should work correctly, like with any text view on the web.

### Actual Behavior
The space bar does not enter a space, but scrolls the webpage instead, there is no selection possible, nor can we see the carret where the text will be inputted.
<details>
  <summary>Browser: </summary>

Safari on iOS 12.1.4, on iPad Pro 12.9”
</details>

<details>

[2019-02-17 20:20] mfix22 commented on #677
This is probably the same issue as https://github.com/dawnlabs/carbon/issues/506

[2019-02-17 20:24] Frizlab commented on #677
Seems to be, indeed. Do you want me to close this one? Or you can do it 🤷‍♂️

[2019-02-17 20:29] mfix22 commented on #677
@Frizlab I'll close it, thank you for posting 👍 This is a fundamental issue with CodeMirror, the editor we use. Please track the other issue for update.

[2019-02-17 20:29] mfix22 commented on #677
Duplicate of #506

[2019-02-17 20:29] #677 closed

[2019-02-19 21:05] marlon360 opened #680 "Scrollbar shown when exporting PNG with auto-adjust width"
**Describe the bug**
When exporting HTML code as PNG with auto-adjust width a scrollbar is shown in the image

**To Reproduce**
Steps to reproduce the behavior:
1. Add this code ```<html><head></head><body></body></html>```
2. Choose HTML as Language
3. Activate Auto-adjust width
4. Export as PNG

**Expected behavior**
There should not be a scrollbar displayed in the exported image.

**Screenshots

[2019-02-19 21:12] mfix22 commented on #680
Hmm upon trying to recreate this, i got this image:
![carbon-2](https://user-images.githubusercontent.com/8397708/53047702-db6a2600-3447-11e9-8f8f-fff42b8fc2fe.png)

For lack of a better method, could you paste your `localStorage.CARBON_STATE` here?

[2019-02-19 21:19] marlon360 commented on #680
This is my CARBON_STATE:
[code]

[2019-02-21 13:52] JohannesKlauss opened #682 "Feature Request: Possibility to disable background gradient"
Currently there is no way to disable the background gradient. I cannot choose for example to have a plain white background (with the box shadow on top of it).

It would be great if the user is given the option to enable or disable the gradient.

[2019-02-21 15:02] JohannesKlauss commented on #682
I just realized that there is no background gradient, sorry for that.

[2019-02-21 15:02] #682 closed

[2019-02-22 06:42] Joel-hanson commented on #672
Shall I take up this issue? @mfix22

[2019-02-22 18:28] mfix22 commented on #672
@Joel-hanson go for it! 👍

I just don't know how much there is to do here. We use `dom-to-image` to create PNGs and SVGs, but curious as to what you come up with.

[2019-02-23 07:39] shaddu commented on #671
Might be related to the similar issue, when I add an image in the background and try exporting in safari. It doesn't work and in console logs, I found this

![screenshot 2019-02-23 at 07 36 06](https://user-images.githubusercontent.com/16138402/53283412-09988000-373e-11e9-8662-fa01ac7f4f80.png)

[2019-02-23 09:06] Joel-hanson commented on #672
#683

[2019-02-25 19:57] mfix22 commented on #671
@shaddu that is a separate issue actually. Since Carbon needs to use a URL to create the screenshot in Safari, using an external background image typically fails for either a URL length limit or else the lambda payload limit (~6MB)

[2019-02-25 21:29] #663 closed

[2019-02-26 05:14] mesqueeb commented on #654
@mfix22 If i create a new theme on the site by tapping "Create +" how will I know I will always be able to access it from any device?
I didn't see any user authentication to save the actual themes...

[2019-02-26 15:27] mfix22 commented on #654
It is saved to local storage, which can be deleted. I would save a copy offline just in case, since `localStorage` is obviously not a permanent solution.

That is interesting you mention wanting authentication though — we have been thinking about supporting GitHub auth to use to save your themes and snippets and such.

[2019-02-26 22:44] mesqueeb commented on #654
@mfix22 great! If you use firebase auth service you can literally implement github auth in 5 minutes without sweat ; )
Be sure to check it out!!

[2019-03-01 15:01] NullVoxPopuli commented on #260
I'm _also_ working on a presentation, and it'd be nice to be able to download the config and store it in my presentation so I can load it when switching between computers

[2019-03-02 22:29] jakebolam opened #687 "All contributors bot support"
Great project, didn't know this tool you existed, I'm going to use this all the time!

Thanks for using @all-contributors. I noticed you hit a snag using the bot @mfix22 https://github.com/dawnlabs/carbon/pull/686#issuecomment-468747073. We put a hard limit in place to prevent more than [5 contributor file updates](https://github.com/dawnlabs/carbon/blob/master/.all-contributorsrc#L5) at a time.

[2019-03-03 02:28] mfix22 commented on #687
@jakebolam instead of raising the limit, could you not just make the bot add the contributor, without rerunning the generate script when the limit is reached?

Either way, I would love to use the bot, yes 🙂

[2019-03-03 02:29] mfix22 commented on #687
Also, thanks for the kind words 🙏

[2019-03-03 19:18] mittalyashu opened #688 "Export to imgur"
## Introduction

All the export feature are awesome 👍🏻, but when we click on `open` it redirects to blob page and `Copy Embed` gives the iframe for HTML pages.

![image](https://user-images.githubusercontent.com/29014463/53700214-0d9b6080-3e16-11e9-8c30-a11d32eed735.png)

This feature request is the combination of both the features, where users can just paste the image url to the webpage.

## Deve

[2019-03-03 22:03] mittalyashu commented on #210
Why not send a file using API? Instead of sending data in JSON format or inside the URL.

The concept with handling the file it start forward the user can send a POST request to the API and carbon can read the content inside file and return the beautiful formatted code in the form of image.

## Benefits

1. Data handling in files is easy we can add 2 lines or 1000 lines of code.
2. Implement file

[2019-03-11 05:23] jack2684 opened #693 "There is no highlight for Apache thrift"
**Describe the bug**
Apache thrift is missing. Here it is: https://diwakergupta.github.io/thrift-missing-guide/

Even github markdown can highlight this (though a bit ugly):
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Info (please complete the following information):**

[2019-03-11 17:03] WhoisBsa opened #697 "Provide an image break option if the code is too long"

[2019-03-13 23:22] #687 closed

[2019-03-13 23:23] mfix22 commented on #672
Closed with #683

[2019-03-13 23:23] #672 closed

[2019-03-16 16:40] #693 closed

[2019-03-18 16:41] mayuranchalia opened #702 "Support for Adobe ColdFusion"
### Expected Behavior

### Actual Behavior

<details>
  <summary>Browser: </summary>

</details>

<details>
  <summary>Code Snippet (If Applicable)</summary>

</details>

[2019-03-18 17:11] mfix22 commented on #702
I am confused what you mean by "Support" in this case. Are you just referring to the ColdFusion syntax?

[2019-03-18 17:18] mayuranchalia commented on #702
Yes

On Mon, 18 Mar, 2019, 10:42 PM Michael Fix, <notifications@github.com>
wrote:

[2019-03-19 07:50] axetroy commented on #210
One year has passed

Is there any plan for this API? Is there anyone to implement it?

[2019-03-19 15:03] VinGarcia commented on #549
Hello all, it seems this problem has returned. I only see a white clock when I embed from carbon even using the "Copy Embed" option and even when I use the correct link you posted:

I also read on [a Medium Suport page](https://help.medium.com/hc/en-us/articles/214981378-Embeds) that:

So I wen't there and they say that they work with carbon, but it also failed on my tests:

- [Test with URL menti

[2019-03-19 16:28] mfix22 opened #704 "Don't mount service worker on /embed"

[2019-03-19 16:39] mfix22 commented on #549
@VinGarcia

This URL: https://carbon.now.sh/?bg=rgba(191%252C220%252C238%252C1)&t=seti&wt=none&l=javascript&ds=true&dsyoff=20px&dsblur=73px&wc=true&wa=true&pv=48px&ph=32px&ln=false&fm=dm&fs=15px&lh=133%2525&si=false&es=4x&wm=false&ts=true works for me. There is a bug where you need to run `encodeURI(yourURLString)` again to make it work on Medium. I'll make an issue to fix that.

As for Embed.ly w

[2019-03-19 16:41] mfix22 opened #705 "Fix encoding in Embed links to work nicely with Medium"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior: https://github.com/dawnlabs/carbon/issues/549#issuecomment-474411157

**Expected behavior**
Should be able to paste URL from iframe copy, or location from browser bar directly into Medium.

[2019-03-19 16:45] mfix22 opened #706 "Fix Embed.ly without query string issue"
cc: @VinGarcia
Our Embed.ly provider is working correctly (test link: https://embed.ly/code?url=https%3A%2F%2Fcarbon.now.sh%2F%3F). However, the weird part is that:

https://embed.ly/code?url=https%3A%2F%2Fcarbon.now.sh%2F%3F
and
https://embed.ly/code?url=https%3A%2F%2Fcarbon.now.sh%2F

yield different results, which might be an issue on our end or the provider.

(this is separate from #705)

[2019-03-21 01:26] JosephWeaver opened #708 "After adjusting line-height, code selection no longer lines up."
Thanks for looking at this issue / thanks in advance for fixing it! I love this little project! :D

### Expected Behavior
After adjusting line-height, code selection should line up with the apparent location of the code. This would let users adjust line-height, and then continue to use the web app to create screenshots.

### Actual Behavior
After adjusting line-height, code selection no longer lin

[2019-03-21 01:57] #706 closed

[2019-03-21 03:45] ChendayUP opened #709 "Chinese word"
**Describe the bug**
Chinese word show Square

**Screenshots**
![carbon](https://user-images.githubusercontent.com/20022523/54732524-36ba4000-4bcf-11e9-9c9a-1f11f1d57346.png)

**Info (please complete the following information):**
 - Browser [e.g. chrome, safari]:
 -
<details>
if [ -f ./oclint_result.html ]; then echo '-----分析完毕-----'
else echo "-----分析失败-----"; fi
</details>

[2019-03-21 03:46] ChendayUP commented on #709
![carbon](https://user-images.githubusercontent.com/20022523/54732462-e0e59800-4bce-11e9-92e1-ca5446f8812a.png)

[2019-03-21 16:08] JosephWeaver commented on #688
+1

[2019-03-21 16:37] mfix22 commented on #709
Hello! Does this occur in both Chrome and Safari? Or only Safari...

[2019-03-21 16:39] mfix22 commented on #688
Please just "👍" in the reactions, _not_ the comments, to vote for. Since this is an integration request, typically we would move it to #358, but I'm going leave it here for now.

[2019-03-22 00:46] mfix22 commented on #709
@ChendayUP this is a duplicate of #439. I have updated that issue to make sure Chinese characters get fixed as well for Safari

[2019-03-22 00:50] mfix22 commented on #646
@aocenas this is WIP/beta functionality, but you can now create a file called `~carbon.json` in any gist, and within that file, include the style for that Carbon screenshot as a JSON object.

Here is an example:
Gist: https://gist.github.com/mfix22/82d742f4efad9757cc826d20f2a5e5af
Carbon: https://carbon.now.sh/mfix22/82d742f4efad9757cc826d20f2a5e5af

Is that what you were thinking? If so, please c

[2019-03-23 00:46] #709 closed

[2019-03-23 16:47] mralwin commented on #687
@mfix22 just letting you know we have raised the file limit to 15, let us know if you run into anymore issues

[2019-03-23 19:42] #702 closed

[2019-03-24 13:12] aocenas commented on #646
@mfix22 That is pretty handy. Sorry for dragging this so long, but I am not sure this makes the feature request go away :).

Can I at this moment embed https://carbon.now.sh/mfix22/82d742f4efad9757cc826d20f2a5e5af directly in the Medium (or other place)? Because that would be great, I could update the gist without needing to regenerate the embedded urls in my articles. What I see though is that I

[2019-03-25 05:13] mfix22 commented on #646
@aocenas we actually merged a PR that implements exactly what you are describing, we just haven't deployed it yet. I am going to deploy it tomorrow though 👍

[2019-03-25 15:57] #704 closed

[2019-03-25 15:57] #705 closed

[2019-03-25 21:30] aocenas commented on #646
@mfix22 That is great, let me know when I can try it.

[2019-03-27 18:47] cbeltPinnergy opened #711 "Your site is garbage and you should feel bad"
### Expected Behavior

### Actual Behavior

<details>
  <summary>Browser: </summary>

</details>

<details>
  <summary>Code Snippet (If Applicable)</summary>

</details>

Your site is bad.

[2019-03-27 18:53] #711 closed

[2019-03-29 18:15] ahtee opened #714 "Repository website URL isn't working"
**Describe the bug**
https://dawnlabs.io/carbon is not working or not reachable.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://dawnlabs.io/carbon
2. See error

Fix the dawnlabs site or use the working URL: https://carbon.now.sh used in the [readme.md](https://github.com/dawnlabs/carbon/blob/master/README.md)

[2019-03-29 18:55] mfix22 commented on #714
[code]
It works for me? Even the link in your comment above is working. Which browser are you using?

[2019-03-29 20:13] ahtee commented on #714
Chrome 73.0.3683.86

[2019-03-29 20:17] mfix22 commented on #714
Yeah what does `curl --include https://dawnlabs.io/carbon` return?

[2019-03-29 20:28] ahtee commented on #714
[code]

[2019-03-29 20:30] ahtee commented on #714
if i make the URL `http://dawnlabs.io/carbon` it works (`http` instead of `https`)

[2019-03-29 23:30] mfix22 commented on #714
I have opened an issue on our site repository (which is private) to investigate further, but I am going to close this one since these issues are specifically for Carbon 👍

[2019-03-29 23:30] #714 closed

[2019-03-30 13:35] ahtee commented on #714
thanks it could be ssl or something too who knows lol have a good weekend

[2019-04-01 17:03] Jeepeo commented on #210
@briandennis Is there any talks about API ? This is open for a year Now

[2019-04-02 00:56] greenkeeper[bot] opened #719 "An in-range update of next is breaking the build 🚨"
## The dependency [next](https://github.com/zeit/next.js) was updated from `8.0.3` to `8.0.4`.

🚨 [View failing branch](https://github.com/dawnlabs/carbon/compare/master...dawnlabs:greenkeeper%2Fnext-8.0.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

next is a direct dependency of this project, and **it is very likely

[2019-04-02 03:17] Jeepeo commented on #358
Cant see any API integration ...

[2019-04-02 05:58] #719 closed

[2019-04-05 21:41] VinGarcia opened #722 "Syntax highlighting isn't coloring all the time"
I use Carbon frequently to make slides to my programming class.

Today for some reason the syntax highlighting stopped working depending on what I wrote (maybe a language detection problem).

When I finished my first code snipped the syntax highlighting did not work but I was able to tweak my code until it started working again. On my second code snippet, I wasn't able to fix it:

https://drive.go

[2019-04-05 21:43] mfix22 commented on #722
@VinGarcia can you paste the snippet here so I can make sure to fix this? Also I am assuming you were using "Auto" language mode.

[2019-04-05 21:50] mfix22 commented on #722
@VinGarcia just so you know, when issues like this crop up feel free to just manually set the Language, like to "JavaScript", for example.

[2019-04-05 22:09] mfix22 commented on #722
In the snippet above, `less` is being detected by Highlight.js (might be worth taking up an issue with them, if it makes sense).

[2019-04-05 22:53] VinGarcia commented on #722
@mfix22 yes you are correct, and I totally forgot about that option :sweat_smile:.

Thanks for the quick reply, if you agree I think we can close this issue.

[2019-04-06 00:26] mfix22 commented on #439
Just pushed an update the adds the correct fonts for emojis and simplified Chinese!

[2019-04-06 00:26] #439 closed

[2019-04-08 16:26] mfix22 commented on #722
No worries at all! This issues are also to answer questions and help you all out! 🙂 Thanks for asking 👍

[2019-04-08 16:26] #722 closed

[2019-04-09 18:25] TitoMikani opened #725 "Image export with over 500 lines of code, shows everything after 200 lines as plain background."
**Describe the bug**
When creating longer sheets with over 200 lines of code the export to PNG shows no code after the 200th line.

**To Reproduce**
Steps to reproduce the behavior:
1. Add 200+ lines of code
2. In my case select Material + Coffeescript
3. Click on 'Export'
4. Export as 4x PNG
5. Preview image.
6. Everything after 200 lines of code stays plain, but does have the correct background

[2019-04-10 16:27] denisenepraunig opened #726 "Thank you - I love carbon!!"
Hello! I just wanted to say that I really love carbon and I wanted to say THANK YOU!

[2019-04-10 16:28] denisenepraunig commented on #726
AAAAAND I close this "issue" - it is not an issue - it is a THANK YOU note :-)

[2019-04-10 16:28] #726 closed

[2019-04-10 20:30] mfix22 commented on #726
@denisenepraunig thank you for the kind words 😍

[2019-04-11 05:41] ignatiusmb commented on #708
It seems to fix itself when you try to inspect its element

[2019-04-11 05:51] JosephWeaver commented on #708
Not for me! =\

Cheers,

Joe Weaver
[JoeWeaver.me](http://www.joeweaver.me)

On Wed, Apr 10, 2019 at 10:41 PM, Ignatius Bagus <notifications@github.com> wrote:

[2019-04-11 14:57] mfix22 commented on #708
As a work around until this is fixed, you could re-highlight the lines after adjusting the line height 👍

[2019-04-12 06:23] onlyacat opened #728 "404 Error of ifame in local server"
environment：
carbon 3.9.14
Ubuntu 16.04
Chrome 72

I was trying to embed the code snippet into my blog. Because of the latency, I chose to deploy the source code and run it in my local server.
But the src in iframe still points to the `carbon.now.sh` domain.
[code]

And when I replaced the domain to the ip address of my server , I received a 404 Error.
[code]

The pure link is available, it is wei

[2019-04-15 16:36] mfix22 commented on #646
@aocenas our Embed.ly provider was just updated! Everything is working end to end now.

To see an example, check out this URL:
https://embed.ly/code?url=https%3A%2F%2Fcarbon.now.sh%2Fmfix22%2Ff08d913cf4a0792ed00332e876f5efd4

which shows Carbon proxying the Gist from https://gist.github.com/mfix22/f08d913cf4a0792ed00332e876f5efd4

Really excited so see how people use this functionality!

[2019-04-15 16:36] #646 closed

[2019-04-16 12:02] BaileyJM02 commented on #210
I opened a discussion about this on Spectrum the other day: https://spectrum.chat/carbon-now/general/allowed-to-write-an-api-in-go~33b1fe22-1564-48e5-b189-50c960ccc347

[2019-04-16 12:26] aocenas commented on #646
@mfix22 Thats great, exactly what I had in mind. Thanks for the work :)

[2019-04-16 20:18] mfix22 commented on #210
Hey all,
I know this issue has been open for a long time, but we have not been ignoring it — rather we have been cultivating a plan for the future of Carbon.

The goal of Carbon is simple: to make sharing snippets of code easier and more enjoyable. An API will definitely help further that goal.

The API will enable:
- Programmatically generating screenshots in your servers and applications
- Creat

[2019-04-17 23:57] mfix22 commented on #232
Just released the ability to upload your own font! Will add the ability to save them to reuse later.

[2019-04-17 23:57] #232 closed

[2019-04-19 19:14] ahmadawais opened #740 "Trying to contribute 🦄 Shades of Purple Theme"
Howdy, folks!

First of all, this is an awesome project. I'm the author of a theme suite called 🦄 Shades of Purple (SOP). Over 1,500,000 developers use SOP themes. It's probably the third most popular theme on the [VSCode market](https://marketplace.visualstudio.com/items?itemName=ahmadawais.shades-of-purple).

I've been receiving requests to contribute SOP theme to Carbon and I'm here to do just

[2019-04-19 21:59] #740 closed

[2019-04-21 09:57] mittalyashu opened #742 "Random file name"
## Description

An option which automatically generates a random string (`Fdw65we3`) of character and will be further used as a file name.

Whenever we download images from carbon instead of getting like this,

* `carbon.png`
* `carbon (1).png`
* `carbon (2).png`

We can get file names like this, and I think this version of file names looks much better.

* `carbon-2x-Fdw65we3.png`
* `carbon-4x-r45

[2019-04-21 20:47] mfix22 commented on #742
The API wouldn't return a file directly, it would return the data that the user could then store anywhere: in a file, S3 bucket, in the browser, wherever. The API would not have any concern for the name of the Carbon file, especially because the user might not even be writing it to a file.

As for the Carbon App, we already allow users to fully customize the filename in app, or in the download dia

[2019-04-22 03:27] mittalyashu commented on #742
What do mean by not returning a file directly? Since that's the workflow inside the carbon app data input, few configurations and download the image.

Or maybe you must have thought of different approach for creating the APIs 🤔

Yeah, I think that would be a better idea than a random string 😅

[2019-04-24 08:08] Akiyamka opened #743 "Broken image (overlay lines)"
### Expected Behavior
In editor code look ok
![expected](https://i.imgur.com/mMaYyFC.png)
### Actual Behavior
But after export as image or share - broken
 ![bug](https://i.imgur.com/lJTdRVU.jpg)

[Carbon link](https://carbon.now.sh/?bg=rgba(171%2C%20184%2C%20195%2C%201)&t=seti&wt=none&l=javascript&ds=true&dsyoff=20px&dsblur=68px&wc=false&wa=true&pv=56px&ph=56px&ln=false&fm=Hack&fs=14px&lh=133%25&s

[2019-04-29 01:55] mfix22 commented on #743
Thank you for including all the relevant details — I am looking into this! Haven't been able to reproduce yet.

[2019-04-29 23:26] mfix22 commented on #743
@Akiyamka are you still experiencing this issue? I cannot reproduce it in Chrome?

[2019-04-30 00:54] #728 closed

[2019-04-30 01:00] mfix22 commented on #671
Closed with https://github.com/dawnlabs/carbon/pull/727 🎉

[2019-04-30 01:00] #671 closed

[2019-04-30 19:03] Akiyamka commented on #743
@mifix22 Yes, nothing change, png Image still exported broken.
Maybe next information can help:
[code]

[2019-05-02 10:40] mittalyashu opened #749 "Constant variable is not highlighted or editable"
**Describe the bug**
Carbon is not highlighting this line of code `const params = [hash, "--format=%an %n %ae %n %ad"];`, also when I click on this line the cursor is also not showing up.

**Screencast**
https://youtu.be/OcnKf_OpBmI

**Screenshot**
![carbon](https://user-images.githubusercontent.com/29014463/57070383-d43b8000-6cf4-11e9-84a3-cc9a3f40b29f.png)

**Info (please complete the following

[2019-05-02 11:04] filipbech opened #750 "Feature request: resume from image"
It would be super cool if you could somehow "resume" from an image - like you can import a code-file.
Lots of times, I have to type out the code again an hour later when I find out I made a mistake when I made the image.

A possible way to do it, was to inline the actual code in an exif-comment, and then read that as an import as well... for svg's you could just inline it in a comment

[2019-05-02 16:26] mfix22 commented on #749
Please include the code snippet as part of issue filing so we can debug appropriately. Feel free to contribute a fix for this issue as well.

[2019-05-03 04:58] mittalyashu commented on #749
Here's the code snippet

[code]

Sure, will try to fix the issue too.

[2019-05-03 07:58] greenkeeper[bot] opened #751 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## The devDependency [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) was updated from `7.12.4` to `7.13.0`.

🚨 [View failing branch](https://github.com/dawnlabs/carbon/compare/master...dawnlabs:greenkeeper%2Feslint-plugin-react-7.13.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-plugin-r

[2019-05-03 16:54] #751 closed

[2019-05-03 17:02] #749 closed

[2019-05-07 18:46] CHBaker commented on #549
Hey, I'm still getting this issue: this is the link I'm trying to paste.
https://carbon.now.sh/embed/?bg=rgba(74%252C121%252C226%252C1)&t=theme%253Ay9vkpjo7vj&wt=none&l=application%252Ftypescript&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=16px&ph=100px&ln=false&fm=Hack&fs=13px&lh=149%2525&si=false&es=4x&wm=false&code=%25252F%25252F%252520We%252520get%252520a%252520very%252520simple%25252

[2019-05-08 00:28] boxter007 opened #752 "Speed of making picture is too slow!"
### Expected Behavior
I want to make a code picture with 20 lines code, but it will be waiting about 1-2minutes. whatever I use carbon.now.sh or my localhost.
### Actual Behavior
Waiting for 1-2 seconds

[2019-05-08 00:46] mfix22 commented on #752
@boxter007 please provide the browser information that was requested in the PR template. _Also_, are you saving as an SVG or PNG.

[2019-05-08 01:04] boxter007 commented on #752
The browser is chrome 74.0.3729.131,64bit.
And I saved the picture as PNG

[2019-05-08 08:28] kievsash opened #753 "Snippets in Medium.com mobile app are hardly viewable"
I published an article with carbon code snippets: https://itnext.io/promises-vs-observables-for-angularjs-to-angular-migration-1161afacef7e
And have view issues from medium.com mobile app for Android.
I cannot scroll them horizontally, so only part of the code is visible.
So replaced them with exported PNG files with links to snippets

### Expected Behavior
I can somehow scroll code in the snippet

[2019-05-08 09:51] kievsash opened #754 "Add user profiles to save collections of snippets"
### Expected Behavior
I want to login via facebook/email and have possibility to see my saved snippets and sort them oin collections (Since I use carbon for articles - so each article has a collection of snippets)
### Actual Behavior
I can only save link to specific snippet myself to some notes app.

[2019-05-08 16:55] mfix22 commented on #752
Do you have a code snippet to test on?

[2019-05-08 16:59] mfix22 commented on #750
@filipbech we experimented with this back in the day here: https://github.com/dawnlabs/carbon/issues/408

but it was concluded there was no way to write the exif data to the image _in_ the browser. Are you familiar with how to do that?

[2019-05-08 17:17] mfix22 commented on #753
@kievsash thanks for bringing this to our attention! Can you post a snippet so I can recreate this easier? I'd like to fix this quickly 🙂

[2019-05-08 17:26] kievsash commented on #753
Ok, here is a snippet:
https://carbon.now.sh/?bg=rgba(171%252C%2520184%252C%2520195%252C%25201)&t=paraiso-dark&wt=none&l=javascript&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fm=Hack&fs=14px&lh=133%2525&si=false&es=2x&wm=false

And I created medium draft: https://medium.com/@alexanderposhtaruk/test-carbon-now-sh-77ef20d507db

Try to open it with medium android app on

[2019-05-08 17:41] filipbech commented on #750
Googleing around a little i found a couple of js-packages that seems to do just that..
https://github.com/exif-js/exif-js
https://github.com/hMatoba/piexifjs

Would you want me to take a first crack at implementing it?

[2019-05-08 18:29] mfix22 commented on #750
Interesting! Never found https://github.com/hMatoba/piexifjs before. Sure you can take a stab at it. I am not sure how it will effect download times and such, so not 100% sure we want to support it by default yet.

If adding this would help something like a11y (reading the code from the image) then I would be more keen on supporting it by default.

[2019-05-08 18:38] filipbech commented on #750
Yeah, it should probably be a lazy loaded preference-based feature... don’t know about accessibility this way... but let’s explore that also

[2019-05-09 00:43] boxter007 commented on #752
a simple code snippet.
`No = 1
def show(n, f, t):
    global No
    result = 'No：{1}，From {2} To {3} '.format(No, n, f, t)
    print(result)
    No += 1

def move(n, a, b, c):
    if n == 1:
        show(n, a, c)
    else:
        move(n-1, a, c, b)
        show(n, a, c)
        move(n-1, b, a, c)

x = 10
move(x, 'a', 'b', 'c')`

This code snippet spent more than 1 minutes.
![zzzz](https://user-im

[2019-05-09 00:47] mfix22 commented on #752
Interesting, when I tried it with that code snippet, it ran almost instantly. Do you have any Chrome extensions enabled that may be interfering with the download?

[2019-05-09 00:56] boxter007 commented on #752
I tried to disable all extensions, but the issue was still . And I tried safari ,it was the same.
I guess that my setting is wrong, but when I use carbon.now.sh to make picture ,sometime it runs quickly and mostly it likes the localhost.

[2019-05-09 06:30] vvscode opened #756 "Add an option to blur lines"
Proposal: add an option which allows blurring lines. On interface, it might be just checkboxes near every line of code - if checked it looks as is, otherwise, it is blurred.

This might be really helpfull for preparation code-explanations - when you need focus on a certain line, but don't want to remove all surrounding context. Or want to follow across a code line-by-line with explanation

To get

[2019-05-09 10:21] boxter007 commented on #752
Aha, I know what is the trouble!
Facebook is blocked in China , maybe some url can not be got , and I need waiting for timeout.

[2019-05-09 10:47] #752 closed

[2019-05-09 16:53] mfix22 commented on #756
We are already working on making it such that you can _highlight_ certain lines. Would this work instead of blurring for you? 🙂

[2019-05-09 20:16] vvscode commented on #756
Yes )

[2019-05-16 04:09] msrshahrukh100 opened #761 "Maintaining indentation when wrapped to new line"
Is there any way to implement indent wrapping as mentioned in the [Code mirror docs](https://codemirror.net/demo/indentwrap.html) ?

Because now if the code is long enough to get wrapped to the new line then the text is indented to the left, without maintaining the indentation of the previous line.

![image](https://user-images.githubusercontent.com/13628270/57825849-5d0aef00-77be-11e9-8ad5-95ef0a

[2019-05-16 18:06] mfix22 commented on #761
Before we get started down any path, can you please post the snippet above here so I can reproduce your issue? Thanks!

[2019-05-16 23:41] #756 closed

[2019-05-17 00:51] mfix22 commented on #708
@JosephWeaver this problem doesn't seem large enough to manually keep track of the selection in code and then reapply it after the line height's change. Can you not just reselect the lines after you update the line heights?

Line heights on there own are already a rarely used feature 🙂

[2019-05-17 01:08] JosephWeaver commented on #708
Haha, well of course I can do that, but I just thought you might want to fix the site to be more user friendly :P I’m happy with the site as it is and I use it all the time, but you have a place to submit issues, so I submitted one.

Cheers,

Joe Weaver
[JoeWeaver.me](http://www.joeweaver.me)

On Thu, May 16, 2019 at 5:51 PM, Michael Fix <notifications@github.com> wrote:

[2019-05-17 02:54] #708 closed

[2019-05-17 02:57] mfix22 commented on #742
@mittalyashu I have been thinking about this a lot, and I think that this format:
`carbon.png`
`carbon (1).png`
`carbon (2).png`

is actually the most useful format. When we support an API, we are going to return the image data directly, so you will be able to name the file you save it as however you please.

[2019-05-17 03:07] mittalyashu commented on #742
I still don't understand what do you meant by return image data directly.

[2019-05-17 03:27] mfix22 commented on #742
The API will return a data url representing the snippet (https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/Data_URIs)

[2019-05-17 04:33] msrshahrukh100 commented on #761
This is from the homepage of carbon.sh. I just entered a long line, the text got wrapped but lost its indentation.
To reproduce it, just enter a long line. Hope it makes sense. I am attaching the full screen shot here ->

![image](https://user-images.githubusercontent.com/13628270/57903260-dec84e80-788a-11e9-974d-4844a9433865.png)

[2019-05-17 05:28] vvscode opened #764 "Highlight line numbers works only on Dracula theme"
Steps to use highlighting - enable line numbers, click to toggle line visibility

Problem - it works only for Dracula theme (default one)

[2019-05-17 06:09] #764 closed

[2019-05-23 13:57] landcold7 commented on #496
The same thing happened here, I also want to convert saved SVG into PDF, then embed into a paper. Would love to see you guys fix this issue.

[2019-05-23 15:05] turibbio opened #770 "Markdown support"
Please provide markdown support.

[2019-05-23 16:42] mfix22 commented on #770
There is a "Markdown" setting in the language dropdown, shown in the image below:

<img width="912" alt="Screenshot 2019-05-23 09 42 33" src="https://user-images.githubusercontent.com/8397708/58270623-19286480-7d3f-11e9-9158-cd70a2867d99.png">

[2019-05-23 16:42] #770 closed

[2019-05-23 17:22] turibbio commented on #770
Fantastic! I totally missed that!

[2019-05-27 03:28] Saif-Shines opened #773 "URL share option - doesn't produce expected image"
### Expected Behavior

- Copy and Paste the Code that I want to download as a image on carbon
- In 'Export' > URL get the url of the image
- Use it on web  to reproduce the same image that I expected

### Actual Behavior

- The URL gives image with a string adding %s and other characters in place of spaces.

#### Browser:
Please see my complete Browser information [here](https://whatsmybrowser.org

[2019-05-27 03:31] mfix22 commented on #773
Hi @Saif-Shines this is actually intended. Blog sites like Medium.com actually require you to encode the URL since they decode it before using it to create an iFrame.

Therefore, if you want to use the URL on Medium, use the `Export > URL` button. If you just want to share it, copy it from the Browser URL input 👍

[2019-05-27 03:31] #773 closed

[2019-05-27 04:06] Saif-Shines commented on #773
I want to add it Google Docs: Add Image by URL option

Google docs don't recognize this as an Image URL. Is there any way to overcome this?

[2019-05-27 19:36] #260 closed

[2019-05-27 21:43] mfix22 commented on #773
Neither of this are image URLs! I would recommend just saving the image and then pasting it directly to Google Docs.

[2019-05-29 12:41] greenkeeper[bot] opened #774 "An in-range update of @applitools/eyes-cypress is breaking the build 🚨"
## The devDependency [@applitools/eyes-cypress](https://github.com/applitools/eyes-cypress) was updated from `3.6.16` to `3.6.17`.

🚨 [View failing branch](https://github.com/dawnlabs/carbon/compare/master...dawnlabs:greenkeeper%2F%40applitools%2Feyes-cypress-3.6.17).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@applit

[2019-05-29 17:16] #774 closed

[2019-05-30 00:32] gricey432 opened #775 "Caret is nearly impossible to see on some dark themes"
**Describe the bug**
When using some dark code themes, the cursor stays black and can be hard to see.

On other themes it becomes thicker and matches the colour of my `->` in python (e.g. see One Dark below)

Seen on:
- 3024 Night
- Blackboard
- Base 16 (Dark)
- Cobalt
- Duotone
- Hopscotch
- Lucario
- Material
- Monokai
- Panda
- Paraiso
- Shades of Purple
- Solarized (Dark)
- Tomorrow Night
- Tw

[2019-05-30 00:50] mfix22 commented on #775
https://github.com/dawnlabs/carbon/releases/tag/3.9.29

[2019-05-30 01:28] gricey432 commented on #775
Possibly the fastest ticket resolution I've ever seen. Looks great, thanks!

[2019-05-30 02:01] mfix22 commented on #775
@gricey432 🙏I appreciate you!

[2019-05-31 03:27] benjaminwood commented on #743
This also happens to me under ubuntu & google chrome. Must be a chrome on linux specific issue (classic :neckbeard: problems)

[2019-06-03 20:22] isaacgr commented on #743
Im seeing this issue when I export the image in Chrome on Windows.

Version 74.0.3729.169 (Official Build) (64-bit)

[2019-06-04 04:07] RohitMidha23 opened #778 "Shortcut for carbon doesn't work on Atom on Mac"
**Describe the bug**
I'm not sure if this problem persists only for me but when I try `cmd + shift + A` nothing happens. However when I go to `Packages -> carbon.now.sh -> Toggle` , it works perfectly.

**To Reproduce**
Steps to reproduce the behavior:

To reproduce the error try `cmd + shift + A` in atom, on a mac.

**Expected behavior**
I thought the GUI with the picture would pop up.

**Info (p

[2019-06-04 18:34] mfix22 commented on #778
@ericadamski yo Eric do you know the issue here? Did we do anything to break the Atom plugin?

[2019-06-05 12:07] ericadamski commented on #778
@mfix22 I highly doubt it, seems like an Atom plugin issue.

@RohitMidha23 Can you post this issue in https://github.com/ericadamski/atom-carbon-now-sh and I will help you look into why this isn't working for you 😄

[2019-06-05 17:01] mfix22 commented on #778
@RohitMidha23 maybe some other app you have installed is intercepting `cmd + shift + A` and preventing the action 🤷‍♂

[2019-06-05 17:32] ericadamski commented on #778
That would be my guess as well. I would love to help you figure it out!

[2019-06-06 07:00] RohitMidha23 commented on #778
I'll look into it, Thanks @mfix22 and @ericadamski

[2019-06-06 07:00] #778 closed

[2019-06-06 07:07] RohitMidha23 commented on #210
@mfix22 any developments on the API?

[2019-06-08 23:20] jsejcksn opened #781 "Line-wrapping bug"
Potentially related to #761

### Expected Behavior

  - Code is not line-wrapped, OR
  - code is line-wrapped at 80 chars and preserves indentation, OR
  - control over line-wrapping (best behavior)

### Actual Behavior

Line with <= 80 chars gets wrapped to newline, ignoring indentation

(Compare lines 5 and 6 in the output below to the input snippet)

### Details

#### Output:

![3cf10212-a156-4

[2019-06-09 20:34] mfix22 commented on #761
Closing in favor of #781

[2019-06-09 20:34] #761 closed

[2019-06-12 18:49] travisdowns opened #785 "Open image doesn't work in Firefox"
**Describe the bug**
When "Open" is selected from the menu, the image disappears after a moment.

**To Reproduce**
1. Open firefox.
2. Type a code sample
3. Click Export -> Open

The image opens for a short period, but almost immediately redirects back to the main carbon.sh page, giving no opportunity to copy it.

**Expected behavior**
A `blob:` version of the image opens and stays open, like:

bl

[2019-06-13 14:26] #785 closed

[2019-06-14 04:19] m3rt32 commented on #547
I'd like to add another perspective to GIF support. I make tutorial videos and I want them to be pretty. So, I'm thinking about using carbon when I show a piece of code. Although, having a window scale up animation would be great on that background which will produce either a GIF or a video file.
I think that can be a pretty good and needed enhancement.

[2019-06-18 19:13] mfix22 opened #791 "Upkeep: Replace cursor blink rate with `readOnly`"
See manual: https://codemirror.net/doc/manual.html for how to use `readOnly`

[2019-06-18 19:21] #791 closed

[2019-06-18 19:28] mfix22 commented on #781
Hey @jsejcksn are you still noticing this issue? When I tested on current Carbon, I wasn't seeing the line-wrapping issue you were:

([Source](http://carbon.now.sh/?bg=rgba(171%2C%20184%2C%20195%2C%201)&t=seti&wt=none&l=javascript&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=function%2520html%2520(tagName%252C%2520a

[2019-06-18 19:48] mfix22 commented on #781
(Also posting this for future reference for myself: https://codemirror.net/demo/indentwrap.html#)

[2019-06-19 01:12] jsejcksn commented on #781
LGTM on macOS; will check Windows env in the next day or so

[2019-06-19 05:16] jsejcksn commented on #781
Just checked on Windows: **Issue persists.**

_Win 10, Chrome 75.0.3770.100_

[2019-06-19 07:09] jsejcksn commented on #781
@mfix22 Are you testing in the same environment? (Win 10, Chrome stable)

[2019-06-20 07:13] greenkeeper[bot] opened #793 "An in-range update of codemirror is breaking the build 🚨"
## The dependency [codemirror](https://github.com/codemirror/CodeMirror) was updated from `5.47.0` to `5.48.0`.

🚨 [View failing branch](https://github.com/dawnlabs/carbon/compare/master...dawnlabs:greenkeeper%2Fcodemirror-5.48.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

codemirror is a direct dependency of this pr

[2019-06-20 16:46] #793 closed

[2019-06-21 23:03] greenkeeper[bot] opened #794 "An in-range update of now is breaking the build 🚨"
## The devDependency [now](https://github.com/zeit/now-cli) was updated from `15.5.0` to `15.6.0`.

🚨 [View failing branch](https://github.com/dawnlabs/carbon/compare/master...dawnlabs:greenkeeper%2Fnow-15.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

now is a devDependency of this project. It **might not break you

[2019-06-21 23:39] #794 closed

[2019-06-24 17:00] kiernann opened #796 "Exported PNG has transparent space on top and bottom"
**Describe the bug**
When exporting an image as PNG 4x size, the file has a small line of transparent space on the top and bottom of the image. This can be a problem when sharing on some sites.

**Screenshots**

Obviously, hard to see in the raw image, so here's a screenshot with black around the image:
![image](https://user-images.githubusercontent.com/18021678/60037606-fcee4f00-967f-11e9-8708-ef

[2019-06-24 17:16] mfix22 commented on #796
@kiernann it is on the top of your image? This line of transparent pixels should be at the bottom of the image ([Source](https://github.com/dawnlabs/carbon/blob/master/components/Carbon.js#L276), see issue #86)

Just want to clear this up first. I will make it so that the row of pixels is only included when saving to Twitter.

[2019-06-24 17:24] kiernann commented on #796
@mfix22 Yes, the transparent pixels are on the top and bottom of the exported image. I didn't know it was an intended feature. Ironically, I had saved the image for the purpose of tweeting and didn't love the way the top and bottom looked on twitter. I can always crop it manually, just thought it might be a bug!

Here's the raw export for reference:

![negate_in](https://user-images.githubusercont

[2019-06-24 20:29] mfix22 commented on #796
@kiernann with the update I am making, by default the transparent row won't be included, unless you click the "Tweet" button directly 👍That way we cover both use cases.

[2019-06-24 21:13] #796 closed

[2019-06-27 08:53] jcubic opened #800 "Font issue with 3 asterisks"
`***` is broken with correct font.

### Expected Behavior

`***` is rendered correctly

### Actual Behavior

![carbon (4)](https://user-images.githubusercontent.com/280241/60251684-4c738b80-98c9-11e9-8f27-519c8434173c.png)

<details>
  <summary>Browser: </summary>
  Chrome Windows
</details>

<details>
  <summary>Code Snippet (If Applicable)</summary>
  (define (*** **) (* ** **))
</details>

[2019-06-27 08:56] jcubic commented on #800
Not sure if this is an issue because just found that you can change the font. (this one was default Fira Code).

[2019-06-27 16:16] mfix22 commented on #800
@jcubic the symbol you are noticing is a Fira Code "[ligature](https://en.wikipedia.org/wiki/Typographic_ligature)". You can see it in their docs here: https://github.com/tonsky/FiraCode 🙂

[2019-06-27 16:16] #800 closed

[2019-07-02 07:44] moniuch opened #803 "Folder tree preview"
Not sure how it would fit into the interface as it is not just syntax highlighting, but I will leave it to you to decide.

I often need to share an idea of a folder/file structure. I would expect to be able to type in an indentation-based structure and appreciate a nice PNG/SVG output with generic folder and file icons in front of the names

A `+` would be rendered as a folder icon, `-` would stan

[2019-07-02 14:00] mfix22 commented on #803
@moniuch are you using a linux based operating system? The [`tree` command](https://linux.die.net/man/1/tree) creates a really nice structure, and you can paste that right into Carbon.

[2019-07-02 15:05] moniuch commented on #803
I am on Mac. I have seen recommendations for tree and for mddir, but from what I understood they just translate contents of an **existing** directory into md/ASCII text. This is not what I am after. My use case is when I need to quickly illustrate an example tree view off the top of my head (without first creating a dir). So the input would be my free text and the desired output would be an SVG/PN

[2019-07-02 21:36] mfix22 commented on #803
If that is the case, can you just type it directly into Carbon? Some of the existing language highlights look good already:

<p align="center">
<img alt="SQL" width="48%" src="https://user-images.githubusercontent.com/8397708/60548202-88ef1f00-9cef-11e9-9bf2-df70a398c7e1.png" />
<img alt="Apache" width="48%" src="https://user-images.githubusercontent.com/8397708/60548207-8bea0f80-9cef-11e9-8a91-c5

[2019-07-07 15:42] ashifa454 commented on #210
@mfix22 whats the progress on this, I wanted to contribute on this.

[2019-07-08 15:58] mfix22 commented on #210
Hey all, we are working on a bunch of new features on this front, which will start launching soon. Many of these details are non-technical (happy to discuss privately or in another thread).

I apologize for the continued delay. We have wanted to support this feature for a long time now, and we hope that time comes to an end soon.

[2019-07-08 16:57] mittalyashu commented on #803
Or something like this?

[code]

[2019-07-09 11:21] RIP21 opened #806 "Feature request: To be able to change font-weight of particular text"
Hi there.
I'm using carbon a lot for presentations and sometimes I just want to make some sort of progression from one piece of code to another.
And sometimes I want to emphasize a little more attention to one piece or another by using different font-weight.
Right now it's possible to select some piece of text to kinda highlight it (looks awful tho and impossible to do multiple selections. Like fr

[2019-07-10 16:08] mfix22 commented on #806
This is a great idea! Super similar to #548. I think this is something we should support.

[2019-07-10 16:09] mfix22 commented on #803
@moniuch does this work for you?

[2019-07-10 21:16] Skayo commented on #210
Need the API as well for a project.
When can we expect it to be released?

[2019-07-10 22:09] moniuch commented on #803
I can live with it. Thanks for the hint.

[2019-07-11 15:30] #803 closed

[2019-07-15 06:45] jterrazz opened #815 "Medium snippets not working since 1 week - empty iframe"
**Describe the bug**
Hello, I posted this [article](https://medium.com/a-42-journey/how-to-create-your-own-malloc-library-b86fedd39b96) on medium. It was working fine for the last month, but now it just shows an empty space (the iframe load an empty body).

**To Reproduce**
Steps to reproduce the behavior:

1. Create an article on medium
2. Paste the url of a code snippet
https://carbon.now.sh/emb

[2019-07-15 06:52] esimov opened #816 "carbon.now.sh refused to connect."
It worked until now, but from 3 days on I was getting the the following message, when pasted the carbon source code as an iframe: carbon.now.sh refused to connect.

Checking the console log I was getting the following messages:

![image](https://user-images.githubusercontent.com/883386/61199292-12d2bb00-a6e6-11e9-991e-732af88cdf43.png)

What has been changed and how this can be overcome?

[2019-07-15 14:54] mfix22 commented on #816
Thanks for bringing this to my attention! I reverted a recent commit and the issue has been resolved. Will fix the root issue immediately.

[2019-07-15 15:00] #815 closed

[2019-07-15 15:00] #816 closed

[2019-07-15 15:01] mfix22 commented on #815
Thanks for bringing this to my attention! I reverted a recent commit and the issue has been resolved.

The root issue is fixed here: c5f45eb398f5debad054216ccf318e5e22d60f4e. Deploying the fix now.

[2019-07-15 15:01] mfix22 commented on #816
The root issue is fixed here: c5f45eb398f5debad054216ccf318e5e22d60f4e. Deploying the fix now :+1:

[2019-07-15 15:50] jterrazz opened #817 "Medium iframe dynamic height issue"
**Describe the bug**
Hello,

Thanks for resolving the issue #815, however a bug came back, which was resolved 2 weeks ago I believe.
You can see it on this links for example
- https://medium.com/a-42-journey/implementing-the-sha256-and-md5-hash-functions-in-c-78c17e657794
- https://medium.com/a-42-journey/how-to-create-your-own-malloc-library-b86fedd39b96

The first Carbon iframe seems to not calc

[2019-07-15 15:56] mfix22 commented on #817
@jterrazz do you have a link to the original issue? I have never seen height issues like this before.

[2019-07-15 16:04] jterrazz commented on #817
I'm not sure there is an issue, but I had this problem until 2 or 3 weeks ago. I didn't change anything in my article and it was resolved, so it was probably an update coming from you or Medium.

[2019-07-15 16:16] mfix22 commented on #817
I haven't touched anything related to Embed's recently. I will investigate this issue though — potentially Medium has changed how they listen to height changes.

[2019-07-15 17:35] mfix22 commented on #742
Going to close this because we want to keep one consistent format for the default user.

[2019-07-15 17:35] #742 closed

[2019-07-15 19:13] esimov commented on #816
Thanks, it works.

[2019-07-16 14:08] jterrazz commented on #817
One more thing, there is no issue when I'm editing the story, but as soon as I publish the story, the height is bad.

It seems the height is badly calculated by the Embedly iframe (it wraps before the Carbon iframe):
<img width="1920" alt="Screen Shot 2019-07-16 at 4 00 48 PM" src="https://user-images.githubusercontent.com/18480834/61301111-932b1600-a7e3-11e9-96ac-043b0ea00d56.png">

[2019-07-17 00:06] mfix22 commented on #817
Thanks for confirming this — I noticed this too! Potentially it is an issue sending the `postMessage` to the wrong frame (since it is nested deeper when published).

I will look into this 👍

[2019-07-17 22:01] mfix22 commented on #817
@jterrazz can you try prepublishing the post? I just tried embedding your exact snippet in a new Medium article and everything is rendering appropriately: https://medium.com/@fixitup2/test-carbon-embeds-80580a24891

The `iframe` has a height of 558, and if you go to the [original snippet](https://carbon.now.sh/embed?bg=rgba(178%2C169%2C253%2C1)&code=%2523%2520We%2520will%2520implement%2520this%252

[2019-07-18 01:39] kkew3 commented on #564
I failed into the same issue today. Here's my snippet:

[code]

where the first line `my %hash` changes to `my %25hash` during exporting; in the result image, `my %hash` is not colored.

[2019-07-19 14:37] Relequestual opened #824 "Suggestion: Only syntax highlight range"
It's not uncommon to see presentations or code images where most of the code is de-coloured / not syntax highlighted, and only a specific range or set of ranges are highlighted.

I've worked out a possible solution.

CodeMirror supports marking a range of text with a class.
https://codemirror.net/doc/manual.html#api_marker

The CSS can then be added to make ALL text grey (or a themes comment colou

[2019-07-19 14:45] Relequestual commented on #824
OR, actually, a simpler solution might be to invert the user entered range, add a class of `cm-comment` using the codemirror API, which then handles which colour to pick.

[2019-07-19 17:29] mfix22 commented on #824
This is a lesser known feature, but we already have support for highlighting/selecting lines. You have to turn on "Line numbers" in the settings, but then by clicking on the line numbers you can (de)select certain lines to highlight them. If you click, and then Shift-click another line, that will batch select a group of lines.

We also want to use opacity in order to ensure that deselection always

[2019-07-19 17:30] mfix22 commented on #824
@Relequestual your comment about https://codemirror.net/doc/manual.html#api_marker is going to be _super_ useful for #548 and #806 though 👍

[2019-07-19 17:33] mfix22 commented on #824
As for applying styles to a range, we will cover that as part of the other issues :+1: Duplicate of #548/#806

[2019-07-19 21:16] jterrazz commented on #817
I tried republishing the post with the exact same content, and its rendering properly. Should I delete my bugged article or do you want it for debugging ?

[2019-07-19 22:30] mfix22 commented on #817
Feel free to do what you please with it! 🙂

[2019-07-19 22:30] #817 closed

[2019-07-20 17:33] #824 closed

[2019-07-22 08:08] Relequestual commented on #824
Huh, well I hadn't noticed you could already do line by line selection. This is pretty useful, thanks!

Looks like #806 has the same use case as me.

Now to file an issue on the cli repo!

[2019-07-22 08:29] Relequestual commented on #824
@mfix22 Hum. Given it looks like the cli tool `carbon-now-cli` works by using URL query string.

Is there any way "lines selected" could be added to the query string?

[2019-07-23 03:50] LGTMXD opened #828 "几百行代码生成失败"
代码行数超过一定数量，网页就崩溃了!

[2019-07-23 03:57] #828 closed

[2019-07-23 04:11] LGTMXD opened #829 "Carbon fails to load URL that is too long due to code query parameter length"
i wanna make code lines pretty on my website using iFrame，code sourece is blew
https://raw.githubusercontent.com/233boy/v2ray/master/install.sh
when i do it on Carbon，website crash down
maybe   Chinese code comments in the bash cause it

[2019-07-24 14:16] aaveshdev opened #830 "Add Dragon (programming language)"
**Please add Dragon (programming language) **
[Dragon website ](http://dragon.suasive.in)

[2019-07-24 20:41] mfix22 commented on #824
@Relequestual sure! We probably have to refactor how the line selection state is handled first. Would you want to work on this? Otherwise I will get to it when there is time 🙂

[2019-07-27 15:33] catastrop opened #831 "write an implementation that uses Deno"

[2019-07-28 04:21] mfix22 commented on #831
No sure exactly what this comment means. We are pretty happy with our current stack at the moment 🙂

[2019-07-28 04:21] #831 closed

[2019-07-28 04:23] mfix22 commented on #829
Hi @LGTMXD when does the crash occur? When you embed that code in an IFrame, or when you save the image? Also which browser were you using when the crash occurred?

[2019-07-28 13:34] GuiDevloper opened #832 "Error on background image of preset"
First of all, i thank you all for this work of design in code :smiley:

**Describe the bug**
Changing a stored preset containing background image gives an unexpected error.

**To Reproduce**
Steps to reproduce the behavior:

1. In a fresh new, use a background image
2. Save as preset
3. Change any setting, then save as new preset
3. See error

**Expected behavior**
Saves two presets with same back

[2019-07-28 14:00] LGTMXD commented on #829
Problem recurrence video：
https://youtu.be/zOooeBsFQnY

each time i do plenty line codes the crash occurred

[2019-07-29 02:19] mittalyashu commented on #358
But can some add a syntax of Atom one dark theme?

[2019-07-29 17:17] mfix22 commented on #829
I see the error: it actually has nothing to do with any of the buttons, it is just the fact that the URL length surpassed the browsers limit. I will add some logic to limit the amount of code characters written to the URL, however we cannot overcome these underlying limits for sharing as a query param /:

[2019-07-29 17:27] mfix22 commented on #358
@mittalyashu this thread is only for integration requests — to integrate Carbon with other services and to integrate other services into Carbon.

As for you question about adding the "Atom One Dark" theme, we already have "One Dark". Is there something preventing you from using the "Create+" a theme feature to create one for yourself?

<img width="80%" alt="Screenshot 2019-07-29 10 27 14" src="htt

[2019-07-29 17:32] mfix22 commented on #832
@GuiDevloper thanks for the kind words 😍

For the background images, are you using Unsplash or uploading your own? If you are uploading your own, can you add an image to this thread that you are using to produce the error?

In my testing so far, I have not been able to reproduce the issue:
<img width="80%" alt="Screenshot 2019-07-29 10 27 14" src="https://user-images.githubusercontent.com/8397708/

[2019-07-29 17:41] LGTMXD commented on #829
thank u

[2019-07-29 18:35] #829 closed

[2019-07-30 09:47] GuiDevloper commented on #832
@mfix22 wow, just discovered the full customizability of themes.

Just remembering that the preset was in settings, not themes.

I'am using Unsplash and while writing did take a new look at the errors on console:
![carbon_bug](https://user-images.githubusercontent.com/31557312/62117718-cdd88800-b292-11e9-82e3-935b64f0e933.jpg)
and after a search, received a light:

The backgroundImage url/meta sto

[2019-07-31 03:27] mfix22 commented on #832
Thanks for sharing @GuiDevloper! This was exactly what I expected. Unfortunately,  we can't really get around the `localStorage` limits and still support `backgroundImage`s in presets.

Would you rather save the presets without `backgroundImage`?

Please also note that we are coming up with a better way to store "presets" soon that doesn't rely on `localStorage`.

[2019-08-01 23:09] GuiDevloper commented on #832
Sorry for still continue this discussion, @mfix22.
Thinking targeting the size of save, whatever the storage:
Database, `localStorage` with limit extended or downloading a plain-text file.

Depending on current future plan, would be cool think in using another approach beyond Base64, like store a [image url](https://images.unsplash.com/29/night-square.jpg?ixlib=rb-1.2.1&auto=format&fit=crop&w=1359

[2019-08-02 04:21] #830 closed

[2019-08-13 02:55] LeeMingX opened #839 "Every letter shows up twice"
### Detail
There are something wrong when I typed code on the carbon website.

The type of my keyboard is Apple keyboard adapts to iPad Pro. I don’t know what caused this problem, my facility or browser or the application.

### Expected Behavior
As like as common using

### Actual Behavior
It’s shows up twice while I typing every letter.

<details>
  <summary>Browser: </summary>

  Chrome 76.0+ on

[2019-08-13 04:00] mfix22 commented on #839
@LeeMingX are you able to share a screen capture so I can better understand your issue?

[2019-08-14 16:49] mfix22 commented on #548
This feature was released with 4.0.0 🙌:
![Kapture 2019-08-14 at 9 48 16](https://user-images.githubusercontent.com/8397708/63039716-bc89a100-be78-11e9-936d-98e33723264a.gif)

[2019-08-14 16:49] #548 closed

[2019-08-14 16:51] mfix22 commented on #754
@kievsash this feature was just release with version 4.0.0!! You can click "Sign Up" to try it out:

<img width="969" alt="Screenshot 2019-08-14 09 51 17" src="https://user-images.githubusercontent.com/8397708/63039865-138f7600-be79-11e9-9ef1-293fad03f93c.png">

[2019-08-14 16:51] #754 closed

[2019-08-14 16:52] mfix22 commented on #806
Happy to say that this feature was just released with version 4.0.0:

![Kapture 2019-08-14 at 9 48 16](https://user-images.githubusercontent.com/8397708/63039933-34f06200-be79-11e9-9303-7da262a3e2b1.gif)

Try it out and let me know what you think! 🙏

[2019-08-14 16:52] #806 closed

[2019-08-14 16:55] mfix22 commented on #362
@alvaropinot with the `4.0.0` release, we [have introduced user profiles](https://github.com/carbon-app/carbon/issues/754), where you can save your snippets to the cloud. This should cover your use case, and you won't run into any storage issues.

<img width="969" alt="Screenshot 2019-08-14 09 51 17" src="https://user-images.githubusercontent.com/8397708/63040141-acbe8c80-be79-11e9-90e6-41cdb14807

[2019-08-14 16:55] #362 closed

[2019-08-14 20:38] chrispetrou commented on #548
@mfix22 Awesome job! Thank you!!!

[2019-08-15 01:14] kievsash commented on #754
Nice! Thank you for great work!

[2019-08-15 08:05] Relequestual commented on #806
This is cool, but it doesn't look like it goes into the URL, which is required to be able to use it with `carbon-now-cli` it seems.

Still, awesom work. Thanks!

Should I put in a new feature request for adding a "remove formatting changes" for a selection to revert to syntax highlighted?

Use case is having only selected lines the correct colours and having other lines greyed out.

[2019-08-15 08:06] RIP21 commented on #806
Amazing stuff. Thanks a lot :)

On Thu, Aug 15, 2019, 10:05 Ben Hutton <notifications@github.com> wrote:

[2019-08-15 11:15] StefMa opened #841 "Code does not contain GitHub (and Firebase) intergration"
Hey guys 👋

first of all thanks for this nice little app.
Its really awesome.

You introduced carbon 4.0 with the GitHub integration.
Meaning we can sign in with our GitHub account and save our stuff in somewhere in the Firebase universe.

Because I plan something similar in one of my projects I tried to figgured out how do you have implemented this feature by browser through the source code.
Unfo

[2019-08-15 11:28] WeaverOfTheWeb opened #842 "Custom line-number range"
An enhancement I'd love to see in the future is the ability to set where the line-numbering starts. Sometimes I'll take a snippet from a larger file and would like the numbering to start where that snippet was taken from or a custom one to be set.

Thanks for all your work on Carbon, it's a great tool!

[2019-08-15 16:29] mfix22 commented on #841
Hey @StefMa,
Thanks for the note! You are totally right — it is missing from the open source repo. I have not yet decided if I am going to open source that part of the app yet, in order to lower security risks (or at a minimum make them less transparent).

The other reason, is I need to improve the dev mode when running the app locally with/without firebase before merging it in here 👌

However, th

[2019-08-15 16:31] mfix22 commented on #842
Hey @WeaverOfTheWeb great idea! This would be super easy to add: https://codemirror.net/doc/manual.html#option_firstLineNumber

If you want, feel free to take a stab at it, otherwise I will get to this feature eventually 👍

[2019-08-15 16:49] mfix22 opened #843 "Load selected lines from query params"
See https://github.com/carbon-app/carbon/issues/824#issuecomment-513694282 for context

- [x] Should use existing state/routing system

[2019-08-15 17:00] #832 closed

[2019-08-16 20:01] 8thHalfHour opened #845 "Cannot Install Carbon for Desktop"
**Describe the bug**
There are instructions, [here](https://github.com/carbon-app/carbon#installing-carbon-for-desktop), for installing Carbon for Desktop that do not appear to provide enough information in order to install Docker for Desktop.

**To Reproduce**
Steps to reproduce the behavior:

1. Within Chrome, click the kabob menu 'More'.
2. Click on 'Settings'.
3. 'Install Carbon...' is not fou

[2019-08-16 20:30] #845 closed

[2019-08-18 05:55] #842 closed

[2019-08-18 23:01] #841 closed

[2019-08-18 23:03] mfix22 commented on #841
`4.0.0` code merged in 👍

[2019-08-19 05:30] mfix22 commented on #839
@LeeMingX I am assuming this is a OS issue, not related to Carbon. Let me know if that is not the case.

[2019-08-19 05:38] StefMa commented on #841
Thank you ☺

On Mon, Aug 19, 2019, 1:03 AM Michael Fix <notifications@github.com> wrote:

[2019-08-19 05:46] mfix22 commented on #781
Sorry, totally missed these comments. I was testing this on macOS.

[2019-08-19 11:39] Relequestual commented on #824
I wish I had time @mfix22! Appreciate you working on this!

[2019-08-22 16:18] vol24pl opened #851 "PNG export doesn't work on Safari"
**Describe the bug**
PNG export doesn't work on Safari

**To Reproduce**
1. Open Carbon from Safari on macOS
2. Create a snippet
3. Export it to PNG

**Expected behavior**
png is downloaded

**Actual Result**
nothing happens

**Info (please complete the following information):**

- OS [e.g. macOS, Linux, Windows, iOS]: macOS 10.14.6 (18G87)
- Browser [e.g. chrome, safari]: Safari Version 12.1.2 (1

[2019-08-22 16:43] mfix22 commented on #851
Another CORS issue. I'll have the fix pushed up shortly.

Sorry about this!

[2019-08-22 17:06] mfix22 commented on #851
Issue should be fixed! Apologies for the inconvenience.

[2019-08-22 17:34] #851 closed

[2019-08-22 17:44] matthaltom opened #852 "carbon.now.sh refused to connect."
**Describe the bug**
Our iframe code samples are not working.

**To Reproduce**
Test any iframe embed. I copied one again from your site and it did not work.

**Expected behavior**
Loading of the code.

**Screenshots**
<img width="1014" alt="Screen Shot 2019-08-22 at 11 42 27 AM" src="https://user-images.githubusercontent.com/465097/63536975-f4749200-c4d1-11e9-85ed-1f425f8b6514.png">

**Info (plea

[2019-08-22 17:54] mfix22 commented on #852
Sorry about that! The issue is fixed now 👍

[2019-08-22 17:54] #852 closed

[2019-08-22 18:17] matthaltom commented on #852
The issue still persists but now the page is loading the website and not the iframed code. :(

<img width="574" alt="Screen Shot 2019-08-22 at 12 16 19 PM" src="https://user-images.githubusercontent.com/465097/63539173-b62da180-c4d6-11e9-9b56-e34b17dc6ac6.png">

[2019-08-22 18:18] matthaltom commented on #852
Live example here... https://www.blocknative.com/readiness-assessment

[2019-08-22 18:38] mfix22 commented on #852
Remove the trailing slash from `/embed/`. Should be `/embed`.

I'll try and get around to allowing `/embed/` right now though

[2019-08-22 18:45] matthaltom commented on #852
Thank you. I've gone ahead and done that and it worked. Thanks for your prompt response!

[2019-08-22 18:46] mfix22 commented on #852
Great! I just fixed it on our end too. Thanks for understanding! Please let me know if you run into other issues 👍

[2019-08-23 11:12] equinusocio commented on #202
@mfix22 I made a PR to update the material theme colors and add the new variants.
https://github.com/codemirror/CodeMirror/pull/5980

PS: It took just one year. 😂

[2019-08-23 17:51] mfix22 commented on #202
@equinusocio epic! 🤣 Thanks for the persistence 👍

[2019-08-26 05:29] #839 closed

[2019-08-29 07:15] lastmjs opened #853 "Add Ethereum address to FUNDING.yml"
I'd like to see an Ethereum address added to the `custom` property of the `FUNDING.yml` file for GitHub Sponsors. This would allow a canonical address to send funds to. For example, I'm building a project that allows developers to setup one recurring donation that is split between all of their dependencies with an Ethereum address: https://sustainus.io

[2019-08-30 23:28] mfix22 commented on #750
Hey @filipbech I don't see any progress here, and I'm not sure we want to support this, especially since now we have saved snippet support. Sorry if you have been working on this in the background /:

[2019-08-30 23:32] mfix22 commented on #853
@lastmjs feel free to create a PR that adds `0x6e013395109d1b7Bd941D9E5F6BAE3ee624E63EE` to the `FUNDING.yml`

[2019-08-31 01:22] #853 closed

[2019-08-31 01:36] mfix22 commented on #170
After thinking about this more, I think individual components should convey their use, and over arching ideas can be explained in `/about`. Will open later if people think differently.

[2019-08-31 01:36] #170 closed

[2019-08-31 06:08] filipbech commented on #750
Ok.

[2019-08-31 23:11] mfix22 commented on #750
@filipbech if you  want to implement this go for it! 🙂 The Carbon core team is just not going to create it ourselves.

[2019-09-01 15:55] alfredosalzillo opened #855 "Gtag is not a function whit embed iframe"
**Describe the bug**
Get the following error when embedding using generated iframe code
`Uncaught (in promise) TypeError: window.gtag is not a function`

[2019-09-01 18:28] mfix22 commented on #855
Sorry about that — deploying fix now 👍

[2019-09-01 18:30] #855 closed

[2019-09-05 07:15] esimov opened #856 "Iframe export is not working"
Trying to embed the exported code as iframe into my website always shows the placeholder code and not the exported one. This is what the exported iframe looks like:

[code]
You can see the code section is missing. BTW this has worked until now.

**Expected behavior**

The resulted iframe should contain the actual code and not the placeholder code.

[2019-09-05 16:15] mfix22 commented on #856
@esimov you need to include the `?code=<your code>` query param in the URL of the iFrame. Can you either paste me the code you are trying to use, or a link me to the regular Carbon URL?

[2019-09-05 19:10] esimov commented on #856
This is an example I have tried to used on my blog which is worked fine until now, but now is not working anymore:

[code]

Now is producing the default placeholder output.

[2019-09-05 19:18] mfix22 commented on #856
I will push a fix for this issue, but you need to remove the trailing slash from `/embed/`

https://carbon.now.sh/embed?bg=rgba(255%2C255%2C255%2C0)&t=seti&wt=none&l=text%2Fx-go&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fm=Hack&fs=14px&lh=133%25&si=false&es=1x&wm=false&code=%252F%252F%2520Pigo%2520struct%2520defines%2520the%2520basic%2520binary%2520tree%2520componen

[2019-09-05 19:48] #856 closed

[2019-09-06 11:08] esimov commented on #856
Thanks!

[2019-09-06 23:29] #750 closed

[2019-09-11 14:39] oliversturm commented on #781
I stumbled into this issue and I can reproduce it in Linux Chromium (well, technically Brave - version shows `Version 0.67.125 Chromium: 76.0.3809.100 (Official Build) (64-bit)`).

[Load this URL for my test case](https://carbon.now.sh/?bg=rgba(222%2C171%2C99%2C1)&t=duotone-dark&wt=none&l=graphql&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=52px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%

[2019-09-11 15:20] oliversturm commented on #781
Small addition: using [this URL](https://carbon.now.sh/?bg=rgba(255%2C255%2C255%2C0)&t=monokai&wt=none&l=graphql&ds=true&dsyoff=0px&dsblur=20px&wc=true&wa=true&pv=20px&ph=20px&ln=false&fl=1&fm=Fira%20Code&fs=12.5px&lh=133%25&si=false&es=2x&wm=false&code=type%2520Country%2520%257B%250A%2520%2520name%253A%2520String!%250A%2520%2520areaKM2%253A%2520Int!%250A%2520%2520population%253A%2520Int!%250A%252

[2019-09-11 17:49] mfix22 commented on #781
@oliversturm would you be able to push a PR that fixes the issue on `Firefox Linux`? It is working appropriately for `Firefox macOS`

[2019-09-11 19:09] oliversturm commented on #781
I have no idea at this time what the cause of the issue is. If I had to guess I would say that some kind of width calculation is very slightly off, so it renders incorrect results when certain combinations of fonts, font sizes and rendering engines are used.

[2019-09-12 01:48] mfix22 commented on #781
@oliversturm are you able to reproduce it locally? If so, you can probably just add logic here: https://github.com/carbon-app/carbon/blob/master/components/Editor.js#L154 to add 1 or 2 pixels when the user-agent is Linux/Window & Firefox

[2019-09-14 15:42] kryz81 opened #864 "Invalid URL in iframe when using export -> copy embed -> Iirame option"
**Describe the bug**
The iframe "src" property contains invalid URL. No "/" after .../embed and before the snippet id

**To Reproduce**
Steps to reproduce the behavior:

1. Go to carbon.now.sh
2. Write a snippet
3. Select: export -> copy embed -> iframe option
4. Paste the copied code to your editor

**Current behavior (example url)**

<iframe
  src="https://carbon.now.sh/embedUuqelEqH2dDHNJ5qrbrO

[2019-09-15 00:04] #864 closed

[2019-09-15 00:04] mfix22 commented on #864
Thank you @kryz81 🙏

[2019-09-15 00:53] mfix22 commented on #864
`npm` is experiencing issues at the moment, and thus our deployment platform is unable to deploy this change. I will get it to production as soon as possible. Thanks!

[2019-09-16 17:30] haelbichalex opened #865 "An unexpected error has occurred."
**Describe the bug**
An unexpected error has occurred.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://carbon.now.sh/'
2. Click on 'Profile Picture' --> 'Snippets'
3. See error

**Expected behavior**
See Snippets.

**Screenshots**
![image](https://user-images.githubusercontent.com/15052352/64979599-54cfd700-d8b8-11e9-88e2-20ffc728f6fd.png)

**Info (please complete the followi

[2019-09-17 00:09] mfix22 commented on #865
Sorry about this issue, and I really appreciate you pointing this out — some sort of issue from a minor update in one of our dependencies. This commit 834812adebe2b5b167298464009ee5f0ede61161 fixed the issue.

[2019-09-17 00:09] #865 closed

[2019-09-25 07:33] kievsash opened #870 "Add collections to be able to group saved snippets"
### Expected Behavior
1. Saved snippets can be grouped to collections.
2. Copy URL for specific snippet possibility so one can specify it in an article.
3. Named snippets - one can specify name for the specific snippet
4. Search snippet by name

### Actual Behavior

Saving snippet as one-level big collection with no grouping and search.

Thank you in advance!

[2019-09-25 17:04] mfix22 commented on #870
These are all _great_ suggestions! Naming snippets is something we want to add first, and then search, but grouping them into folders is also a good idea!

[2019-09-26 05:33] kievsash commented on #403
+1
Example of possible usage:
https://twitter.com/thekiba_io/status/1136908291366408192?s=20

[2019-09-26 05:35] kievsash commented on #337
+1 for splitview
Possible usecase: https://twitter.com/thekiba_io/status/1136908291366408192?s=20

[2019-09-26 06:58] mfix22 commented on #337
Reopening for consideration — not a confirmation that we will support this.

[2019-09-29 06:44] kievsash commented on #753
Still an issue

[2019-09-30 01:35] onelson commented on #781
Noticing an incorrect linewrap of my own on Chrome 77.0.3865.90 (linux) with:

[code]

![png rendered output](https://user-images.githubusercontent.com/301388/65843590-4ab1cd80-e2e7-11e9-9f65-91c23bb17d55.png)

Seems like there should be a linebreak before the `_ => panic!("Unexpected values"),` instead of just following on as a continuation.

[2019-10-02 08:57] jwulf commented on #743
https://zeebe.io/img/blog/2019/10/nestjs-tx-email/carbon.svg

<img width="678" alt="Screen Shot 2019-10-02 at 6 55 49 pm" src="https://user-images.githubusercontent.com/406975/66031209-49321080-e546-11e9-89ab-e99a9cf4d535.png">

Broken on Firefox Quantum 69.0.1 on Windows and Mac OS.

Looks fine on Google Chrome 77.0.3865.90 on Mac.

[2019-10-04 18:42] Relequestual opened #877 "Display whitespace"
I was making some temporary screenshots from my editor while out of wifi range and discovered a starling difference. My editor shows white space, including vertical lines.

Generally you might think that's not super useful, but it is VERY useful when dealing with JSON, and writing say a JSON Schema.

It would be great if such an option could be added.

<3

[2019-10-06 19:05] nemesv commented on #843
I'm open to any suggestion how the solution in #878 could be improved.

There is one "change" compared to the previous behavior:

When the user uses the selected lines query params (or just manually highlight some lines) and turns off the line numbers in the editor then the selection is still visible.
Previously the selection was kept but was not visible when the line numbers where turned off.

[2019-10-07 16:48] mfix22 commented on #877
Hey @Relequestual can you post an example link to a Carbon snippet that demonstrates your issue? That way I can reproduce it and hopefully fix it.

It would be nice to include screenshots as well that depict the difference you are noticing and want resolved.

Thanks!

[2019-10-07 21:33] baktiaditya commented on #877
hi @mfix22 can i try working this for my hacktoberfest?

[2019-10-07 23:50] baktiaditya commented on #877
hi @mfix22 please kindly check #879 🙇 hopefully my PR solve this issue

[2019-10-08 02:38] mearns opened #880 "Add manual config for image width"
I'd like to be able to specify a fixed width for the image. This is particularly important when creating a series of image for an article; aesthetically, I'd like them to all be the same width.

### Expected Behavior

When auto-adjust width is not enabled, I expect a settings control to change the width of the image.

### Actual Behavior

There is no option to manually control the width of the ima

[2019-10-08 02:39] mearns commented on #880
Related to #1

[2019-10-08 10:39] SFLAQiu opened #882 "no"

[2019-10-09 00:33] #882 closed

[2019-10-09 19:34] joshuaiz opened #884 "Uncaught request in promise"
**Describe the bug**
Getting the following error when trying to embed an iframe generated by the web app:

Uncaught (in promise) no-response: no-response :: [{"url":"https://carbon.now.sh/embed/?bg=rgba(171%2C184%2C195%2C0)&t=material&wt=none&l=text%2Fx-php&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Source%20Code%20Pro&fs=15.5px&lh=133%25&si=false&es=2x&wm=false

[2019-10-10 01:13] Rmnlly commented on #884
Hey so I was able to reproduce this issue really, I tried to copy a new embed, even embed it in the page by altering the html and it works fine.

Like I'm able to go to export > copy Iframe, then past it into some valid HTML and not get an error in the console.

It does appear others have been having a similiar issue [here:](https://github.com/nuxt-community/pwa-module/issues/176) however

[2019-10-10 02:11] joshuaiz commented on #884
Is there any particular HTML that the iframe needs to be wrapped in?

I copied and pasted directly into a WordPress post editor and was getting the error.

A few days ago I was able to copy and paste the iframe code without issue so it is something in the latest version I think.

[2019-10-10 18:33] nemesv commented on #884
I also had a look into this and the issue has something to do with the length of the source code (or actually the length of the URL)

I've created a fiddle with your original and a truncated example: https://jsfiddle.net/7mt3nxz6/ where the truncated example works fine, and your original iframe src reuqest returns "failed" in Chrome

![image](https://user-images.githubusercontent.com/251330/665961

[2019-10-11 04:13] joshuaiz commented on #884
Ok it looks like longer code snippets cause this. When I shorten them I don't have the issue. So, it looks like 1000 characters is not quite the limit but something less.

I guess this is resolved for now.

[2019-10-11 04:13] #884 closed

[2019-10-11 18:23] mfix22 commented on #884
@joshuaiz there is a URL limit in all browsers (they vary browser to browser) that we try and defend against, but we can't really do anything about.

Sorry about the inconvenience, and thank you to everyone that helped debug this! 🙏

[2019-10-11 18:35] #843 closed

[2019-10-16 22:46] jpegsarebad opened #889 "URI components not being decoded from URL export"
**Describe the bug**
When using the 'copy URL' export method, the URL that is copied displays spaces and other URI-encoded symbols without decoding them. A space character, for example, is shown as `%20`.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [carbon, with text typed.](https://carbon.now.sh/?bg=rgba(171%25252C%252520184%25252C%252520195%25252C%2525201)&t=nord&wt=none&l=text&

[2019-10-16 23:46] mfix22 commented on #889
Hey @jpegsarebad thanks for sharing this. This is actually workin as intended, for pasting the URL to places like Medium. Medium decoded the URL, so this copy button makes it easier for the user to get the pre-encoded URL for pasting.

If you would like the regular URL instead, you can just copy if from the browser location input.

👍

[2019-10-16 23:46] #889 closed

[2019-10-17 00:05] jpegsarebad commented on #889
Thanks for the help!

[2019-10-18 09:41] kkew3 opened #890 "Cannot export png on safari mac os"
It happens again (#851). Thanks!

<details>
  <summary>Browser: </summary>

  Safari Version 13.0.1 (14608.2.11.1.11)
</details>

<details>
  <summary>Operating System: </summary>
  macOS Majove 10.14.6
</details>

<details>
  <summary>Code Snippet (If Applicable)</summary>

</details>

[2019-10-19 19:31] mfix22 commented on #890
@kkew3 I am having trouble reproducing this error. Can you post a link or code snippet that you can produce it on?

[2019-10-20 02:36] kkew3 commented on #890
This was the snippet I encountered issue yesterday, but somehow I can't reproduce it today. So I'm closing it now. Thanks.

[code]

[2019-10-20 02:36] #890 closed

[2019-10-24 20:00] #877 closed

[2019-10-25 11:56] arturhun opened #899 "Styling palette annoyance"
The styling palette (Bold, Underline, Italic, color) that appears on double click, is soooo annoying!
I need to make an extra click every now and then in order to make it go away and reveal my code.
Neither will it disappear on `esc`
Please add a setting to turn it off completely.

[2019-10-25 17:42] mfix22 commented on #899
@arturhun thanks so much for bringing this up! I will definitely look into supporting this.

[2019-10-25 19:47] mfix22 commented on #899
@arturhun do you want it completely out of the way, or would it be fine if we pop it up out of the way, like this maybe:

<img width="973" alt="Screenshot 2019-10-25 12 47 05" src="https://user-images.githubusercontent.com/8397708/67599798-a70cdf00-f725-11e9-9d9a-2fdcd6cdf770.png">

[2019-10-28 07:50] arturhun commented on #899
@mfix22 While I don't believe I should decide upon it just by myself :) if you ask me then my vote would be to add an icon button, next to the cog icon, perhaps - it would comply with the convention the WYSIWYG text editors have set.

[2019-10-31 04:29] maxjf1 opened #903 "Overlapping lines when exporting PNG"
### Expected Behavior
![image](https://user-images.githubusercontent.com/6114888/67919052-96bd8f80-fb7d-11e9-8f08-6d03fcde2c93.png)

### Actual Behavior
![carbon](https://user-images.githubusercontent.com/6114888/67919018-7beb1b00-fb7d-11e9-85b2-fa489da9f5a2.png)

<details>
  <summary>Browser:  Chrome</summary>
</details>

<details>
  <summary>Code Snippet </summary>
# Executa a busca usando a abo

[2019-10-31 04:31] maxjf1 commented on #903
Also Happens with SVG

[2019-10-31 20:51] mfix22 commented on #903
@maxjf1 which browser and OS did you experience this on? I am assuming this is a duplicate of #743

[2019-10-31 21:46] mfix22 commented on #899
@arturhun don't worry, I agree with you on this one 🙂

[2019-10-31 23:29] maxjf1 commented on #903
Chrome in Linux (Deepin, Debian)

[2019-11-02 01:16] #899 closed

[2019-11-02 01:20] mfix22 commented on #903
Closing as duplicate of #743 — would greatly appreciate your helping looking into that issue 🙏

[2019-11-02 01:20] #903 closed

[2019-11-04 11:56] esimov opened #904 "A lot of external API calls to the Stripe payment gateway"
**Describe the bug**
In case there are multiple code snippets included, the full page load take a lot of time. Inspecting the network tab in the web developer tool I found that there are a lot of external Stripe API calls. Why they are needed? Calling an external payment API is not very assuring and also blocks the webpage loading. Could they be eliminated? Are they needed?

**Screenshots**
![imag

[2019-11-04 18:15] Kogam22 opened #905 "Export URL Not Decoded Properly"
**Describe the bug**
Exporting the Image as URL copies a link to the clipboard. But does that link actually work ? Nope. Actually the URI is not getting decoded properly. Idk if its `decodeURIComponent` or `decodeURI` but yeah, that's the problem(most probably) 😅

Link here : [Link](https://carbon.now.sh/?bg=rgba(171%252C%2520184%252C%2520195%252C%25201)&t=seti&wt=none&l=auto&ds=true&dsyoff=20px&d

[2019-11-05 05:23] mfix22 commented on #904
Closed with d18695807517382f1f51603a61e2042aa8e5cbe0

[2019-11-05 05:23] #904 closed

[2019-11-05 05:25] mfix22 commented on #905
See this comment: https://github.com/carbon-app/carbon/issues/889#issuecomment-542936104

[2019-11-05 05:25] #905 closed

[2019-11-05 05:58] Kogam22 commented on #905
But ... I guess it would be better to just notify the user how to copy the link for just sharing. Thanks anyways.

[2019-11-05 06:02] mfix22 commented on #905
Definitely! I will look into how we can best convey this.

[2019-11-24 18:33] nebrass opened #908 "Wordpress plugin"
Hello Guys,

First of all, thank you for creating and maintaining this great tool !

I have a **feature request**: can you provide us a **Wordpress plugin** to **share source code** inside blogs post.

Thank you !

[2019-12-02 18:15] KaustubhDamania opened #911 "Feature Request: Support for Command Line images"
### Expected Behavior

Similar to code images, there can be a feature for generating an image of command line.<br>

![carbon](https://user-images.githubusercontent.com/33577657/69982868-72c5e300-155b-11ea-8085-de18cf382f73.png)

Maybe something like the pic above, keeping the window as it is and changing color of some text. For e.g. The text "kaustubhdamania@kaustubhdamania-X510UNR" could be green

[2019-12-03 06:17] mfix22 commented on #911
@KaustubhDamania you can actually select specific sections of text and apply individual styles to each.

E.g.
![carbon](https://user-images.githubusercontent.com/8397708/70025229-3a210c00-1551-11ea-967c-5212ebe70c57.png)

To do so:
1. Select text
2. Click palette button (🎨)
3. Select your color, bold, italics, underline

I think this is the best option for your use case while being able to support

[2019-12-03 07:48] KaustubhDamania commented on #911
Okay, I did not know that specific text could also be styled :sweat_smile: <br>
Yeah, this works for me, although I'd still suggest to add an extra option for Terminal in syntax highlight drop-down because it'll be easier and faster to highlight required text that way.

[2019-12-04 07:09] mfix22 commented on #911
Awesome!

Also, there are a couple terminal languages available, `Bash` and `PowerShell`, just ICYMI 🙂

[2019-12-04 07:09] #911 closed

[2019-12-09 00:12] kbondanza opened #914 "existing iframe export urls need an extra embed parameter to see only code"
**Describe the bug**

existing iframe export urls need an extra embed parameter to see only code.

It looks like the iframe export url structure changed today, when I exported code via the iframe option this afternoon around 2pm eastern, I got the first url, added it to a presentation, then went back to the presentation around 6pm and the entire carbon.now.sh page shows in the presentation instead

[2019-12-09 00:26] kbondanza opened #915 "iframe exports are not supported for saved snippets"
**Describe the bug**
New iframe export urls are broken

I'm trying to export this snippet to an iframe, https://carbon.now.sh/R1akLq42QmwZxET5KwoV, however the src generated below doesn't display my snippet.

Generated code
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://carbon.now.sh/R1akLq42QmwZxET5KwoV
2. Click on copy embed iframe
3. then go to: https://carbon.now.s

[2019-12-09 02:40] mfix22 commented on #914
The correct address is https://carbon.now.sh/embed?bg=rgba(255%2C255%2C255%2C0)&t=night-owl&wt=none&l=javascript&ds=false&dsyoff=20px&dsblur=68px&wc=false&wa=true&pv=32px&ph=10px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=4x&wm=false&code=function%2520firstPromise()%2520%257B%250A%2520%2520return%2520new%2520Promise(resolve%2520%253D%253E%2520%257B%250A%2520%2520%2520%2520setTimeout(resol

[2019-12-09 02:44] #914 closed

[2019-12-09 02:49] mfix22 commented on #915
We currently only support iFrame exports for GitHub gists, not Carbon snippets. I will mark this feature as an enhancement to be considered.

[2019-12-09 03:38] mfix22 commented on #908
@nebrass this is a great idea! This is not something the Carbon core team is going to create or support, but if someone from the community creates it, we would be happy to add it to our Community section on our README

[2019-12-27 12:26] dzikoysk opened #920 "Allow defining custom keywords in settings"
It could be great to be able to add some new keywords in settings. It might be useful in using predefined syntaxes for unsupported languages

[2020-01-03 06:14] mfix22 commented on #920
@dzikoysk we allow you to highlight specific pieces of text manually — would this work for your use case? Or do you want all of these keywords to match the same color?

Thanks for posting this idea 🙂

[2020-01-03 13:14] dzikoysk commented on #920
Umm... I think it's half-way solution. It allows you to fix/improve some details of the snippet, but it does not really allows you to support a new language/custom syntax.

For instance, there is some presets with language definitions:

![obraz](https://user-images.githubusercontent.com/4235722/71723984-e6932e00-2e2e-11ea-8040-360cb0c1a1fe.png)

It could be transformed into a some kind of text are

[2020-01-04 12:31] technoknol opened #921 "Enable copy image to clipboard export"
### Expected Behavior
Copy to clipboard feature would be good, as one can directly send picture instead of filling up disk space.
### Actual Behavior
Only export option is available.

[2020-01-05 18:24] mfix22 commented on #921
Notes for me: we could enable this across some browsers easily with: https://developer.mozilla.org/en-US/docs/Web/API/Clipboard

[2020-01-08 20:03] phryneas opened #926 "[export bug] comment renders into next line, painting over next line"
Hi there,

so I have a screen that renders weirdly:
![carbon](https://user-images.githubusercontent.com/4282439/72011337-e2657700-3259-11ea-9abc-62a61ccad89a.png)

Obviously, the comment shouldn't be rendered into the next line like that.

<details>
  <summary>Browser: </summary>
  Firefox 69.0.1
</details>

<details>
  <summary>Code Snippet</summary>

[https://carbon.now.sh/DSvQlK1qbxkq9bOgMAih](

[2020-01-08 20:20] phryneas commented on #926
This might be a duplicate of https://github.com/carbon-app/carbon/issues/743 - if you agree, feel free to close this.

[2020-01-09 05:15] mfix22 commented on #926
@phryneas which operating system were you using?

[2020-01-09 07:09] phryneas commented on #926
Linux - NixOS 19.09 to be specific.

[2020-01-09 08:04] esimov opened #927 "Javascript promise errors in console"
I'm getting a lot of Javascript `Promise` errors in the console like the one in the screenshot below. The code snippets are showing correctly, but still the console log errors are annoying.

![image](https://user-images.githubusercontent.com/883386/72049317-58ec8e00-32c7-11ea-8324-5c909e5b6ab0.png)

[2020-01-10 01:33] mfix22 commented on #926
Yeah this is most definitely a duplicate. Thank you for posting though! 🙂

[2020-01-10 01:33] #926 closed

[2020-01-10 05:34] Gaojianli opened #928 "Doesn't work on the ms edge"
**Describe the bug**
While trying to open https://carbon.now.sh/ on the ms edge, the inputbox doesn't show at all. Like following:
![image](https://user-images.githubusercontent.com/19235246/72128170-f40b6380-33ac-11ea-882a-a3b9308daae1.png)
And you will get an error in the console:
![image](https://user-images.githubusercontent.com/19235246/72128187-071e3380-33ad-11ea-89fe-51e21b7047fe.png)
![ima

[2020-01-10 10:00] max-arnold opened #929 "Newlines in url stopped working"
The following yaml snippet isn't rendered properly

[code]

after being converted to url

[code]

<img width="807" alt="2020-01-10 at 16 58" src="https://user-images.githubusercontent.com/370942/72144041-65a5da80-33ca-11ea-8541-77d1588805a6.png">

Everything after the first `%0A` character is discarded.  This breaks editor integrations.

[2020-01-10 18:03] mfix22 commented on #927
@esimov can you post a Snippet or Carbon URL that I can try testing on to debug the issue?

[2020-01-11 02:14] mfix22 commented on #929
@max-arnold can you please dig deeper into what you mean?
I did the following:
1. Pasted:
[code]
into Carbon
2. Copied the new URL that was generated
3. Opened a new tab with the just copied URL
4. And confirmed that it was rendered appropriately.

Which part of this is "broken" to you?

[2020-01-11 02:59] max-arnold commented on #929
The broken part for me is the editor integration (https://github.com/veelenga/carbon-now-sh.el) which suddenly stopped working. I strongly believe that the integration itself is fine for two reasons:

1. I haven't changed anything in Emacs
2. Older carbon.now.sh urls that I found in my browser history also stopped working

The key to reproduce is not to paste manually anything into Carbon, but ins

[2020-01-11 03:35] max-arnold commented on #929
Version 4.3.14 doesn't have this problem

[2020-01-12 13:45] esimov commented on #927
Sure, here it is:

https://carbon.now.sh/embed?bg=rgba(187%2C187%2C187%2C0)&t=seti&wt=sharp&l=text%2Fx-go&ds=true&dsyoff=3px&dsblur=13px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%252F%252F%2520Render%2520calls%2520the%2520%2560requestAnimationFrame%2560%2520Javascript%2520function%2520in%2520asynchronous%2520mode.%250Afunc%2520(c%2520*Can

[2020-01-12 21:07] SnapDragon7410 commented on #210
this is a great but why dont you host a web server and add an url api support
would be very neat
i cant do this as i dont know how to code in js sadly

[2020-01-13 00:27] mfix22 commented on #929
I think this was broken by https://github.com/zeit/next.js/pull/9638/files.

CC'ing @timneutkens in case other apps are affected by this change.

I am holding the `next` dependency at `9.1.4` until I can investigate further

[2020-01-13 00:42] mfix22 commented on #929
@max-arnold does version [`4.3.16`](https://github.com/carbon-app/carbon/releases/tag/4.3.16) (https://carbon-7z357teu2.now.sh) solve the issue for you?

[2020-01-13 00:56] mfix22 commented on #927
I am fairly sure this was caused by the same issue as: https://github.com/carbon-app/carbon/issues/929

I think the link you posted is a broken link. Can you try posting a new one?

[2020-01-13 00:59] mfix22 commented on #928
@Timer does Next.js not transpile spread operators?

@Gaojianli potentially this is an issue with one of our dependencies. Can you tell which dependency this code is coming from? You should be able to tell by searching through the `node_modules`

[2020-01-13 01:06] mfix22 opened #931 "Follow up on min-width"
https://github.com/carbon-app/carbon/pull/925#discussion_r365625312 @aquaductape

[2020-01-13 01:41] Timer commented on #928
@mfix22 Next.js transpiles spread operators within first-party code.

If one of your `node_modules` deps is shipping with it, it will not be compiled.

[2020-01-13 01:47] mfix22 commented on #931
Closed with https://github.com/carbon-app/carbon/pull/925#discussion_r365626736

[2020-01-13 01:47] #931 closed

[2020-01-13 01:54] mfix22 commented on #928
This could be the line causing it: https://github.com/graphql/graphiql/blob/master/packages/graphql-language-service-parser/src/onlineParser.ts#L238

[2020-01-13 06:13] esimov commented on #927
I'm posting a new one:

https://carbon.now.sh/embed?bg=rgba(187%2C187%2C187%2C0)&t=seti&wt=sharp&l=text%2Fx-go&ds=true&dsyoff=3px&dsblur=13px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%252F%252F%2520FetchCascade%2520retrive%2520the%2520cascade%2520file%2520trough%2520a%2520JS%2520http%2520connection.%250A%252F%252F%2520It%2520should%2520re

[2020-01-13 08:16] max-arnold commented on #929
@mfix22 4.3.16 works for me. Thank you Michael!

[2020-01-13 09:36] esimov commented on #927
BTW something has broken in the meantime because some of the snippets from the link provided above are not working anymore, and i'm pretty sure that they have worked at the time when it has been posted. For example [this](https://carbon.now.sh/embed?bg=rgba(187%2C187%2C187%2C0)&t=seti&wt=sharp&l=javascript&ds=true&dsyoff=3px&dsblur=13px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px

[2020-01-14 06:03] mfix22 commented on #929
@max-arnold I am going to keep this open until we either fix it on our end, or it is solved here: https://github.com/zeit/next.js/issues/10066

[2020-01-14 06:04] mfix22 commented on #929
@timer potentially this can be fixed on our end, but I wanted to tag you in case it was a regression.

[2020-01-14 08:31] esimov commented on #927
@mfix22 do you have any update regarding this issue? For example I simply could not export this code snippet as an iframe, because it gives me the following error:

[code]
and the result is an empty page:

![image](https://user-images.githubusercontent.com/883386/72327042-017c6280-36b9-11ea-85eb-6f72cea9c905.png)

[2020-01-14 13:36] Timer commented on #929
Yup, I plan on investigating soon to figure out the correct/intended behavior.

[2020-01-15 03:59] Timer commented on #929
Confirmed bug: https://github.com/GoogleChromeLabs/native-url/issues/14

[2020-01-16 05:39] mfix22 commented on #927
@Timer have you seen this issue? This seems to be related to #929

[2020-01-16 05:40] mfix22 commented on #929
@Timer thanks so much for investigating. Will follow along there.

[2020-01-16 05:44] #928 closed

[2020-01-16 15:23] Timer commented on #927
It's likely related. I'd like to know the exact char causing this.

Looks like https://carbon.now.sh/embed?bg=rgba(187%2C187%2C187%2C0)&t=seti&wt=sharp&l=javascript&ds=true&dsyoff=3px&dsblur=13px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=uint8Arr%2520%253A%253D%2520js.Global().Get(%2522Uint8Array%2522).New(rgba) is the repo.

[2020-01-18 05:45] esimov commented on #927
Guys nu rush but did you found any resolution for this issue?

[2020-01-20 21:57] mfix22 commented on #927
@timer this is a valid recreation: https://carbon.now.sh/embed?l=javascript

Could it be because of the javascript keyword?

[2020-01-20 22:04] mfix22 commented on #927
I just looked into this _super_ briefly, but this may have been the cause of the issues: https://github.com/GoogleChromeLabs/native-url/blob/master/src/parse.js#L52

[2020-01-20 23:56] Timer commented on #927
@mfix22 this is fixed in the latest `next@canary`. Please upgrade!

[2020-01-22 18:36] fzeoli opened #935 "Solidity highlighting not working"
When choosing Solidity as the language no highlighting seems to happen.

**To Reproduce**
See https://carbon.now.sh/kN5PIVd3SAzGLtrfiyyb

**Expected behavior**
Syntax highlighting.

**Screenshots**
![image](https://user-images.githubusercontent.com/232174/72922955-cae3bf00-3d2c-11ea-969f-1d5e3dc5c7ca.png)

**Info (please complete the following information):**

macOS Catalina 10.15.1, Chrome 78.0.3

[2020-01-23 02:05] #927 closed

[2020-01-23 02:05] #929 closed

[2020-01-23 05:51] esimov commented on #927
Thanks a lot!

[2020-01-25 08:27] technoknol commented on #921
I may send PR for this.

[2020-01-25 21:42] faraweilyas opened #937 "Enable header or footer text outside the code screenshot"

[2020-01-26 02:01] mfix22 commented on #921
@technoknol go for it! I might update the design of where the feature will go, but that would still be a lot of help 🙂

[2020-01-26 02:18] mfix22 commented on #937
Thanks for the kind words, @faraweilyas, and for posting this idea!

Since we already have snippet titles (as you can see in the image), I am hesitant to add other header text.

![carbon (1)](https://user-images.githubusercontent.com/8397708/73129688-439d8200-3f9e-11ea-9f39-e545fc612211.png)

We want to avoid adding features that are simple to replicate in the other applications where people typic

[2020-01-26 02:30] #915 closed

[2020-01-26 23:12] #921 closed

[2020-01-30 05:48] mfix22 commented on #935
@alincode can you take a brief look?

[2020-01-30 05:52] mfix22 opened #941 "Make space, Enter, backspace and cursor work on Mobile"
This has waited long enough — let's improve the Carbon mobile experience!

### Tasks
- [x] Cursor should show up, blinking as it does on desktop
- [x] Make <kbd>Space</kbd> work appropriately, and not page down
- [x] Make <kbd>Enter</kbd> work appropriately
- [x] Ensure <kbd>Backspace</kbd> works appropriately

[2020-01-30 05:52] mfix22 commented on #506
Closing this in favor of #941 in order to give it a signal boost!

[2020-01-30 05:52] #506 closed

[2020-01-30 06:15] #935 closed

[2020-02-04 00:15] dy opened #943 "Insert generated carbon SVG in GitHub README"
**Describe the bug**

Github readme allows inserting svg images in readmes directly from repository. But it renders them wrong. It seems that carbon generates lots of overhead in svgs, also github doesn't display it correct, eg:

<img src="https://raw.githubusercontent.com/spectjs/spect/5a3694d567b6b8628fbf880710a4bb9c7d622755/timer.svg?sanitize=true"/>

The source part:
[code]

**To Reproduce**
1

[2020-02-06 06:19] mkellenbenz opened #944 "Padding 0px: Image contains black borders (top & bottom) when copying to clipboard"
![image](https://user-images.githubusercontent.com/8045559/73911013-355e3880-48b1-11ea-82fd-bd913100b6f4.png)

Config:
{
   "paddingVertical":"0px",
   "paddingHorizontal":"0px",
   "backgroundImage":null,
   "backgroundImageSelection":null,
   "backgroundMode":"color",
   "backgroundColor":"rgba(250,250,250,1)",
   "dropShadow":false,
   "dropShadowOffsetY":"0px",
   "dropShadowBlurRadius":"0px",

[2020-02-07 16:08] UlisesGascon opened #945 "Don't repeat photographer copyright credit"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

![bug](https://user-images.githubusercontent.com/5110813/74044826-02f52e00-49cc-11ea-80f8-76f21b3139be.gif)
_Added a gif with explanation_

As you can see the copyright message keeps the previous one too.

<img width="604" alt="Captura de pantalla 2020-02-07 a las 17 06 08" src="https://user-images.githubus

[2020-02-08 04:06] mfix22 commented on #945
@UlisesGascon the reason we did it this way is that we don't want to force the photographer credit _format_ on people — we want to allow people to present it how they want, and edit it (especially for other languages that don't use `//` for comments)

I'll leave this open, especially if others agree we should just force the format.

[2020-02-08 04:48] #941 closed

[2020-02-08 06:14] mfix22 commented on #941
If anyone comes across this and has more mobile issues, open a new issue! 👍

[2020-02-08 07:21] UlisesGascon commented on #945
Thanks for the clarification @mfix22! Makes sense to me :-)

[2020-02-08 16:13] dy opened #946 "Loosing italics"
**Describe the bug**

Italics formatting is lost when text is selected.

**To Reproduce**

1. Open https://carbon.now.sh/
2. Choose _Twilight_ theme
3. Enter `<script type="module"></script>`
![image](https://user-images.githubusercontent.com/300067/74088371-e6a4d000-4a63-11ea-903b-801488a81e2f.png)
4. Select part of the text and observe how italics is lost
![image](https://user-images.githubuserc

[2020-02-09 07:30] mfix22 commented on #945
@UlisesGascon cool! 🙂 On second thought though, I think we can do better. Opening a PR now…

[2020-02-09 18:50] #945 closed

[2020-02-09 20:58] #946 closed

[2020-02-10 03:30] mfix22 commented on #944
Thanks for posting this — I cannot recreate this issue. Which browser and operating system are you using?

[2020-02-15 06:16] #937 closed

[2020-02-17 06:14] mfix22 commented on #944
@mkellenbenz Thanks for posting this — I cannot recreate this issue. Which browser and operating system are you using?

[2020-02-18 17:52] dy opened #950 "Unitalic, unbold, ununderline is lost"
Take an example
![image](https://user-images.githubusercontent.com/300067/74763221-6e04f700-524d-11ea-9b1c-5ecc46fbee12.png)

select all, bold, italic, underline:
![image](https://user-images.githubusercontent.com/300067/74763242-7d844000-524d-11ea-9f1c-bcc97bd249cd.png)

unbold, unitalic, ununderline keeps applied style:
![image](https://user-images.githubusercontent.com/300067/74763302-8f65e300-

[2020-02-20 03:44] #950 closed

[2020-02-21 09:28] jerriclynsjohn commented on #496
Same here, getting a blank frame when i import this into Figma.

[2020-02-27 06:41] BradleyHo opened #951 "Long line of code mixes up with next line when exporting PNG"
### Expected Behavior
![carbon](https://user-images.githubusercontent.com/29351052/75418684-eec89080-58e8-11ea-8b19-33f82df27b17.png)
When a code line is too long, the previous line merges with the next line which makes it look odd.

### Actual Behavior

<details>
  <summary>Browser: </summary>

</details>

<details>
  <summary>Code Snippet (If Applicable)</summary>

</details>

[2020-02-27 07:18] mfix22 commented on #951
@BradleyHo which operating system / browser did you create this image on?

[2020-02-27 07:19] BradleyHo commented on #951
Windows 10 running on Microsoft Edge (Chromium) stable.

On Wed, Feb 26, 2020 at 23:18 Michael Fix <notifications@github.com> wrote:

[2020-02-27 19:15] mattbrailsford opened #952 "Add a title to the titlebar"
I'm working on a presentation using carbon code snippets as screenshots and thought it would be really handy to be able to give the file a title.

![sample](https://user-images.githubusercontent.com/527305/75478243-8683b880-5995-11ea-8260-ee0512fd41a3.png)

[2020-02-27 19:53] gromovadarya90 opened #953 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 20:07] BennyBzH commented on #953
Reported

[2020-02-27 22:02] renata2216 opened #954 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-27 22:23] renata7738 opened #955 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-28 05:36] helen798 opened #957 "hytgfghjuyhghjuyg"
kjuyg juyghyg jhjuhgbhj jhghjhgvb

[2020-02-28 06:27] helen78989 opened #958 "I am looking for a guy to fuck ❤️"
I am looking for a guy to fuck ❤️

[2020-02-29 02:36] mfix22 commented on #952
This already exists! You just have to click in the center of the title:

![carbon](https://user-images.githubusercontent.com/8397708/75599378-3837ed80-5a59-11ea-9fc6-72a033b91412.png)

Thanks for posting 👍

[2020-02-29 02:36] #952 closed

[2020-02-29 02:38] mfix22 commented on #951
Understood, and I apologize for this issue. We are already tracking this Windows measurement issuing in this thread: https://github.com/carbon-app/carbon/issues/781

Closing as duplicate of #781

[2020-02-29 02:43] mfix22 commented on #496
Does anyone have any suggestions for fixing this? Are there any other good libraries that convert a DOM node to an SVG, without using `foreignObject`?

[2020-03-02 02:39] #951 closed

[2020-03-03 18:30] dncrews commented on #889
I spent 20 minutes writing this same bug report. This was especially problematic using the PWA, since you have to dig into the menus to get to the original URL. What would it take to get an "Encoded URL" vs "URL" option?

[2020-03-04 05:29] mfix22 commented on #889
@dncrews you are right — this is a communication problem, and we should fix this.

I'm going to open a new issue so we can improve the copy URL menu

[2020-03-04 05:32] mfix22 opened #960 "Improve the copy URL menu"
Context: https://github.com/carbon-app/carbon/issues/889#issuecomment-594099276

We should improve the copy URL menu to better communicate what each action does, and also consider adding a plain copy unencoded URL button.

In the past I wanted to avoid adding that button since you can always copy the URL from the browser's URL input; however it might be required to fix this issue.

(cc @dncrews fo

[2020-03-09 01:09] mfix22 commented on #944
Will reopen if we can reproduce the issue! 👍

Need to know which browser/operating system was being used though.

[2020-03-11 12:19] nisarhassan12 opened #963 "Gitpod Automated Setup for contributing is broken."
I'll shortly make a Pr with the fix.

![image](https://user-images.githubusercontent.com/46004116/76416071-30af0780-63bc-11ea-93b9-160fee06aafc.png)

[2020-03-11 12:24] nisarhassan12 commented on #963
It failed due to node version incompatibility:

![image](https://user-images.githubusercontent.com/46004116/76416456-f3974500-63bc-11ea-94ff-d9abcdb9de3e.png)

[2020-03-11 18:04] ilyaskarim opened #964 "Allow exporting in HTML"
Currently, carbon-app provides export in PNG, SVG, and other formats. It would be great if carbon-app provides exporting the written code in HTML so that users can it in their blog apps.

[2020-03-12 02:14] mfix22 commented on #963
@anudeepreddy can you take a look at this? I am completely unfamiliar with GitPod, and at the moment it doesn't feel like it is providing much value for the maintenance cost.

I'd be happy to keep the `gitpod.yml` around, if it works with our existing tooling 👍

[2020-03-12 12:46] anudeepreddy commented on #963
Hey @mfix22 , I was going through the recent changes and there is something I found, for which i need clarification from you. I noticed that the node engine in package.json is set to 12.x(this is the major reason why the Gitpod setup is broken), but you are using node 10.x for your CI. Can you please clarify this for me. Is it done on purpose?

One more thing, your contribution guide asks the cont

[2020-03-12 16:55] nisarhassan12 commented on #963
Thanks! @anudeepreddy :slightly_smiling_face:  FYI I have already fixed it in https://github.com/carbon-app/carbon/pull/965

[2020-03-13 02:16] mfix22 commented on #963
@anudeepreddy the reason it is set to `12.x` in our package.json is because Now looks at that value to set which environment the web app will be built/deployed to.

Since this is the version we use in production, it is preferred that users develop using that Node version as well. I can add a point to use the correct Node version to the contributing guide.

As for fixing this issue, sounds like we

[2020-03-13 02:21] mfix22 commented on #963
@all-contributors add @anudeepreddy for code

[2020-03-13 02:21] mfix22 commented on #963
@all-contributors add @anudeepreddy for bug

[2020-03-13 02:21] mfix22 commented on #963
@all-contributors add @nisarhassan12  for code

[2020-03-13 02:21] mfix22 commented on #963
@all-contributors add @nisarhassan12 for bug

[2020-03-14 23:58] #960 closed

[2020-03-16 01:08] #944 closed

[2020-03-18 16:58] ariannargesi commented on #964
where is description  ?

[2020-03-18 17:35] ilyaskarim commented on #964
@ariannargesi description added. Thanks for letting me know 👍

[2020-03-18 23:42] mfix22 commented on #964
@ilyaskarim would embedding work for your use case? The reason we support embedded iframes is for exactly what you are describing: including the snippet in your own blog

You can copy the Iframe under the copy menu, or else simply go to `carbon.now.sh/embed?<your query string here>`

[2020-03-19 04:06] ilyaskarim commented on #964
@mfix22 Hey thanks for the comment. I was able to embed https://jsfiddle.net/8kubocLg/7/. One thing. I cannot copy the content inside. Do you know? Because I want my readers to copy the content as well. Is this a known bug? If the copy is not possible then definitely export HTML will be useful for me. For others as well.

[2020-03-20 02:59] mfix22 commented on #964
Hey @ilyaskarim I haven't noticed that issue before! One thing you can do is remove the `wc=false` from your query string to enable the copy button, which will let users super easily copy the code.

I will have to investigate further to enable direct copying — potentially this is a Chrome bug

[2020-03-20 03:04] mfix22 opened #972 "Copying texting with a Carbon iframe does not work"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://jsfiddle.net/8kubocLg/7/
2. Try copying text

**Expected behavior**
Text to be copied
**Info (please complete the following information):**

- OS [e.g. macOS, Linux, Windows, iOS]: macOS
- Browser [e.g. chrome, safari]: Chrome

[2020-03-20 03:11] mfix22 commented on #964
@ilyaskarim opened up a new issue to track this bug (https://github.com/carbon-app/carbon/issues/972). If we fixed that bug, would iframes work for your use case?

[2020-03-20 05:40] ilyaskarim commented on #964
@mfix22 That did the job. Thank you. That will work for me(https://jsfiddle.net/L6xantj0/). But one thing. I am giving you the option to decide. Will you keep this as feature-request? I am pretty sure that users will love this new feature. What do you think?

- Sharing jsFiddle so that it will help other readers.

No problem if you can't.

[2020-03-21 17:06] KalobTaulien commented on #210
Looks like a lot of excitement around this. But it's now March 2020 and I'm wondering if this issue could be closed with no progress?

[2020-03-21 23:46] #972 closed

[2020-03-22 00:01] mfix22 commented on #964
@ilyaskarim thank you so much for posting this! This issue actually uncovered 2 bugs in the embedded Carbon editor — both of which have been fixed.

Copying the text directly works again 👍

To answer your question, we do not want to enable exporting the HTML directly, because then we are unable to fix issue on sites that have embedded the carbon snippet as HTML, which we can do as an iFrame.

[2020-03-22 00:01] mfix22 commented on #964
@all-contributors add @ilyaskarim for bug

[2020-03-22 00:02] #964 closed

[2020-03-23 03:44] mfix22 commented on #210
@KalobTaulien there has been progress on  this feature, so I am going to keep this issue open, especially since this is something we _really_ would like to support.

Releasing it is not a matter of engineering effort, but a question of sustaining the cost of it into the future. We want to make sure the cost does not damage the sustainability of Carbon and its community.

[2020-03-26 05:18] Robyn12 opened #975 "Add support to Assembly Language"
This is a feature request, I'd like to see assembly x86_64 in languages maybe even x86.

[2020-03-27 02:10] mfix22 commented on #975
@Robyn12 we would be happy to except a PR that adds something like this!

[2020-03-27 02:13] mfix22 commented on #975
This _might_ be what you are looking for https://codemirror.net/mode/gas/index.html

[2020-03-27 06:24] stdinfo opened #976 "Is there any version can deploy in local network?"
Carbon is a really cool way to share code. We can use carbon.now.sh online normally, but it's not so convenient to use it in internal network(without internet). I would like to use it in a local network for some educational purpose and sharing code.
I trid to deploy it with code, but it seems useing many online resources. So is there any version I can deploy in a local network?
If inconvenience, c

[2020-03-29 03:11] mfix22 commented on #976
Hey @stdinfo, you can run the app locally by installing the files using `yarn`, and then running `npm build && npm start` — this will run the app on port 3000.

As for which files to update, you just need to update [this one](https://github.com/carbon-app/carbon/blob/master/components/Meta.js), which loads the CodeMirror lib and themes from a CDN (`cdnjs`)

Let me know if you have other questions.

[2020-03-31 13:47] stdinfo commented on #976
Thanks for replying, it works！
Besides `meta.js`, I also modified `font.js` and downloaded all font files.
And I noticed that there's no css file for theme named "a11y-dark", perhaps it should be remove from the theme list?
Another thing I'm a little confused is why it's always require `service-worker.js` which does not exist.

[2020-04-01 02:50] mfix22 commented on #976
Right! I forgot about `Font.js`. Thanks @stdinfo

`a11y-dark` is still a valid theme, it just doesn't need a CSS file. The highlights config for it covers that theme.

`service-worker.js` is generated during out build [here](https://github.com/carbon-app/carbon/blob/master/next.config.js#L11). Once you run `yarn build`, it should be available in your output directory.

Instead of loading `service-

[2020-04-03 05:59] deadcoder0904 opened #979 "Overlapped code when `Copy to Clipboard > Image`"
I copied the following code from https://github.com/kitze/conditional-wrap

[code]

And it gave this pic → https://twitter.com/deadcoder0904/status/1245953211439165441/

Notice the `Button` at the bottom is overlapped with the `div` while in the editor it looks perfect

[2020-04-04 19:19] mfix22 commented on #979
@deadcoder0904 which operating system and Browser were you using when you generated this image?

[2020-04-05 05:18] deadcoder0904 commented on #979
Mac OS Catalina v10.15.2 & Chrome v80.0.3987.149 (Official Build) (64-bit)

[2020-04-05 05:21] deadcoder0904 commented on #979
This seems to be duplicate of #743

[2020-04-05 18:54] mfix22 commented on #979
Interesting… not sure it is a duplicate since those issues wouldn’t occur on macOS. I have seen other one-off issues with the Copy image API, and I’m wondering if it is a bug in Chrome.

When you export the image as a PNG, do you see the same overlap?

[2020-04-05 23:13] mfix22 commented on #976
@stdinfo anything else I can answer for ya before closing this issue? 🙂

[2020-04-06 04:01] deadcoder0904 commented on #979
Yep, it gives the same. Here you go (I did this just now) 👇

![carbon](https://user-images.githubusercontent.com/16436270/78521950-5bd51d00-77e9-11ea-8755-8e2d5a3bd6a2.png)

[2020-04-06 04:15] mfix22 commented on #979
@deadcoder0904 I couldn't recreate it locally. Looks like it is in fact a duplicate of #743. Feel free to add this reproduction to that issue and close this one, otherwise I can keep this one open for a time too.

[2020-04-06 06:02] deadcoder0904 commented on #979
I’ll close this one then & add a note there. Since it happened to me twice with the same code 😂

[2020-04-06 06:02] #979 closed

[2020-04-06 06:02] deadcoder0904 commented on #743
Same issue with Mac OS Catalina v10.15.2 & Chrome v80.0.3987.149 (Official Build) (64-bit). For more info, check #979

[2020-04-06 06:30] stdinfo commented on #976
Ah, really appreciate for your helping!
Actually, I have't set `service-worker` correctly yet(I changed the config but did't work.). But it seems has no affect on normal using.I think I'll try it myself latter.
If I have problem I'll open another issue.

[2020-04-06 06:30] #976 closed

[2020-04-07 08:18] smknstd opened #985 "Suggestion: being able to give a name to a saved snippet"
When signed in, it would be great to be able to name a snippet. Especially when sharing an url in twitter (https://twitter.com/carbon_app/status/1235069621188751361), the twitter card could have a different title than simply "Carbon Snippet". Same for description.

![Screenshot_2020-04-07 smknstd on Twitter carbon_app there might be an issue with syntax highlighting in php Whatever theme ](https:/

[2020-04-08 02:32] mfix22 commented on #976
`service-worker` is used for when you want to use Carbon as a PWA, for offline use!

[2020-04-08 02:33] mfix22 commented on #979
Thanks @deadcoder0904

[2020-04-08 03:34] mfix22 commented on #743
@deadcoder0904 I assume this has to do with a very slight width miscalculation, which only happens with specific window dimensions. I'm guessing this is why I can't recreate it even under the same conditions.

If you change the window/screen dimensions by zooming in/out, does the issue still persist?

[2020-04-08 03:37] mfix22 commented on #963
@nisarhassan12, @anudeepreddy any updates here? Does GitPod support `12.x` now?

[2020-04-08 03:40] anudeepreddy commented on #963
Yes, it does support 12.x now. Sorry, I was a bit busy with my classes with this lockdown in effect (COVID-19)

[2020-04-08 03:46] nisarhassan12 commented on #963
The Gitpod setup works now
![image](https://user-images.githubusercontent.com/46004116/78742395-59073300-7975-11ea-94cb-1a6ddcdd29d3.png)

[2020-04-08 03:46] deadcoder0904 commented on #743
I zoomed out to 75% but it still happens

[2020-04-09 02:01] #963 closed

[2020-04-09 02:03] mfix22 commented on #985
This is a great idea, and someone else also shared in it this issue https://github.com/carbon-app/carbon/issues/870#issue-498103778

Do you have suggestions for where the naming should go? I was thinking about adding an input to the bottom toolbar to the far left, opposite the copy/delete buttons. What do you think?

[2020-04-09 20:12] smknstd commented on #985
Is it possible to get this screen working locally by bypassing api or something ? I'd love to help.

Concerning UX, ss snippets are created automatically from the home page, name (and description) wouldn't be mandatory, so unset by default.

yes I think bottom bar could work nice. But don't forget you'll need to show validation messages so maybe a modal or something could also works great.

[2020-04-10 22:22] #975 closed

[2020-04-14 01:59] mfix22 commented on #985
@smknstd I'll look into that for you! I'm going to try and get to this feature next weekend.

In the meantime, if you want to start by adding a borderless text input of the bottom left of the Snippet Toolbar, that would be really helpful! You won't need the backend to work on that part of this feature 👍

[2020-04-14 10:54] smknstd opened #987 "Theme configurations need updating with variable-2 and variable-3 options"
## Syntax highlighting with php seems broken

Whatever the theme I choose, syntax highlighting for PHP seems broken.

This is what it should show (as seen on [codemirror demo page](https://codemirror.net/mode/php/index.html)). It shows two different colors for variables and methods (blue and black):

![79136572-86a70e80-7db1-11ea-8307-78760c8044a1](https://user-images.githubusercontent.com/2412608

[2020-04-15 01:13] mfix22 commented on #987
Thanks for posting this. Just pushed this PR (https://github.com/carbon-app/carbon/pull/988) that fixes the underlying issue, and the configuration for Dracula, but it does not fix it for other themes.

It would be _amazing_ if someone went through and set the `variable-2` and `variable-3` configs correctly for the other themes.

If no one else takes it, I will try and get to it eventually 👍

[2020-04-15 22:53] atomiks opened #989 "Use VS Code highlighting plugin"
### Expected Behavior

Themes should match their VS Code equivalents (very granular highlighting)

https://github.com/andrewbranch/gatsby-remark-vscode

### Actual Behavior

Theme highlighting lacks the necessary tokens to accurately match their original / VS Code themes.

[2020-04-16 04:47] mfix22 commented on #989
@atomiks would a solution like this, #990, work for you?

I have attempted to add the missing tokens, and if there are any more, I will consider adding them as well. I would also be happy to accept a PR that improves the theme options/configs.

Your proposed solution won't work for us, since Carbon doesn't use Gatsby. Do you know of a similar plugin for Codemirror (the library we use for syntax hi

[2020-04-17 04:50] atomiks commented on #989
I am sure it helps but I don't think it's as complete as the VS Code textmate tokenization.

Would you consider using Gatsby and that plugin (or taking a look at the way the plugin works and implement it standalone) just to take the screenshot? CodeMirror can still be used for typing/pasting code, but its colorization is so limited and you can't match themes correctly.

Actually, the best option w

[2020-04-18 10:45] fuxingloh opened #991 "Suggestion for copy image to clipboard implementation"
Currently, you need to open/replace the current window to copy to clipboard.

I saw an implementation by `whimsical.com`, instead of opening a new tab or replacing the current window. You copy from the modal window directly without context switching. I added the image before for reference. Would be great if this can be implemented for carbon.

![image](https://user-images.githubusercontent.com/426

[2020-04-18 20:12] manishsundriyal commented on #743
@mfix22 Maybe this will help
Back when I was using Ubuntu + Chrome I had faced the issue a lot. My hack was to add some extra whitespaces at the end of lines which are moving onto the next lines.

[2020-04-18 20:30] mfix22 commented on #991
Hi @fuxingloh, thanks for the suggestion. Have you seen our new copy image to clipboard button?
<img width="938" alt="Screenshot 2020-04-18 13 28 56" src="https://user-images.githubusercontent.com/8397708/79670526-9e4b1200-8178-11ea-9248-5511fd7c9396.png">

Clicking this will copy the Carbon image directly to your clipboard, without opening new windows or modals.

Does that work for you? 🙂

[2020-04-18 20:31] #987 closed

[2020-04-18 21:47] manishsundriyal commented on #725
@mfix22 I have looked into this issue. Looks like dom-to-image doesn't support `toPng` with a height greater than 18K-20K pixels.

[2020-04-19 06:04] #991 closed

[2020-04-20 04:52] mfix22 commented on #725
@manishsundriyal that is great to know! In that case, I'm not _too_ concerned, since images that long will probably have other issues when using Carbon.

Do you think it would be feasible to, for example, stitch multiple PNGs together? Might be more work than it is worth…

[2020-04-20 07:12] smknstd commented on #987
Good job, it's so much better now !

[2020-04-25 19:03] #985 closed

[2020-04-25 19:05] mfix22 commented on #870
@kievsash snippet names is getting released today, partly thanks to you! 🙏 https://github.com/carbon-app/carbon/pull/992

[2020-04-25 19:28] mfix22 commented on #743
I have never been able to reproduce this issue, but if anyone is able to reproduce this locally, I am wondering if adjusting this config slightly solves the issue: https://github.com/carbon-app/carbon/blob/master/components/Editor.js#L156 — either by measuring the container differently, or simply by bumping the width by a couple pixels.

[2020-04-25 19:31] mfix22 commented on #989
We would have to rewrite the entire application in order to use Gatsby, which is not an option we will consider.

Using a different editor _might_ be feasible, but I am not sure the wins will be worth the effort.

I'll leave this open for further consideration.

[2020-04-25 19:43] kievsash commented on #870
Thank you! Should check it!

[2020-04-25 22:16] manishsundriyal commented on #743
@mfix22 It might work as it was moving the text content which is closer to the right border.
If not, then I will try it once this COVID-19 scene improves in our city.

[2020-04-25 22:22] manishsundriyal commented on #725
@mfix22 Yes, it's not worth enough. I have made a lot of content through carbon for almost all kinds of use, but I never came across a situation where I need a snippet of such large height.

A major future update could be something like using some other package than `dom-to-image` (If something better is available)

[2020-04-26 18:46] Defite opened #993 "Fonts in iframe"
**Describe the bug**
Fonts in the iframe are not the same as in carbon.now.sh app

**To Reproduce**
Steps to reproduce the behavior:

1. Go to carbon.now.sh
2. Copy iframe code
3. Paste anywhere on the other site

**Expected behavior**
Fonts are the same

**Screenshots**

My site:
<img width="802" alt="Снимок экрана 2020-04-26 в 21 45 21" src="https://user-images.githubusercontent.com/299118/80316

[2020-04-26 21:24] mfix22 commented on #725
@manishsundriyal if you know of `dom-to-image` alternatives, I would definitely be open to trying them.

[2020-04-26 21:24] mfix22 commented on #743
@manishsundriyal awesome, and absolutely _zero_ rush. This is not a big deal at all. Stay safe!

[2020-04-26 21:32] #993 closed

[2020-04-30 04:54] mfix22 opened #994 "Upgrade `highlight.js` to 10.x.x"
**Breaking changes**: https://github.com/highlightjs/highlight.js/blob/master/VERSION_10_BREAKING_CHANGES.md

#### Opportunities:
* Also update our `nimrod` CodeMirror config to be `Nim`

- [ ] Ensure all `highlight.js` languages are registered effectively

[2020-05-02 23:10] #994 closed

[2020-05-03 07:56] JessicaSachs commented on #547
I did a poor-mans approach to this on a fork [carbon#feat/record-terminal-sesh](https://github.com/JessicaSachs/carbon/tree/feat/record-terminal-sesh) using [gif.js](https://github.com/jnordberg/gif.js)

There's a record button next to the settings. Press that and then all the keystrokes will be recorded and then "replayed" once you stop recording.

It's not polished. There are bugs and it is slow

[2020-05-04 01:15] mfix22 commented on #547
@JessicaSachs this is amazing! 🎉 Really awesome work.

I would be perfectly happy to ship _just_ a record feature on it's own. Highlighted lines and options are less important for an initial version, IMHO.

If you are up for integrating this into Carbon, I would be incredibly happy to help support the effort on my nights and weekends :+1: — or consult asychronously.
If you do not have the bandwidt

[2020-05-04 03:05] mfix22 commented on #547
(Previous comment got deleted 😞)

@JessicaSachs this is amazing! 🎉 _So_ cool that you got this working! I had never heard of gif.js before

If you would be up for it, I would absolutely love to help integrate this work into Carbon itself on my nights and weekends. Also happy to consult asynchronously if that works better 🙂I totally understand if you don't have the bandwidth — even if you pushed up

[2020-05-05 07:53] active-creator opened #998 "plz solve this error"
### Expected Behavior

### Actual Behavior

<details>
  <summary>Browser: </summary>

</details>

<details>
  <summary>Code Snippet (If Applicable)</summary>

</details>

[2020-05-07 00:27] #998 closed

[2020-05-09 16:01] sandysnunes opened #999 "String interpolation isn't highlighted in Kotlin code"
**Describe the bug**
String interpolation isn't highlighted in Kotlin code

**Screenshots**
![image](https://user-images.githubusercontent.com/677007/81478577-70dc0c00-91ec-11ea-9d00-ba977329821e.png)

**Info:**

- OS [Linux]:
- Browser [chrome 81]:

[2020-05-09 18:54] mfix22 commented on #999
@sandysnunes could you please include the code snippet or Carbon link in the issue? It makes it much much easier to debug

[2020-05-09 18:57] mfix22 commented on #999
Looks like the Kotlin docs does not treat the interpolated part as a separate highlighting. We just follow the Codemirror Kotlin mode. Looking at the Codemirror code would be your best bet to resolve this.

[2020-05-09 18:57] #999 closed

[2020-05-10 23:36] petersolopov commented on #210
Hi everyone! @mfix22 thanks for the great project!

[`Carbonara`](https://github.com/petersolopov/carbonara) is an attempt to create API for carbon. [Check example](https://github.com/petersolopov/carbonara#example). You can [use exported carbon config](https://github.com/petersolopov/carbonara#easy-way-to-tune-image)  for customizing images via API.

The project at the beginning and any suggestio

[2020-05-11 02:43] mfix22 commented on #210
Hey folks, been super busy lately — will hopefully 🤞have more to share on this front shortly!

[2020-05-11 05:54] sachinsu opened #1000 "Embedding Specific file from Gist containing multiple files"
**Describe the bug**
Does Carbon support embedding a specific file from Gist containing multiple files?

**To Reproduce**
  * Gist at https://gist.github.com/sachinsu/b2d914a563b49d4dd50a4143166f27ec has multiple files
  * When trying to embed specific file (Cardwriter.cs) in Carbon App like https://carbon.now.sh/embed/b2d914a563b49d4dd50a4143166f27ec#file-cardwriter-cs. It still shows the first f

[2020-05-13 17:26] TheSonOfThomp opened #1002 "Accessible sharing"
**Motivation**
Sharing an image of code can make it hard for everyone, particularly the visually impaired, to read the code. Additionally, people reading the code can't copy/paste it into their codebase.

**Suggested solution**
Recommended solution is to add a share feature which links to a read-only version of the code snippet. This way people following the link can view & copy the code without s

[2020-05-13 17:34] TheSonOfThomp commented on #1002
I realize that I can import a Gist, and this functionality would essentially be a Gist competitor. I'll leave it to the maintainers to decide whether this is something to support

[2020-05-13 18:36] AnthonyMastrean opened #1003 "Microsoft Windows 10 style?"
I cannot create and share beautiful images of my source code with pseudo Microsoft Windows 10 style window chrome 😀

The important elements seem to be the minimize line, the maximize box, and the close x.

**Screenshots**

Windows Explorer

![image](https://user-images.githubusercontent.com/217842/81850984-c5ea8b80-9526-11ea-8494-da34745d34a9.png)

MS Edge (Chromium)

![image](https://user-images.

[2020-05-14 01:44] mfix22 commented on #1002
@TheSonOfThomp the feature you are suggesting already exists, and there are also multiple other accessible ways to share a Carbon snippet:

1. Login into Carbon and create a "Saved snippet". Here is an example: https://carbon.now.sh/Si3J3gIXaTHTPjpB0kF8

This has multiple benefits:
  * Pasting the Carbon URL into places like Twitter or Slack will automatically unfurl the image
  * These images wil

[2020-05-14 01:47] mfix22 commented on #1000
@sachinsu you are not missing anything! Currently, when using the GitHub Gist, we only show the first file.

I see that you are using the `#` hash location to try and specify the file name. Is this how you would expect to specify which file to show?

[2020-05-14 03:15] TheSonOfThomp commented on #1002
Thanks. I knew about 2 & 3 but not 1. That definitely is what I was suggesting.

[2020-05-14 09:31] sachinsu commented on #1000
@mfix22 , Github uses `#` to link multiple files within same Gist so i just used it to give an example. It need not be `#` hash location and can be either in the form of Query parameter or Path itself.

[2020-05-14 17:45] AnthonyMastrean commented on #1003
Ah! I searched the issues, but not the pull requests. Will watch the linked PR!

[2020-05-14 17:45] #1003 closed

[2020-05-15 02:20] mfix22 commented on #1003
@AnthonyMastrean no worries! That PR has been open for a long time. I am going to try and investigate options tomorrow.

Windows has been tricky, because we want to support it in a way that speaks to the Carbon brand, more than it does to Windows itself.

[2020-05-15 02:22] mfix22 commented on #1002
Great, thanks! We should really add it to our README…

[2020-05-15 02:31] mfix22 opened #1004 "Carbon spinner"
It would be awesome if Carbon got a new spinner to replace the generic one here:
<img width="946" alt="Screenshot 2020-05-14 19 31 13" src="https://user-images.githubusercontent.com/8397708/82005154-82bd1500-9619-11ea-9142-355881fa1ae6.png">

As well as the `…`'s used in Button loading states.

[2020-05-15 03:45] #1002 closed

[2020-05-15 18:44] #1000 closed

[2020-05-15 18:52] mfix22 commented on #1000
Thanks for the idea, @sachinsu. You can now select which file you want using the `filename` query param.

Example Gist: https://gist.github.com/mfix22/4ee50f1c107be7e59e613724fc8ad949
File 1: https://carbon.now.sh/embed/4ee50f1c107be7e59e613724fc8ad949?filename=global.js
File 2: https://carbon.now.sh/embed/4ee50f1c107be7e59e613724fc8ad949?filename=local.js

[2020-05-15 20:06] mfix22 commented on #943
GitHub does not currently handle embedding SVGs in READMEs of any kind. Please use PNGs for READMEs 👍

[2020-05-15 21:53] manishsundriyal commented on #1004
I don't design, but I have a few ideas.

1. Something like a typing editor/terminal animation.
2. Classic old progress bar style loading animation.
3. An animation that would type carbon creatively.

@mfix22 if you already have some ideas, then let me know. I am interested to start my contribution journey with it.

[2020-05-15 23:46] dy commented on #943
@mfix22 all of the bages in the carbon-app readme are SVGs

[2020-05-16 12:11] sachinsu commented on #1000
Thank you @mfix22

[2020-05-16 13:10] jlengrand opened #1009 "Why is the CS101 textbook listed in the README?"
Hey there,

This question is not about Carbon, but it's README :). I was reading through it, and more specifically the list of community plugins for it.

There is [listed a textbook](https://github.com/carbon-app/carbon#textbooks) with a single link to a purchase link.
The author does not seem to be part of the core team, is this some kind of affiliate or did someone maybe slip this line as part o

[2020-05-16 13:42] jlengrand commented on #1009
Checking further using Git blame I see [this line was added by the main author of Carbon](https://github.com/carbon-app/carbon/commit/922446c6be4684818840f1aa2b97d847adb0ce1f) so I don't believe this is a mistake?

[2020-05-16 18:41] mfix22 commented on #943
Ahhh apologies, I think I see what you mean now! Re-opening.

[2020-05-16 18:45] mfix22 commented on #1009
The textbook featured and sited Carbon throughout.

At the scale Carbon is at now, I can see this being distracting from what the README is trying to accomplish.

I am going to remove it, because you are right, I have neglected to reexamine this list. Out of curiosity though, what concerns do you have in particular?

[2020-05-16 18:46] #1009 closed

[2020-05-16 18:49] mfix22 commented on #1004
@manishsundriyal I would like something is:
* Simple
* Reusable
* Scalable — i.e. can be used at many sizes (at the page level, within a button, etc.)
* Looping — if something loads quickly, I don't want to have to wait for an animation to finish to remove the loading indicator.

Also just FYI @manishsundriyal, even if you don't end up designing the spinner, having conversations just like this one

[2020-05-16 18:51] dy commented on #943
@mfix22 I was wondering if that's possible to avoid serializing all possible style defaults for SVG in carbon.

[2020-05-16 18:57] jlengrand commented on #1009
No concerns! I simply didn't read the book and it really wasn't obvious for me why it was listed. If it cites Carbon in the book, I do think it should be there!

I'm happy to propose a PR if that helps! .

Thanks for the quick answer @mfix22 :). Have a great weekend

[2020-05-16 19:26] mfix22 commented on #1009
I have tried to clarify and consolidate the sections better.

You too @jlengrand! 🙂

[2020-05-16 21:30] jlengrand commented on #1009
Looks much clearer! Quick fix as well :). Thanks!

And thanks for this tool, it really is convenient when creating presentations!

[2020-05-17 00:12] KalobTaulien commented on #210
@petersolopov this works REALLY well, thank you!

[2020-05-17 13:09] jlengrand opened #1011 "Prettier could be moved to the development dependencies"
I was looking through the app to learn some Next.js, and wondered why some of the production dependencies were there.

It looks like _prettier_ is actually not needed in production, but rather only during development.
It allows to shave 10Mb off the production bundle deps, at no cost.

I ran the integration tests, ran and built the app locally to test everything and saw no behaviour difference. Of

[2020-05-18 17:19] jeengbe opened #1013 "Specifying fm (font-family) in GET does nothing"
Specifying the Font Family as a GET Parameter does nothing, whereas importing a config does change it.

**Steps**
1. Open following URL: [https://carbon.now.sh/?fm=serif](https://carbon.now.sh/?fm=serif)

**Expected behaviour**
1. The editor's font family should change to `serif`

**Info**
- Windows 10 Home
- Google Chrome 81.0.4044.138:

**Notes**
Importing config.json found below does correctly

[2020-05-19 00:28] mfix22 commented on #1009
Thanks @jlengrand 🙏

[2020-05-19 02:33] mfix22 commented on #1013
Carbon only supports a number of font families, which you have to specify by the name shown in the Font Family menu, like this https://carbon.now.sh/?fm=IBM%20Plex%20Mono (`IBM Plex Mono`)

Here are the [current available options](https://github.com/carbon-app/carbon/blob/master/lib/constants.js#L3-L17):
* Anonymous Pro
* Droid Sans Mono
* Fantasque Sans Mono
* Fira Code
* Hack
* IBM Plex Mono
* I